<!DOCTYPE html>
<html>
<head>
    <title>提现</title>
    <link rel="stylesheet"  href="../../css/jf_new_cash.css">
</head>

<body>

<!--顶部固定导航-->

<!--导航-->
<%- include('../../component/basic/topNav.ejs',{
"thisrighthref":"jfSwitch.goBack()",
"navtitle":"我的账户",
"thislefthref":" ",
"thisimgsrc":" "
})%>


    <!--提现-->
    <div class="market_buy">

        <%- include('../../component/new_cash/my_account.ejs')%>
    </div>







</body>
<script src="../../js/jf_new_cash.js"></script>




</html>