<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet"  href="../../css/jf_message.css">

</head>
<body>

    <!--顶部固定导航-->

    <%- include('../../component/basic/topNav.ejs',{
    "thisrighthref":"jfSwitch.goBack()",
    "navtitle":"通知消息",
    "thislefthref":"#",
    "thisimgsrc":"编辑"
    })%>

    <!---------------------------时间---------------------------->

    <div>
        <p class="time_font">2017.09.25</p>

        <!--------------------------文本内容------------------------->

        <div class="announcement_black">

            <!-----复选按钮----->

            <label>
                <input class="aui-radio shoppingcart_jd" type="checkbox" name="radio" />
            </label>

            <!--------------------------文本内容------------------------->

            <a href="message_center_details.html">

                <div class="announcement_center">

                    <div class="announcement_white">
                        <div class="announcement_center">
                            <div class="announcement_textheard"><strong class="font_black">标题</strong></div>
                        </div>

                        <div class="announcement_center">
                            <div class="announcement_textblack">
                                <div class="announcement_textleft">
                                    <p class="left_font">为了用户更安全使用嘉福服务，推荐通过关注微信号或下载App使用嘉福相关服务，同时嘉福PC端员工功能会逐步......</p>
                                </div>

                                <div class="cancel_plateright"><img class="left_icon" src="../../images/message/icon/icon_left.png"></div>
                            </div>
                        </div>
                    </div>


                </div>

            </a>

        </div>
    </div>

    <!---------------------------时间---------------------------->

    <div>
        <p class="time_font">2017.09.25</p>

        <!--------------------------文本内容------------------------->

        <div class="announcement_black">

            <!-----复选按钮----->

            <label>
                <input class="aui-radio shoppingcart_jd" type="checkbox" name="radio" />
            </label>

            <!--------------------------文本内容------------------------->

            <a href="message_center_details.html">

                <div class="announcement_center">

                    <div class="announcement_white">
                        <div class="announcement_center">
                            <div class="announcement_textblack">
                                <div class="announcement_textleft">
                                    <strong class="font_activity">【嘉福平台】小黄人工厂，7月12日我们江湖再见！限时活动请点击>>></strong>
                                </div>

                                <div class="cancel_plateright"><img class="left_icon" src="../../images/message/icon/icon_left.png"></div>
                            </div>
                        </div>
                    </div>


                </div>

            </a>

        </div>
    </div>

    <!---------------------------时间---------------------------->

    <div>
        <p class="time_font">2017.09.25</p>

        <!--------------------------文本内容------------------------->

        <div class="announcement_black">

            <!-----复选按钮----->

            <label>
                <input class="aui-radio shoppingcart_jd" type="checkbox" name="radio" />
            </label>

            <!--------------------------文本内容------------------------->

            <a href="message_center_details.html">

                <div class="announcement_center">

                    <div class="announcement_white">
                        <div class="announcement_center">
                            <div class="announcement_textheard"><strong class="font_black">标题</strong></div>
                        </div>

                        <div class="announcement_center">
                            <div class="announcement_textblack">
                                <div class="announcement_textleft">
                                    <p class="left_font">为了用户更安全使用嘉福服务，推荐通过关注微信号或下载App使用嘉福相关服务，同时嘉福PC端员工功能会逐步......</p>
                                </div>

                                <div class="cancel_plateright"><img class="left_icon" src="../../images/message/icon/icon_left.png"></div>
                            </div>
                        </div>
                    </div>


                </div>

            </a>

        </div>
    </div>

    <!---------------------------时间---------------------------->

    <div>
        <p class="time_font">2017.09.25</p>

        <!--------------------------文本内容------------------------->

        <div class="announcement_black">

            <!-----复选按钮----->

            <label>
                <input class="aui-radio shoppingcart_jd" type="checkbox" name="radio" />
            </label>

            <!--------------------------文本内容------------------------->

            <a href="message_center_details.html">

                <div class="announcement_center">

                    <div class="announcement_white">
                        <div class="announcement_center">
                            <div class="announcement_textblack">
                                <div class="announcement_textleft">
                                    <strong class="font_activity">【嘉福平台】小黄人工厂，7月12日我们江湖再见！限时活动请点击>>></strong>
                                </div>

                                <div class="cancel_plateright"><img class="left_icon" src="../../images/message/icon/icon_left.png"></div>
                            </div>
                        </div>
                    </div>


                </div>

            </a>

        </div>
    </div>

    <!---------------------------时间---------------------------->

    <div>
        <p class="time_font">2017.09.25</p>

        <!--------------------------文本内容------------------------->

        <div class="announcement_black">

            <!-----复选按钮----->

            <label>
                <input class="aui-radio shoppingcart_jd" type="checkbox" name="radio" />
            </label>

            <!--------------------------文本内容------------------------->

            <a href="message_center_details.html">

                <div class="announcement_center">

                    <div class="announcement_white">
                        <div class="announcement_center">
                            <div class="announcement_textheard"><strong class="font_black">标题</strong></div>
                        </div>

                        <div class="announcement_center">
                            <div class="announcement_textblack">
                                <div class="announcement_textleft">
                                    <p class="left_font">为了用户更安全使用嘉福服务，推荐通过关注微信号或下载App使用嘉福相关服务，同时嘉福PC端员工功能会逐步......</p>
                                </div>

                                <div class="cancel_plateright"><img class="left_icon" src="../../images/message/icon/icon_left.png"></div>
                            </div>
                        </div>
                    </div>


                </div>

            </a>

        </div>
    </div>

    <!---------------------------时间---------------------------->

    <div>
        <p class="time_font">2017.09.25</p>

        <!--------------------------文本内容------------------------->

        <div class="announcement_black">

            <!-----复选按钮----->

            <label>
                <input class="aui-radio shoppingcart_jd" type="checkbox" name="radio" />
            </label>

            <!--------------------------文本内容------------------------->

            <a href="message_center_details.html">

                <div class="announcement_center">

                    <div class="announcement_white">
                        <div class="announcement_center">
                            <div class="announcement_textblack">
                                <div class="announcement_textleft">
                                    <strong class="font_activity">【嘉福平台】小黄人工厂，7月12日我们江湖再见！限时活动请点击>>></strong>
                                </div>

                                <div class="cancel_plateright"><img class="left_icon" src="../../images/message/icon/icon_left.png"></div>
                            </div>
                        </div>
                    </div>


                </div>

            </a>

        </div>
    </div>

    <!---------------------------置底按钮------------------------>

    <div>
        <div class="bottom_pich">

            <div class="bottom_blank">
                <div class="bottom_left">
                    <div class="bottom_leftblack">
                        <label>
                            <input class="aui-radio shoppingcart_jd" type="checkbox" name="radio" />
                        </label>
                        <span class="select_font">全选</span>
                    </div>
                </div>
                <div class="bottom_right">删除</div>
            </div>
        </div>
    </div>

</body>
</html>