<!DOCTYPE html>
<html>
<head>
    <title>帮助中心</title>
    <link rel="stylesheet"  href="../../css/jf_gas_filling_card.css">
    <link rel="stylesheet"  href="../../css/jf_city_travel_card.css">
</head>

<body>

<!--顶部固定导航-->

<!--导航-->
<%- include('../../component/basic/topNav.ejs',{
"thisrighthref":"jfSwitch.goBack()",
"navtitle":"帮助中心",
"thislefthref":"",
"thisimgsrc":" "
})%>


<!--加油卡帮助中心-->
<%- include('../../component/gas_filling_card/gas_help_center/gas_card_help.ejs')%>



</body>
<script src="../../js/jf_gas_filling_card.js"></script>

</html>