<!DOCTYPE html>
<html>
<head>
    <title>福利转让</title>
    <link rel="stylesheet"  href="../../css/jf_welfare_transfer.css">
</head>

<body>

<!--顶部固定导航-->

<!--导航-->
<%- include('../../component/basic/topNav.ejs',{
"thisrighthref":"jfSwitch.goBack()",
"navtitle":"福利互转",
"thislefthref":"#",
"thisimgsrc":" "
})%>

<%- include('../../component/welfare_transfer/main_content.ejs')%>








</body>
<script src="../../js/jf_welfare_transfer.js"></script>
<script>
    $(document).ready(function() {


//---------页面打开时，键盘出现

        setTimeout(function(){
            document.getElementById('weui_actionsheet_keyboard').click();
        },300);




//-----------上拉框
        $('#zfb_close').click(function(){

            jfThirdService.DragDownShow('div.frame_one .frame-main','div.frame_one .mask_drag ','div.frame_one .title_top','-366px','45px');
            //参数一是下拉框的主体元素选择器，参数二是下拉框的阴影元素选择器，参数三是关闭下拉框的元素的选择器，参数四是距离上部距离，参数五是上部隐藏距离

        })


//-------------------- 输入金额键盘

        $('#zfb_show').jfNumKeybroad({


            hideButton: '#hide,#zfb_close,.weui_input',//关闭按钮

            maxNum: 10,//最大输入位数


        });


//咨询客服
        jfCustomerService.init({//用户信息
            name: '阿陈',// 名字
            address: '西伯利亚',// 地址
            email: '1313@qq.com',// 邮箱
            age: '16',// 年龄
            tel: '110',// 电话
            comment: '很帅',// 备注
            gender: '男',// 性别
            qq: '1234567',// QQ
            weibo: '',// 微博
            weixin: '',// 微信
            '公司名称':'上海淘略数据有限公司',
            '公司编号':'123ksuhdaf891274',
            '员工编号':'1234567890123456'
        })


//输入框判定事件

        $('#name_input').on({

            keyup:jfThirdService.zfbValiate,//判断按钮是否可以点击

            focus:function(){
                $('div.error_text2').text('');//获取焦点时，提示信息去掉
            },

            blur:function(){

                jfThirdService.zfbValiate();

                jfThirdService.blurZfbValiate('#name_input','.error_text2','请输入姓名');//参数一是输入框的ID选择器，参数二是报错的元素的class选择器，参数三十报错信息

            },

        });

        $('#account_input').on({

            keyup:jfThirdService.zfbValiate,

            focus:function(){
                $('div.error_text').text('');//获取焦点时，提示信息去掉
            },


            blur:function(){

                jfThirdService.zfbValiate();

                jfThirdService.blurZfbValiate('#account_input','.error_text','请输入账号');//参数一是输入框的ID选择器，参数二是报错的元素的class选择器，参数三十报错信息

            }

        });

        $('#weui_actionsheet_keyboard .weui_grid').on('touchstart', jfThirdService.zfbValiate);

    })


</script>



</html>