<!--banner-->

<div class="market_banner change">

        <div class="left">
            <p><span></span>福利额度</p>
            <p>转让卖出到集市</p>
        </div>
        <div class="mid">
            <div class="main_pic">
                <div class="bottle_bg"><img src="../../images/zfb/market_bg.png"></div>
                <div class="bottle"><img src="../../images/zfb/market_hourglass_frame.png"></div>
               <div class="salary_icon"><img src="../../images/zfb/market_icon_pay.png"></div>
                <div class="welfare_icons"><img src="../../images/zfb/market_icon_welfare.png"></div>
                <div class="change_salary_icon"><img src="../../images/zfb/market_icon_pay1.png"></div>
                <div class="change_welfare_icons"><img src="../../images/zfb/market_icon_welfare1.png"></div>
                <div class="salary_move_icon">
                    <span></span>
                    <span></span>
                </div>
                <div class="welfare_move_icon">
                    <span></span>
                    <span></span>
                </div>

            </div>


        </div>
        <div class="right">
            <p><span></span>现金余额</p>
            <p>在集市购买福利</p>
        </div>

    <div class="progress_bar">
        <img src="../../images/zfb/market_icon_progress_bar.png" class="change_bar">

        <p class="test" style="width: 100%;height: 20px;text-align: center"></p>
    </div>

</div>

<script>
    /*首页重力感应动画*/
    handmove.init()







</script>