
<!--成交记录-->
<div class="market_record">
    <div class="title">福利买卖成交记录</div>
    <div class="details">
        <div class="list_title">
            <span>卖出人</span>
            <span>卖出额度</span>
            <span>成交单价</span>
            <span>成交时间</span>
        </div>
        <div class="list">
            <span>徐**</span>
            <span>500</span>
            <span>￥0.995</span>
            <span>
                <span>06.13</span>
                <span>13:20:20</span>
            </span>
        </div>
        <div class="list">
            <span>徐**</span>
            <span>50000000</span>
            <span>￥0.995</span>
            <span>
                <span>06.13</span>
                <span>13:20:20</span>
            </span>
        </div>
        <div class="list">
            <span>徐**</span>
            <span>50000000</span>
            <span>￥0.996</span>
            <span>
                 <span>.06.13</span>
                <span>13:20:20</span>
            </span>
        </div>
        <div class="list">
            <span>徐**</span>
            <span>50000</span>
            <span>￥0.997</span>
            <span>
                 <span>06.13</span>
                <span>13:20:20</span>
            </span>
        </div>
        <div class="list">
            <span>徐**</span>
            <span>5000</span>
            <span>￥0.998</span>
            <span>
                 <span>06.13</span>
                <span>13:20:20</span>
            </span>
        </div>
        <div class="list">
            <span>徐**</span>
            <span>500</span>
            <span>￥0.995</span>
            <span>
                 <span>06.13</span>
                <span>13:20:20</span>
            </span>
        </div>
        <div class="list">
            <span>徐**</span>
            <span>500</span>
            <span>￥0.995</span>
            <span>
                <span>06.13</span>
                <span>13:20:20</span>
            </span>
        </div>
        <div class="list">
            <span>徐**</span>
            <span>500</span>
            <span>￥0.995</span>
            <span>
                 <span>06.13</span>
                <span>13:20:20</span>
            </span>
        </div>
        <div class="list">
            <span>徐**</span>
            <span>500</span>
            <span>￥0.995</span>
            <span>
                 <span>06.13</span>
                <span>13:20:20</span>
            </span>
        </div>
        <div class="list">
            <span>徐**</span>
            <span>500</span>
            <span>￥0.995</span>
            <span>
                 <span>06.13</span>
                <span>13:20:20</span>
            </span>
        </div>
        <div class="list">
            <span>徐**</span>
            <span>5</span>
            <span>￥0.995</span>
            <span>
                <span>06.13</span>
                <span>13:20:20</span>
            </span>
        </div>

        <p>没有更多了，只能帮你到这里了</p>
    </div>
</div>