
<!--成交记录-->
<div class="market_record">
    <div class="title">福利买卖成交记录</div>
    <div class="details">
        <div class="list_title">
            <span>卖出人</span>
            <span>卖出额度</span>
            <span>成交单价</span>
            <span>成交日期</span>
        </div>
        <div class="list">
            <span>徐**</span>
            <span>500</span>
            <span>￥1.00</span>
            <span>
                <span>17.06.13</span>
                <span>13:20:20</span>
            </span>
        </div>
        <div class="list">
            <span>徐**</span>
            <span>500</span>
            <span>￥1.00</span>
            <span>
                 <span>17.06.13</span>
                <span>13:20:20</span>
            </span>
        </div>
        <div class="list">
            <span>徐**</span>
            <span>500</span>
            <span>￥1.00</span>
            <span>
                 <span>17.06.13</span>
                <span>13:20:20</span>
            </span>
        </div>
        <div class="list">
            <span>徐**</span>
            <span>500</span>
            <span>￥1.00</span>
            <span>
                 <span>17.06.13</span>
                <span>13:20:20</span>
            </span>
        </div>
        <div class="list">
            <span>徐**</span>
            <span>500</span>
            <span>￥1.00</span>
            <span>
                 <span>17.06.13</span>
                <span>13:20:20</span>
            </span>
        </div>
        <div class="list">
            <span>徐**</span>
            <span>500</span>
            <span>￥1.00</span>
            <span>
                <span>17.06.13</span>
                <span>13:20:20</span>
            </span>
        </div>
        <div class="list">
            <span>徐**</span>
            <span>500</span>
            <span>￥1.00</span>
            <span>
                 <span>17.06.13</span>
                <span>13:20:20</span>
            </span>
        </div>
        <div class="list">
            <span>徐**</span>
            <span>500</span>
            <span>￥1.00</span>
            <span>
                 <span>17.06.13</span>
                <span>13:20:20</span>
            </span>
        </div>
        <div class="list">
            <span>徐**</span>
            <span>500</span>
            <span>￥1.00</span>
            <span>
                 <span>17.06.13</span>
                <span>13:20:20</span>
            </span>
        </div>
        <div class="list">
            <span>徐**</span>
            <span>500</span>
            <span>￥1.00</span>
            <span>
                <span>17.06.13</span>
                <span>13:20:20</span>
            </span>
        </div>

        <p>没有更多了，只能帮你到这里了</p>
    </div>
</div>