<!DOCTYPE html>
<html>
<head>
    <title>WeUI-pay</title>
    <link rel="stylesheet" href="../../css/jf_financial.css">
</head><body>
<!-- 顶部导航 -->
<nav class="Top_navigation">
  <div class="weui_tab_bd"></div>
  <div class="container_tab"> <a onclick="jfSwitch.goBack()">
    <div class="nav_left"><img src="../../images/icon_pay_return.png"></div>
    </a>
    <div class="nav_center">
      <div>&#x786E;&#x8BA4;&#x8D2D;&#x4E70;</div>
    </div>
    <a href="#">
    <div class="nav_right"></div>
    </a> </div>
</nav>
<!-- 顶部导航 结束-->
<!--内容-->
<div class="financial_regular_step1">
<div class="container_shadow">
<!--输入框-->
    <!--输入金额-->
    <div class="jiafu_balance">
      <div>&#x8D2D;&#x4E70;&#x91D1;&#x989D;(100&#x8D77;&#x5230;50000&#x4E14;100&#x7684;&#x6574;&#x6570;&#x500D;)&#xFF1A;</div>
      <div><img src="../../images/financial/icon_curret_sun.png"> <input class="weui_input input_num" type="number" pattern="[0-9]*" placeholder="&#x8F93;&#x5165;&#x91D1;&#x989D;"></div>
    </div>
    <!--输入结束--> 
    <div class="balance_1020">&#x798F;&#x5229;&#x4F59;&#x989D;:<span class="font_blue">133.26</span></div>
    <!--复制列表-->
    <div class="payment_date">
    <div class="font_gray">&#x9884;&#x8BA1;&#x6536;&#x76CA;</div>
    <div>1234.22</div>   
    </div>
    <!--列表结束-->
        <!--复制列表可得-->
    <div class="weui_cell">
      <div class="weui_cell_hd"></div>
      <div class="weui_cell_bd weui_cell_primary color_right">
        <p>&#x8D77;&#x606F;&#x65E5;&#x671F;</p>
      </div>
      <div class="weui_cell_ft color_left">2016&#x5E74;09&#x6708;09&#x65E5;</div>
    </div>
    <!--列表结束--> 
        <!--列表结束--> 
        <!--复制列表可得-->
    <div class="weui_cell">
      <div class="weui_cell_hd"></div>
      <div class="weui_cell_bd weui_cell_primary color_right">
        <p>&#x56DE;&#x6B3E;&#x65E5;&#x671F;</p>
      </div>
      <div class="weui_cell_ft color_left">2016&#x5E74;09&#x6708;09&#x65E5;</div>
    </div>
    <!--列表结束--> 
    <!--阅读协议-->

</div> 
  <div class="agreement">
    <label>
      <input type="checkbox" class="current_checkbox">
      &#x6211;&#x5DF2;&#x9605;&#x8BFB;&#x5E76;&#x540C;&#x610F; </label>
    <a href="financial_regular_agreement.html">&#x300A;&#x5609;&#x798F;&#x5B9A;&#x671F;&#x7406;&#x8D22;&#x534F;&#x8BAE;&#x300B;</a> </div>
    
   <!--确认购买-->
       <!--确认转入-->
    <div class="weui_opr_area">
      <p class="weui_btn_area">
       <a href="financial_regular_step2_right.html" class="weui_btn btn_blue">&#x786E;&#x8BA4;&#x8F6C;&#x5165;</a> </p>
    </div>
</div>

</body>



</html>
