<!DOCTYPE html>
<html>
<head>
  <title>WeUI-pay</title>
  <link rel="stylesheet" href="../../css/jf_financial.css">

</head>

<body style="overflow:hidden;">
<!--固定顶部导航-->
<div class="zhuangyi_pay_shoppingcart">
<div class="container">
  <div class="weui_tab_bd"></div>
  <div class="container_tab"> <a onclick="jfSwitch.goBack()">
    <div class="weui_zz"><img src="../../images/pay/icon_pay_return.png"></div>
    </a>
    <div class="tab_select">
      <div>&#x8D2D;&#x4E70;&#x5931;&#x8D25;</div>
    </div>
    <div class="weui_zz_1 allMainMenuTab"><img src="../../images/icon_pay_meau.png"></div>
  </div>
</div><!--支付成功-->
<div class="weui_msg">
  <div class="weui_icon_area" style="margin-bottom:0px;">
<div class="swal2-icon swal2-error animate-error-icon">
<span class="x-mark animate-x-mark">
<span class="line left"></span>
<span class="line right"></span>
</span>
</div>
  </div>
  <div class="weui_text_area" style="padding:0px;">
    <h2 class="msg_title_0718">&#x8D2D;&#x4E70;&#x5931;&#x8D25;</h2>
    <div class="weui_center_0912">&#x6587;&#x6848;&#x6587;&#x6848;&#x6587;&#x6848;</div>
    <div class="weui_center_0912">&#xA0;</div>
    <div class="weui_center_0912">&#xA0;</div>
    <div class="weui_text_area">
      <p class="weui_msg_desc text_area_0718">&#x6587;&#x6848;&#x6587;&#x6848;&#x6587;&#x6848;&#x6587;&#x6848;&#x6587;&#x6848;&#x6587;&#x6848;&#x6587;&#x6848;&#x6587;&#x6848;&#x6587;&#x6848;&#x6587;&#x6848;&#x6587;&#x6848;&#x6587;&#x6848;&#x6587;&#x6848;&#x6587;&#x6848;&#x6587;&#x6848;&#x6587;&#x6848;&#x6587;&#x6848;&#x6587;&#x6848;&#x6587;&#x6848;&#x6587;&#x6848;&#x6587;&#x6848;&#x6587;&#x6848;&#x6587;&#x6848;</p>
    </div>
   <!--底部按钮-->
    <div class="weui_opr_area">
      <p class="weui_btn_area"> <a href="#" class="weui_btn weui_btn_plain_primary btn_white_0728">&#x67E5;&#x770B;&#x5B9A;&#x671F;&#x7406;&#x8D22;</a> <a href="../porduct/pruduct-main-card-0.0.5.html" class="weui_btn btn_red_0718">&#x91CD;&#x65B0;&#x652F;&#x4ED8;</a> </p>
    </div>
  </div>
</div>
</div>




</body>







</html>
