<!DOCTYPE html>
<html>
<head>
  <title>WeUI-pay</title>
  <link rel="stylesheet" href="../../css/jf_financial.css">
</head>
<body>
<!-- 顶部导航 -->
<nav class="Top_navigation">
  <div class="weui_tab_bd"></div>
  <div class="container_tab"> <a onclick="jfSwitch.goBack()">
    <div class="nav_left"><img src="../../images/icon_pay_return.png"></div>
    </a>
    <div class="nav_center">
      <div>&#x6D3B;&#x671F;&#x7406;&#x8D22;&#x8D44;&#x4EA7;</div>
    </div>
    <a href="#">
    <div class="nav_right"></div>
    </a> </div>
</nav>
<!-- 顶部导航 结束-->
<div class="financial_asset_current"> 
  <!--bg-->
  <div class="asset_bg">
  <div class="bg">
    <div>
      <p>&#x6301;&#x6709;&#x603B;&#x989D;&#xFF08;&#x5143;&#xFF09;</p>
      <p>1,000,000.00</p>
    </div>
    <div>
      <p>&#x7D2F;&#x8BA1;&#x6536;&#x76CA;&#xFF08;&#x5143;&#xFF09;</p>
      <p>1,000,000.00</p>
    </div>  
  </div>
  <!--转入转出-->
     <div class="turn_out">
  <div class="go" onclick="location=&apos;financial_current_step1_go_revise.html&apos;">&#x8F6C;&#x5165;</div>
  <div class="out" onclick="location=&apos;financial_current_step1_go_revise.html&apos;">&#x8F6C;&#x51FA;</div> 
  </div>
  </div>
  <!--选项-->
  <div class="financial_option"> 
    <!--被选中的项目添加"option_seleted"-->
    <div class="option_seleted" data-num="0">&#x5168;&#x90E8;</div>
    <div data-num="1">&#x6536;&#x76CA;</div>
    <div data-num="2">&#x8F6C;&#x5165;</div>
    <div data-num="3">&#x8F6C;&#x51FA;</div>
  </div>
  <div class="financial_swiper">
    <div class="financial_box"> 
      <!--内容1-->
      <div class="financial_details container_shadow"> 
        <!--复制列表可得-->
        <div class="continer">
          <div class="weui_cell">
            <div>
              <p>&#x8F6C;&#x5165;-&#x7075;&#x6D3B;&#x7406;&#x8D22;</p>
              <p>2016-08-18  20:27:03</p>
            </div>
            <div> 
              <!--计划中:"color_org",持有中:"color_blue",退出中:"color_gray",已退出:"color_white"-->
              <p>&#xA0;</p>
              <p class="price_0920">-80.00</p>
            </div>
          </div>
        </div>
        <!--列表结束--> 
        <!--复制列表可得-->
        <div class="continer">
          <div class="weui_cell">
            <div>
              <p>&#x8F6C;&#x5165;-&#x7075;&#x6D3B;&#x7406;&#x8D22;</p>
              <p>2016-08-18  20:27:03</p>
            </div>
            <div> 
              <!--计划中:"color_org",持有中:"color_blue",退出中:"color_gray",已退出:"color_white"-->
              <p>&#xA0;</p>
              <p class="price_0920">-80.00</p>
            </div>
          </div>
        </div>
        <!--列表结束--> 
        <!--复制列表可得-->
        <div class="continer">
          <div class="weui_cell">
            <div>
              <p>&#x8F6C;&#x5165;-&#x7075;&#x6D3B;&#x7406;&#x8D22;</p>
              <p>2016-08-18  20:27:03</p>
            </div>
            <div>
              <p>&#xA0;</p>
              <p class="price_0920">-80.00</p>
            </div>
          </div>
        </div>
        <!--列表结束--> 
        <!--复制列表可得-->
        <div class="continer">
          <div class="weui_cell">
            <div>
              <p>&#x8F6C;&#x5165;-&#x7075;&#x6D3B;&#x7406;&#x8D22;</p>
              <p>2016-08-18  20:27:03</p>
            </div>
            <div>
              <p>&#xA0;</p>
              <p class="price_0920">-80.00</p>
            </div>
          </div>
        </div>
        <!--列表结束--> 
        <!--复制列表可得-->
        <div class="continer">
          <div class="weui_cell">
            <div>
              <p>&#x8F6C;&#x5165;-&#x7075;&#x6D3B;&#x7406;&#x8D22;</p>
              <p>2016-08-18  20:27:03</p>
            </div>
            <div>
              <p>&#xA0;</p>
              <p class="price_0920">-80.00</p>
            </div>
          </div>
        </div>
        <!--列表结束--> 
        <!--复制列表可得-->
        <div class="continer">
          <div class="weui_cell">
            <div>
              <p>&#x8F6C;&#x5165;-&#x7075;&#x6D3B;&#x7406;&#x8D22;</p>
              <p>2016-08-18  20:27:03</p>
            </div>
            <div>
              <p>&#xA0;</p>
              <p class="price_0920">-80.00</p>
            </div>
          </div>
        </div>
        <!--列表结束--> 
        <!--复制列表可得-->
        <div class="continer">
          <div class="weui_cell">
            <div>
              <p>&#x8F6C;&#x5165;-&#x7075;&#x6D3B;&#x7406;&#x8D22;</p>
              <p>2016-08-18  20:27:03</p>
            </div>
            <div>
              <p>&#xA0;</p>
              <p class="price_0920">-80.00</p>
            </div>
          </div>
        </div>
        <!--列表结束--> 
      </div>
      <!--内容 2-->
      <div class="financial_details container_shadow"> 
        <!--复制列表可得-->
        <div class="continer">
          <div class="weui_cell">
            <div>
              <p>&#x6536;&#x76CA;-&#x7075;&#x6D3B;&#x7406;&#x8D22;</p>
              <p>2016-08-18  20:27:03</p>
            </div>
            <div> 
              <!--计划中:"color_org",持有中:"color_blue",退出中:"color_gray",已退出:"color_white"-->
              <p>&#xA0;</p>
              <p class="price_0920">-80.00</p>
            </div>
          </div>
        </div>
        <!--列表结束--> 
        <!--复制列表可得-->
        <div class="continer">
          <div class="weui_cell">
            <div>
              <p>&#x6536;&#x76CA;-&#x7075;&#x6D3B;&#x7406;&#x8D22;</p>
              <p>2016-08-18  20:27:03</p>
            </div>
            <div> 
              <!--计划中:"color_org",持有中:"color_blue",退出中:"color_gray",已退出:"color_white"-->
              <p>&#xA0;</p>
              <p class="price_0920">-80.00</p>
            </div>
          </div>
        </div>
        <!--列表结束--> 
        <!--复制列表可得-->
        <div class="continer">
          <div class="weui_cell">
            <div>
              <p>&#x6536;&#x76CA;-&#x7075;&#x6D3B;&#x7406;&#x8D22;</p>
              <p>2016-08-18  20:27:03</p>
            </div>
            <div>
              <p>&#xA0;</p>
              <p class="price_0920">-80.00</p>
            </div>
          </div>
        </div>
        <!--列表结束--> 
        <!--复制列表可得-->
        <div class="continer">
          <div class="weui_cell">
            <div>
              <p>&#x6536;&#x76CA;-&#x7075;&#x6D3B;&#x7406;&#x8D22;</p>
              <p>2016-08-18  20:27:03</p>
            </div>
            <div>
              <p>&#xA0;</p>
              <p class="price_0920">-80.00</p>
            </div>
          </div>
        </div>
        <!--列表结束--> 
        <!--复制列表可得-->
        <div class="continer">
          <div class="weui_cell">
            <div>
              <p>&#x6536;&#x76CA;-&#x7075;&#x6D3B;&#x7406;&#x8D22;</p>
              <p>2016-08-18  20:27:03</p>
            </div>
            <div>
              <p>&#xA0;</p>
              <p class="price_0920">-80.00</p>
            </div>
          </div>
        </div>
        <!--列表结束--> 
        <!--复制列表可得-->
        <div class="continer">
          <div class="weui_cell">
            <div>
              <p>&#x8F6C;&#x5165;-&#x7075;&#x6D3B;&#x7406;&#x8D22;</p>
              <p>2016-08-18  20:27:03</p>
            </div>
            <div>
              <p>&#xA0;</p>
              <p class="price_0920">-80.00</p>
            </div>
          </div>
        </div>
        <!--列表结束--> 
        <!--复制列表可得-->
        <div class="continer">
          <div class="weui_cell">
            <div>
              <p>&#x8F6C;&#x5165;-&#x7075;&#x6D3B;&#x7406;&#x8D22;</p>
              <p>2016-08-18  20:27:03</p>
            </div>
            <div>
              <p>&#xA0;</p>
              <p class="price_0920">-80.00</p>
            </div>
          </div>
        </div>
        <!--列表结束--> 
      </div>
      <!--内容 3-->
      <div class="financial_details container_shadow"> 
        <!--复制列表可得-->
        <div class="continer">
          <div class="weui_cell">
            <div>
              <p>&#x8F6C;&#x5165;-&#x7075;&#x6D3B;&#x7406;&#x8D22;</p>
              <p>2016-08-18  20:27:03</p>
            </div>
            <div> 
              <!--计划中:"color_org",持有中:"color_blue",退出中:"color_gray",已退出:"color_white"-->
              <p>&#xA0;</p>
              <p class="price_0920">-80.00</p>
            </div>
          </div>
        </div>
        <!--列表结束--> 
        <!--复制列表可得-->
        <div class="continer">
          <div class="weui_cell">
            <div>
              <p>&#x8F6C;&#x5165;-&#x7075;&#x6D3B;&#x7406;&#x8D22;</p>
              <p>2016-08-18  20:27:03</p>
            </div>
            <div> 
              <!--计划中:"color_org",持有中:"color_blue",退出中:"color_gray",已退出:"color_white"-->
              <p>&#xA0;</p>
              <p class="price_0920">-80.00</p>
            </div>
          </div>
        </div>
        <!--列表结束--> 
        <!--复制列表可得-->
        <div class="continer">
          <div class="weui_cell">
            <div>
              <p>&#x8F6C;&#x5165;-&#x7075;&#x6D3B;&#x7406;&#x8D22;</p>
              <p>2016-08-18  20:27:03</p>
            </div>
            <div>
              <p>&#xA0;</p>
              <p class="price_0920">-80.00</p>
            </div>
          </div>
        </div>
        <!--列表结束--> 
        <!--复制列表可得-->
        <div class="continer">
          <div class="weui_cell">
            <div>
              <p>&#x8F6C;&#x5165;-&#x7075;&#x6D3B;&#x7406;&#x8D22;</p>
              <p>2016-08-18  20:27:03</p>
            </div>
            <div>
              <p>&#xA0;</p>
              <p class="price_0920">-80.00</p>
            </div>
          </div>
        </div>
        <!--列表结束--> 
        <!--复制列表可得-->
        <div class="continer">
          <div class="weui_cell">
            <div>
              <p>&#x8F6C;&#x5165;-&#x7075;&#x6D3B;&#x7406;&#x8D22;</p>
              <p>2016-08-18  20:27:03</p>
            </div>
            <div>
              <p>&#xA0;</p>
              <p class="price_0920">-80.00</p>
            </div>
          </div>
        </div>
        <!--列表结束--> 
        <!--复制列表可得-->
        <div class="continer">
          <div class="weui_cell">
            <div>
              <p>&#x8F6C;&#x5165;-&#x7075;&#x6D3B;&#x7406;&#x8D22;</p>
              <p>2016-08-18  20:27:03</p>
            </div>
            <div>
              <p>&#xA0;</p>
              <p class="price_0920">-80.00</p>
            </div>
          </div>
        </div>
        <!--列表结束--> 
        <!--复制列表可得-->
        <div class="continer">
          <div class="weui_cell">
            <div>
              <p>&#x8F6C;&#x5165;-&#x7075;&#x6D3B;&#x7406;&#x8D22;</p>
              <p>2016-08-18  20:27:03</p>
            </div>
            <div>
              <p>&#xA0;</p>
              <p class="price_0920">-80.00</p>
            </div>
          </div>
        </div>
        <!--列表结束--> 
      </div>
      <!--内容 4-->
      <div class="financial_details container_shadow"> 
        <!--复制列表可得-->
        <div class="continer">
          <div class="weui_cell">
            <div>
              <p>&#x8F6C;&#x51FA;-&#x7075;&#x6D3B;&#x7406;&#x8D22;</p>
              <p>2016-08-18  20:27:03</p>
            </div>
            <div> 
              <!--计划中:"color_org",持有中:"color_blue",退出中:"color_gray",已退出:"color_white"-->
              <p>&#xA0;</p>
              <p class="price_0920">-80.00</p>
            </div>
          </div>
        </div>
        <!--列表结束--> 
        <!--复制列表可得-->
        <div class="continer">
          <div class="weui_cell">
            <div>
              <p>&#x8F6C;&#x51FA;-&#x7075;&#x6D3B;&#x7406;&#x8D22;</p>
              <p>2016-08-18  20:27:03</p>
            </div>
            <div> 
              <!--计划中:"color_org",持有中:"color_blue",退出中:"color_gray",已退出:"color_white"-->
              <p>&#xA0;</p>
              <p class="price_0920">-80.00</p>
            </div>
          </div>
        </div>
        <!--列表结束--> 
        <!--复制列表可得-->
        <div class="continer">
          <div class="weui_cell">
            <div>
              <p>&#x8F6C;&#x51FA;-&#x7075;&#x6D3B;&#x7406;&#x8D22;</p>
              <p>2016-08-18  20:27:03</p>
            </div>
            <div>
              <p>&#xA0;</p>
              <p class="price_0920">-80.00</p>
            </div>
          </div>
        </div>
        <!--列表结束--> 
        <!--复制列表可得-->
        <div class="continer">
          <div class="weui_cell">
            <div>
              <p>&#x8F6C;&#x51FA;-&#x7075;&#x6D3B;&#x7406;&#x8D22;</p>
              <p>2016-08-18  20:27:03</p>
            </div>
            <div>
              <p>&#xA0;</p>
              <p class="price_0920">-80.00</p>
            </div>
          </div>
        </div>
        <!--列表结束--> 
        <!--复制列表可得-->
        <div class="continer">
          <div class="weui_cell">
            <div>
              <p>&#x8F6C;&#x51FA;-&#x7075;&#x6D3B;&#x7406;&#x8D22;</p>
              <p>2016-08-18  20:27:03</p>
            </div>
            <div>
              <p>&#xA0;</p>
              <p class="price_0920">-80.00</p>
            </div>
          </div>
        </div>
        <!--列表结束--> 
        <!--复制列表可得-->
        <div class="continer">
          <div class="weui_cell">
            <div>
              <p>&#x8F6C;&#x51FA;-&#x7075;&#x6D3B;&#x7406;&#x8D22;</p>
              <p>2016-08-18  20:27:03</p>
            </div>
            <div>
              <p>&#xA0;</p>
              <p class="price_0920">-80.00</p>
            </div>
          </div>
        </div>
        <!--列表结束--> 
        <!--复制列表可得-->
        <div class="continer">
          <div class="weui_cell">
            <div>
              <p>&#x8F6C;&#x51FA;-&#x7075;&#x6D3B;&#x7406;&#x8D22;</p>
              <p>2016-08-18  20:27:03</p>
            </div>
            <div>
              <p>&#xA0;</p>
              <p class="price_0920">-80.00</p>
            </div>
          </div>
        </div>
        <!--列表结束--> 
      </div>
    </div>
  </div>
</div>

</body>



<script>


//读取页面高度
$('.financial_asset_current .financial_details').windowHeight();



//平滑过渡
$('.financial_asset_current .financial_option>div').moveBoxHorizontal({
	
		changeEle: '.financial_asset_current .financial_box',
	
	});

</script>
</html>
