<!DOCTYPE html>
<html>
<head>
  <title>WeUI-pay</title>
  <link rel="stylesheet" href="../../css/jf_financial.css">
</head><body>
<!-- 顶部导航 -->
<nav class="Top_navigation">
  <div class="weui_tab_bd"></div>
  <div class="container_tab"> <a onclick="jfSwitch.goBack()">
    <div class="nav_left"><img src="../../images/icon_pay_return.png"></div>
    </a>
    <div class="nav_center">
      <div>&#x6D3B;&#x671F;&#x8F6C;&#x51FA;</div>
    </div>
    <a href="#">
    <div class="nav_right"></div>
    </a> </div>
</nav>
<!-- 顶部导航 结束--> 
<!--内容-->
<div class="financial_current_step1_go">
  <div class="container_shadow out_point"> 
    <!--输入金额-->
    <div class="jiafu_balance">
      <div>&#x8F6C;&#x51FA;&#x91D1;&#x989D;&#xFF1A;</div>
      <div><img src="../../images/financial/icon_curret_sun.png"> <input class="weui_input input_num" type="number" pattern="[0-9]*" placeholder="&#x8F93;&#x5165;&#x91D1;&#x989D;"></div>
    </div>
    <!--输入结束--> 
    <div class="payment_date">
    <div class="font_gray"><img src="../../images/financial/icon_curret_money.png">&#x672C;&#x6B21;&#x6700;&#x591A;&#x53EF;&#x8F6C;&#x51FA;<span>123.20</span></div>
    
    </div>
    <!--阅读协议-->    
  </div>


    <!--确认转入-->
    <div class="weui_opr_area">
      <p class="weui_btn_area">
       <a href="javascript:" class="weui_btn btn_red">&#x786E;&#x8BA4;&#x8F6C;&#x51FA;</a> </p>
    </div>
    </div>

</body>




</html>
