<!DOCTYPE html>
<html>
<head>
  <title>WeUI-pay</title>
  <link rel="stylesheet" href="../../css/jf_financial.css">
</head>
<body>
<!-- 顶部导航 -->
<nav class="Top_navigation">
  <div class="weui_tab_bd"></div>
  <div class="container_tab"><a onclick="jfSwitch.goBack()">
    <div class="nav_left" style="width:50px;"><img src="../../images/icon_pay_return.png"></div>
    </a>
    <div class="nav_center">
      <div>90&#x5929;&#x7A33;&#x6536;&#x76CA;&#x5458;&#x5DE5;&#x7406;&#x8D22;26&#x671F;</div>
    </div>
    <a href="#">
    <div class="nav_right" style="width:50px;"></div>
    </a> </div>
</nav>
<!-- 顶部导航 结束-->
<div class="financial_management_regular"> 
  <!--bg-->
  <div class="regular_bg">
    <div>
      <p>&#x6295;&#x8D44;&#x671F;&#x9650;</p>
      <p class="font_big">90&#x5929;</p>
    </div>
    <div class="financial_cricle">
      <div class="cricle_2"></div>
      <div class="cricle_1"></div>
      <div class="cricle_bg">
        <div>
          <p>7.50<span>%</span></p>
          <p>&#x9884;&#x671F;&#x5E74;&#x5316;&#x6536;&#x76CA;</p>
          <div class="star_1"></div>
          <div class="star_2"></div>
          <div class="star_3"></div>
          <div class="star_4"></div>
          <div class="star_5"></div>
        </div>
      </div>
    </div>
    <div>
      <p>&#x56DE;&#x6B3E;&#x65B9;&#x5F0F;</p>
      <div class="font_small">&#x672C;&#x606F;&#x56DE;&#x6B3E;</div>
    </div>
  </div>
  <!--选项-->
  <div class="financial_option"> 
    <!--被选中的项目添加"option_seleted"-->
    <div class="option_seleted" data-num="0">&#x9879;&#x76EE;&#x8BE6;&#x60C5;</div>
    <div data-num="1">&#x9879;&#x76EE;&#x4ECB;&#x7ECD;</div>
    <div data-num="2">&#x8D2D;&#x4E70;&#x8BB0;&#x5F55;</div>
  </div>
  <!--内容-->
  <div class="financial_swiper">
  <div class="financial_box">
  <div class="financial_details"> 
    <!--复制列表可得-->
    <div class="weui_cell">
      <div class="weui_cell_bd weui_cell_primary color_right">
        <p>&#x4EA7;&#x54C1;&#x603B;&#x989D;(&#x5143;)</p>
      </div>
      <div class="weui_cell_ft color_left">100000000000000000&#x5143;</div>
    </div>
    <!--列表结束--> 
    <!--复制列表可得-->
    <div class="weui_cell">
      <div class="weui_cell_hd"></div>
      <div class="weui_cell_bd weui_cell_primary color_right">
        <p>&#x8BA4;&#x8D2D;&#x5F00;&#x59CB;</p>
      </div>
      <div class="weui_cell_ft color_left">2016&#x5E74;09&#x6708;09&#x65E5;</div>
    </div>
    <!--列表结束--> 
    <!--复制列表可得-->
    <div class="weui_cell">
      <div class="weui_cell_hd"></div>
      <div class="weui_cell_bd weui_cell_primary color_right">
        <p>&#x8BA4;&#x8D2D;&#x7ED3;&#x675F;</p>
      </div>
      <div class="weui_cell_ft color_left">2016&#x5E74;09&#x6708;09&#x65E5;</div>
    </div>
    <!--列表结束--> 
    <!--复制列表可得-->
    <div class="weui_cell">
      <div class="weui_cell_hd"></div>
      <div class="weui_cell_bd weui_cell_primary color_right">
        <p>&#x8D77;&#x606F;&#x65E5;&#x671F;</p>
      </div>
      <div class="weui_cell_ft color_left">2016&#x5E74;09&#x6708;09&#x65E5;</div>
    </div>
    <!--列表结束--> 
    <!--复制列表可得-->
    <div class="weui_cell">
      <div class="weui_cell_hd"></div>
      <div class="weui_cell_bd weui_cell_primary color_right">
        <p>&#x56DE;&#x6B3E;&#x65E5;&#x671F;</p>
      </div>
      <div class="weui_cell_ft color_left">2016&#x5E74;09&#x6708;09&#x65E5;</div>
    </div>
    <!--列表结束--> 
  </div>
   <!--内容2-->
  <div class="financial_details">
    <div class="financial_introduce">
    <!--定期理财详情-->
<div class="regular" style="font-family:&apos;&#x5FAE;&#x8F6F;&#x96C5;&#x9ED1;&apos;;">
  <!--内容-->
  <div class="main" style="text-align: center; padding: 0px 10px;">
    <p style="font-size: 20px; font-weight: bold; color: #10A3E2; margin: 10px 0px;">&#x5609;&#x798F;&#x5B9A;&#x671F;&#x7406;&#x8D22;&#x7B80;&#x4ECB;</p>
    <img src="../../images/financing/regular_1.png" style="width: 50%;">
    <ul style="list-style-type: none; font-size: 14px; margin: 0;padding: 0; text-align: left;">
      <h1 style="color: #10A3E2; margin: 10px 0px;">&#x4EA7;&#x54C1;&#x8D2D;&#x4E70;</h1>
      <li>1&#x3001;&#x5728;&#x4EA7;&#x54C1;&#x8BA4;&#x8D2D;&#x671F;&#x5185;&#x4E70;&#x5165;</li>
      <li>2&#x3001;&#x8BA4;&#x8D2D;&#x671F;&#x4E0D;&#x8BA1;&#x7B97;&#x6536;&#x76CA;</li>
      <li>3&#x3001;&#x4E70;&#x5165;&#x540E;&#x4E0D;&#x80FD;&#x63D0;&#x524D;&#x9000;&#x51FA;</li>
      <li>4&#x3001;&#x4EC5;&#x9650;&#x7406;&#x8D22;&#x65B0;&#x4EBA;&#x8D2D;&#x4E70;(&#x672A;&#x8D2D;&#x4E70;&#x8FC7;&#x5B9A;&#x671F;&#x7406;&#x8D22;&#x4EA7;&#x54C1;)</li>
    </ul>
    <img src="../../images/financing/regular_2.png" style="margin-top: 20px; width: 50%;">
    <ul style="list-style-type: none; font-size: 14px; margin: 0;padding: 0; text-align: left;">
      <h1 style="color: #10A3E2; margin: 10px 0px;">&#x4EA7;&#x54C1;&#x9000;&#x51FA;</h1>
      <li>1&#x3001;&#x4E70;&#x5165;&#x540E;&#x4E0D;&#x80FD;&#x63D0;&#x524D;&#x9000;&#x51FA;</li>
      <li>2&#x3001;&#x4EA7;&#x54C1;&#x5230;&#x671F;&#x540E;&#xFF0C;&#x5E73;&#x53F0;&#x4F1A;&#x5728;&#x56DE;&#x6B3E;&#x65E5;&#x5C06;&#x672C;&#x91D1;&#x548C;&#x6536;&#x76CA;&#x56DE;&#x6B3E;&#x5230;&#x5609;&#x798F;&#x798F;&#x5229;&#x8D26;&#x53F7;</li>
    </ul>
    <img src="../../images/financing/regular_3.png" style="margin-top:20px; width: 50%;">
    <ul style="list-style-type: none; font-size: 14px; margin: 0;padding: 0; text-align: left;">
      <h1 style="color: #10A3E2; margin: 10px 0px;">&#x4EA7;&#x54C1;&#x4ECB;&#x7ECD;</h1>
      <li>&#x672C;&#x4EA7;&#x54C1;&#x8D44;&#x91D1;&#x6D41;&#x5411;&#x9879;&#x76EE;&#x65B9;&#x63A8;&#x8350;&#x7684;&#x4E14;&#x7531;&#x5609;&#x798F;&#x98CE;&#x63A7;&#x4E25;&#x683C;&#x5BA1;&#x6838;&#x540E;&#x7684;&#x4F18;&#x8D28;
&#x501F;&#x6B3E;&#x9879;&#x76EE;&#xFF0C;&#x540C;&#x65F6;&#x4E3A;&#x4E86;&#x4FDD;&#x8BC1;&#x8D44;&#x91D1;&#x7684;&#x5B89;&#x5168;&#xFF0C;&#x5609;&#x798F;&#x4F1A;&#x8981;&#x6C42;&#x9879;&#x76EE;&#x65B9;&#x63D0;&#x4F9B;
&#x4E00;&#x7CFB;&#x5217;&#x7684;&#x4FDD;&#x969C;&#x63AA;&#x65BD;&#xFF0C;&#x5982;&#x98CE;&#x9669;&#x5907;&#x4ED8;&#x91D1;&#x5236;&#x5EA6;&#x3001;&#x9879;&#x76EE;&#x65B9;&#x7684;&#x56DE;&#x8D2D;&#x4E49;&#x52A1;&#x3001;
&#x5B9E;&#x529B;&#x96C4;&#x539A;&#x7684;&#x7B2C;&#x4E09;&#x65B9;&#x62C5;&#x4FDD;&#x516C;&#x53F8;&#x627F;&#x62C5;&#x8FDE;&#x5E26;&#x62C5;&#x4FDD;&#x8D23;&#x4EFB;&#x7B49;&#x3002;</li>
    </ul>
    <img src="../../images/financing/regular_4.png" style="margin-top: 20px; width: 50%;">
    <ul style="list-style-type: none; font-size: 14px; margin: 0;padding: 0; text-align: left;">
      <h1 style="color: #10A3E2; margin: 10px 0px;">&#x98CE;&#x9669;&#x63D0;&#x793A;</h1>
      <li>&#x672C;&#x7406;&#x8D22;&#x8BA1;&#x5212;&#x6709;&#x6295;&#x8D44;&#x98CE;&#x9669;&#xFF0C;&#x4EFB;&#x4F55;&#x6536;&#x76CA;&#x8BF4;&#x660E;&#x90FD;&#x4E3A;&#x9884;&#x8BA1;&#x6536;&#x76CA;&#x3001;&#x9884;&#x671F;&#x6536;&#x76CA;&#x3001;&#x6D4B;
&#x7B97;&#x6536;&#x76CA;&#x7B49;&#x7C7B;&#x4F3C;&#x8868;&#x8FF0;&#xFF0C;&#x5747;&#x5C5E;&#x4E0D;&#x5177;&#x6709;&#x6CD5;&#x5F8B;&#x6548;&#x529B;&#x7684;&#x7528;&#x8BED;&#xFF0C;&#x4E0D;&#x4EE3;&#x8868;&#x60A8;&#x53EF;&#x80FD;&#x83B7;&#x5F97;&#x7684;&#x5B9E;&#x9645;&#x6536;&#x76CA;&#x3002;</li>
    </ul>
  </div>
  <!---->
</div>
<!--结束-->
    </div>
  </div>
  <!--内容2 结束--> 
  <!--内容 3-->
  <div class="financial_details">
      <table class="financial_record">
          <tr align="center" class="record_title">
            <td>&#x6295;&#x8D44;&#x4EBA;</td>
            <td>&#x6295;&#x8D44;&#x65E5;&#x671F;</td>
            <td>&#x6295;&#x8D44;&#x91D1;&#x989D;(&#x5143;)</td>
          </tr>
          <!--复制tr可得-->
          <tr align="center">
            <td>&#x5E84;*&#x7172;</td>
            <td>2016-04-01</td>
            <td>10,000,000.00</td>
          </tr>
          <!--tr结束--> 
          <!--复制tr可得-->
          <tr align="center">
            <td>&#x5E84;*&#x7172;</td>
            <td>2016-04-01</td>
            <td>10,000,000.00</td>
          </tr>
          <!--tr结束--> 
          
          <!--复制tr可得-->
          <tr align="center">
            <td>&#x5E84;*&#x7172;</td>
            <td>2016-04-01</td>
            <td>10,000,000.00</td>
          </tr>
          <!--tr结束--> 
          
          <!--复制tr可得-->
          <tr align="center">
            <td>&#x5E84;*&#x7172;</td>
            <td>2016-04-01</td>
            <td>10,000,000.00</td>
          </tr>
          <!--tr结束--> 
          
          <!--复制tr可得-->
          <tr align="center">
            <td>&#x5E84;*&#x7172;</td>
            <td>2016-04-01</td>
            <td>10,000,000.00</td>
          </tr>
          <!--tr结束--> 
          
          <!--复制tr可得-->
          <tr align="center">
            <td>&#x5E84;*&#x7172;</td>
            <td>2016-04-01</td>
            <td>10,000,000.00</td>
          </tr>
          <!--tr结束--> 
          
          <!--复制tr可得-->
          <tr align="center">
            <td>&#x5E84;*&#x7172;</td>
            <td>2016-04-01</td>
            <td>10,000,000.00</td>
          </tr>
          <!--tr结束--> 
          <!--复制tr可得-->
          <tr align="center">
            <td>&#x5E84;*&#x7172;</td>
            <td>2016-04-01</td>
            <td>10,000,000.00</td>
          </tr>
          <!--tr结束--> 
          <!--复制tr可得-->
          <tr align="center">
            <td>&#x5E84;*&#x7172;</td>
            <td>2016-04-01</td>
            <td>10,000,000.00</td>
          </tr>
          <!--tr结束--> 
          <!--复制tr可得-->
          <tr align="center">
            <td>&#x5E84;*&#x7172;</td>
            <td>2016-04-01</td>
            <td>10,000,000.00</td>
          </tr>
          <!--tr结束-->
          
        </table>
  </div>
  <!--内容3 结束--> 
</div>
</div>
  <!-- 固定底部-->
  <div class="tabbar">
    <div class="weui_tab_bd"> </div>
    <div class="weui_tabbar"> <a href="financial_regular_step1_revise.html" class="weui_actionsheet_cell">&#x7ACB;&#x5373;&#x8D2D;&#x4E70;</a> </div>
  </div>
</div>


</body>



<script>

//读取页面高度
$('.financial_management_regular .financial_details').windowHeight({
	
	fixHeight:'356',
	
	});

//水平滑动
$('.financial_management_regular .financial_option>div').moveBoxHorizontal({
	changeEle: '.financial_management_regular .financial_box',
	
	});
</script>
</html>
