<!doctype html>
<html>
<head>
  <title>WeUI-pay</title>
  <link rel="stylesheet" href="../../css/jf_financial.css">
</head>
<body>
<div class="Transaction"> 
  <!--head-->
<div class="bd"></div>
  <div class="navi">
    <div class="left"><a onclick="jfSwitch.goBack()"><img src="../../images/Transaction/icon_pay_return.png"></a></div>
    <div class="center" id="Transaction_detail"><span>&#x6D3B;&#x671F;&#x8BB0;&#x5F55;</span>
      <div class="triangle-down"></div>
    </div>
    <div onclick="location=&apos;#&apos;"></div>
  </div>
  <!--下拉-->
    <div class="pull-list" style="display:none;">
      <div class="weui_cells weui_cells_radio">
        <label class="weui_cell weui_check_label" for="ListChange2">
        <div class="weui_cell_bd weui_cell_primary">
          <div>
            <div><img src="../../images/financial/icon_current_2.png"></div>
            <div>&#x6536;&#x76CA;</div>
          </div>
        </div>
        <div class="weui_cell_ft">
          <input type="radio" class="weui_check" name="radio1" id="ListChange2" checked>
          <span class="weui_icon_checked"></span> </div>
        </label>
        <label class="weui_cell weui_check_label" for="ListChange3">
        <div class="weui_cell_bd weui_cell_primary">
          <div>
            <div><img src="../../images/financial/icon_current_3.png"></div>
            <div>&#x8F6C;&#x51FA;</div>
          </div>
        </div>
        <div class="weui_cell_ft">
          <input type="radio" class="weui_check" name="radio1" id="ListChange3">
          <span class="weui_icon_checked"></span> </div>
        </label>
         <label class="weui_cell weui_check_label" for="ListChange4">
        <div class="weui_cell_bd weui_cell_primary">
          <div>
            <div><img src="../../images/financial/icon_current_4.png"></div>
            <div>&#x8F6C;&#x5165;</div>
          </div>
        </div>
        <div class="weui_cell_ft">
          <input type="radio" class="weui_check" name="radio1" id="ListChange4">
          <span class="weui_icon_checked"></span> </div>
        </label>
      </div> 
    </div> 
       <!--下拉结束-->
        <div class="weui_mask_transition" id="mask_0819" style="display:none; z-index:1"></div>
  <!--内容-->
  <!--1-->
  <div class="financial_list">
  <!--复制list可得-->
  <div class="content">
    <div class="list1">
      <div class="price">
        <div>&#x8F6C;&#x5165;-&#x7075;&#x6D3B;&#x7406;&#x8D22;</div>
        <div>2018-09-13 13:44:55</div>
      </div>
      <div class="time">
        <div>&#xA0;</div>
        <div class="success">-80.00</div>
      </div>
    </div>
  </div>
  <!--list end-->
  <!--复制list可得-->
  <div class="content">
    <div class="list1">
      <div class="price">
        <div>&#x8F6C;&#x5165;-&#x7075;&#x6D3B;&#x7406;&#x8D22;</div>
        <div>2018-09-13 13:44:55</div>
      </div>
      <div class="time">
        <div>&#xA0;</div>
        <div class="success">-80.00</div>
      </div>
    </div>
  </div>
  <!--list end-->
  <!--复制list可得-->
  <div class="content">
    <div class="list1">
      <div class="price">
        <div>&#x8F6C;&#x5165;-&#x7075;&#x6D3B;&#x7406;&#x8D22;</div>
        <div>2018-09-13 13:44:55</div>
      </div>
      <div class="time">
        <div>&#xA0;</div>
        <div class="success">-80.00</div>
      </div>
    </div>
  </div>
  <!--list end-->
  <!--复制list可得-->
  <div class="content">
    <div class="list1">
      <div class="price">
        <div>&#x8F6C;&#x5165;-&#x7075;&#x6D3B;&#x7406;&#x8D22;</div>
        <div>2018-09-13 13:44:55</div>
      </div>
      <div class="time">
        <div>&#xA0;</div>
        <div class="success">-80.00</div>
      </div>
    </div>
  </div>
  <!--list end-->
  <!--复制list可得-->
  <div class="content">
    <div class="list1">
      <div class="price">
        <div>&#x8F6C;&#x5165;-&#x7075;&#x6D3B;&#x7406;&#x8D22;</div>
        <div>2018-09-13 13:44:55</div>
      </div>
      <div class="time">
        <div>&#xA0;</div>
        <div class="success">-80.00</div>
      </div>
    </div>
  </div>
  <!--list end-->
  <!--复制list可得-->
  <div class="content">
    <div class="list1">
      <div class="price">
        <div>&#x8F6C;&#x5165;-&#x7075;&#x6D3B;&#x7406;&#x8D22;</div>
        <div>2018-09-13 13:44:55</div>
      </div>
      <div class="time">
        <div>&#xA0;</div>
        <div class="success">-80.00</div>
      </div>
    </div>
  </div>
  <!--list end-->
  <!--复制list可得-->
  <div class="content">
    <div class="list1">
      <div class="price">
        <div>&#x8F6C;&#x5165;-&#x7075;&#x6D3B;&#x7406;&#x8D22;</div>
        <div>2018-09-13 13:44:55</div>
      </div>
      <div class="time">
        <div>&#xA0;</div>
        <div class="success">-80.00</div>
      </div>
    </div>
  </div>
  <!--list end-->
   <!--复制list可得-->
  <div class="content">
    <div class="list1">
      <div class="price">
        <div>&#x8F6C;&#x5165;-&#x7075;&#x6D3B;&#x7406;&#x8D22;</div>
        <div>2018-09-13 13:44:55</div>
      </div>
      <div class="time">
        <div>&#xA0;</div>
        <div class="success">-80.00</div>
      </div>
    </div>
  </div>
  <!--list end-->
  
    <!--复制list可得-->
  <div class="content">
    <div class="list1">
      <div class="price">
        <div>&#x8F6C;&#x5165;-&#x7075;&#x6D3B;&#x7406;&#x8D22;</div>
        <div>2018-09-13 13:44:55</div>
      </div>
      <div class="time">
        <div>&#xA0;</div>
        <div class="success">-80.00</div>
      </div>
    </div>
  </div>
  <!--list end-->
  
    <!--复制list可得-->
  <div class="content">
    <div class="list1">
      <div class="price">
        <div>&#x8F6C;&#x5165;-&#x7075;&#x6D3B;&#x7406;&#x8D22;</div>
        <div>2018-09-13 13:44:55</div>
      </div>
      <div class="time">
        <div>&#xA0;</div>
        <div class="success">-80.00</div>
      </div>
    </div>
  </div>
  <!--list end-->
  
    <!--复制list可得-->
  <div class="content">
    <div class="list1">
      <div class="price">
        <div>&#x8F6C;&#x5165;-&#x7075;&#x6D3B;&#x7406;&#x8D22;</div>
        <div>2018-09-13 13:44:55</div>
      </div>
      <div class="time">
        <div>&#xA0;</div>
        <div class="success">-80.00</div>
      </div>
    </div>
  </div>
  <!--list end-->
  
    <!--复制list可得-->
  <div class="content">
    <div class="list1">
      <div class="price">
        <div>&#x8F6C;&#x5165;-&#x7075;&#x6D3B;&#x7406;&#x8D22;</div>
        <div>2018-09-13 13:44:55</div>
      </div>
      <div class="time">
        <div>&#xA0;</div>
        <div class="success">-80.00</div>
      </div>
    </div>
  </div>
  <!--list end-->
</div>
</div>

</body>




<script>


</script>
</html>

