<!DOCTYPE html>
<html>
<head>
  <title>WeUI-pay</title>
  <link rel="stylesheet" href="../../css/jf_financial.css">
</head>

<body style="overflow:hidden;">
<!--固定顶部导航-->
<div class="zhuangyi_pay_shoppingcart">
<div class="container">
  <div class="weui_tab_bd"></div>
  <div class="container_tab"> <a onclick="jfSwitch.goBack()">
    <div class="weui_zz"><img src="../../images/pay/icon_pay_return.png"></div>
    </a>
    <div class="tab_select">
      <div>&#x8D2D;&#x4E70;&#x6210;&#x529F;</div>
    </div>
    <div class="weui_zz_1 allMainMenuTab"><img src="../../images/icon_pay_meau.png"></div>
  </div>
</div>
<!--支付成功-->
<div class="weui_msg">
  <div class="weui_icon_area" style="margin-bottom:0px;">
    <div class="swal2-icon swal2-success animate"> <span class="line tip animate-success-tip"></span> <span class="line long animate-success-long"></span>
      <div class="placeholder"></div>
      <div class="fix"></div>
    </div>
  </div>
  <div class="weui_text_area" style="padding:0px;">
    <h2 class="msg_title_0718">&#x8D2D;&#x4E70;&#x6210;&#x529F;</h2>
    <div class="weui_center_0911">&#x6210;&#x529F;&#x4E70;&#x5165;<span>1.00</span>&#x5143;</div>
    <div class="weui_center_0911">&#xA0;</div>
    <div class="weui_center_0911">&#xA0;</div>
    <div class="weui_text_area">
      <p class="weui_msg_desc text_area_0718">&#x70B9;&#x51FB;&#x67E5;&#x770B;&#x5B9A;&#x671F;&#x7406;&#x8D22;&#x5373;&#x53EF;&#x67E5;&#x770B;&#x8BE6;&#x60C5;&#x6216;&#x5728;&#x9996;&#x9875;&#x201C;&#x6211;&#x7684;&#x201D;-&#x201C;&#x5B9A;&#x671F;&#x7406;&#x8D22;&#x201D;&#x4E2D;&#x67E5;&#x770B;&#x3002;</p>
    </div>
   <!--底部按钮-->
    <div class="weui_opr_area">
      <p class="weui_btn_area"> <a href="financial_regular_step3.html" class="weui_btn weui_btn_plain_primary btn_white_0718">&#x67E5;&#x770B;&#x5B9A;&#x671F;&#x7406;&#x8D22;</a> <a href="../../main.html" class="weui_btn btn_blue_0718">&#x8FD4;&#x56DE;&#x9996;&#x9875;</a> </p>
    </div>
  </div>
</div>
</div>

</body>







</html>
