<!DOCTYPE html>
<html>
<head>
    <title>WeUI-pay</title>
    <link rel="stylesheet" href="../../css/jf_financial.css">

</head><body>
<!-- 顶部导航 -->
<nav class="Top_navigation">
  <div class="weui_tab_bd"></div>
  <div class="container_tab"> <a onclick="jfSwitch.goBack()">
    <div class="nav_left"><img src="../../images/icon_pay_return.png"></div>
    </a>
    <div class="nav_center">
      <div>&#x786E;&#x8BA4;&#x8D2D;&#x4E70;</div>
    </div>
    <a href="#">
    <div class="nav_right"></div>
    </a> </div>
</nav>
<!-- 顶部导航 结束-->
<!--内容-->
<div class="financial_regular_step1">
<div class="container_shadow">
<!--余额-->
<div class="jiafu_balance">
<div>&#x798F;&#x5229;&#x4F59;&#x989D;(&#x5143;)</div>
<div>7123.34</div>
</div>


<!--余额结束-->
    <!--复制列表可得-->
    <div class="weui_cell">
      <div class="weui_cell_bd weui_cell_primary color_right">
        <p>&#x91D1;&#x989D;(&#x5143;)</p>
      </div>
      <div class="weui_cell_ft color_left">
      <input class="weui_input input_num" type="number" pattern="[0-9]*" placeholder="&#x8F93;&#x5165;100&#x5230;50000&#x4E14;100&#x7684;&#x6574;&#x6570;&#x500D;">
      </div>
    </div>
    <!--列表结束--> 
    <!--复制列表可得-->
    <div class="weui_cell">
      <div class="weui_cell_hd"></div>
      <div class="weui_cell_bd weui_cell_primary color_right">
        <p>&#x9884;&#x671F;&#x6536;&#x76CA;</p>
      </div>
      <div class="weui_cell_ft color_left">2016&#x5E74;09&#x6708;09&#x65E5;</div>
    </div>
    <!--列表结束--> 
        <!--复制列表可得-->
    <div class="weui_cell">
      <div class="weui_cell_hd"></div>
      <div class="weui_cell_bd weui_cell_primary color_right">
        <p>&#x8D77;&#x606F;&#x65E5;&#x671F;</p>
      </div>
      <div class="weui_cell_ft color_left">2016&#x5E74;09&#x6708;09&#x65E5;</div>
    </div>
    <!--列表结束--> 
        <!--列表结束--> 
        <!--复制列表可得-->
    <div class="weui_cell">
      <div class="weui_cell_hd"></div>
      <div class="weui_cell_bd weui_cell_primary color_right">
        <p>&#x56DE;&#x6B3E;&#x65E5;&#x671F;</p>
      </div>
      <div class="weui_cell_ft color_left">2016&#x5E74;09&#x6708;09&#x65E5;</div>
    </div>
    <!--列表结束--> 
    <!--阅读协议-->

</div> 
   <div class="agreement">
   <label for="regular_agreement">
    <input type="checkbox" id="regular_agreement" checked>&#x6211;&#x5DF2;&#x9605;&#x8BFB;&#x5E76;&#x540C;&#x610F;
    </label><a href="financial_regular_agreement.html">&#x300A;&#x5609;&#x798F;&#x5B9A;&#x671F;&#x7406;&#x8D22;&#x534F;&#x8BAE;&#x300B;</a>
    </div>
    <!-- 固定底部-->
    <div class="tabbar">
        <div class="weui_tab_bd"> </div>
        <div class="weui_tabbar">
            <a href="financial_regular_step2_right.html" class="weui_actionsheet_cell">&#x786E;&#x8BA4;</a> </div>
    </div>

</div>

</body>




</html>
