<!DOCTYPE html>
<html>
<head>
  <title>WeUI-pay</title>
  <link rel="stylesheet" href="../../css/jf_financial.css">
</head>
<body>
<!-- 顶部导航 -->
<nav class="Top_navigation">
  <div class="weui_tab_bd"></div>
  <div class="container_tab"> <a onclick="jfSwitch.goBack()">
    <div class="nav_left"><img src="../../images/icon_pay_return.png"></div>
    </a>
    <div class="nav_center">
      <div>&#x5609;&#x798F;&#x7406;&#x8D22;</div>
    </div>
    <a href="#">
    <div class="nav_right"><img src="../../images/icon_pay_meau.png"></div>
    </a> </div>
</nav>
<!-- 顶部导航 结束-->
<div class="financial_main"> 
  <!--banner -->
  <div class="financial_banner"><img src="../../images/financial/banner.jpg" class="banner"></div>
  <!--banner end --> 
  <!--利益点-->
  <div class="weui_point">
    <div>
      <p><img src="../../images/financial/icon_financial_1.png"></p>
      <p>&#x9AD8;&#x6D41;&#x52A8;</p>
    </div>
    <div>
      <p><img src="../../images/financial/icon_financial_2.png"></p>
      <p>&#x4F4E;&#x95E8;&#x69DB;</p>
    </div>
    <div>
      <p><img src="../../images/financial/icon_financial_3.png"></p>
      <p>&#x9AD8;&#x6536;&#x76CA;</p>
    </div>
  </div>
  <!--利益点 结束--> 
  <!--新手理财-->
  <div class="financial_container container_shadow">
    <div class="financial_title ">
      <div class="title_blue">&#x65B0;&#x624B;&#x7406;&#x8D22;</div>
      <div><span>&#x4EC5;&#x9650;&#x9996;&#x6B21;</span><img src="../../images/financial/icon_financial_bg_1.png"></div>     
    </div>
    <div class="financial_content">
      <div class="cricle_blue"></div>
      <div>
        <div>&#x9884;&#x671F;&#x5E74;&#x5316;&#x6536;&#x76CA;</div>
        <div class="font_blue">8.80%</div>
      </div>
      <div>
        <div>&#x6295;&#x8D44;&#x671F;&#x9650;</div>
        <div><span>10</span>&#x5929;</div>
      </div>
      <a href="javascript:;">
      <div class="financial_btn btn_blue">&#x7ACB;&#x5373;&#x62A2;&#x8D2D;</div>
      </a> </div>
  </div>
  <!--新手理财 结束--> 
  <!--活期理财-->
  <div class="financial_container container_shadow">
    <div class="financial_title">
      <div class="title_red">&#x5609;&#x798F;&#x6D3B;&#x671F;</div>
    </div>
    <div class="financial_content">
      <div class="cricle_red"></div>
      <div>
        <div>&#x4E03;&#x65E5;&#x5E74;&#x5316;&#x6536;&#x76CA;</div>
        <div class="font_red">5.50%</div>
      </div>
      <div>
        <div>&#x6295;&#x8D44;&#x671F;&#x9650;</div>
        <div>&#x968F;&#x5B58;&#x968F;&#x53D6;</div>
      </div>
      <a href="financial_current.html">
      <div class="financial_btn btn_red">&#x7ACB;&#x5373;&#x62A2;&#x8D2D;</div>
      </a> </div>
      
  </div>
  <!--活期理财 结束--> 
  
  <!--定期理财-->
  <div class="financial_container container_shadow">
    <div class="financial_title">
      <div class="title_blue">&#x5609;&#x798F;&#x5B9A;&#x671F;</div>
    </div>
    <!--复制可得-->
    <div class="financial_content">
      <div class="cricle_regular"></div>
      <div>
        <div>&#x4E03;&#x65E5;&#x5E74;&#x5316;&#x6536;&#x76CA;</div>
        <div class="font_blue">7.50%</div>
      </div>
      <div>
        <div>&#x6295;&#x8D44;&#x671F;&#x9650;</div>
        <div><span>90</span>&#x5929;</div>
      </div>
      <a href="financial_regular.html">
      <div class="financial_btn btn_blue">&#x7ACB;&#x5373;&#x62A2;&#x8D2D;</div>
      </a> </div>
    <!--复制可得-->
    <div class="financial_content">
      <div class="cricle_notstarted"></div>
      <div>
        <div>&#x4E03;&#x65E5;&#x5E74;&#x5316;&#x6536;&#x76CA;</div>
        <div class="font_blue">7.50%</div>
      </div>
      <div>
        <div>&#x6295;&#x8D44;&#x671F;&#x9650;</div>
        <div><span>90</span>&#x5929;</div>
      </div>
      <div>
        <div class="img_clock"></div>
        <i>12&#x6708;12&#x65E5;</i> <i>16&#x65F6;30&#x5F00;&#x62A2;</i> </div>
    </div>
    <!--复制可得-->
    <div class="financial_content">
      <div class="cricle_end"></div>
      <div>
        <div>&#x4E03;&#x65E5;&#x5E74;&#x5316;&#x6536;&#x76CA;</div>
        <div class="font_blue">7.50%</div>
      </div>
      <div>
        <div>&#x6295;&#x8D44;&#x671F;&#x9650;</div>
        <div><span>90</span>&#x5929;</div>
      </div>
      <div class="financial_btn btn_gray">&#x5DF2;&#x7ED3;&#x675F;</div>
    </div>
  </div>
  <!--定期理财 结束--> 
</div>
</body>




</html>
