<!DOCTYPE html>
<html>
<head>
    <title>WeUI-pay</title>
    <link rel="stylesheet" href="../../css/jf_financial.css">
</head>
<body>
<!-- 顶部导航 -->
<nav class="Top_navigation">
  <div class="weui_tab_bd"></div>
  <div class="container_tab"> <a onclick="jfSwitch.goBack()">
    <div class="nav_left"><img src="../../images/icon_pay_return.png"></div>
    </a>
    <div class="nav_center">
      <div>&#x8BA2;&#x5355;&#x8BE6;&#x60C5;</div>
    </div>
    <a href="#">
    <div class="nav_right"></div>
    </a> </div>
</nav>
<!-- 顶部导航 结束-->

<div class="financial_regular_order"> 
<!--step 1-->
<div>
<div class="date_left"><div>2019-09-09</div>
<div>15:09:09</div></div>
<div class="cricle_step1 cricle_finish"><!--加上cricle_finish表示已完成状态-->
<!--已完成时 进度条的状态-->
<div class="progress_bar"></div>
<!--end-->
</div>
<div class="detal detal_finish">&#x6210;&#x529F;&#x4E70;&#x5165;<span>123289.2</span>&#x5143;</div>
</div>
<!--step 1 end-->
<!--step 2-->
<div>
<div class="date_left"><div>2019-09-09</div>
<div>15:09:09</div></div>
<div class="cricle_step1 cricle_finish">
<!--正在进行时 进度条的状态-->
<div class="progress_bar bar_sorts">
<p>&#x25CF;</p>
<p>&#x25CF;</p>
<p>&#x25CF;</p>
<p>&#x25CF;</p>
<p>&#x25CF;</p>
<p>&#x25CF;</p>
<p>&#x25CF;</p>
<p>&#x25CF;</p>
<p>&#x25CF;</p>
<p>&#x25CF;</p>
</div>
<!--end-->
</div>
<div class="detal detal_finish">&#x5F00;&#x59CB;&#x8BA1;&#x7B97;&#x6536;&#x76CA;&#xFF0C;&#x9884;&#x671F;&#x6536;&#x76CA;34.5&#x5143;</div>
</div> 
<!--step 2 end-->
<!--step 3-->
<div>
<div class="date_left"><div>2019-09-09</div>
<div>15:09:09</div></div>
<div class="cricle_step1 cricle_unfinish"></div><!--加上cricle_unfinish表示未完成状态-->
<div class="detal">&#x672C;&#x606F;&#x56DE;&#x6B3E;126.23&#x5143;(&#x5176;&#x4E2D;&#x6536;&#x76CA;3.00&#x5143;)</div>
</div> 
 <!--step 3 end-->
 
</div>
<div class="weui_opr_area">
      <p class="weui_btn_area">
      <a href="../../main.html" class="weui_btn btn_blue_0718">&#x8FD4;&#x56DE;&#x9996;&#x9875;</a>
      </p>
    </div>

</body>





</html>
