<!DOCTYPE html>
<html>
<head>
  <title>WeUI-pay</title>
  <link rel="stylesheet" href="../../css/jf_financial.css">
</head>
<body>
<!-- 顶部导航 -->
<nav class="Top_navigation">
  <div class="weui_tab_bd"></div>
  <div class="container_tab"><a onclick="jfSwitch.goBack()">
    <div class="nav_left"><img src="../../images/icon_pay_return.png"></div>
    </a>
    <div class="nav_center">
      <div>员工福利增值</div>
    </div>
    <a href="#">
    <div class="nav_right allMainMenuTab"><img src="../../images/icon_pay_meau.png"></div>
    </a> </div>
</nav>
<!-- 顶部导航 结束-->
<div class="financial_management_current"> 
  <!--bg-->
  <div class="regular_bg">
    <div>
      <p>&#x6295;&#x8D44;&#x671F;&#x9650;</p>
      <p class="font_big">&#x968F;&#x5B58;&#x968F;&#x53D6;</p>
    </div>
    <div class="financial_cricle">
      <div class="cricle_2"></div>
      <div class="cricle_1"></div>
      <div class="cricle_bg">
        <div>
          <p>5.50<span>%</span></p>
          <p>&#x4E03;&#x65E5;&#x5E74;&#x5316;&#x6536;&#x76CA;</p>
          <p>100&#x8D77;&#x6295;</p>
          <div class="star_1"></div>
          <div class="star_2"></div>
          <div class="star_3"></div>
          <div class="star_4"></div>
          <div class="star_5"></div>
        </div>
      </div>
    </div>
    <div>
      <p>&#x8BA1;&#x606F;&#x65B9;&#x5F0F;</p>
      <div class="font_small">&#x6309;&#x65E5;&#x8BA1;&#x606F;</div>
    </div>
  </div>
  <!--选项-->
  <div class="financial_option"> 
    <!--被选中的项目添加"option_seleted"-->
    <div class="option_seleted" data-num="0">&#x9879;&#x76EE;&#x8BE6;&#x60C5;</div>
    <div data-num="1">&#x9879;&#x76EE;&#x4ECB;&#x7ECD;</div>
    <div data-num="2">&#x8D2D;&#x4E70;&#x8BB0;&#x5F55;</div>
  </div>
  <div class="financial_swiper">
    <div class="financial_box"> 
      <!--内容 1-->
      <div class="financial_details"> 
        <!--复制列表可得-->
        <div class="weui_cell">
          <div class="weui_cell_bd weui_cell_primary color_right">
            <p>&#x6628;&#x65E5;&#x4E07;&#x4EFD;&#x6536;&#x76CA;(&#x5143;)</p>
          </div>
          <div class="weui_cell_ft color_left">100000000000000000</div>
        </div>
        <!--列表结束--> 
        <!--复制列表可得-->
        <div class="weui_cell">
          <div class="weui_cell_hd"></div>
          <div class="weui_cell_bd weui_cell_primary color_right">
            <p>&#x6211;&#x7684;&#x6301;&#x6709;&#x603B;&#x989D;(&#x5143;)</p>
          </div>
          <div class="weui_cell_ft color_left">2,374.00</div>
        </div>
        <!--列表结束--> 
        <!--复制列表可得-->
        <div class="weui_cell">
          <div class="weui_cell_hd"></div>
          <div class="weui_cell_bd weui_cell_primary color_right">
            <p>&#x6211;&#x7684;&#x7D2F;&#x8BA1;&#x6536;&#x76CA;(&#x5143;)</p>
          </div>
          <div class="weui_cell_ft color_left">167.81</div>
        </div>
        <!--列表结束--> 
        <!--复制列表可得-->
        <div class="weui_cell">
          <div class="weui_cell_hd"></div>
          <div class="weui_cell_bd weui_cell_primary color_right">
            <p>&#x8D77;&#x606F;&#x65E5;&#x671F;</p>
          </div>
          <div class="weui_cell_ft color_left">2016&#x5E74;09&#x6708;09&#x65E5;</div>
        </div>
        <!--列表结束--> 
        <!--复制列表可得-->
        <div class="weui_cell">
          <div class="weui_cell_hd"></div>
          <div class="weui_cell_bd weui_cell_primary color_right">
            <p>&#x56DE;&#x6B3E;&#x65E5;&#x671F;</p>
          </div>
          <div class="weui_cell_ft color_left">2016&#x5E74;09&#x6708;09&#x65E5;</div>
        </div>
        <!--列表结束--> 
      </div>
      <!--内容1 结束--> 
      <!--内容2-->
      <div class="financial_details">
        <div class="financial_introduce">
          <!--活期理财详情-->
<div class="current" style="font-family:&apos;&#x5FAE;&#x8F6F;&#x96C5;&#x9ED1;&apos;;">
  <!--头部-->
  <div class="top" style=" background: #ebf6ff; text-align: center; padding: 0px 5px 15px 0px;">
    <p style="color: #10a3e2; font-size: 20px; font-weight:bold; padding-top: 15px; margin-bottom: 20px;">福利增值优点</p>
    <div style="display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex; width: 100%; -webkit-box-pack: space-between;
	-moz-justify-content: space-between;
	-webkit-justify-content: space-between;
	justify-content: space-between; margin-left: 5px; margin-top: -10px;">
      <div style=" width: 20%; height:20%; text-align: center;"><img src="../../images/financing/icon_1.png" style="width: 100%;">
        <p style="padding: 0; margin: 0; color: #10A3E2; font-size: 12px; font-weight:bold;">&#x6536;&#x76CA;&#x8FDC;&#x8D85;</p>
        <p style="padding: 0; margin: 0; color: #10A3E2; font-size: 12px;font-weight:bold;">&#x94F6;&#x884C;&#x6D3B;&#x671F;</p>
      </div>
      <div style=" width: 20%; height:20%;"><img src="../../images/financing/icon_2.png" style="width: 100%;">
        <p style="padding: 0; margin: 0; color: #10A3E2; font-size: 12px;font-weight:bold;">&#x8F6C;&#x51FA;&#x540E;</p>
        <p style="padding: 0; margin: 0; color: #10A3E2; font-size: 12px;font-weight:bold;">&#x7ACB;&#x5373;&#x56DE;&#x6B3E;</p>
      </div>
      <div style=" width: 20%; height:20%;"><img src="../../images/financing/icon_3.png" style="width: 100%;">
        <p style="padding: 0; margin: 0; color: #10A3E2; font-size: 12px;font-weight:bold;">&#x5B89;&#x5168;&#x7A33;&#x5065;</p>
        <p style="padding: 0; margin: 0; color: #10A3E2; font-size: 12px;font-weight:bold;">&#x591A;&#x91CD;&#x4FDD;&#x969C;</p>
      </div>
      <div style=" width: 20%; height:20%;"><img src="../../images/financing/icon_4.png" style="width: 100%;">
        <p style="padding: 0; margin: 0; color: #10A3E2; font-size: 12px;font-weight:bold;">&#x7701;&#x5FC3;&#x7701;&#x529B;</p>
        <p style="padding: 0; margin: 0; color: #10A3E2; font-size: 12px;font-weight:bold;">&#x6D88;&#x8D39;&#x4E24;&#x4E0D;&#x8BEF;</p>
      </div>
    </div>
  </div>
  <!---->
  <!--圆-->
  <div style="display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex; width: 100%; -webkit-box-pack: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	justify-content: center; margin-top: -15px;">
    <div class="circle" style="height: 25px; width: 25px; border-radius: 25px; background: #10A3E2; border: 3px solid #FFFFFF; -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;  -webkit-box-pack: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	justify-content: center; -webkit-box-align: center;
-moz-align-items: center;
-webkit-align-items: center;
align-items: center;">
      <div style="width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 7px solid #FFFFFF;"></div>
    </div>
  </div>
  <!---->
  <!--内容-->
  <div class="main" style="text-align: center; padding: 0px 10px;">
    <p style="font-size: 20px; font-weight: bold; color: #10A3E2; margin: 10px 0px;">嘉福福利增值简介</p>
    <img src="../../images/financing/current_1.png" style="width: 50%;">
    <ul style="list-style-type: none; font-size: 14px; margin: 0;padding: 0; text-align: left;">
      <h1 style="color: #10A3E2; margin: 10px 0px;">1&#x3001;&#x6536;&#x76CA;&#x8BA1;&#x7B97;</h1>
      <li>&#x6628;&#x65E5;&#x6536;&#x76CA;=(&#x6628;&#x65E5;&#x8BA1;&#x606F;&#x91D1;&#x989D;/10000)x&#x6628;&#x65E5;&#x4E07;&#x4EFD;&#x6536;&#x76CA;</li>
      <li>&#x5982; &#x6628;&#x65E5;&#x8BA1;&#x606F;&#x91D1;&#x989D;:28930&#x5143; &#x6628;&#x65E5;&#x4E07;&#x4EFD;&#x6536;&#x76CA;:1.2353&#x5143;</li>
      <li>&#x5219; &#x6628;&#x65E5;&#x6536;&#x76CA;=(28930/10000)x1.2353=3.57&#x5143;</li>
    </ul>
    <img src="../../images/financing/current_2.png" style="width: 50%; margin-top: 20px;">
    <h1 style="text-align: left; color: #10A3E2; font-size: 28px; margin: 10px 0px;">2&#x3001;&#x6536;&#x76CA;&#x5230;&#x8D26;&#x65F6;&#x95F4;</h1>
    <table border="1" cellspacing="0" cellpadding="0" bordercolor="#ddddd" style="width: 100%;">
      <tr style="color: #10A3E2;">
        <th style="padding:5px 10px">&#x8F6C;&#x5165;&#x65F6;&#x95F4;</th>
        <th style="padding:5px 10px">&#x8BA1;&#x7B97;&#x6536;&#x76CA;</th>
        <th style="padding:5px 10px">&#x770B;&#x5230;&#x6536;&#x76CA;</th>
      </tr>
      <tr style="background: #ebf6ff; font-size: 14px;">
        <th style="padding:5px 10px; font-weight:normal;">&#x5468;&#x4E00;</th>
        <th style="padding:5px 10px; font-weight:normal;">&#x5468;&#x4E8C;</th>
        <th style="padding:5px 10px; font-weight:normal;">&#x5468;&#x4E09;</th>
      </tr>
      <tr style="font-size: 14px;">
        <th style="padding:5px 10px; font-weight:normal;">&#x5468;&#x4E8C;</th>
        <th style="padding:5px 10px; font-weight:normal;">&#x5468;&#x4E09;</th>
        <th style="padding:5px 10px; font-weight:normal;">&#x5468;&#x56DB;</th>
      </tr>
      <tr style="background: #ebf6ff; font-size: 14px;">
        <th style="padding:5px 10px; font-weight:normal;">&#x5468;&#x4E09;</th>
        <th style="padding:5px 10px; font-weight:normal;">&#x5468;&#x56DB;</th>
        <th style="padding:5px 10px; font-weight:normal;">&#x5468;&#x4E94;</th>
      </tr>
      <tr style="font-size: 14px;">
        <th style="padding:5px 10px; font-weight:normal;">&#x5468;&#x56DB;</th>
        <th style="padding:5px 10px; font-weight:normal;">&#x5468;&#x4E94;</th>
        <th style="padding:5px 10px; font-weight:normal;">&#x5468;&#x516D;</th>
      </tr>
      <tr style="background: #ebf6ff; font-size: 14px;">
        <th style="padding:5px 10px; font-weight:normal;">&#x5468;&#x4E94;</th>
        <th style="padding:5px 10px; font-weight:normal;">&#x5468;&#x516D;</th>
        <th style="padding:5px 10px; font-weight:normal;">&#x5468;&#x65E5;</th>
      </tr>
      <tr style="font-size: 14px;">
        <th style="padding:5px 10px; font-weight:normal;">&#x5468;&#x516D;</th>
        <th style="padding:5px 10px; font-weight:normal;">&#x5468;&#x65E5;</th>
        <th style="padding:5px 10px; font-weight:normal;">&#x4E0B;&#x5468;&#x4E00;</th>
      </tr>
      <tr style="background: #ebf6ff; font-size: 14px;">
        <th style="padding:5px 10px; font-weight:normal;">&#x5468;&#x65E5;</th>
        <th style="padding:5px 10px; font-weight:normal;">&#x4E0B;&#x5468;&#x4E00;</th>
        <th style="padding:5px 10px; font-weight:normal;">&#x4E0B;&#x5468;&#x4E8C;</th>
      </tr>
    </table>
    <img src="../../images/financing/current_3.png" style="width: 50%; margin-top: 20px;">
    <ul style="list-style-type: none; font-size: 14px; margin: 0;padding: 0; text-align: left;">
      <h1 style="color: #10A3E2; margin: 10px 0px;">3&#x3001;&#x8F6C;&#x51FA;</h1>
      <li>a)&#x968F;&#x65F6;&#x8F6C;&#x51FA;&#xFF0C;&#x8F6C;&#x51FA;&#x6210;&#x529F;&#x540E;&#x7ACB;&#x5373;&#x56DE;&#x6B3E;&#x5230;&#x798F;&#x5229;&#x8D26;&#x6237;</li>
      <li>b)&#x5728;&#x9996;&#x9875;&#x53F3;&#x4E0A;&#x89D2;</li>
      <li>&#x201C;&#x6211;&#x7684;&#x5609;&#x798F;&#x201D;&#x2192;&#x201C;&#x7406;&#x8D22;&#x8D44;&#x4EA7;&#x201D;&#x2192;&#x201C;&#x6D3B;&#x671F;&#x7406;&#x8D22;&#x4E2D;&#x8F6C;&#x51FA;&#x201D;</li>
    </ul>
    <img src="../../images/financing/current_4.png" style="width: 50%; margin-top: 20px;">
    <ul style="list-style-type: none; font-size: 14px; margin: 0;padding: 0; text-align: left;">
      <h1 style="color: #10A3E2; margin: 10px 0px;">4&#x3001;&#x98CE;&#x9669;&#x63D0;&#x793A;</h1>
      <li>&#x6295;&#x8D44;&#x8005;&#x8D2D;&#x4E70;&#xFF08;&#x8F6C;&#x5165;&#xFF09;&#x5609;&#x798F;&#x6D3B;&#x671F;&#x7406;&#x8D22;&#x4E0D;&#x7B49;&#x4E8E;&#x8BB2;&#x8D44;&#x91D1;&#x4F5C;&#x4E3A;&#x5B58;&#x6B3E;&#x5B58;&#x5728;&#x94F6;&#x884C;&#x6216;&#x5B58;&#x6B3E;&#x7C7B;&#x91D1;&#x878D;&#x673A;&#x6784;&#xFF0C;&#x5609;&#x798F;&#x6D3B;&#x671F;&#x5E76;&#x4E0D;&#x4FDD;&#x8BC1;&#x4E00;&#x5B9A;&#x4FDD;&#x672C;&#x6216;&#x76C8;&#x5229;&#xFF0C;&#x4E5F;&#x4E0D;&#x4FDD;&#x8BC1;&#x6700;&#x4F4E;&#x6536;&#x76CA;&#xFF0C;&#x7F51;&#x7AD9;&#x4E2D;&#x663E;&#x793A;&#x7684;&#x76F8;&#x5173;&#x6536;&#x76CA;&#x7387;&#x5747;&#x4E3A;&#x5386;&#x53F2;&#x6536;&#x76CA;&#x7684;&#x8BF4;&#x660E;</li>
    </ul>
  </div>
  <!---->
</div>
<!--结束-->
        </div>
      </div>
      <!--内容2 结束--> 
      <!--内容 3-->
      <div class="financial_details">
        <table class="financial_record">
          <tr align="center" class="record_title">
            <td>&#x6295;&#x8D44;&#x4EBA;</td>
            <td>&#x6295;&#x8D44;&#x65E5;&#x671F;</td>
            <td>&#x6295;&#x8D44;&#x91D1;&#x989D;(&#x5143;)</td>
          </tr>
          <!--复制tr可得-->
          <tr align="center">
            <td>&#x5E84;*&#x7172;</td>
            <td>2016-04-01</td>
            <td>10,000,000.00</td>
          </tr>
          <!--tr结束--> 
          <!--复制tr可得-->
          <tr align="center">
            <td>&#x5E84;*&#x7172;</td>
            <td>2016-04-01</td>
            <td>10,000,000.00</td>
          </tr>
          <!--tr结束--> 
          
          <!--复制tr可得-->
          <tr align="center">
            <td>&#x5E84;*&#x7172;</td>
            <td>2016-04-01</td>
            <td>10,000,000.00</td>
          </tr>
          <!--tr结束--> 
          
          <!--复制tr可得-->
          <tr align="center">
            <td>&#x5E84;*&#x7172;</td>
            <td>2016-04-01</td>
            <td>10,000,000.00</td>
          </tr>
          <!--tr结束--> 
          
          <!--复制tr可得-->
          <tr align="center">
            <td>&#x5E84;*&#x7172;</td>
            <td>2016-04-01</td>
            <td>10,000,000.00</td>
          </tr>
          <!--tr结束--> 
          
          <!--复制tr可得-->
          <tr align="center">
            <td>&#x5E84;*&#x7172;</td>
            <td>2016-04-01</td>
            <td>10,000,000.00</td>
          </tr>
          <!--tr结束--> 
          
          <!--复制tr可得-->
          <tr align="center">
            <td>&#x5E84;*&#x7172;</td>
            <td>2016-04-01</td>
            <td>10,000,000.00</td>
          </tr>
          <!--tr结束--> 
          <!--复制tr可得-->
          <tr align="center">
            <td>&#x5E84;*&#x7172;</td>
            <td>2016-04-01</td>
            <td>10,000,000.00</td>
          </tr>
          <!--tr结束--> 
          <!--复制tr可得-->
          <tr align="center">
            <td>&#x5E84;*&#x7172;</td>
            <td>2016-04-01</td>
            <td>10,000,000.00</td>
          </tr>
          <!--tr结束--> 
          <!--复制tr可得-->
          <tr align="center">
            <td>&#x5E84;*&#x7172;</td>
            <td>2016-04-01</td>
            <td>10,000,000.00</td>
          </tr>
          <!--tr结束-->
          
        </table>
      </div>
      <!--内容3 结束--> 
    </div>
  </div>
</div>
<!-- 固定底部-->
<div class="tabbar_current">
  <div class="weui_tab_bd"> </div>
  <div class="weui_tabbar tabbar_shadow"> <a href="financial_current_step1_go_revise.html" class="weui_actionsheet_cell color_red">&#x8F6C;&#x5165;</a> <a href="new_financial_transfer_out.html" class="weui_actionsheet_cell color_white">&#x8F6C;&#x51FA;</a></div>
</div>

</body>



<script>

//读取页面高度
$('.financial_management_current .financial_details').windowHeight({
	
	fixHeight:'356',
	});


//右上角常见问题
$(document).ready(function(e) {

	$('.Top_navigation .allMainMenuTab').jfMainMenuTabAll({
		detail: [{
			"name": "活期记录",
			"url": "../financial/financial_current_list.html",
			"imgSrc": "../../images/icon_nav_list.png"
		}, {
			"name": "常见问题",
			"url": "../financial/financial_current_help.html",
			"imgSrc": "../../images/icon_nav_helpcenter.png"
		}, ],
		num: 2,
	}); //使用该插件

});


//平滑过渡
$('.financial_management_current .financial_option>div').moveBoxHorizontal();



</script>
</html>
