<!DOCTYPE html>
<html>
<head>
  <title>WeUI-pay</title>
  <link rel="stylesheet" href="../../css/jf_financial.css">
</head>
<body>
<!-- 顶部导航 -->
<nav class="Top_navigation">
  <div class="weui_tab_bd"></div>
  <div class="container_tab"> <a onclick="jfSwitch.goBack()">
    <div class="nav_left"><img src="../../images/icon_pay_return.png"></div>
    </a>
    <div class="nav_center">
      <div>&#x5B9A;&#x671F;&#x7406;&#x8D22;&#x8D44;&#x4EA7;</div>
    </div>
    <a href="#">
    <div class="nav_right"></div>
    </a> </div>
</nav>
<!-- 顶部导航 结束-->
<div class="financial_asset_regular"> 
  <!--bg-->
  <div class="asset_bg">
    <div>
      <p>&#x6301;&#x6709;&#x603B;&#x989D;&#xFF08;&#x5143;&#xFF09;</p>
      <p>1,000,000.00</p>
    </div>
    <div>
      <p>&#x7D2F;&#x8BA1;&#x6536;&#x76CA;&#xFF08;&#x5143;&#xFF09;</p>
      <p>1,000,000.00</p>
    </div>
  </div>
  <!--选项-->
  <div class="financial_option"> 
    <!--被选中的项目添加"option_seleted"-->
    <div class="option_seleted" data-num="0">&#x8BA1;&#x5212;&#x4E2D;</div>
    <div data-num="1">&#x6301;&#x6709;&#x4E2D;</div>
    <div data-num="2">&#x9000;&#x51FA;&#x4E2D;</div>
    <div data-num="3">&#x5DF2;&#x9000;&#x51FA;</div>
  </div>
  <div class="financial_swiper">
    <div class="financial_box"> 
      <!--内容1-->
      <div class="financial_details container_shadow"> 
        <!--复制列表可得--> 
        <a class="continer" href="financial_regular_step4.html">
        <div class="weui_cell">
          <div>
            <p>&#x5458;&#x5DE5;&#x7A33;&#x6536;&#x76CA;&#x7406;&#x8D22;1&#x671F;</p>
            <p>2016-08-18  20:27:03</p>
          </div>
          <div> 
            <!--计划中:"color_org",持有中:"color_blue",退出中:"color_gray",已退出:"color_white"-->
            <p class="color_org">2,000.00</p>
            <p>&#x8BA1;&#x5212;&#x4E2D;</p>
          </div>
        </div>
        <div><img src="../../images/icon_pay_return_black.png" class="financial_return"></div>
        </a> 
        <!--列表结束--> 
        <!--复制列表可得--> 
        <a class="continer" href="financial_regular_step4.html">
        <div class="weui_cell">
          <div>
            <p>&#x5458;&#x5DE5;&#x7A33;&#x6536;&#x76CA;&#x7406;&#x8D22;1&#x671F;</p>
            <p>2016-08-18  20:27:03</p>
          </div>
          <div>
            <p class="color_org">2,000.00</p>
            <p>&#x8BA1;&#x5212;&#x4E2D;</p>
          </div>
        </div>
        <div><img src="../../images/icon_pay_return_black.png" class="financial_return"></div>
        </a> 
        <!--列表结束--> 
        <!--复制列表可得--> 
        <a class="continer" href="financial_regular_step4.html">
        <div class="weui_cell">
          <div>
            <p>&#x5458;&#x5DE5;&#x7A33;&#x6536;&#x76CA;&#x7406;&#x8D22;1&#x671F;</p>
            <p>2016-08-18  20:27:03</p>
          </div>
          <div>
            <p class="color_org">2,000.00</p>
            <p>&#x8BA1;&#x5212;&#x4E2D;</p>
          </div>
        </div>
        <div><img src="../../images/icon_pay_return_black.png" class="financial_return"></div>
        </a> 
        <!--列表结束--> 
        <!--复制列表可得--> 
        <a class="continer" href="financial_regular_step4.html">
        <div class="weui_cell">
          <div>
            <p>&#x5458;&#x5DE5;&#x7A33;&#x6536;&#x76CA;&#x7406;&#x8D22;1&#x671F;</p>
            <p>2016-08-18  20:27:03</p>
          </div>
          <div>
            <p class="color_org">2,000.00</p>
            <p>&#x8BA1;&#x5212;&#x4E2D;</p>
          </div>
        </div>
        <div><img src="../../images/icon_pay_return_black.png" class="financial_return"></div>
        </a> 
        <!--列表结束--> 
        <!--复制列表可得--> 
        <a class="continer" href="financial_regular_step4.html">
        <div class="weui_cell">
          <div>
            <p>&#x5458;&#x5DE5;&#x7A33;&#x6536;&#x76CA;&#x7406;&#x8D22;1&#x671F;</p>
            <p>2016-08-18  20:27:03</p>
          </div>
          <div>
            <p class="color_org">2,000.00</p>
            <p>&#x8BA1;&#x5212;&#x4E2D;</p>
          </div>
        </div>
        <div><img src="../../images/icon_pay_return_black.png" class="financial_return"></div>
        </a> 
        <!--列表结束--> 
        <!--复制列表可得--> 
        <a class="continer" href="financial_regular_step4.html">
        <div class="weui_cell">
          <div>
            <p>&#x5458;&#x5DE5;&#x7A33;&#x6536;&#x76CA;&#x7406;&#x8D22;1&#x671F;</p>
            <p>2016-08-18  20:27:03</p>
          </div>
          <div>
            <p class="color_org">2,000.00</p>
            <p>&#x8BA1;&#x5212;&#x4E2D;</p>
          </div>
        </div>
        <div><img src="../../images/icon_pay_return_black.png" class="financial_return"></div>
        </a> 
        <!--列表结束--> 
        <!--复制列表可得--> 
        <a class="continer" href="financial_regular_step4.html">
        <div class="weui_cell">
          <div>
            <p>&#x5458;&#x5DE5;&#x7A33;&#x6536;&#x76CA;&#x7406;&#x8D22;1&#x671F;</p>
            <p>2016-08-18  20:27:03</p>
          </div>
          <div>
            <p class="color_org">2,000.00</p>
            <p>&#x8BA1;&#x5212;&#x4E2D;</p>
          </div>
        </div>
        <div><img src="../../images/icon_pay_return_black.png" class="financial_return"></div>
        </a> 
        <!--列表结束--> 
      </div>
      <!--内容 2-->
      <div class="financial_details container_shadow"> 
        <!--复制列表可得--> 
        <a class="continer" href="financial_regular_step4.html">
        <div class="weui_cell">
          <div>
            <p>&#x5458;&#x5DE5;&#x7A33;&#x6536;&#x76CA;&#x7406;&#x8D22;1&#x671F;</p>
            <p>2016-08-18  20:27:03</p>
          </div>
          <div> 
            <!--计划中:"color_org",持有中:"color_blue",退出中:"color_gray",已退出:"color_white"-->
            <p class="color_blue">2,000.00</p>
            <p>&#x8BA1;&#x5212;&#x4E2D;</p>
          </div>
        </div>
        <div><img src="../../images/icon_pay_return_black.png" class="financial_return"></div>
        </a> 
        <!--列表结束--> 
        <!--复制列表可得--> 
        <a class="continer" href="financial_regular_step4.html">
        <div class="weui_cell">
          <div>
            <p>&#x5458;&#x5DE5;&#x7A33;&#x6536;&#x76CA;&#x7406;&#x8D22;1&#x671F;</p>
            <p>2016-08-18  20:27:03</p>
          </div>
          <div>
            <p class="color_blue">2,000.00</p>
            <p>&#x8BA1;&#x5212;&#x4E2D;</p>
          </div>
        </div>
        <div><img src="../../images/icon_pay_return_black.png" class="financial_return"></div>
        </a> 
        <!--列表结束--> 
        <!--复制列表可得--> 
        <a class="continer" href="financial_regular_step4.html">
        <div class="weui_cell">
          <div>
            <p>&#x5458;&#x5DE5;&#x7A33;&#x6536;&#x76CA;&#x7406;&#x8D22;1&#x671F;</p>
            <p>2016-08-18  20:27:03</p>
          </div>
          <div>
            <p class="color_blue">2,000.00</p>
            <p>&#x8BA1;&#x5212;&#x4E2D;</p>
          </div>
        </div>
        <div><img src="../../images/icon_pay_return_black.png" class="financial_return"></div>
        </a> 
        <!--列表结束--> 
        <!--复制列表可得--> 
        <a class="continer" href="financial_regular_step4.html">
        <div class="weui_cell">
          <div>
            <p>&#x5458;&#x5DE5;&#x7A33;&#x6536;&#x76CA;&#x7406;&#x8D22;1&#x671F;</p>
            <p>2016-08-18  20:27:03</p>
          </div>
          <div>
            <p class="color_blue">2,000.00</p>
            <p>&#x8BA1;&#x5212;&#x4E2D;</p>
          </div>
        </div>
        <div><img src="../../images/icon_pay_return_black.png" class="financial_return"></div>
        </a> 
        <!--列表结束--> 
        <!--复制列表可得--> 
        <a class="continer" href="financial_regular_step4.html">
        <div class="weui_cell">
          <div>
            <p>&#x5458;&#x5DE5;&#x7A33;&#x6536;&#x76CA;&#x7406;&#x8D22;1&#x671F;</p>
            <p>2016-08-18  20:27:03</p>
          </div>
          <div>
            <p class="color_blue">2,000.00</p>
            <p>&#x8BA1;&#x5212;&#x4E2D;</p>
          </div>
        </div>
        <div><img src="../../images/icon_pay_return_black.png" class="financial_return"></div>
        </a> 
        <!--列表结束--> 
        <!--复制列表可得--> 
        <a class="continer" href="financial_regular_step4.html">
        <div class="weui_cell">
          <div>
            <p>&#x5458;&#x5DE5;&#x7A33;&#x6536;&#x76CA;&#x7406;&#x8D22;1&#x671F;</p>
            <p>2016-08-18  20:27:03</p>
          </div>
          <div>
            <p class="color_blue">2,000.00</p>
            <p>&#x8BA1;&#x5212;&#x4E2D;</p>
          </div>
        </div>
        <div><img src="../../images/icon_pay_return_black.png" class="financial_return"></div>
        </a> 
        <!--列表结束--> 
        <!--复制列表可得--> 
        <a class="continer" href="financial_regular_step4.html">
        <div class="weui_cell">
          <div>
            <p>&#x5458;&#x5DE5;&#x7A33;&#x6536;&#x76CA;&#x7406;&#x8D22;1&#x671F;</p>
            <p>2016-08-18  20:27:03</p>
          </div>
          <div>
            <p class="color_blue">2,000.00</p>
            <p>&#x8BA1;&#x5212;&#x4E2D;</p>
          </div>
        </div>
        <div><img src="../../images/icon_pay_return_black.png" class="financial_return"></div>
        </a> 
        <!--列表结束--> 
      </div>
      <!--内容 3-->
      <div class="financial_details container_shadow"> 
        <!--复制列表可得--> 
        <a class="continer" href="financial_regular_step4.html">
        <div class="weui_cell">
          <div>
            <p>&#x5458;&#x5DE5;&#x7A33;&#x6536;&#x76CA;&#x7406;&#x8D22;1&#x671F;</p>
            <p>2016-08-18  20:27:03</p>
          </div>
          <div> 
            <!--计划中:"color_org",持有中:"color_blue",退出中:"color_gray",已退出:"color_white"-->
            <p class="color_gray">2,000.00</p>
            <p>&#x8BA1;&#x5212;&#x4E2D;</p>
          </div>
        </div>
        <div><img src="../../images/icon_pay_return_black.png" class="financial_return"></div>
        </a> 
        <!--列表结束--> 
        <!--复制列表可得--> 
        <a class="continer" href="financial_regular_step4.html">
        <div class="weui_cell">
          <div>
            <p>&#x5458;&#x5DE5;&#x7A33;&#x6536;&#x76CA;&#x7406;&#x8D22;1&#x671F;</p>
            <p>2016-08-18  20:27:03</p>
          </div>
          <div>
            <p class="color_gray">2,000.00</p>
            <p>&#x8BA1;&#x5212;&#x4E2D;</p>
          </div>
        </div>
        <div><img src="../../images/icon_pay_return_black.png" class="financial_return"></div>
        </a> 
        <!--列表结束--> 
        <!--复制列表可得--> 
        <a class="continer" href="financial_regular_step4.html">
        <div class="weui_cell">
          <div>
            <p>&#x5458;&#x5DE5;&#x7A33;&#x6536;&#x76CA;&#x7406;&#x8D22;1&#x671F;</p>
            <p>2016-08-18  20:27:03</p>
          </div>
          <div>
            <p class="color_gray">2,000.00</p>
            <p>&#x8BA1;&#x5212;&#x4E2D;</p>
          </div>
        </div>
        <div><img src="../../images/icon_pay_return_black.png" class="financial_return"></div>
        </a> 
        <!--列表结束--> 
        <!--复制列表可得--> 
        <a class="continer" href="financial_regular_step4.html">
        <div class="weui_cell">
          <div>
            <p>&#x5458;&#x5DE5;&#x7A33;&#x6536;&#x76CA;&#x7406;&#x8D22;1&#x671F;</p>
            <p>2016-08-18  20:27:03</p>
          </div>
          <div>
            <p class="color_gray">2,000.00</p>
            <p>&#x8BA1;&#x5212;&#x4E2D;</p>
          </div>
        </div>
        <div><img src="../../images/icon_pay_return_black.png" class="financial_return"></div>
        </a> 
        <!--列表结束--> 
        <!--复制列表可得--> 
        <a class="continer" href="financial_regular_step4.html">
        <div class="weui_cell">
          <div>
            <p>&#x5458;&#x5DE5;&#x7A33;&#x6536;&#x76CA;&#x7406;&#x8D22;1&#x671F;</p>
            <p>2016-08-18  20:27:03</p>
          </div>
          <div>
            <p class="color_gray">2,000.00</p>
            <p>&#x8BA1;&#x5212;&#x4E2D;</p>
          </div>
        </div>
        <div><img src="../../images/icon_pay_return_black.png" class="financial_return"></div>
        </a> 
        <!--列表结束--> 
        <!--复制列表可得--> 
        <a class="continer" href="financial_regular_step4.html">
        <div class="weui_cell">
          <div>
            <p>&#x5458;&#x5DE5;&#x7A33;&#x6536;&#x76CA;&#x7406;&#x8D22;1&#x671F;</p>
            <p>2016-08-18  20:27:03</p>
          </div>
          <div>
            <p class="color_gray">2,000.00</p>
            <p>&#x8BA1;&#x5212;&#x4E2D;</p>
          </div>
        </div>
        <div><img src="../../images/icon_pay_return_black.png" class="financial_return"></div>
        </a> 
        <!--列表结束--> 
        <!--复制列表可得--> 
        <a class="continer" href="financial_regular_step4.html">
        <div class="weui_cell">
          <div>
            <p>&#x5458;&#x5DE5;&#x7A33;&#x6536;&#x76CA;&#x7406;&#x8D22;1&#x671F;</p>
            <p>2016-08-18  20:27:03</p>
          </div>
          <div>
            <p class="color_gray">2,000.00</p>
            <p>&#x8BA1;&#x5212;&#x4E2D;</p>
          </div>
        </div>
        <div><img src="../../images/icon_pay_return_black.png" class="financial_return"></div>
        </a> 
        <!--列表结束--> 
        
      </div>
      <!--内容 4-->
      <div class="financial_details container_shadow"> 
        <!--复制列表可得--> 
        <a class="continer" href="financial_regular_step4.html">
        <div class="weui_cell">
          <div>
            <p>&#x5458;&#x5DE5;&#x7A33;&#x6536;&#x76CA;&#x7406;&#x8D22;1&#x671F;</p>
            <p>2016-08-18  20:27:03</p>
          </div>
          <div> 
            <!--计划中:"color_org",持有中:"color_blue",退出中:"color_gray",已退出:"color_white"-->
            <p class="color_white">2,000.00</p>
            <p>&#x8BA1;&#x5212;&#x4E2D;</p>
          </div>
        </div>
        <div><img src="../../images/icon_pay_return_black.png" class="financial_return"></div>
        </a> 
        <!--列表结束--> 
        <!--复制列表可得--> 
        <a class="continer" href="financial_regular_step4.html">
        <div class="weui_cell">
          <div>
            <p>&#x5458;&#x5DE5;&#x7A33;&#x6536;&#x76CA;&#x7406;&#x8D22;1&#x671F;</p>
            <p>2016-08-18  20:27:03</p>
          </div>
          <div>
            <p class="color_white">2,000.00</p>
            <p>&#x8BA1;&#x5212;&#x4E2D;</p>
          </div>
        </div>
        <div><img src="../../images/icon_pay_return_black.png" class="financial_return"></div>
        </a> 
        <!--列表结束--> 
        <!--复制列表可得--> 
        <a class="continer" href="financial_regular_step4.html">
        <div class="weui_cell">
          <div>
            <p>&#x5458;&#x5DE5;&#x7A33;&#x6536;&#x76CA;&#x7406;&#x8D22;1&#x671F;</p>
            <p>2016-08-18  20:27:03</p>
          </div>
          <div>
            <p class="color_white">2,000.00</p>
            <p>&#x8BA1;&#x5212;&#x4E2D;</p>
          </div>
        </div>
        <div><img src="../../images/icon_pay_return_black.png" class="financial_return"></div>
        </a> 
        <!--列表结束--> 
        <!--复制列表可得--> 
        <a class="continer" href="financial_regular_step4.html">
        <div class="weui_cell">
          <div>
            <p>&#x5458;&#x5DE5;&#x7A33;&#x6536;&#x76CA;&#x7406;&#x8D22;1&#x671F;</p>
            <p>2016-08-18  20:27:03</p>
          </div>
          <div>
            <p class="color_white">2,000.00</p>
            <p>&#x8BA1;&#x5212;&#x4E2D;</p>
          </div>
        </div>
        <div><img src="../../images/icon_pay_return_black.png" class="financial_return"></div>
        </a> 
        <!--列表结束--> 
        <!--复制列表可得--> 
        <a class="continer" href="financial_regular_step4.html">
        <div class="weui_cell">
          <div>
            <p>&#x5458;&#x5DE5;&#x7A33;&#x6536;&#x76CA;&#x7406;&#x8D22;1&#x671F;</p>
            <p>2016-08-18  20:27:03</p>
          </div>
          <div>
            <p class="color_white">2,000.00</p>
            <p>&#x8BA1;&#x5212;&#x4E2D;</p>
          </div>
        </div>
        <div><img src="../../images/icon_pay_return_black.png" class="financial_return"></div>
        </a> 
        <!--列表结束--> 
        <!--复制列表可得--> 
        <a class="continer" href="financial_regular_step4.html">
        <div class="weui_cell">
          <div>
            <p>&#x5458;&#x5DE5;&#x7A33;&#x6536;&#x76CA;&#x7406;&#x8D22;1&#x671F;</p>
            <p>2016-08-18  20:27:03</p>
          </div>
          <div>
            <p class="color_white">2,000.00</p>
            <p>&#x8BA1;&#x5212;&#x4E2D;</p>
          </div>
        </div>
        <div><img src="../../images/icon_pay_return_black.png" class="financial_return"></div>
        </a> 
        <!--列表结束--> 
        <!--复制列表可得--> 
        <a class="continer" href="financial_regular_step4.html">
        <div class="weui_cell">
          <div>
            <p>&#x5458;&#x5DE5;&#x7A33;&#x6536;&#x76CA;&#x7406;&#x8D22;1&#x671F;</p>
            <p>2016-08-18  20:27:03</p>
          </div>
          <div>
            <p class="color_white">2,000.00</p>
            <p>&#x8BA1;&#x5212;&#x4E2D;</p>
          </div>
        </div>
        <div><img src="../../images/icon_pay_return_black.png" class="financial_return"></div>
        </a> 
        <!--列表结束--> 
      </div>
    </div>
  </div>
</div>


</body>



<script>


//读取页面高度
$('.financial_asset_regular .financial_details').windowHeight();



//平滑过渡
$('.financial_asset_regular .financial_option>div').moveBoxHorizontal({
	
		changeEle: '.financial_asset_regular .financial_box',
	
	});

</script>
</html>
