<!DOCTYPE html>
<html>
<head>
  <title>WeUI-pay</title>
  <link rel="stylesheet" href="../../css/jf_financial.css">
</head>
<body>
<!-- 顶部导航 -->
<nav class="Top_navigation">
  <div class="weui_tab_bd"></div>
  <div class="container_tab"><a onclick="jfSwitch.goBack()">
    <div class="nav_left" style="width:50px;"><img src="../../images/icon_pay_return.png"></div>
    </a>
    <div class="nav_center">
      <div>90&#x5929;&#x7A33;&#x6536;&#x76CA;&#x5458;&#x5DE5;&#x7406;&#x8D22;26&#x671F;</div>
    </div>
    <a href="#">
    <div class="nav_right" style="width:50px;"></div>
    </a> </div>
</nav>
<!-- 顶部导航 结束-->
<div class="financial_management_regular"> 
  <!--bg-->
  <div class="regular_bg">
    <div>
      <p>&#x6295;&#x8D44;&#x671F;&#x9650;</p>
      <p class="font_big">90&#x5929;</p>
    </div>
    <div class="financial_cricle">
      <div class="cricle_3"></div>
      <div class="cricle_2"></div>
      <div class="cricle_1"></div>
      <div class="cricle_bg">
        <div>
          <p>7.50<span>%</span></p>
          <p>&#x9884;&#x671F;&#x5E74;&#x5316;&#x6536;&#x76CA;</p>
          <div class="star_1"></div>
          <div class="star_2"></div>
          <div class="star_3"></div>
          <div class="star_4"></div>
          <div class="star_5"></div>
        </div>
      </div>
    </div>
    <div>
      <p>&#x56DE;&#x6B3E;&#x65B9;&#x5F0F;</p>
      <div class="font_small">&#x672C;&#x606F;&#x56DE;&#x6B3E;</div>
    </div>
  </div>
  <!--选项-->
  <div class="financial_option"> 
    <!--被选中的项目添加"option_seleted"-->
    <div class="option_seleted" data-num="0">&#x9879;&#x76EE;&#x8BE6;&#x60C5;</div>
    <div data-num="1">&#x9879;&#x76EE;&#x4ECB;&#x7ECD;</div>
    <div data-num="2">&#x8D2D;&#x4E70;&#x8BB0;&#x5F55;</div>
  </div>
  <!--内容-->
  <div class="financial_swiper">
  <div class="financial_box">
  <div class="financial_details"> 
    <!--复制列表可得-->
    <div class="weui_cell">
      <div class="weui_cell_bd weui_cell_primary color_right">
        <p>&#x4EA7;&#x54C1;&#x603B;&#x989D;(&#x5143;)</p>
      </div>
      <div class="weui_cell_ft color_left">100000000000000000&#x5143;</div>
    </div>
    <!--列表结束--> 
    <!--复制列表可得-->
    <div class="weui_cell">
      <div class="weui_cell_hd"></div>
      <div class="weui_cell_bd weui_cell_primary color_right">
        <p>&#x8BA4;&#x8D2D;&#x5F00;&#x59CB;</p>
      </div>
      <div class="weui_cell_ft color_left">2016&#x5E74;09&#x6708;09&#x65E5;</div>
    </div>
    <!--列表结束--> 
    <!--复制列表可得-->
    <div class="weui_cell">
      <div class="weui_cell_hd"></div>
      <div class="weui_cell_bd weui_cell_primary color_right">
        <p>&#x8BA4;&#x8D2D;&#x7ED3;&#x675F;</p>
      </div>
      <div class="weui_cell_ft color_left">2016&#x5E74;09&#x6708;09&#x65E5;</div>
    </div>
    <!--列表结束--> 
    <!--复制列表可得-->
    <div class="weui_cell">
      <div class="weui_cell_hd"></div>
      <div class="weui_cell_bd weui_cell_primary color_right">
        <p>&#x8D77;&#x606F;&#x65E5;&#x671F;</p>
      </div>
      <div class="weui_cell_ft color_left">2016&#x5E74;09&#x6708;09&#x65E5;</div>
    </div>
    <!--列表结束--> 
    <!--复制列表可得-->
    <div class="weui_cell">
      <div class="weui_cell_hd"></div>
      <div class="weui_cell_bd weui_cell_primary color_right">
        <p>&#x56DE;&#x6B3E;&#x65E5;&#x671F;</p>
      </div>
      <div class="weui_cell_ft color_left">2016&#x5E74;09&#x6708;09&#x65E5;</div>
    </div>
    <!--列表结束--> 
  </div>
   <!--内容2-->
  <div class="financial_details">
    <div class="financial_introduce">
      <div class="regular_img"><img src="../../images/financial/financial_reg_1.jpg"></div>
      <div class="regular_img"><img src="../../images/financial/financial_reg_2.jpg"></div>
      <div class="regular_img"><img src="../../images/financial/financial_reg_3.jpg"></div>
      <div class="regular_img"><img src="../../images/financial/financial_reg_4.jpg"></div>
    </div>
  </div>
  <!--内容2 结束--> 
  <!--内容 3-->
  <div class="financial_details">
      <table class="financial_record">
          <tr align="center" class="record_title">
            <td>&#x6295;&#x8D44;&#x4EBA;</td>
            <td>&#x6295;&#x8D44;&#x65E5;&#x671F;</td>
            <td>&#x6295;&#x8D44;&#x91D1;&#x989D;(&#x5143;)</td>
          </tr>
          <!--复制tr可得-->
          <tr align="center">
            <td>&#x5E84;*&#x7172;</td>
            <td>2016-04-01 12:22:22</td>
            <td>10,000,000.00</td>
          </tr>
          <!--tr结束--> 
          <!--复制tr可得-->
          <tr align="center">
            <td>&#x5E84;*&#x7172;</td>
            <td>2016-04-01 12:22:22</td>
            <td>10,000,000.00</td>
          </tr>
          <!--tr结束--> 
          
          <!--复制tr可得-->
          <tr align="center">
            <td>&#x5E84;*&#x7172;</td>
            <td>2016-04-01 12:22:22</td>
            <td>10,000,000.00</td>
          </tr>
          <!--tr结束--> 
          
          <!--复制tr可得-->
          <tr align="center">
            <td>&#x5E84;*&#x7172;</td>
            <td>2016-04-01 12:22:22</td>
            <td>10,000,000.00</td>
          </tr>
          <!--tr结束--> 
          
          <!--复制tr可得-->
          <tr align="center">
            <td>&#x5E84;*&#x7172;</td>
            <td>2016-04-01 12:22:22</td>
            <td>10,000,000.00</td>
          </tr>
          <!--tr结束--> 
          
          <!--复制tr可得-->
          <tr align="center">
            <td>&#x5E84;*&#x7172;</td>
            <td>2016-04-01 12:22:22</td>
            <td>10,000,000.00</td>
          </tr>
          <!--tr结束--> 
          
          <!--复制tr可得-->
          <tr align="center">
            <td>&#x5E84;*&#x7172;</td>
            <td>2016-04-01 12:22:22</td>
            <td>10,000,000.00</td>
          </tr>
          <!--tr结束--> 
          <!--复制tr可得-->
          <tr align="center">
            <td>&#x5E84;*&#x7172;</td>
            <td>2016-04-01 12:22:22</td>
            <td>10,000,000.00</td>
          </tr>
          <!--tr结束--> 
          <!--复制tr可得-->
          <tr align="center">
            <td>&#x5E84;*&#x7172;</td>
            <td>2016-04-01 12:22:22</td>
            <td>10,000,000.00</td>
          </tr>
          <!--tr结束--> 
          <!--复制tr可得-->
          <tr align="center">
            <td>&#x5E84;*&#x7172;</td>
            <td>2016-04-01 12:22:22</td>
            <td>10,000,000.00</td>
          </tr>
          <!--tr结束-->
          
        </table>
  </div>
  <!--内容3 结束--> 
</div>
</div>
</div>
<!-- 固定底部-->
<div class="tabbar">
  <div class="weui_tab_bd"> </div>
  <div class="weui_tabbar"> <a href="#" class="weui_actionsheet_cell btn_soldout">&#x7ACB;&#x5373;&#x8D2D;&#x4E70;</a> </div>
</div>

</body>



<script>

//读取页面高度
$('.financial_management_regular .financial_details').windowHeight({
	
	fixHeight:'356',
	
	});

//水平滑动
$('.financial_management_regular .financial_option>div').moveBoxHorizontal({
	changeEle: '.financial_management_regular .financial_box',
	
	});
</script>
</html>
