

.insurance_failed_tips{
   color:#fff;
  padding:8px 0;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
  font-size: 16px;
  background: #e18a18;

}

.insurance_calcle_tips{

  color:#fff;
  padding:8px 0;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
  font-size: 16px;
  background: #ffcb17;

}


/*状态*/

.security_step{

  padding: 15px 0;

  background-color: #fff;

  @media screen and (max-width: 300px) {

    padding: 0 5px;

  }

}


.detail_button {
  color: #10a6e2;
  font-size: 14px;
  position: relative;
  display: block;
  padding-right: 10px;
  white-space: nowrap;

  &:after{
    position: absolute;
    content: '';
    width: 6px;
    height: 6px;
    right: 0;
    top: 7px;
    border-right: 1px #10a6e2 solid;
    border-top: 1px #10a6e2 solid;
    transform: rotate(45deg);
  }

}



.di_step{

  display: flex;

  justify-content: space-around;

  align-items: center;

}

.didi_step{

  display: flex;

  justify-content:space-between;

  flex-direction: column;

  align-items: center;

  text-align: center;

  width: 20%;

  position: relative;

  &:first-child:after{

    content: '';

    border:none;

    display: none;

  }

  &:after{
    content: '';
    width: 100%;
    height: 2px;
    background-color: #10a6e2;
    position: absolute;
    right: 50%;
    top: 14%;


  }

  .didi_now_step {
    position: relative;
    width: 14px;
    height: 14px;
    background-color: #10a6e2;
    border: 1px solid #10a6e2;
    border-radius: 50%;
    margin-bottom: 10px;
    z-index: 6;
    &:before {
      content: '';
      width: .3rem;
      height: .2rem;
      position: absolute;
      top: 62%;
      left: 60%;
      margin-left: -0.25rem;
      margin-top: -0.25rem;
      background: 0 0;
      border: 1px solid #fff;
      border-top: 0;
      border-right: 0;
      z-index: 2;
      border-radius: 0;
      transform: rotate(-45deg);
    }

  }

  span{

    font-size: 12px;

  }
  
  

}



.security_img_box{

  display: flex;

  justify-content: center;

  line-height: 18px;

  white-space: nowrap;

  padding-right: 15px;

  .security_img {

    width: 18px;

    height: 18px;

    margin-right: 5px;

  }

}

.right_arrow{

  padding-bottom: 18px;

  position: relative;

  &:after{
    position: absolute;
    content: '';
    width: 6px;
    height: 6px;
    right: 0;
    top: 7px;
    border-right: 1px #808080 solid;
    border-top: 1px #808080 solid;
    transform: rotate(45deg);
  }

}



.now_didi_step+.didi_step+.didi_step+.didi_step+.didi_step,

.now_didi_step+.didi_step+.didi_step+.didi_step,

.now_didi_step+.didi_step+.didi_step,

.now_didi_step+.didi_step{

  position: relative;

  .didi_now_step {
    position: relative;
    width: 14px;
    height: 14px;
    background-color: #ddd;
    border: 1px solid #ddd;
    border-radius: 50%;
    margin-bottom: 10px;
    &:before {
      content: '';
      width: .3rem;
      height: .2rem;
      position: absolute;
      top: 62%;
      left: 60%;
      margin-left: -0.25rem;
      margin-top: -0.25rem;
      background: 0 0;
      border: 1px solid #ddd;
      border-top: 0;
      border-right: 0;
      z-index: 2;
      border-radius: 0;
      transform: rotate(-45deg);
    }

  }

  &:first-child:after{

    content: '';

    border:none;

    display: none;

  }

  &:after{
    content: '';
    width: 100%;
    height: 2px;
    background-color: #ddd;
    position: absolute;
    right: 50%;
    top: 14%;

  }

}

/**/

.security_plate{

  margin-top: 10px;

}

.policy_holder{

  width: 100%;

  margin: 10px 0;

  background-color: #fff;

  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);

  .tittle_in{

    display: flex;

    justify-content: space-between;

    align-items: center;

    padding: 10px 15px;

    border-bottom: 1px solid #dddddd;

    .add_people{
      display: block;
      position: relative;
      padding-left: 20px;
      border: none;

      &:after{
        content: '+';

        color: #ff8a17;
        border: 1px #ff8a17 solid;
        margin-right: 0;
        width: 20px;
        height: 20px;
        line-height: 20px;

        display: inline-block;
        text-align: center;
        border-radius: 50%;
      }

    }

    button {
      outline: none;
    }

    p{

      font-size: 16px;

      color: #4a4a4a;

    }

    .tittle_right{
      padding: 2px 10px;

      color: #10a6e2;
      border: 1px solid #10a6e2;
      border-radius: 4px;

      font-size: 16px;
      background: none;

      &:active {
        opacity: 0.5;
      }

    }

  }

  .guarantee_part{

    display: flex;

    justify-content: flex-start;

    align-items: center;

    padding-bottom: 5px;
    margin-bottom: 5px;
    position: relative;
    &:after {
      position: absolute;
      content: '';
      width: 100%;
      height: 1px;
      left:0;
      bottom: 0;
      border-bottom: 1px #dddddd solid;
      transform: scaley(.3);
    }
    &:last-child:after{
      content: none;
    }

    .delete_btn{
      width: 10%;
      display: block;

      &:active{
        opacity: 0.5;
      }

      &:after{
        content: '—';
        width: 18px;
        height: 18px;
        font-size: 12px;
        text-align: center;
        line-height: 16px;
        border-radius: 50%;
        border: 1px #8a8a8a solid;
        background: none;
        display: block;
        margin-right: 15px;
      }

    }

    .detail{

      width: 100%;

      display: flex;

      justify-content: space-between;

      flex-direction: column;

      align-items: flex-start;

      .up{

        width: 100%;

        position: relative;

        p {
          color: #8a8a8a;

          &:first-child {
            color: #4A4A4A;
          }

        }
        /**
        padding-bottom: 2.5px;
        margin-bottom: 2.5px;
        &:after {
          position: absolute;
          content: '';
          width: 90%;
          height: 1px;
          left: 5%;
          bottom: 0;
          border-bottom: 1px #dddddd solid;
          transform: scaley(.3);
        }
        **/
      }



      .down{

        display: flex;

        justify-content: space-between;

        align-items: center;

        input[type=date] {

          appearance: none;

          background: none;

          border: none;

          font-size: 14px;

          color: #4A4A4A;

          position: relative;

          &:after {
            position: absolute;
            content: '▼';
            font-size: 12px;
            opacity: 0.8;
            right: 0;
            top: 2px;

          }

        }

      }

    }

    /**右侧提示**/

    /**待审核**/
    .examine_text{
      width: 20%;
      display: block;
    }/**提示颜色**/
    .orange{
      color: #ff8a17;
    }
    .blue{
      color: #10a6e2;
    }
    /**已拒成员**/
    .refused_text{
      width: 45%;
      display: block;
    }

  }

  .bb_inf{

    .delete_btn{
      width: 10%;
      display: block;

      &:active{
        opacity: 0.5;
      }

      &:after{
        content: '—';
        width: 18px;
        height: 18px;
        font-size: 12px;
        text-align: center;
        line-height: 16px;
        border-radius: 50%;
        border: 1px #8a8a8a solid;
        background: none;
        display: block;
        margin-right: 15px;
      }


    }

    p{

      white-space:nowrap;

    }

    padding: 8px 15px;

    display: flex;

    //justify-content: space-between;

    align-items: center;

    .delete_person_information {

      display: inline-block;

      transition: all 0.3s linear;

      a{

        display: block;
        width: 100%;

        p {
          color: #8a8a8a;

          &:first-child {
            color: #4A4A4A;
          }

        }

      }

      input[type=date] {

        appearance: none;

        background: none;

        border: none;

        font-size: 14px;

        color: #4A4A4A;

        position: relative;

        &:after {
          position: absolute;
          content: '▼';
          font-size: 12px;
          opacity: 0.8;
          right: 0;
          top: 2px;

        }

      }

    }

    .more_delete{

      width: 70%;

    }

  }

  .fail_gary{
    .detail{
      .up{
        p:first-child,p{
          color: #C0C0C0;
        }
      }
      .down{
        span{
          color: #C0C0C0;
        }
      }
    }
  }

  .inf{

    display: flex;

    justify-content: space-between;

    padding: 8px 15px;

    input {
      outline: none;
    }

    p:first-child{

      color: #808080;

    }

    .edit_insured_input {
      width: 80%;
      color: #4A4A4A;
      font-size: 14px;
      text-align: right;
      border: none;
      background: none;
    }

  }

}

.right_short_btn {

  .guarantee_plan_plate {
    text-align: right;

    .product_bottom_line {

      .bottom_button_block {
        width: 30%;
      }

    }

  }

}







