<div class="explain_all">

    <p class="explain_tittle">门急诊</p>

    <p>I.收据原件（需为机打发票）及费用明细清单（含药品明细及价目清单），若多方报销时需提供相应单据复印件及分割单原件；</p>

    <p>II.就诊病历（需要有病情诊断以及主诉）；</p>

    <p>BI.如开药需提供处方（需要有病情诊断）；</p>

    <p>IV.	有检查或化验， 应提交相关检查或化验报告单；</p>

    <p>V.由于意外情况就诊的，需要提供有本人签字的意外事故说明和身份证复印件；</p>

    <p>VI.单次申请金额超过 10000 万元的，需要提供身份证复印件。 </p>

    <p>注:收据、处方、明细结果报告单等单据要按日期逐一对应。</p>

    <p class="explain_tittle">理赔单据示例</p>

    <img src="../../images/claims/clamis_explain_01.jpg" >

    <p class="img_tit">门诊收据</p>

    <img src="../../images/claims/clamis_explain_02.jpg" >

    <p class="img_tit">病例</p>


</div>