
<div class="market_mian">


    <div class="cash_list">

        <div>可提现余额</div>

        <div>2000</div>
    </div>


    <div class="market_buy_btn">
        <a class="buy_check_btn" id="buy_check_btn" href="cash_main.html">立即提现</a>

        <div class="customer_service" onclick="jfCustomerService.click()"><img src="../../images/icon_dialogue.png">联系客服</div>

    </div>



</div>





<script>


    //咨询客服
    jfCustomerService.init({//用户信息
        name: '阿陈',// 名字
        address: '西伯利亚',// 地址
        email: '1313@qq.com',// 邮箱
        age: '16',// 年龄
        tel: '110',// 电话
        comment: '很帅',// 备注
        gender: '男',// 性别
        qq: '1234567',// QQ
        weibo: '',// 微博
        weixin: '',// 微信
        '公司名称':'上海淘略数据有限公司',
        '公司编号':'123ksuhdaf891274',
        '员工编号':'1234567890123456'
    })



</script>

