<!DOCTYPE html>
<html lang="en">
<head>

    <title>理赔单据说明</title>
    <link rel="stylesheet" href="../../css/jf_claims.css">

</head>
<body>


<!--导航-->
<%- include('../../component/basic/topNav.ejs',{
"thisrighthref":"jfSwitch.goBack()",
"navtitle":"理赔单据说明",
"thislefthref":"#",
"thisimgsrc":" "
})%>

<!--订单详情-->
<%- include('../../component/claims/claims_explain.ejs')%>


</body>
</html>