<!DOCTYPE html>
<html lang="en">
<head>

    <title>保障详情</title>
    <link rel="stylesheet" href="../../css/jf_claims.css">

</head>
<body>


<!--导航-->
<%- include('../../component/basic/topNav.ejs',{
"thisrighthref":"jfSwitch.goBack()",
"navtitle":"保障详情",
"thislefthref":"#",
"thisimgsrc":" "
})%>

<!--订单详情-->
<%- include('../../component/claims/security_details/security_details.ejs')%>


</body>
</html>