<div class="seckill_part_all">
    <div class="top_title">
        <div class="left">
            <img src="../../images/homepage_jd_show/choose_img_3.png">
            <span>人气商品</span>
        </div>
        <div class="center">
            <div class="center_n">周一<span>大牌闪购</span></div>
            <!--<span class="center_name">周一&lt;!&ndash;日期&ndash;&gt;<span>大牌闪购</span></span>-->
            <span class="center_text">-限时嗨购-</span>
        </div>
        <div class="right">
            <img src="../../images/homepage_jd_show/choose_img_4.png">
            <span>人气商品</span>
        </div>
    </div>
    <!--展示列表-->
    <div class="top_list">

        <a href="#" class="list_box">
            <img class="show_img" src="../../images/homepage_jd_show/choose_img_1.png">
            <div class="logo_box">
                <img src="../../images/homepage_jd_show/JBD_logo.png">
            </div>
            <span>拉夏贝尔</span>
        </a>

        <a href="#" class="list_box">
            <img class="show_img" src="../../images/homepage_jd_show/choose_img_2.png">
            <div class="logo_box">
                <img src="../../images/homepage_jd_show/JBD_logo.png">
            </div>
            <span>维达</span>
        </a>

        <a href="#" class="list_box">
            <img class="show_img" src="../../images/homepage_jd_show/choose_img_3.png">
            <div class="logo_box">
                <img src="../../images/homepage_jd_show/JBD_logo.png">
            </div>
            <span>优衣库</span>
        </a>

        <a href="#" class="list_box">
            <img class="show_img" src="../../images/homepage_jd_show/choose_img_4.png">
            <div class="logo_box">
                <img src="../../images/homepage_jd_show/JBD_logo.png">
            </div>
            <span>德克士</span>
        </a>

        <a href="#" class="list_box">
            <img class="show_img" src="../../images/homepage_jd_show/choose_img_2.png">
            <div class="logo_box">
                <img src="../../images/homepage_jd_show/JBD_logo.png">
            </div>
            <span>维达</span>
        </a>

        <a href="#" class="list_box">
            <img class="show_img" src="../../images/homepage_jd_show/choose_img_3.png">
            <div class="logo_box">
                <img src="../../images/homepage_jd_show/JBD_logo.png">
            </div>
            <span>优衣库</span>
        </a>

    </div>
</div>