<!---最大牌--->

<div class="time_board">
    <img class="board_img" src="../../images/homepage_jd_show/time_board_s.png">
    <p class="time_line">距离活动结束仅剩

        <span class="time_hr"> </span>时

        <span class="time_min"> </span>分

        <span class="time_sec"> </span>秒</p>

</div>

<div class="shop_board">

    <div class="shop_top">

        <div class="left">

            <div class="shop_img">

                <img src="../../images/huawei_icon.png" class="shop_icon">

            </div>

            <span class="shop_name">京东华为官方旗舰店</span>

        </div>

        <a href="find_more.html" class="shop_in">查看更多</a>
    </div>

    <div class="shop_list">
        <div class="time_shop">
            <div class="shop_img">
                <img src="../../images/product1.jpg">
            </div>
            <div class="shop_sku">
                Orion 好丽友 双莓派12枚 276g/盒
            </div>
            <div class="shop_pay">
                <span class="new_pay">￥64</span>
                <span class="old_pay">￥76</span>
            </div>
        </div>
        <div class="time_shop">
            <div class="shop_img">
                <img src="../../images/product1.jpg">
            </div>
            <div class="shop_sku">
                Orion 好丽友 双莓派12枚 276g/盒
            </div>
            <div class="shop_pay">
                <span class="new_pay">￥64</span>
                <span class="old_pay">￥76</span>
            </div>
        </div>
        <div class="time_shop">
            <div class="shop_img">
                <img src="../../images/product1.jpg">
            </div>
            <div class="shop_sku">
                Orion 好丽友 双莓派12枚 276g/盒
            </div>
            <div class="shop_pay">
                <span class="new_pay">￥64</span>
                <span class="old_pay">￥76</span>
            </div>
        </div>
        <div class="time_shop">
            <div class="shop_img">
                <img src="../../images/product1.jpg">
            </div>
            <div class="shop_sku">
                Orion 好丽友 双莓派12枚 276g/盒
            </div>
            <div class="shop_pay">
                <span class="new_pay">￥64</span>
                <span class="old_pay">￥76</span>
            </div>
        </div>
        <div class="time_shop">
            <div class="shop_img">
                <img src="../../images/product1.jpg">
            </div>
            <div class="shop_sku">
                Orion 好丽友 双莓派12枚 276g/盒
            </div>
            <div class="shop_pay">
                <span class="new_pay">￥64</span>
                <span class="old_pay">￥76</span>
            </div>
        </div>
    </div>

</div>

<div class="shop_board">

    <div class="shop_top">

        <div class="left">

            <div class="shop_img">

                <img src="../../images/shopping_cards_xiaomi.jpg" class="shop_icon">

            </div>

            <span class="shop_name">小米自营官方旗舰</span>

        </div>

        <a href="find_more.html" class="shop_in">查看更多</a>
    </div>

    <div class="shop_list">
        <div class="time_shop">
            <div class="shop_img">
                <img src="../../images/product1.jpg">
            </div>
            <div class="shop_sku">
                Orion 好丽友 双莓派12枚 276g/盒
            </div>
            <div class="shop_pay">
                <span class="new_pay">￥64</span>
                <span class="old_pay">￥76</span>
            </div>
        </div>
        <div class="time_shop">
            <div class="shop_img">
                <img src="../../images/product1.jpg">
            </div>
            <div class="shop_sku">
                Orion 好丽友 双莓派12枚 276g/盒
            </div>
            <div class="shop_pay">
                <span class="new_pay">￥64</span>
                <span class="old_pay">￥76</span>
            </div>
        </div>
        <div class="time_shop">
            <div class="shop_img">
                <img src="../../images/product1.jpg">
            </div>
            <div class="shop_sku">
                Orion 好丽友 双莓派12枚 276g/盒
            </div>
            <div class="shop_pay">
                <span class="new_pay">￥64</span>
                <span class="old_pay">￥76</span>
            </div>
        </div>
        <div class="time_shop">
            <div class="shop_img">
                <img src="../../images/product1.jpg">
            </div>
            <div class="shop_sku">
                Orion 好丽友 双莓派12枚 276g/盒
            </div>
            <div class="shop_pay">
                <span class="new_pay">￥64</span>
                <span class="old_pay">￥76</span>
            </div>
        </div>
        <div class="time_shop">
            <div class="shop_img">
                <img src="../../images/product1.jpg">
            </div>
            <div class="shop_sku">
                Orion 好丽友 双莓派12枚 276g/盒
            </div>
            <div class="shop_pay">
                <span class="new_pay">￥64</span>
                <span class="old_pay">￥76</span>
            </div>
        </div>
    </div>

</div>

<div class="shop_board">

    <div class="shop_top">

        <div class="left">

            <div class="shop_img">

                <img src="../../images/huawei_icon.png" class="shop_icon">

            </div>

            <span class="shop_name">京东华为官方旗舰店</span>

        </div>

        <a href="find_more.html" class="shop_in">查看更多</a>
    </div>

    <div class="shop_list">
        <div class="time_shop">
            <div class="shop_img">
                <img src="../../images/product1.jpg">
            </div>
            <div class="shop_sku">
                Orion 好丽友 双莓派12枚 276g/盒
            </div>
            <div class="shop_pay">
                <span class="new_pay">￥64</span>
                <span class="old_pay">￥76</span>
            </div>
        </div>
        <div class="time_shop">
            <div class="shop_img">
                <img src="../../images/product1.jpg">
            </div>
            <div class="shop_sku">
                Orion 好丽友 双莓派12枚 276g/盒
            </div>
            <div class="shop_pay">
                <span class="new_pay">￥64</span>
                <span class="old_pay">￥76</span>
            </div>
        </div>
        <div class="time_shop">
            <div class="shop_img">
                <img src="../../images/product1.jpg">
            </div>
            <div class="shop_sku">
                Orion 好丽友 双莓派12枚 276g/盒
            </div>
            <div class="shop_pay">
                <span class="new_pay">￥64</span>
                <span class="old_pay">￥76</span>
            </div>
        </div>
        <div class="time_shop">
            <div class="shop_img">
                <img src="../../images/product1.jpg">
            </div>
            <div class="shop_sku">
                Orion 好丽友 双莓派12枚 276g/盒
            </div>
            <div class="shop_pay">
                <span class="new_pay">￥64</span>
                <span class="old_pay">￥76</span>
            </div>
        </div>
        <div class="time_shop">
            <div class="shop_img">
                <img src="../../images/product1.jpg">
            </div>
            <div class="shop_sku">
                Orion 好丽友 双莓派12枚 276g/盒
            </div>
            <div class="shop_pay">
                <span class="new_pay">￥64</span>
                <span class="old_pay">￥76</span>
            </div>
        </div>
    </div>

</div>

<div class="shop_board">

    <div class="shop_top">

        <div class="left">

            <div class="shop_img">

                <img src="../../images/huawei_icon.png" class="shop_icon">

            </div>

            <span class="shop_name">京东华为官方旗舰店</span>

        </div>

        <a href="find_more.html" class="shop_in">查看更多</a>
    </div>

    <div class="shop_list">
        <div class="time_shop">
            <div class="shop_img">
                <img src="../../images/product1.jpg">
            </div>
            <div class="shop_sku">
                Orion 好丽友 双莓派12枚 276g/盒
            </div>
            <div class="shop_pay">
                <span class="new_pay">￥64</span>
                <span class="old_pay">￥76</span>
            </div>
        </div>
        <div class="time_shop">
            <div class="shop_img">
                <img src="../../images/product1.jpg">
            </div>
            <div class="shop_sku">
                Orion 好丽友 双莓派12枚 276g/盒
            </div>
            <div class="shop_pay">
                <span class="new_pay">￥64</span>
                <span class="old_pay">￥76</span>
            </div>
        </div>
        <div class="time_shop">
            <div class="shop_img">
                <img src="../../images/product1.jpg">
            </div>
            <div class="shop_sku">
                Orion 好丽友 双莓派12枚 276g/盒
            </div>
            <div class="shop_pay">
                <span class="new_pay">￥64</span>
                <span class="old_pay">￥76</span>
            </div>
        </div>
        <div class="time_shop">
            <div class="shop_img">
                <img src="../../images/product1.jpg">
            </div>
            <div class="shop_sku">
                Orion 好丽友 双莓派12枚 276g/盒
            </div>
            <div class="shop_pay">
                <span class="new_pay">￥64</span>
                <span class="old_pay">￥76</span>
            </div>
        </div>
        <div class="time_shop">
            <div class="shop_img">
                <img src="../../images/product1.jpg">
            </div>
            <div class="shop_sku">
                Orion 好丽友 双莓派12枚 276g/盒
            </div>
            <div class="shop_pay">
                <span class="new_pay">￥64</span>
                <span class="old_pay">￥76</span>
            </div>
        </div>
    </div>

</div>

<script>

    window.onload  = function () {
        var datetime = new Date();
        var datetime_hours = datetime.getHours();
        var datetime_minutes = datetime.getMinutes();
        var datetime_seconds = datetime.getSeconds();
        var show_hours;
        var show_minutes;
        var show_seconds;
        show_hours = 23 - datetime_hours;
        show_minutes = 59 - datetime_minutes;
        show_seconds = 60 - datetime_seconds;
        if(!datetime_minutes && !datetime_seconds){
            show_hours++;
            show_seconds--;
        }
        else if(!datetime_seconds){
            show_minutes++;
            show_seconds--;
        }
        if(show_hours<10){
            show_hours = '0' + show_hours;
        }
        if(show_minutes<10){
            show_minutes = '0' + show_minutes;
        }
        if(show_seconds<10){
            show_seconds = '0' + show_seconds;
        }
        document.getElementsByClassName('time_hr')[0].innerText = show_hours;
        document.getElementsByClassName('time_min')[0].innerText = show_minutes;
        document.getElementsByClassName('time_sec')[0].innerText = show_seconds;
    }
    setInterval(function(){
        var datetime = new Date();
        var datetime_hours = datetime.getHours();
        var datetime_minutes = datetime.getMinutes();
        var datetime_seconds = datetime.getSeconds();
        var show_hours;
        var show_minutes;
        var show_seconds;
        show_hours = 23 - datetime_hours;
        show_minutes = 59 - datetime_minutes;
        show_seconds = 60 - datetime_seconds;
        if(!datetime_minutes && !datetime_seconds){
            show_hours++;
            show_seconds = 0;
        }
        else if(!datetime_seconds){
            show_minutes++;
            show_seconds = 0;
        }
        if(show_hours<10){
            show_hours = '0' + show_hours;
        }
        if(show_minutes<10){
            show_minutes = '0' + show_minutes;
        }
        if(show_seconds<10){
            show_seconds = '0' + show_seconds;
        }
        document.getElementsByClassName('time_hr')[0].innerText = show_hours;
        document.getElementsByClassName('time_min')[0].innerText = show_minutes;
        document.getElementsByClassName('time_sec')[0].innerText = show_seconds;
    },1000);
</script>