<!---最大牌--->

<div class="time_board">
    <img class="board_img" src="../../images/homepage_jd_show/time_board_s.png">
    <p class="time_line">距离活动结束仅剩

        <span class="time_hr">99</span>时

        <span class="time_min">99</span>分

        <span class="time_sec">99</span>秒</p>

</div>

<div class="shop_board">

    <div class="shop_top">

        <div class="left">

            <div class="shop_img">

                <img src="#" class="shop_icon">

            </div>

            <span class="shop_name">京东华为官方旗舰店</span>

        </div>

        <span class="shop_in">查看更多</span>
    </div>

    <div class="shop_list">
        <div class="time_shop">

        </div>
    </div>

</div>