<!--卡券频道页-->
<!DOCTYPE html>
<html>
<head>
    <title>购物卡券</title>
    <link rel="stylesheet"  href="../../css/jf_cards.css">
</head>

<body>

<!--顶部固定导航-->

<!--导航-->
<%- include('../../component/basic/topNav.ejs',{
"thisrighthref":"jfSwitch.goBack()",
"navtitle":"购物卡券 ",
"thislefthref":"#",
"thisimgsrc":" "
})%>

<!--卡券频道页-->
<div class="card_coupons_market">

    <!--模块1-电商平台-->
    <div class="market_channel_page">
        <div class="market_channel_page_title orange">
            <div class="channel_page_title_icon">
                <img src="../../images/shopping_cards_icon_one.png"/>
                <span>电商平台</span>
            </div>
        </div>
        <div class="market_channel_page_kind">

            <a class="channel_page_kind" href="cards_details_page.html">

                <img src="../../images/cards/fruit.jpg"/>

                <div class="page_kind_text">易果生鲜</div>
            </a>

            <a class="channel_page_kind" href="cards_details_page.html">

                <img src="../../images/cards/shopping_cards_xiaomi.jpg"/>

                <div class="page_kind_text">小米礼品卡</div>
            </a>

            <a class="channel_page_kind" href="cards_details_page.html">

                <img src="../../images/cards/suning.jpg"/>

                <div class="page_kind_text">苏宁礼品卡苏宁礼品卡</div>
            </a>

            <a class="channel_page_kind" href="cards_details_page.html">

                <img src="../../images/cards/vipshop.jpg"/>

                <div class="page_kind_text">唯品会</div>
            </a>

            <a class="channel_page_kind" href="cards_details_page.html">

                <img src="../../images/cards/amazon.jpg"/>

                <div class="page_kind_text">亚马逊</div>
            </a>

            <a class="channel_page_kind" href="cards_details_page.html">

                <img src="../../images/cards/jd.jpg"/>

                <div class="page_kind_text">京东E卡京东E卡京东E卡</div>
            </a>

        </div>
    </div>

    <!--模块2-电子加油卡-->
    <div class="market_channel_page">
        <div class="market_channel_page_title dark_purple">
            <div class="channel_page_title_icon">
                <img src="../../images/shopping_cards_icon_two.png"/>
                <span>电子加油卡、交通出行</span>
            </div>
        </div>

        <div class="market_channel_page_kind">


            <a class="channel_page_kind" href="cards_details_page.html">

                <img src="../../images/cards/ctrip1.jpg"/>

                <div class="page_kind_text">携程任我游电子卡</div>
            </a>

            <a class="channel_page_kind" href="cards_details_page.html">

                <img src="../../images/cards/ctrip.jpg"/>

                <div class="page_kind_text">携程任我行电子卡</div>
            </a>

            <a class="channel_page_kind" href="cards_details_page.html">

                <img src="../../images/cards/oril.jpg"/>

                <div class="page_kind_text">中石化加油卡</div>
            </a>

        </div>



    </div>

    <!--模块3-品牌连锁-->
    <div class="market_channel_page">
        <div class="market_channel_page_title green">
            <div class="channel_page_title_icon">
                <img src="../../images/shopping_cards_icon_three.png"/>
                <span>品牌连锁（食品、水果、超市）</span>
            </div>
        </div>
        <div class="market_channel_page_kind">

            <a class="channel_page_kind" href="cards_details_page.html">

                <img src="../../images/cards/store.jpg"/>

                <div class="page_kind_text">全家/罗森/蒂亚天天电子代金券</div>
            </a>
            <a class="channel_page_kind" href="cards_details_page.html">

                <img src="../../images/cards/starbuck.jpg"/>

                <div class="page_kind_text">星巴代金券</div>
            </a>
            <a class="channel_page_kind" href="cards_details_page.html">

                <img src="../../images/cards/wedome.jpg"/>

                <div class="page_kind_text">味多美</div>
            </a>

        </div>
    </div>

    <!--模块4-游戏视频-->
    <div class="market_channel_page">
        <div class="market_channel_page_title lilac">
            <div class="channel_page_title_icon">
                <img src="../../images/shopping_cards_icon_four.png"/>
                <span>游戏、视频</span>
            </div>
        </div>
        <div class="market_channel_page_kind">
            <a class="channel_page_kind" href="cards_details_page.html">

                <img src="../../images/cards/games.jpg"/>

                <div class="page_kind_text">战网一卡通</div>
            </a>

            <a class="channel_page_kind" href="cards_details_page.html">

                <img src="../../images/cards/aqiyi.jpg"/>

                <div class="page_kind_text">爱奇艺</div>
            </a>

            <a class="channel_page_kind" href="cards_details_page.html">

                <img src="../../images/cards/perfect.jpg"/>

                <div class="page_kind_text">完美一卡通</div>
            </a>
            <a class="channel_page_kind" href="cards_details_page.html">

                <img src="../../images/cards/gewara.jpg"/>

                <div class="page_kind_text">格瓦拉</div>
            </a>

            <a class="channel_page_kind" href="cards_details_page.html">

                <img src="../../images/cards/leshi.jpg"/>

                <div class="page_kind_text">乐视</div>
            </a>

            <a class="channel_page_kind" href="cards_details_page.html">

                <img src="../../images/cards/xunlei.jpg"/>

                <div class="page_kind_text">迅雷会员卡</div>
            </a>

            <a class="channel_page_kind" href="cards_details_page.html">

                <img src="../../images/cards/youku.jpg"/>

                <div class="page_kind_text">优酷会员卡</div>
            </a>
            <a class="channel_page_kind" href="cards_details_page.html">

                <img src="../../images/cards/sohu.jpg"/>

                <div class="page_kind_text">搜狐会员卡</div>
            </a>
            <a class="channel_page_kind" href="cards_details_page.html">

                <img src="../../images/cards/game10.jpg"/>

                <div class="page_kind_text">骏网一卡通</div>
            </a>
            <a class="channel_page_kind" href="cards_details_page.html">

                <img src="../../images/cards/game20.jpg"/>

                <div class="page_kind_text">骏网一卡通</div>
            </a>
            <a class="channel_page_kind" href="cards_details_page.html">

                <img src="../../images/cards/game30.jpg"/>

                <div class="page_kind_text">骏网一卡通</div>
            </a>
            <a class="channel_page_kind" href="cards_details_page.html">

                <img src="../../images/cards/wangyi.jpg"/>

                <div class="page_kind_text">网易一卡通</div>
            </a>



        </div>
    </div>

    <!--模块5-健康与体检-->
    <div class="market_channel_page">
        <div class="market_channel_page_title blue">
            <div class="channel_page_title_icon">
                <img src="../../images/shopping_cards_icon_five.png"/>
                <span>健康与体检</span>
            </div>
        </div>
        <div class="market_channel_page_kind">
            <a class="channel_page_kind" href="cards_details_page.html">

                <img src="../../images/cards/tooth_adit.jpg"/>

                <div class="page_kind_text">成人牙齿兑换券</div>
            </a>
            <a class="channel_page_kind" href="cards_details_page.html">

                <img src="../../images/cards/tooth_child1.jpg"/>

                <div class="page_kind_text">儿童牙齿兑换券</div>
            </a>
           <!-- <a class="channel_page_kind" href="cards_details_page.html">

                <img src="../../images/cards/tooth_child2.jpg"/>

                <div class="page_kind_text">儿童牙齿兑换券</div>
            </a>-->
            <a class="channel_page_kind" href="cards_details_page.html">

                <img src="../../images/cards/tooth_child3.jpg"/>

                <div class="page_kind_text">儿童牙齿兑换券</div>
            </a>
            <a class="channel_page_kind" href="cards_details_page.html">

                <img src="../../images/cards/tooth_child4.jpg"/>

                <div class="page_kind_text">儿童牙齿兑换券</div>
            </a>
            <a class="channel_page_kind" href="cards_details_page.html">

                <img src="../../images/cards/tooth_child5.jpg"/>

                <div class="page_kind_text">儿童牙齿兑换券</div>
            </a>


        </div>
    </div>

    <!--模块6-其他-->
    <div class="market_channel_page">
        <div class="market_channel_page_title pink">
            <div class="channel_page_title_icon">
                <img src="../../images/shopping_cards_icon_six.png"/>
                <span>其他</span>
            </div>
        </div>
        <div class="market_channel_page_kind">
            <a class="channel_page_kind" href="cards_details_page.html">

                <img src="../../images/shopping_cards_xiaomi.jpg"/>

                <div class="page_kind_text">小米礼品卡</div>
            </a>

        </div>
    </div>

</div>


<!-- 固定下 -->
<div class="tabbar">
    <div class="">
        <div class="weui_tab_bd"></div>
        <div class="weui_tabbar">
            <!--<span class="weui_tabbar_position">22</span>
            -->
            <a onclick="location=&apos;../../main.html&apos;" class="weui_tabbar_item">
                <div class="weui_tabbar_icon">
                    <img src="../../icon/icon_homepage_home_black.png" alt="">
                    <img src="../../icon/icon_homepage_home_blue.png" alt=""></div>
                <p class="weui_tabbar_label">&#x8D2D;&#x7269;</p>
            </a>
            <a href="../service/jf_service.html" class="weui_tabbar_item">
                <div class="weui_tabbar_icon">
                    <img src="../../icon/icon_homepage_service_black.png" alt="">
                    <img src="../../icon/icon_homepage_service_blue.png" alt="">
                </div>
                <p class="weui_tabbar_label">&#x670D;&#x52A1;</p>
            </a>
            <a class="weui_tabbar_item on">
                <div class="weui_tabbar_icon" id="endFlyCar">
                    <img src="../../icon/icon_homepage_card_black.png" alt="">
                    <img src="../../icon/icon_homepage_card_blue.png" alt="">
                </div>
                <p class="weui_tabbar_label">&#x5361;&#x5238;</p>
            </a>
            <a href="../mine/mine.html" class="weui_tabbar_item">
                <div class="weui_tabbar_icon">
                    <img src="../../icon/icon_homepage_person_black.png" alt="">
                    <img src="../../icon/icon_homepage_person_blue.png" alt="">
                </div>
                <p class="weui_tabbar_label">&#x6211;&#x7684;</p>
            </a>
        </div>
    </div>
</div>

</body>


<script src="../../js/jf_welfare_market.js"></script>


</html>