<!DOCTYPE html>
<html lang="en">
<head>

    <title>选择银行卡</title>
    <link rel="stylesheet" href="../../css/jf_credit_card.css">

</head>
<body>

<!--订单详情-->
<%- include('../../component/credit_card/credit_choose_bank.ejs')%>

</body>
</html>