<!--充值-订单详情-->
<a class="jd_notice" href="#">
    <div class="recharge_balance"><img src="../../images/zfb/icon_warning.png"><span>完整的订单信息请点击查看详情至生活缴费中查看</span></div>
</a>

<div class="market_body_main">

    <!--订单信息-->
    <div class="travel_details_section">
        <div class="market_order_details_bg">

            <div class="order_details">
                <div class="travel_order_title">
                    <div class="order_details_text">订单信息</div>
                </div>

            </div>

            <div class="order_details">
                <div class="order_details_text">订单号</div>
                <div class="order_details_value gray">1234678</div>
            </div>
            <div class="order_details">
                <div class="order_details_text">订单状态</div>
                <div class="order_details_value gray">交易成功</div>
            </div>
            <div class="order_details">
                <div class="order_details_text">缴费类型</div>
                <div class="order_details_value gray">电费</div>
            </div>
            <div class="order_details">
                <div class="order_details_text">应付金额</div>
                <div class="order_details_value gray">￥140.00</div>
            </div>
            <div class="order_details">
                <div class="order_details_text">优惠券抵扣：</div>
                <div class="order_details_value gray">￥20.00</div>
            </div>
            <div class="order_details">
                <div class="order_details_text">实付金额：</div>
                <div class="order_details_value gray">￥120.00</div>
            </div>
            <div class="order_details">
                <div class="order_details_text">支付方式：</div>
                <div class="order_details_value gray">福利额度</div>
            </div>

            <a class="living_payment_order">
                <p>对此订单有疑问？</p>
            </a>

            <a class="market_buy_btn">
                <button class="buy_check_btn" id="buy_check_btn" >查看详情</button>
            </a>


        </div>
    </div>

</div>



