<!--卡券频道页-->
<!DOCTYPE html>
<html>
<head>
    <title>购物卡券</title>
    <link rel="stylesheet"  href="../../css/jf_card_coupons_market.css">
</head>

<body>

<!--顶部固定导航-->

<!--导航-->
<%- include('../../component/basic/topNav.ejs',{
"thisrighthref":"jfSwitch.goBack()",
"navtitle":"购物卡券 ",
"thislefthref":"#",
"thisimgsrc":" "
})%>

<!--卡券频道页-->
<div class="card_coupons_market">

    <!--模块1-电商平台-->
    <div class="market_channel_page">
        <div class="market_channel_page_title orange">
            <div class="channel_page_title_icon">
                <img src="../../images/shopping_cards_icon_one.png"/>
                <span>电商平台</span>
            </div>
        </div>
        <div class="market_channel_page_kind">
            <a class="channel_page_kind" href="cards_details_page.html">

                <img src="../../images/shopping_cards_jingdong.jpg"/>

                <div class="page_kind_text">京东E卡</div>
            </a>
            <a class="channel_page_kind" href="cards_details_page.html">

                <img src="../../images/shopping_cards_AM.jpg"/>

                <div class="page_kind_text">亚马逊</div>
            </a>
            <a class="channel_page_kind" href="cards_details_page.html">

                <img src="../../images/shopping_cards_vip.jpg"/>

                <div class="page_kind_text">唯品会</div>
            </a>
            <a class="channel_page_kind" href="cards_details_page.html">

                <img src="../../images/shopping_cards_suning.jpg"/>

                <div class="page_kind_text">苏宁礼品卡</div>
            </a>
            <a class="channel_page_kind" href="cards_details_page.html">

                <img src="../../images/shopping_cards_xiaomi.jpg"/>

                <div class="page_kind_text">小米礼品卡</div>
            </a>
            <a class="channel_page_kind" href="cards_details_page.html">

                <img src="../../images/shopping_cards_tianmao.jpg"/>

                <div class="page_kind_text">天猫尊享卡</div>
            </a>
            <a class="channel_page_kind" href="cards_details_page.html">

                <img src="../../images/shopping_cards_jingdong.jpg"/>

                <div class="page_kind_text">京东E卡</div>
            </a>
            <a class="channel_page_kind" href="cards_details_page.html">

                <img src="../../images/shopping_cards_jingdong.jpg"/>

                <div class="page_kind_text">京东E卡</div>
            </a>
            <a class="channel_page_kind" href="cards_details_page.html">

                <img src="../../images/shopping_cards_jingdong.jpg"/>

                <div class="page_kind_text">京东E卡</div>
            </a>
            <a class="channel_page_kind" href="cards_details_page.html">

                <img src="../../images/shopping_cards_jingdong.jpg"/>

                <div class="page_kind_text">京东E卡</div>
            </a>
            <a class="channel_page_kind" href="cards_details_page.html">

                <img src="../../images/shopping_cards_jingdong.jpg"/>

                <div class="page_kind_text">京东E卡</div>
            </a>
            <a class="channel_page_kind" href="cards_details_page.html">

                <img src="../../images/shopping_cards_jingdong.jpg"/>

                <div class="page_kind_text">京东E卡</div>
            </a>
            <a class="channel_page_kind" href="cards_details_page.html">

                <img src="../../images/shopping_cards_jingdong.jpg"/>

                <div class="page_kind_text">京东E卡</div>
            </a>
            <a class="channel_page_kind" href="cards_details_page.html">

                <img src="../../images/shopping_cards_jingdong.jpg"/>

                <div class="page_kind_text">京东E卡</div>
            </a>
        </div>
    </div>

    <!--模块2-电子加油卡-->
    <div class="market_channel_page">
        <div class="market_channel_page_title dark_purple">
            <div class="channel_page_title_icon">
                <img src="../../images/shopping_cards_icon_two.png"/>
                <span>电子加油卡、交通出行</span>
            </div>
        </div>
        <div class="market_channel_page_kind">
            <a class="channel_page_kind" href="cards_details_page.html">

                <img src="../../images/shopping_cards_jingdong.jpg"/>

                <div class="page_kind_text">京东E卡</div>
            </a>
            <a class="channel_page_kind" href="cards_details_page.html">

                <img src="../../images/shopping_cards_AM.jpg"/>

                <div class="page_kind_text">亚马逊</div>
            </a>
            <a class="channel_page_kind" href="cards_details_page.html">

                <img src="../../images/shopping_cards_vip.jpg"/>

                <div class="page_kind_text">唯品会</div>
            </a>
            <a class="channel_page_kind" href="cards_details_page.html">

                <img src="../../images/shopping_cards_suning.jpg"/>

                <div class="page_kind_text">苏宁礼品卡</div>
            </a>
            <a class="channel_page_kind" href="cards_details_page.html">

                <img src="../../images/shopping_cards_xiaomi.jpg"/>

                <div class="page_kind_text">小米礼品卡</div>
            </a>
            <a class="channel_page_kind" href="cards_details_page.html">

                <img src="../../images/shopping_cards_tianmao.jpg"/>

                <div class="page_kind_text">天猫尊享卡</div>
            </a>

        </div>
    </div>

    <!--模块3-品牌连锁-->
    <div class="market_channel_page">
        <div class="market_channel_page_title green">
            <div class="channel_page_title_icon">
                <img src="../../images/shopping_cards_icon_three.png"/>
                <span>品牌连锁（食品、水果、超市）</span>
            </div>
        </div>
        <div class="market_channel_page_kind">
            <a class="channel_page_kind" href="cards_details_page.html">

                <img src="../../images/shopping_cards_jingdong.jpg"/>

                <div class="page_kind_text">京东E卡</div>
            </a>
            <a class="channel_page_kind" href="cards_details_page.html">

                <img src="../../images/shopping_cards_AM.jpg"/>

                <div class="page_kind_text">亚马逊</div>
            </a>
            <a class="channel_page_kind" href="cards_details_page.html">

                <img src="../../images/shopping_cards_vip.jpg"/>

                <div class="page_kind_text">唯品会</div>
            </a>
            <a class="channel_page_kind" href="cards_details_page.html">

                <img src="../../images/shopping_cards_suning.jpg"/>

                <div class="page_kind_text">苏宁礼品卡</div>
            </a>
            <a class="channel_page_kind" href="cards_details_page.html">

                <img src="../../images/shopping_cards_xiaomi.jpg"/>

                <div class="page_kind_text">小米礼品卡</div>
            </a>
        </div>
    </div>

    <!--模块4-游戏视频-->
    <div class="market_channel_page">
        <div class="market_channel_page_title lilac">
            <div class="channel_page_title_icon">
                <img src="../../images/shopping_cards_icon_four.png"/>
                <span>游戏、视频</span>
            </div>
        </div>
        <div class="market_channel_page_kind">
            <a class="channel_page_kind" href="cards_details_page.html">

                <img src="../../images/shopping_cards_jingdong.jpg"/>

                <div class="page_kind_text">京东E卡</div>
            </a>
            <a class="channel_page_kind" href="cards_details_page.html">

                <img src="../../images/shopping_cards_AM.jpg"/>

                <div class="page_kind_text">亚马逊</div>
            </a>
            <a class="channel_page_kind" href="cards_details_page.html">

                <img src="../../images/shopping_cards_vip.jpg"/>

                <div class="page_kind_text">唯品会</div>
            </a>
            <a class="channel_page_kind" href="cards_details_page.html">

                <img src="../../images/shopping_cards_suning.jpg"/>

                <div class="page_kind_text">苏宁礼品卡</div>
            </a>
            <a class="channel_page_kind" href="cards_details_page.html">

                <img src="../../images/shopping_cards_xiaomi.jpg"/>

                <div class="page_kind_text">小米礼品卡</div>
            </a>
            <a class="channel_page_kind" href="cards_details_page.html">

                <img src="../../images/shopping_cards_jingdong.jpg"/>

                <div class="page_kind_text">京东E卡</div>
            </a>
            <a class="channel_page_kind" href="cards_details_page.html">

                <img src="../../images/shopping_cards_AM.jpg"/>

                <div class="page_kind_text">亚马逊</div>
            </a>
            <a class="channel_page_kind" href="cards_details_page.html">

                <img src="../../images/shopping_cards_vip.jpg"/>

                <div class="page_kind_text">唯品会</div>
            </a>
            <a class="channel_page_kind" href="cards_details_page.html">

                <img src="../../images/shopping_cards_suning.jpg"/>

                <div class="page_kind_text">苏宁礼品卡</div>
            </a>
            <a class="channel_page_kind" href="cards_details_page.html">

                <img src="../../images/shopping_cards_xiaomi.jpg"/>

                <div class="page_kind_text">小米礼品卡</div>
            </a>
            <a class="channel_page_kind" href="cards_details_page.html">

                <img src="../../images/shopping_cards_jingdong.jpg"/>

                <div class="page_kind_text">京东E卡</div>
            </a>
            <a class="channel_page_kind" href="cards_details_page.html">

                <img src="../../images/shopping_cards_AM.jpg"/>

                <div class="page_kind_text">亚马逊</div>
            </a>
            <a class="channel_page_kind" href="cards_details_page.html">

                <img src="../../images/shopping_cards_vip.jpg"/>

                <div class="page_kind_text">唯品会</div>
            </a>
            <a class="channel_page_kind" href="cards_details_page.html">

                <img src="../../images/shopping_cards_suning.jpg"/>

                <div class="page_kind_text">苏宁礼品卡</div>
            </a>
            <a class="channel_page_kind" href="cards_details_page.html">

                <img src="../../images/shopping_cards_xiaomi.jpg"/>

                <div class="page_kind_text">小米礼品卡</div>
            </a>
            <a class="channel_page_kind" href="cards_details_page.html">

                <img src="../../images/shopping_cards_jingdong.jpg"/>

                <div class="page_kind_text">京东E卡</div>
            </a>
            <a class="channel_page_kind" href="cards_details_page.html">

                <img src="../../images/shopping_cards_AM.jpg"/>

                <div class="page_kind_text">亚马逊</div>
            </a>

        </div>
    </div>

    <!--模块5-健康与体检-->
    <div class="market_channel_page">
        <div class="market_channel_page_title blue">
            <div class="channel_page_title_icon">
                <img src="../../images/shopping_cards_icon_five.png"/>
                <span>健康与体检</span>
            </div>
        </div>
        <div class="market_channel_page_kind">
            <a class="channel_page_kind" href="cards_details_page.html">

                <img src="../../images/shopping_cards_jingdong.jpg"/>

                <div class="page_kind_text">京东E卡</div>
            </a>
            <a class="channel_page_kind" href="cards_details_page.html">

                <img src="../../images/shopping_cards_AM.jpg"/>

                <div class="page_kind_text">亚马逊</div>
            </a>
            <a class="channel_page_kind" href="cards_details_page.html">

                <img src="../../images/shopping_cards_vip.jpg"/>

                <div class="page_kind_text">唯品会</div>
            </a>
            <a class="channel_page_kind" href="cards_details_page.html">

                <img src="../../images/shopping_cards_suning.jpg"/>

                <div class="page_kind_text">苏宁礼品卡</div>
            </a>
            <a class="channel_page_kind" href="cards_details_page.html">

                <img src="../../images/shopping_cards_xiaomi.jpg"/>

                <div class="page_kind_text">小米礼品卡</div>
            </a>
            <a class="channel_page_kind" href="cards_details_page.html">

                <img src="../../images/shopping_cards_xiaomi.jpg"/>

                <div class="page_kind_text">小米礼品卡</div>
            </a>
            <a class="channel_page_kind" href="cards_details_page.html">

                <img src="../../images/shopping_cards_xiaomi.jpg"/>

                <div class="page_kind_text">小米礼品卡</div>
            </a>
            <a class="channel_page_kind" href="cards_details_page.html">

                <img src="../../images/shopping_cards_xiaomi.jpg"/>

                <div class="page_kind_text">小米礼品卡</div>
            </a>
            <a class="channel_page_kind" href="cards_details_page.html">

                <img src="../../images/shopping_cards_xiaomi.jpg"/>

                <div class="page_kind_text">小米礼品卡</div>
            </a>
            <a class="channel_page_kind" href="cards_details_page.html">

                <img src="../../images/shopping_cards_xiaomi.jpg"/>

                <div class="page_kind_text">小米礼品卡</div>
            </a>
            <a class="channel_page_kind" href="cards_details_page.html">

                <img src="../../images/shopping_cards_xiaomi.jpg"/>

                <div class="page_kind_text">小米礼品卡</div>
            </a>
            <a class="channel_page_kind" href="cards_details_page.html">

                <img src="../../images/shopping_cards_xiaomi.jpg"/>

                <div class="page_kind_text">小米礼品卡</div>
            </a>
            <a class="channel_page_kind" href="cards_details_page.html">

                <img src="../../images/shopping_cards_xiaomi.jpg"/>

                <div class="page_kind_text">小米礼品卡</div>
            </a>

        </div>
    </div>

    <!--模块6-其他-->
    <div class="market_channel_page">
        <div class="market_channel_page_title pink">
            <div class="channel_page_title_icon">
                <img src="../../images/shopping_cards_icon_six.png"/>
                <span>其他</span>
            </div>
        </div>
        <div class="market_channel_page_kind">
            <a class="channel_page_kind" href="cards_details_page.html">

                <img src="../../images/shopping_cards_jingdong.jpg"/>

                <div class="page_kind_text">京东E卡</div>
            </a>

        </div>
    </div>

</div>

</body>


<script src="../../js/jf_welfare_market.js"></script>


</html>