<div class="jf_homepage_autoplay">

    <div class="jf_autoplay_images">
        <a href="../service/jf_service.html">


            <img src="../../images/img_loading_big.gif">
        </a>

        <a href="../city_travel_card/travel_card_guide_page.html">
            <img src="../../images/bannerNew2.jpg">

        </a>

        <a href="../welfare_market/homepage.html">
            <img src="../../images/img_loading_big.gif">
        </a>

        <a href="..micro_medicine/disclaimer.html">
            <img src="../../images/bannerNew4.jpg">
        </a>
    </div>
    <div class="jf_pagination"></div>


</div>

<script>
    jfAutoPlay.jfCarouselInit();//轮播


</script>