<div class="jf_homepage_autoplay">

    <div class="jf_autoplay_images">
        <a href="#">


            <img request-url="images/banner-2.jpg" src="../../images/banner1.jpg">
        </a>

        <a href="#">
            <img request-url="images/jd_banner.jpg" src="../../images/002.jpg">

        </a>

        <a href="#">
            <img request-url="images/banner-3.jpg" src="../../images/003.jpg">
        </a>

        <a href="#">
            <img request-url="images/banner-4.jpg" src="../../images/004.jpg">
        </a>
    </div>
    <div class="jf_pagination"></div>


</div>

<script>
    jfAutoPlay.jfCarouselInit();//轮播



</script>