<div class="jf_homepage_autoplay">

    <div class="jf_autoplay_images">
        <a href="#">


            <img src="../../images/bannerNew1.jpg">
        </a>

        <a href="#">
            <img src="../../images/bannerNew2.jpg">

        </a>

        <a href="#">
            <img src="../../images/bannerNew3.jpg">
        </a>

        <a href="#">
            <img src="../../images/bannerNew4.jpg">
        </a>
    </div>
    <div class="jf_pagination"></div>


</div>

<script>
    jfAutoPlay.jfCarouselInit();//轮播


</script>