<!-- 固定下 -->
<div class="tabbar">
    <div class="">
        <div class="weui_tab_bd"></div>
        <div class="weui_tabbar">

            <a href="#" class="weui_tabbar_item on">
                <div class="weui_tabbar_icon">
                    <img src="../../icon/icon_homepage_home_black.png" alt="">
                    <img src="../../icon/icon_homepage_home_blue.png" alt=""></div>
                <p class="weui_tabbar_label">首页</p>
            </a>
            <a href="../service/jf_service.html" class="weui_tabbar_item ">
                <div class="weui_tabbar_icon">
                    <img src="../../icon/icon_homepage_sort_black.png" alt="">
                    <img src="../../icon/icon_homepage_sort_blue.png" alt="">
                </div>
                <p class="weui_tabbar_label">服务</p>
            </a>

            <a href="#" class="weui_tabbar_item jd_red">
                <div class="weui_tabbar_icon" id="endFlyCar">
                    <img src="../../icon/icon_homepage_dog_black.png" alt="">
                    <img src="../../icon/icon_homepage_dog_blue.png" alt="">
                </div>
                <p class="weui_tabbar_label">京东</p>
            </a>
            <a href="../cards/market_channel_page.html" class="weui_tabbar_item">
                <div class="weui_tabbar_icon" id="endFlyCar">
                    <img src="../../icon/icon_homepage_card_black.png" alt="">
                    <img src="../../icon/icon_homepage_card_blue.png" alt="">
                </div>
                <p class="weui_tabbar_label">卡券</p>
            </a>
            <a href="../mine/mine.html" class="weui_tabbar_item">
                <div class="weui_tabbar_icon">
                    <img src="../../icon/icon_homepage_people_black.png" alt="">
                    <img src="../../icon/icon_homepage_people_blue.png" alt="">
                </div>
                <p class="weui_tabbar_label">我的</p>
            </a>
        </div>
    </div>
</div>
