<nav class="Top_navigation navigation_main">
    <div class="weui_tab_bd"></div>
    <div class="container_tab">

        <div class="nav_left">
            <div>
                <a href="#">
                    <p><img src="../../icon/icon_homepage_qrcode.png"></p>
                </a>
            </div>
        </div>
        <div class="nav_center">
            <div>嘉福平台</div>
        </div>
        <div class="nav_right">
            <div>
                <a href="html/page/catalog-sorts.html">
                    <p><img src="../../icon/icon_homepage_search.png"></p>

                </a>
            </div>

        </div>

    </div>
</nav>