<!--京东秒杀-->
<div class="normal_product seckill_product">

    <div class="title" onclick="javascript:;">
        <div class="seckill"><!--决定货架样式的class值-->
            <p class="seckill_title">每日<span>秒杀</span></p><!--货架名称，文案可以变化-->
        </div>
    </div>


    <!--商品list-->
    <div class="product_list jf_product">

        <a href="#">
            <div class="pro_pic">
                <img data-src="../../images/pruduct/1.jpg" class="lazypic" src="../../images/img_loading.gif">
            </div>

            <div class="pro_text">
                <p class="new_price">¥99.00</p>
                <p class="old_price">¥199.00</p>
            </div>

        </a>
        <a href="#">
            <div class="pro_pic">
                <img data-src="../../images/pruduct/2.jpg" class="lazypic" src="../../images/img_loading.gif">
            </div>

            <div class="pro_text">

                <p class="new_price">¥99.00</p>
                <p class="old_price">¥199.00</p>
            </div>

        </a>
        <a href="#">
            <div class="pro_pic">
                <img data-src="../../images/pruduct/3.jpg" class="lazypic" src="../../images/img_loading.gif">
            </div>

            <div class="pro_text">

                <p class="new_price">¥99.00</p>
                <p class="old_price">¥199.00</p>
            </div>

        </a>
        <a href="#">
            <div class="pro_pic">
                <img data-src="../../images/pruduct/4.jpg" class="lazypic" src="../../images/img_loading.gif">
            </div>

            <div class="pro_text">

                <p class="new_price">¥99.00</p>
                <p class="old_price">¥199.00</p>
            </div>

        </a>
        <a href="#">
            <div class="pro_pic">
                <img data-src="../../images/pruduct/5.jpg" class="lazypic" src="../../images/img_loading.gif">
            </div>

            <div class="pro_text">

                <p class="new_price">¥99.00</p>
                <p class="old_price">¥199.00</p>
            </div>

        </a>
        <a href="#">
            <div class="pro_pic">
                <img data-src="../../images/pruduct/1.jpg" class="lazypic" src="../../images/img_loading.gif">
            </div>

            <div class="pro_text">

                <p class="new_price">¥99.00</p>
                <p class="old_price">¥199.00</p>
            </div>

        </a>
        <a href="#">
            <div class="pro_pic">
                <img data-src="../../images/pruduct/2.jpg" class="lazypic" src="../../images/img_loading.gif">
            </div>

            <div class="pro_text">

                <p class="new_price">¥99.00</p>
                <p class="old_price">¥199.00</p>
            </div>

        </a>
        <a href="#">
            <div class="pro_pic">
                <img data-src="../../images/pruduct/3.jpg" class="lazypic" src="../../images/img_loading.gif">
            </div>

            <div class="pro_text">

                <p class="new_price">¥99.00</p>
                <p class="old_price">¥199.00</p>
            </div>

        </a>
        <a href="#">
            <div class="pro_pic">
                <img data-src="../../images/pruduct/4.jpg" class="lazypic" src="../../images/img_loading.gif">
            </div>

            <div class="pro_text">
                <p class="new_price">¥99.00</p>
                <p class="old_price">¥199.00</p>
            </div>

        </a>

        <p><span>查看更多</span><span>＞</span></p>

    </div>


</div>