
<div class="service_list">


    <a href="#">
        <p><img src="../../icon/icon_market.png"></p>
        <p>福利集市</p>
    </a>

    <a href="#">
        <p><img src="../../icon/icon_health.png"></p>
        <p>医疗健康</p>
    </a>

   <!-- <a href="#">
        <p><img src="../../icon/icon_passenger.png"></p>
        <p>机票火车票</p>
    </a>

    <a href="#">
        <p><img src="../../icon/icon_food.png"></p>
        <p>餐饮美食</p>
    </a>
-->


    <a href="#">
        <p><img src="../../icon/icon_recharge.png"></p>
        <p>话费充值</p>
    </a>

    <a href="#">
        <p><img src="../../icon/icon_borrow.png"></p>
        <p>薪资预支</p>
    </a>



</div>