
<div class="service_list">


    <a href="#">
        <p><img src="../../icon/icon_market.png"></p>
        <p>福利集市</p>
    </a>


    <a href="#">
        <p><img src="../../icon/icon_borrow.png"></p>
        <p>薪资预支</p>
    </a>

    <a href="#">
        <p><img src="../../icon/icon_passenger.png"></p>
        <p>旅游出行</p>
    </a>

    <a href="#">
        <p><img src="../../icon/icon_health.png"></p>
        <p>医疗健康</p>
    </a>


    <a href="#">
        <p><img src="../../icon/icon_food.png"></p>
        <p>餐饮美食</p>
    </a>


    <a href="#">
        <p><img src="../../icon/icon_jdong.png"></p>
        <p>京东自营</p>
    </a>

    <a href="#">
        <p><img src="../../icon/icon_recharge.png"></p>
        <p>话费充值</p>
    </a>


    <a href="#">
        <p><img src="../../icon/homepage_living_payment.png"></p>
        <p>生活缴费</p>
    </a>

    <a href="#">
        <p><img src="../../icon/icon_card.png"></p>
        <p>电子卡券</p>
    </a>


    <!--滴滴出行-->

   <!-- <a href="#">
        <p><img src="../../icon/icon_didi.png"></p>
        <p>滴滴出行</p>
    </a>   -->


    <a href="#">
        <p><img src="../../icon/icon_more.png"></p>
        <p>更多服务</p>
    </a>





</div>