
<!--活动入口-->

<a href="#" class="special_sale_banner_all">
    <img src="../../../images/homepage_jd_show/spcail_sale_banner.png" class="sale_banner">
</a>

<!--版块入口-->

<div class="special_choose_box_all">

     <div class="special_box" onclick="window.location.href='/ereryday_new.html';">
         <p class="choose_name pink">省钱精选</p>
         <p class="choose_title">-都已经整理好了-</p>
         <div class="choose_img_one">
             <a ><img src="../../../images/homepage_jd_show/choose_img_1.png"><p class="pink">￥190<span>￥360</span></p></a>
             <a ><img src="../../../images/homepage_jd_show/choose_img_2.png"><p class="pink">￥190<span>￥360</span></p></a>
         </div>
     </div>

    <div class="special_box" onclick="window.location.href='/ereryday_new.html';">
        <p class="choose_name yellow">每日上新</p>
        <p class="choose_title">-发现新世界-</p>
        <div class="choose_img">
            <a ><img src="../../../images/homepage_jd_show/choose_img_5.png"></a>
            <a ><img src="../../../images/homepage_jd_show/choose_img_6.png"></a>
        </div>
    </div>

    <div class="special_box" onclick="window.location.href='/ereryday_new.html';">
        <p class="choose_name green">发现好货</p>
        <p class="choose_title">-只给挑剔的你-</p>
        <div class="choose_img">
            <a ><img src="../../../images/homepage_jd_show/choose_img_7.png"></a>
            <a ><img src="../../../images/homepage_jd_show/choose_img_8.png"></a>
        </div>
    </div>

    <div class="special_box" onclick="window.location.href='/ereryday_new.html';">
        <p class="choose_name blue">排行榜</p>
        <p class="choose_title">-人气单品推荐-</p>
        <div class="choose_img">
            <a ><img src="../../../images/homepage_jd_show/choose_img_9.png"></a>
            <a ><img src="../../../images/homepage_jd_show/choose_img_10.png"></a>
        </div>
    </div>

</div>
