<div class="sale_product ">

    <div class="title">

        <p>专享抢购</p>

        <a class="product_more" href="#">查看更多</a>

    </div>

    <div class="product_list jf_product">
            <a href="#">
                <div class="product_pic">
                    <img src="../../images/pruduct/1.jpg">
                    <span>美的智能电饭煲5L美的智能电饭煲5美的智能电饭煲5美的智能电饭煲5</span>
                </div>
                <!--正常抢购状态-->
                <div class="price">
                    
                    <p>
                        <span class="sale">¥99.00</span>
                        <span class="old">¥199.00</span>
                    </p>
                   <p class="go"></p>
                </div>
            </a>
            <a href="#">
                <div class="product_pic">
                    <img src="../../images/pruduct/2.jpg">
                    <span>机器人智能扫地机机器人智能扫地机机器人智能扫地机</span>
                </div>
                <!--即将开始状态-->
                <div class="price coming">

                    <p>
                        <span class="sale">¥99.00</span>
                        <span class="old">¥199.00</span>
                    </p>
                    <p class="go"></p>
                </div>
            </a>
            <a href="#">
                <div class="product_pic">
                    <img src="../../images/pruduct/3.jpg">
                    <span>苏泊尔智能榨汁机</span></div>
                <!--时间到啦状态-->
                <div class="price timeout">

                    <p>
                        <span class="sale">¥99.00</span>
                        <span class="old">¥199.00</span>
                    </p>
                    <p class="go"></p>
                </div>
            </a>
            <a href="#">
                <div class="product_pic">
                    <img src="../../images/pruduct/4.jpg">
                    <span>卡西欧高清全能照相机</span>
                </div>
                <!--售完状态-->
                <div class="price sale_out">

                    <p>
                        <span class="sale">¥99.00</span>
                        <span class="old">¥199.00</span>
                    </p>
                    <p class="go"></p>
                </div>
            </a>
            <a href="#">
                <div class="product_pic">
                    <img src="../../images/pruduct/5.jpg">
                    <span>智能家居智能家居</span>
                </div>

                <div class="price">

                    <p>
                        <span class="sale">¥99.00</span>
                        <span class="old">¥199.00</span>
                    </p>
                    <p class="go"></p>
                </div>
            </a>
            <a href="#">
                <div class="product_pic">
                    <img src="../../images/pruduct/6.jpg">
                    <span>智能家居智能家居</span></div>
                <div class="price">

                    <p>
                        <span class="sale">¥99.00</span>
                        <span class="old">¥199.00</span>
                    </p>
                    <p class="go"></p>
                </div>
            </a>
            <a href="#">
                <div class="product_pic">
                    <img src="../../images/pruduct/7.jpg">
                    <span>智能家居智能家居智能家居智能家居智能家居智能家居智能家居智能家居</span>
                </div>

                <div class="price">

                    <p>
                        <span class="sale">¥99.00</span>
                        <span class="old">¥199.00</span>
                    </p>
                    <p class="go"></p>
                </div>
            </a>
            <a href="#">
                <div class="product_pic">
                    <img src="../../images/pruduct/8.jpg">
                    <span>智能家居智能家居智能家居智能家居智能家居智能家居智能家居智能家居</span>
                </div>

                <div class="price">

                    <p>
                        <span class="sale">¥99.00</span>
                        <span class="old">¥199.00</span>
                    </p>
                    <p class="go"></p>
                </div>
            </a>
        <p><span>查看更多</span><span>＞</span></p>
        </div>


</div>

