
<label class="jf_list jf_list_access">
    <div class="jf_list_tip">
        <div class="jf_list_label"><%=title%></div>
    </div>
    <div class="jf_list_bd">
        <input class="jf_input" type="tel" placeholder="<%=placeholder%>" pattern="[0-9]*" value="<%=value%>"/>
    </div>
</label>