<!--
输入列表中，选择银行

-->
<label class="jf_list jf_list_access">
    <div class="jf_list_tip">
        <div class="jf_list_label"><%= title %></div>
    </div>
    <div class="jf_list_bd city_select_fa">
        <select id="select_bank" class="initial">
            <option hidden="hidden"><%= placeholder %></option>
            <%- include('loopOptions.ejs', {
            "options":[
            { "option": "中国银行" },
            { "option": "工商银行" },
            { "option": "农业银行" },
            { "option": "交通银行" },
            { "option": "广发银行" },
            { "option": "深发银行" },
            { "option": "建设银行" },
            { "option": "浦发银行" },
            { "option": "泰隆银行" },
            { "option": "招商银行" },
            { "option": "民生银行" },
            { "option": "兴业银行" },
            { "option": "中信银行" },
            { "option": "华夏银行" },
            { "option": "光大银行" },
            { "option": "北京银行" },
            { "option": "上海银行" },
            { "option": "天津银行" },
            { "option": "大连银行" },
            { "option": "杭州银行" },
            { "option": "宁波银行" },
            { "option": "厦门银行" },
            { "option": "广州银行" },
            { "option": "平安银行" },
            { "option": "浙商银行" },
            { "option": "上海农商银行" },
            { "option": "重庆银行" },
            { "option": "邮储银行" },
            { "option": "江苏银行" },
            { "option": "北京农商银行" },
            { "option": "济宁银行" },
            { "option": "台州银行" }
            ]}
            ) %>
        </select>
    </div>
    <div class="jf_list_ft jf_list_arrow"></div>
</label>