<!--
输入列表中，点击选择城市
-->
<label class="jf_list jf_list_access">
    <div class="jf_list_tip">
        <div class="jf_list_label"><%=title%></div>
    </div>
    <div class="jf_list_bd">
        <div class="city_select_fa ">
            <div class="city_pc_select" id="city_pc_select">
            </div>
            <input id="input_city_touch" type="text" class="jf_input" readonly placeholder="<%=placeholder%>" value="<%=value%>">
        </div>
    </div>
    <div class="jf_list_ft jf_list_arrow"></div>
</label>