
<!--成交记录-->
<div class="market_record">
    <div class="title">福利买卖成交记录</div>
    <div class="details">
        <div class="list_title">
            <span>卖出人</span>
            <span>卖出额度</span>
            <span>成交时间</span>
        </div>
        <div class="list">
            <span>徐**</span>
            <span>500</span>
            <span>
                <span>06.13</span>
                <span>13:20:20</span>
            </span>
        </div>
        <div class="list">
            <span>徐**</span>
            <span>500</span>
            <span>
                <span>06.13</span>
                <span>13:20:20</span>
            </span>
        </div>
        <div class="list">
            <span>徐**</span>
            <span>500</span>
            <span>
                <span>06.13</span>
                <span>13:20:20</span>
            </span>
        </div>
        <div class="list">
            <span>徐**</span>
            <span>500</span>
            <span>
                <span>06.13</span>
                <span>13:20:20</span>
            </span>
        </div>
        <div class="list">
            <span>徐**</span>
            <span>500</span>
            <span>
                <span>06.13</span>
                <span>13:20:20</span>
            </span>
        </div>
        <div class="list">
            <span>徐**</span>
            <span>500</span>
            <span>
                <span>06.13</span>
                <span>13:20:20</span>
            </span>
        </div>
        <div class="list">
            <span>徐**</span>
            <span>500</span>
            <span>
                <span>06.13</span>
                <span>13:20:20</span>
            </span>
        </div>
        <div class="list">
            <span>徐**</span>
            <span>500</span>
            <span>
                <span>06.13</span>
                <span>13:20:20</span>
            </span>
        </div>
        <div class="list">
            <span>徐**</span>
            <span>500</span>
            <span>
                <span>06.13</span>
                <span>13:20:20</span>
            </span>
        </div>
        <div class="list">
            <span>徐**</span>
            <span>500</span>
            <span>
                <span>06.13</span>
                <span>13:20:20</span>
            </span>
        </div>
        <div class="list">
            <span>徐**</span>
            <span>500</span>
            <span>
                <span>06.13</span>
                <span>13:20:20</span>
            </span>
        </div>
        <div class="list">
            <span>徐**</span>
            <span>500</span>
            <span>
                <span>06.13</span>
                <span>13:20:20</span>
            </span>
        </div>
        <div class="list">
            <span>徐**</span>
            <span>500</span>
            <span>
                <span>06.13</span>
                <span>13:20:20</span>
            </span>
        </div>
        <div class="list">
            <span>徐**</span>
            <span>500</span>
            <span>
                <span>06.13</span>
                <span>13:20:20</span>
            </span>
        </div>
         <div class="list">
            <span>徐**</span>
            <span>500</span>
            <span>
                <span>06.13</span>
                <span>13:20:20</span>
            </span>
        </div>
        <div class="list">
            <span>徐**</span>
            <span>500</span>
            <span>
                <span>06.13</span>
                <span>13:20:20</span>
            </span>
        </div>
        <div class="list">
            <span>徐**</span>
            <span>500</span>
            <span>
                <span>06.13</span>
                <span>13:20:20</span>
            </span>
        </div>
        <div class="list">
            <span>徐**</span>
            <span>500</span>
            <span>
                <span>06.13</span>
                <span>13:20:20</span>
            </span>
        </div>
        <div class="list">
            <span>徐**</span>
            <span>500</span>
            <span>
                <span>06.13</span>
                <span>13:20:20</span>
            </span>
        </div>
        <div class="list">
            <span>徐**</span>
            <span>500</span>
            <span>
                <span>06.13</span>
                <span>13:20:20</span>
            </span>
        </div>





        <p>没有更多了，只能帮你到这里了</p>
    </div>
</div>

<div class="fixed_side_btn">
    <div class="content">

        <a href="../new_cash/my_account.html"><img src="../../images/zfb/market_my_account.png"></a>

        <a href="../new_cash/cash_main.html"><img src="../../images/zfb/market_my_order.png"></a>

    </div>
    <a class="origin_btn" ><img src="../../images/zfb/market_show_more.png"></a>
</div>


<script>
    //点击按钮扩展/关闭
    document.getElementsByClassName('origin_btn')[0].addEventListener("click", marketMoreFn.showFn,false)

    //页面滚动，关闭
    addEventListener('scroll', marketMoreFn.hideFn,false)
</script>