<div class="records-of-consumption">
    <div class="three-function">
        <div class="records-name">
            嘉福E卡使用说明
        </div>
        <div class="instructions-function-white">
            <p class="use-and-bind">1.如何使用并绑定嘉福E卡</p>
            <p class="after-binding">购买嘉福E卡完成后，可在嘉福平台-我的-查看订单-订单详情页自行下载卡号卡密码。
              可在该页直接绑定或至嘉福平台-我的-嘉福E卡-绑定。 </p>
        </div>
        <div class="card-restriction">
            2.嘉福E卡只能在嘉福平台购买商品或服务时使用。
        </div>
        <div class="card-restriction">
            3.嘉福E卡支付完成后可在嘉福平台-我的-查看订单-订单详情自行获取卡号卡密。嘉福E卡有效期为自激活日期起36个月；
            嘉福E卡不记名、不挂失、不计息、不兑现、不可修改密码。请妥善保管卡号及密码。
        </div>
    </div>
    <div class="i-know">
        我知道了
    </div>
</div>
<div class="grey-background">
</div>
<div class="wuliaoliao">
<div class="expired-card-coupon">
    <img src="../../images/big-card-voucher.png">
    <p class="E-card">暂无可用嘉福E卡</p>
    <a class="exhausted-card" href="">已用完/已过期的卡></a>
</div>
<div class="new-card" >
    <div class="buy-new-card">
        购买新卡
    </div>
    <div class="Binding-new-cards">
        绑定新卡
    </div>
</div>
</div>