
<a class="product_details_banner top_banner">
    <img src="../../images/insurance/product_details_banner.png">
</a>
<!--保障计划-->
<div class="shadow_plate">

    <div class="guarantee_plan_plate">

        <div class="guarantee_plan_line">

            <p class="plan_top_font"><span>保障计划:</span><span class="red_span_font">人气款</span><span class="red_span_font">36.00元</span><span>/人/年</span></p>

            <a href="guarantee_plan.html" class="custom_button">自定义保障</a>

        </div>

    </div>

    <div class="guarantee_plan_plate">

        <div class="guarantee_plan_line">

            <p>意外人身事故、残疾</p>

            <p>10万元</p>

        </div>

        <div class="guarantee_plan_line">

            <p>意外伤害医疗</p>

            <p>1万元</p>

        </div>

        <div class="guarantee_plan_line">

            <p>意外住院津贴</p>

            <p>50元/天</p>

        </div>

        <div class="guarantee_plan_line">

            <p>飞机意外事故、残疾</p>

            <p>100万元</p>

        </div>

        <div class="guarantee_plan_line">

            <p>保障期</p>

            <p>1年</p>

        </div>

    </div>

</div>

<!--保险起期-->
<div class="shadow_plate">

    <a class="guarantee_plan_plate">

        <div class="guarantee_plan_line">

            <p class="plan_top_font"><span>保险起期:</span></p>

            <input type="date" value="2018-03-03">

        </div>

    </a>

    <div class="guarantee_plan_plate">

        <div class="insured_plate">

            <p class="insured_font">被保人（选填）</p>

            <a class="right_add_icon" href="add_insured.html">
                <div class="radius_icon">+</div>
            </a>

        </div>

        <div class="insured_information_plate">

            <a class="left_delete_icon">
                <div class="delete_icon">—</div>
            </a>

            <div class="insured_name_number">
                <p>张三</p>

                <p>62010000000001111</p>
            </div>

        </div>

    </div>

</div>

<!--产品介绍，理赔说明，常见问题-->
<div class="shadow_plate">

    <div class="product_problem_bar">

        <a class="problem_bar_part font_color_blue">产品介绍</a>

        <a class="problem_bar_part font_color_black">理赔说明</a>

        <a class="problem_bar_part font_color_black">常见问题</a>

    </div>

    <div class="guarantee_plan_plate">

        <!--产品介绍-->
        <div class="pull_things show">

            <div class="problem_details">

                <p>职业类别：1-3类    点击查看职业类别说明</p>

                <p>年龄：18-65周岁，平均年龄不超过40周岁</p>

                <p>意外伤害医疗和意外住院津贴责任需附加在意外身故、残疾责任上，且意外伤害医疗的保额不高于意外身故保额的15%</p>

                <p>保额发生变化时，以上费率可在最高保额范围内按照比例调整</p>

            </div>

        </div>

        <!--理赔说明-->
        <div class="pull_things">

            <div class="problem_details">

                <p>1、发起理赔</p>

                <p>2、在线审核</p>

                <p>3、赔款给付</p>

            </div>

        </div>

        <!--常见问题-->
        <div class="pull_things">

            <div class="problem_details">

                <p>常见问题1？</p>

                <p>嗯，常见问题1的处理方式以及常见问题1的解释貌似是在这里。打了这么的字在这里是为了定一下位置。</p>

                <p>常见问题2？</p>

                <p>常见问题2的处理方式和常见问题2的解释什么的很多的字在这里。</p>

            </div>

        </div>

    </div>

</div>

<!--底部按钮-->
<div>

    <div class="product_footer_pich"></div>

    <div class="details_bottom_plate">

        <div class="bottom_text_button">

            <label class="checkbox_font">
                <input class="bottom_text_radio" type="checkbox" name="radio">我已阅读并同意
            </label>

            <a class="team_insurance_text">《嘉福团体保险条约》</a>

        </div>

        <div class="guarantee_plan_plate">

            <div class="product_bottom_line">

                <a href="tel:400-0000-0000" class="button_text_plate">
                    <div class="bottom_left_icon">
                        <img src="../../images/insurance/customer%20_service_icon.png">
                    </div>

                    <p>联系客服</p>
                </a>

                <button class="bottom_button_block bottom_button_blue">立即报价</button>

            </div>

        </div>

    </div>

</div>



<script>

    //产品介绍，理赔说明，常见问题切换
    showText.textDetails();

    //点击减号，弹出弹窗
    var personalHold=document.getElementsByClassName('left_delete_icon')[0];

    personalHold.addEventListener('click',function () {

        jfShowTips.dialogShow({
            "mainText": "确定要删除吗？",
            "minText": " ",
            "hasCheck": true,
            "hasCancel": true,
            "checkFn": function () {//确认后发生的脚本

                jfShowTips.dialogRemove();//弹出框消失

            }
        })

        document.getElementsByClassName('dialog_check')[0].innerHTML = '确定';

    },false)

</script>
















