<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>WeUI-pay</title>
    <link rel="stylesheet" href="../../css/jf_advertising_coupons.css">

</head>
<body>


<!--优惠券及广告 有优惠券-->

<div class="jf_lists_coupons_picture">

    <div class="list_use_coupons">

        <div class="use_coupons_1">

            <div class="use_coupons_2">

                <img src="../../images/jf_lists_picture_1.png">立减券待用

            </div>

            <div class="use_coupons_3">
                <p>您有122.12元立减券</p>

            <p>可用京东商城 电子卡支付</p>
            <p>话费流量充值</p>

                <a class="use_coupons_button" href="">立即使用</a>

            </div>


        </div>

    </div>



    <div class="list_page_picture">

        <div class="page_picture_1">
            <img src="../../images/jf_lists_coupons_picture.jpg">
        </div>


        <p>嘉福价：¥170.00</p>
        <p>京东价：¥339.00</p>


    </div>


</div>


<!--无优惠券-->


<div class="jf_lists_coupons_picture no_coupons">

    <div class="list_use_coupons">

        <div class="use_coupons_1">

            <div class="use_coupons_2">

                <img src="../../images/jf_lists_picture_2.png">嘉福京东 福利专享

            </div>

            <div class="use_coupons_3">
                <p>全场满99包邮</p>

                <p>京东自营商品 京东配送</p>
                <p>五续重费</p>

                <a class="use_coupons_button" href="">去看看</a>

            </div>


        </div>

    </div>



    <div class="list_page_picture">

        <div class="page_picture_1">
            <img src="../../images/jf_lists_coupons_picture.jpg">
        </div>


        <p>嘉福价：¥170.00</p>
        <p>京东价：¥339.00</p>


    </div>


</div>





</body>


</html>