<a class="jd_notice">

<div class="tab_bd"></div>

<div class="recharge_balance">
    <img src="../../images/icon_warning.png">
    <span>
        <p>该服务由微医提供</p >
      </span>
</div>

</a>

<div class="medicine_notes_text">

    <p>微医原名“挂号网”，聚合全国超过900家重点医院的预约挂号资源，十分方便。使用过程中若您有售后问题请拨打400-123-123咨询微医售后</p>

</div>

<div class="medicine_agreen_plate">

    <span>
         <input type="checkbox" class="agreement_check" checked>
        我同意<a href="#">《微医用户服务协议》</a>
    </span>

</div>