<!DOCTYPE html>
<html>
<head>
    <title>福利转让</title>
    <link rel="stylesheet"  href="../../css/jf_welfare_market.css">
</head>

<body>

<!--顶部固定导航-->

<!--导航-->
<%- include('../../component/basic/topNav.ejs',{
"thisrighthref":"jfSwitch.goBack()",
"navtitle":"福利买入",
"thislefthref":"#",
"thisimgsrc":"../../images/icon_nav_helpcenter_2.png"
})%>

<%- include('../../component/welfare_transfer/main_content.ejs')%>








</body>
<script src="../../js/jf_welfare_market.js"></script>




</html>