<!DOCTYPE html>
<html>
<head>
    <title>福利集市-买入</title>
    <link rel="stylesheet"  href="../../css/jf_welfare_market.css">
</head>

<body>

<!--顶部固定导航-->

<!--导航-->
<%- include('../../component/basic/topNav.ejs',{
"thisrighthref":"jfSwitch.goBack()",
"navtitle":"订单详情",
"thislefthref":"#",
"thisimgsrc":"../../images/icon_nav_helpcenter_2.png"
})%>
<!--我的订单弹出框-->


</body>



<script src="../../js/jf_welfare_market.js"></script>




</html>