<!doctype html>
<html>
<head>

    <title>我的订单</title>
    <link rel="stylesheet"  href="../../css/jf_welfare_market.css">
</head>

<body>
<div class="Order-details">
    <!--head-->
    <div class="bd"></div>
    <div class="navi">
        <a onclick="jfSwitch.goBack()"><div class="left"><img src="../../images/order_details/icon_pay_return.png"></div></a>
        <div class="center"><span>&#x8BA2;&#x5355;&#x8BE6;&#x60C5;</span></div>
        <div onclick="location=&apos;../../main.html&apos;">&#x9996;&#x9875;</div>
    </div>

    <!--通知-->
    <div class="choose_order_title">
        <div class="choose_bar"></div>
        <div class="choose_order" id="choose_order">
            <p>&#x5168;&#x90E8;&#x8BA2;&#x5355;<img src="../../images/key.png"></p>
        </div>
    </div>

    <!-- 京东入口-订单详情-->
    <a class="jd_notice" href="javascript:;">
        <div class="tab_bd"></div>
        <div class="recharge_balance">
            <img src="../../images/icon_warning.png">
      <span>
        <p>PC&#x7AEF;&#x8BA2;&#x5355;&#x8BF7;&#x81F3;PC&#x7AEF;&#x5904;&#x7406;</p>
      <p>&#x4EAC;&#x4E1C;&#x5B9E;&#x7269;&#x8BA2;&#x5355;&#x8BF7;&#x4ECE;&#x9996;&#x9875;&#x8FDB;&#x5165;&#x5609;&#x798F;&#x5546;&#x57CE;&#x7684;&#x3010;&#x5546;&#x57CE;&#x8BA2;&#x5355;&#x3011;&#x67E5;&#x770B;</p>
      </span>
        </div>
    </a>
    <!--内容-->
    <div class="content">
        <div class="list1">
            <div class="pic"><img src="../../images/order_details/welfare.png"></div>
            <div class="price">
                <div>50000福利</div>
                <div>福利买入</div>
            </div>
            <div class="time">
                <div class="Success">已部分买入</div>
                <div>2016-08-04 13:44:55</div>
            </div>
        </div>

        <div class="list1">
            <div class="pic"><img src="../../images/order_details/welfare-buy_icon.png"></div>
            <div class="price">
                <div>50000福利</div>
                <div>福利卖出</div>
            </div>
            <div class="time">
                <div class="Success">已部分卖出</div>
                <div>2016-08-04 13:44:55</div>
            </div>
        </div>
        <!--1-->
        <div class="list1">
            <div class="pic"><img src="../../images/order_details/&#x5927;&#x4F17;&#x70B9;&#x8BC4;.png"></div>
            <div class="price">
                <div>99999999.00</div>
                <div>&#x5927;&#x4F17;&#x70B9;&#x8BC4;&#x8F6C;&#x8D26;</div>
            </div>
            <div class="time">
                <div class="Success">&#x6210;&#x529F;</div>
                <div>2016-08-04 13:44:55</div>
            </div>
        </div>
        <!--2-->
        <div class="list1">
            <div class="pic"><img src="../../images/order_details/&#x4EAC;&#x4E1C;.png"></div>
            <div class="price">
                <div>88.00</div>
                <div>&#x4EAC;&#x4E1C;&#xFF1A;&#x9AD8;&#x7EA7;&#x69A8;&#x6C41;&#x673A;&#x98DE;&#x5229;&#x6D66;&#x590F;&#x666E;</div>
            </div>
            <div class="time">
                <div class="fail">&#x5931;&#x8D25;</div>
                <div>2016-08-04 13:44:55</div>
            </div>
        </div>
        <!--3-->
        <div class="list1">
            <div class="pic"><img src="../../images/order_details/&#x8BDD;&#x8D39;&#x5145;&#x503C;.png"></div>
            <div class="price">
                <div>13456.00</div>
                <div>&#x8BDD;&#x8D39;&#x5145;&#x503C;&#x624B;&#x673A;&#x5145;&#x503C;&#x6D41;&#x91CF;&#x5145;&#x503C;&#x5361;</div>
            </div>
            <div class="time">
                <div class="Success">&#x6210;&#x529F;</div>
                <div>2016-08-04 13:44:55</div>
            </div>
        </div>
        <!--4-->
        <div class="list1">
            <div class="pic"><img src="../../images/order_details/&#x5927;&#x4F17;&#x70B9;&#x8BC4;.png"></div>
            <div class="price">
                <div>457.00</div>
                <div>&#x5927;&#x4F17;&#x70B9;&#x8BC4;&#x8F6C;&#x8D26;</div>
            </div>
            <div class="time">
                <div class="Success">&#x6210;&#x529F;</div>
                <div>2016-08-04 13:44:55</div>
            </div>
        </div>
        <!--5-->
        <div class="list1">
            <div class="pic"><img src="../../images/order_details/&#x8BDD;&#x8D39;&#x5145;&#x503C;.png"></div>
            <div class="price">
                <div>57.00</div>
                <div>&#x5927;&#x4F17;&#x70B9;&#x8BC4;&#x8F6C;&#x8D26;</div>
            </div>
            <div class="time">
                <div class="Success">&#x6210;&#x529F;</div>
                <div>2016-08-04 13:44:55</div>
            </div>
        </div>
        <!--6-->
        <div class="list1">
            <div class="pic"><img src="../../images/order_details/zfb.png"></div>
            <div class="price">
                <div>117.00</div>
                <div>&#x5927;&#x4F17;&#x70B9;&#x8BC4;&#x8F6C;&#x8D26;</div>
            </div>
            <div class="time">
                <div class="unfinished">&#x5F85;&#x652F;&#x4ED8;</div>
                <div>2016-08-04 13:44:55</div>
            </div>
        </div>
        <!--7-->
        <div class="list1">
            <div class="pic"><img src="../../images/order_details/vip.png"></div>
            <div class="price">
                <div>70.00</div>
                <div>&#x5927;&#x4F17;&#x70B9;&#x8BC4;&#x8F6C;&#x8D26;</div>
            </div>
            <div class="time">
                <div class="unfinished">&#x5F85;&#x652F;&#x4ED8;</div>
                <div>2016-08-04 13:44:55</div>
            </div>
        </div>
        <!--8-->
        <div class="list1">
            <div class="pic"><img src="../../images/order_details/zfb.png"></div>
            <div class="price">
                <div>12457.00</div>
                <div>&#x5927;&#x4F17;&#x70B9;&#x8BC4;&#x8F6C;&#x8D26;</div>
            </div>
            <div class="time">
                <div class="Success">&#x6210;&#x529F;</div>
                <div>2016-08-04 13:44:55</div>
            </div>
        </div>
        <!---->
    </div>
</div>


<!--筛选下拉框-->
<div class="frame_drag_down frame-order">
    <div class="frame-main">
        <div class="frame-main-body">
            <div class="order_type">
                <div class="choose_type_title">订单类型（可以多选）</div>
                <div class="sorts_list">
                    <div class="sorts_selected choose_all">全部订单</div>
                    <div>福利卖出订单</div>
                    <div>福利买入订单</div>
                    <div>电子卡订单</div>
                    <div>实体卡订单</div>
                    <div>.....</div>
                </div>
            </div>

            <div class="check_btn ">
                <div class="sorts_list">
                    <!--可复制div-->
                    <div class="choose_cancle">重置</div>
                    <div class="choose_check">确认</div>
                </div>
            </div>
        </div>
    </div>
    <div class="weui_mask_transition mask_drag"></div>
</div>


</body>
<script>
    //订单筛选列表下拉框
    var orderDragDown=new jfFrameDrag.dragEleshow({

         "targetButton":"choose_order",//点击的目标元素。ID选择器

        "targetDragName":"frame-order",//出现的目标元素，calss选择器

        "hideButton":"choose_check",//关闭按钮，class选择器

        "initDistance":"-100%",

        "moveDistance":"80px",

        showFn:function(){
            document.getElementById('choose_order').className="choose_order show"
        },
        hideFn:function(){
            document.getElementById('choose_order').className="choose_order"
        }

    });



    /*筛选条件选择*/
    $('.sorts_list>div').on("click",function(){

        $(this).siblings('.sorts_selected').removeClass('sorts_selected');

        $(this).addClass('sorts_selected');

    })

    /*重置按钮*/
    $('div.frame_drag_down').find('.choose_cancle').on("click",function(){

        var thisChooseALL=$('div.choose_all')

        thisChooseALL.siblings('.sorts_selected').removeClass('sorts_selected');

        thisChooseALL.addClass('sorts_selected');

    })

</script>


</html>
