<!DOCTYPE html>
<html>
<head>
    <title>福利卖出</title>
    <link rel="stylesheet"  href="../../css/jf_welfare_market.css">
</head>

<body>

<!--顶部固定导航-->

<!--导航-->
<%- include('../../component/basic/topNav.ejs',{
"thisrighthref":"jfSwitch.goBack()",
"navtitle":"福利卖出常见问题",
"thislefthref":"#",
"thisimgsrc":" "
})%>

<!--常见问题内容-->

<div class="market_sale_faq_title">福利卖出常见问题</div>
<div class="sale_faq_section">
    <div class="sale_faq_section_title_sub">Q: 福利集市是什么？</div>
    <div class="sale_faq_section_text">
        福利集市为用户提供福利买卖服务，闲置福利额度可以转让（卖出）
        到集市也可以在集市中购买福利额度。
    </div>
</div>

<div class="sale_faq_section">
    <div class="sale_faq_section_title_sub">Q: 卖出到集市有哪些规则？</div>
    <div class="sale_faq_section_text">
        福利账户的福利额度可以随时卖出到集市，卖出价格可以自己设定，
        不过为了能够尽快成交，建议适当折价。卖出价格越低、申请时间越
        早，优先成交。
    </div>
</div>

<div class="sale_faq_section">
    <div class="sale_faq_section_title_sub">Q: 资金怎么流转？</div>
    <div class="sale_faq_section_text">
        卖出申请提交后，扣减福利账户，订单待成交。系统撮合成交后，应
        入账金额发放到薪资账户，订单已成交。
    </div>
</div>

<div class="sale_faq_section">
    <div class="sale_faq_section_title_sub">Q: 卖出申请可以取消吗？</div>
    <div class="sale_faq_section_text">
        买出申请提交后，还没有成交时即待成交的，可以在订单查看界面申
        请取消。
    </div>
</div>


</body>


<script src="../../js/jf_welfare_market.js"></script>


</html>