<!DOCTYPE html>
<html>
<head>
    <title>卖出订单详情</title>
    <link rel="stylesheet"  href="../../css/jf_welfare_market.css">
</head>

<body>

<!--顶部固定导航-->

<!--导航-->
<%- include('../../component/basic/topNav.ejs',{
"thisrighthref":"jfSwitch.goBack()",
"navtitle":"订单详情",
"thislefthref":"#",
"thisimgsrc":" ",
})%>

<div class="market_body_main">

    <!--通用进度条（2-5个）-->
    <div class="jf_progress">
        <div class="progress_bar">
            <span class="showblue"></span>
            <span ></span>
            <span ></span>
        </div>
        <div class="progress_text">
            <span class="showblue">1、卖出提交成功</span>
            <span >2、交易中（系统撮合）</span>
            <span>3、卖出成功</span>

        </div>

    </div>
    <!--订单详情-->
    <div class="market_sale_order_details">

        <div class="sale_order_details">
            <div class="sale_order_text">订单详情</div>
            <div class="sale_order_value">596170327422</div>
        </div>

        <div class="sale_order_details">
            <div class="sale_order_text">商品名称</div>
            <div class="sale_order_value">300福利额度卖出</div>
        </div>

        <div class="sale_order_details">
            <div class="sale_order_text">订单状态</div>
            <div class="sale_order_value blue">待成交</div>
        </div>

        <div class="sale_order_details">
            <div class="sale_order_text">卖出价格</div>
            <div class="sale_order_value">297.00</div>
        </div>

        <div class="sale_order_details">
            <div class="sale_order_text">卖出服务费</div>
            <div class="sale_order_value">3.00元</div>
        </div>

        <div class="sale_order_details">
            <div class="sale_order_text">福利账户扣减</div>
            <div class="sale_order_value">300.00</div>
        </div>

        <div class="sale_order_details">
            <div class="sale_order_text">成交后薪资账户到账</div>
            <div class="sale_order_value">294.00元</div>
        </div>



    </div>


    <!--对此单有疑问-->
    <div class="market_sale_order_question">对此订单有疑问?</div>
</div>



<!--按钮-->
<div class="market_sale_order_bottom">
    <div class="sale_order_bottom_button">
        <a class="sale_order_button_text" href="sale.html">继续卖出</a>
    </div>

    <div class="sale_order_bottom_button white">
        <div class="sale_order_button_text">取消订单</div>
    </div>

</div>

</body>

<script src="../../js/jf_welfare_market.js"></script>

<script>
    $('div.sale_order_bottom_button.white').on('click',function (e) {

        jfShowTips.dialogShow({
            "mainText": "福利卖出订单取消",
            "minText": " 确认取消300福利额度卖出? ",
            /* "checkFn": function () {

             thislist.addClass('payment_list_hide');

             jfShowTips.dialogRemove();//弹出框消失

             setTimeout(function () {
             thislist.css("display", "none");
             }, 300);

             }*/
        });

        e.stopPropagation();
        e.preventDefault()

    })



</script>

</html>