<!--提示-->

<a class="jd_notice ban_tips">

    <div class="tab_bd"></div>

    <div class="recharge_balance">
        <img src="../../images/icon_warning.png">
        <span>
        <p>请于2018-05-04前缴清上月保费</p>
        </span>
    </div>

</a>

<!--信息-->

<div class="ban_box">

    <div class="left">

        <p>已结算(元)</p>

        <p>233.00</p>

    </div>

    <div class="right">

        <p>已结算(元)</p>

        <p>45.00</p>

    </div>

</div>

<!--成员删减记录-->
<a href="../insurance/add_record.html" class="add_record">
    <img src="../../images/insurance/record_icon.png" class="add_icon">
    <span>成员加减记录</span>
</a>

<!--列表-->

<div class="record_list">

    <!--单据-->

    <div class="record_box">

        <div class="up">
            <p>账单:<span>18003</span></p>
            <p class="orange">代缴费</p>
        </div>

        <div class="down">

            <div class="left">

                <img src="../../images/insurance/time_icon.png">

                <p class="gray"><span>2017-03-25</span>至<span>2018-03-25</span></p>

            </div>

            <div class="right">

                <p class="bottom_right gray">￥<span>45.00</span></p>

            </div>

        </div>

    </div>

    <!--单据-->

    <div class="record_box">

        <div class="up">
            <p>账单:<span>18003</span></p>
            <p class="blue">已结算</p>
        </div>

        <div class="down">

            <div class="left">

                <img src="../../images/insurance/time_icon.png">

                <p class="gray"><span>2017-03-25</span>至<span>2018-03-25</span></p>

            </div>

            <div class="right">

                <p class="bottom_right gray">￥<span>45.00</span></p>

            </div>

        </div>

    </div>

    <!--单据-->

    <div class="record_box">

        <div class="up">
            <p>账单:<span>18003</span></p>
            <p class="blue">已结算</p>
        </div>

        <div class="down">

            <div class="left">

                <img src="../../images/insurance/time_icon.png">

                <p class="gray"><span>2017-03-25</span>至<span>2018-03-25</span></p>

            </div>

            <div class="right">

                <p class="bottom_right gray">￥<span>45.00</span></p>

            </div>

        </div>

    </div>

</div>