<div class="container_main coupons_main">

    <div class="coupons_tips"><img src="../../images/pay/icon_trumpet.png">可选用多张优惠券</div>

    <div class="coupons_list choosed">
        <div class="tickets_content">
            <div class="num_info">
                <p>
                    <span>￥</span>
                    <span class="ticket_num">20.00</span>
                </p>
                <p class="name">立减券</p>
            </div>

            <div class="text_info">
                <p>购物抵用券</p>
                <p>限于平台【京东】商城所有购物抵现券</p>
            </div>
        </div>

        <div class="date"><span>使用期限：</span><span>2017.12.11-2017.12.12</span></div>

    </div>

    <div class="coupons_list">
        <div class="tickets_content">
            <div class="num_info">
                <p>
                    <span>￥</span>
                    <span class="ticket_num">20</span>
                </p>
                <p class="name">立减券</p>
            </div>

            <div class="text_info">
                <p>购物抵用券</p>
                <p>限于平台【京东】商城所有购物抵现券</p>
            </div>
        </div>

        <div class="date"><span>使用期限：</span><span>2017.12.11-2017.12.12</span></div>

    </div>

    <div class="coupons_list">
        <div class="tickets_content">
            <div class="num_info">
                <p>
                    <span>￥</span>
                    <span class="ticket_num">20</span>
                </p>
                <p class="name">立减券</p>
            </div>

            <div class="text_info">
                <p>购物抵用券</p>
                <p>限于平台【京东】商城所有购物抵现券</p>
            </div>
        </div>

        <div class="date"><span>使用期限：</span><span>2017.12.11-2017.12.12</span></div>

    </div>

    <div class="coupons_list">
        <div class="tickets_content">
            <div class="num_info">
                <p>
                    <span>￥</span>
                    <span class="ticket_num">20</span>
                </p>
                <p class="name">立减券</p>
            </div>

            <div class="text_info">
                <p>购物抵用券</p>
                <p>限于平台【京东】商城所有购物抵现券</p>
            </div>
        </div>

        <div class="date"><span>使用期限：</span><span>2017.12.11-2017.12.12</span></div>

    </div>

    <div class="no_use">不使用优惠券</div>

</div>

<div class="pay_bottom_btn" onclick="pageChange.sectionBack()">
    <a>确认</a>
</div>

<script>

    couponChoose();//优惠券选中以及确认




</script>