<div class="pay_price">

    <a class="list">
        <span>订单金额</span>
        <span>￥98.00</span>
    </a>

    <a class="list" href="#1">
        <span>优惠券</span>

        <!--无可用优惠券时，去掉class值moreCoupons-->
        <span class="saleNum moreCoupons">-20.00</span>
    </a>
</div>