<div class="pay_price pay_coupon">

    <a class="list">
        <span>订单金额</span>
        <span>￥98.00</span>
    </a>


</div>

<div class="pay_coupon pay_fudou">

    <a class="list" href="#1">
        <span>优惠券</span>

        <!--无可用优惠券时，去掉class值moreCoupons-->
        <span class="saleNum moreCoupons">-20.00</span>
    </a>

    <a class="list">
        <span>可用400福豆抵4.00元</span>
        <label for="switch_zy_1017">
            <input type="checkbox" class="switch_zy" id="switch_zy_1017">
        </label>
    </a>
</div>