<div class="cards_page_top" style="opacity: 1">

    <div class="top_main">

        <!--Banner部分-->
        <div class="cards_banner">
            <img src="../../images/purduct_card/cards_banner.png">
        </div>

        <!--选择面值-->
        <div class="cards_value_choose">
            <p>选择面值：</p>
            <div class="tab_value">
                <span class="choosed">50元</span>
                <span>100元</span>
                <span>500元</span>
                <span class="nocards">1000元</span>
            </div>
        </div>

        <!--提示信息-->
        <div class="cards_tips">
            <p>
                <img src="../../images/purduct_card/icon_bell.png">
                <span>注意</span>
            </p>
            <p>订单支付后立即生效，不可退回</p>
        </div>

        <div class="show_cards_pic">上拉查看图文详情</div>
    </div>



</div>





