<!--图片详情-->

<div class="cards_page_bottom" style="opacity: 0">
    
    
    <div class="main_cards_pic bottom_main">

        <div class="title">下拉回到商品详情</div>

        <div class="details_pic">
            <img src="../../images/purduct_card/cards_details1.png" >
            <img src="../../images/purduct_card/cards_details2.png" >
            <img src="../../images/purduct_card/cards_details1.png" >
            <img src="../../images/purduct_card/cards_details2.png" >
            <img src="../../images/purduct_card/cards_details1.png" >
        </div>
        
    </div>
    
   

</div>


