.travel_card_guide_bg{
  width: 100%;
  height: calc(~"100vh - 45px");

  background: url(../../../images/travel/icon_travel_guide.jpg)no-repeat;
  background-attachment:fixed;
  background-size: 100% 100%;


}