<!--确认订单弹出层-->
<div class="frame_drag_up frame_checkorder">
    <div class="frame-main">
        <div class="public_popup">
            <!--弹出窗口-->
            <div class="weui_actionsheet_menu">
                <div class="title_top">
                    <div>确认订单</div>
                </div>
                <!--付款金额-->
                <div class="payment_amount"> <span>计划买入福利额度</span>
                    <p>&#xFFE5;500.00</p>
                </div>
                <!--列表-->
                <div class="list_bottom">
                    <!--列表-->
                    <div class="list_cell" style="padding: 15px">
                        <div>
                            <label>最高买入单价</label>
                        </div>
                        <div class="weui_cell_bd">
                            <p style="color: #4a4a4a">&#xFFE5;1.00</p>
                        </div>
                    </div>
                    <!--列表-->
                    <div class="list_cell" style="padding: 15px">
                        <div>
                            <label>预计成交总价</label>
                        </div>
                        <div class="weui_cell_bd">
                            <p style="color: #4a4a4a">￥10.00</p>
                        </div>
                    </div>
                </div>
                <!--按钮-->
                <a href="../pay/pay_success.html" class="list_btn btn_color">确定买入</a> </div>
        </div>
    </div>
    <div class="weui_mask_transition mask_drag"></div>
</div>



<script>

    //确认订单上拉框

    var orderDragUp=new jfFrameDrag.dragEleshow({

          "targetButton":"buy_check_btn",//点击的目标元素。ID选择器

        "targetDragName":"frame_checkorder",//出现的目标元素，calss选择器

        "hideButton":"title_top"//关闭按钮，class选择器

    });
</script>