<!--<div class="guarantee_detaile_form">

    <div class="detaile_list_line">

        <div class="detaile_line_left">保障范围</div>

        <div class="detaile_line_center">价格(元)</div>

        <div class="detaile_line_left">保障金额(每人)</div>

    </div>

    <div class="detaile_list_line">

        <div class="detaile_line_left">意外人身事故</div>

        <div class="detaile_line_center">7</div>

        <div class="detaile_line_left">10万元</div>

    </div>

    <div class="detaile_list_line">

        <div class="detaile_line_left">意外伤害医疗</div>

        <div class="detaile_line_center">2</div>

        <div class="detaile_line_left">20万元</div>

    </div>

    <div class="detaile_list_line">

        <div class="detaile_line_left">意外住院津贴</div>

        <div class="detaile_line_center">5</div>

        <div class="detaile_line_left">20万元</div>

    </div>

</div>-->




<table class="guarantee_detaile_form">

    <tr>

        <th>保障范围</th>

        <th>价格(元)</th>

        <th>保障金额(每人)</th>

    </tr>

    <tr>

        <td>意外人身事故意外人身事故意外人身事故意外人身事故意外人身事故意外人身事故意外人身事故意外人身事故</td>

        <td>700</td>

        <td>100</td>

    </tr>

    <tr>

        <td>意外人身事故</td>

        <td>700</td>

        <td>100</td>

    </tr>

    <tr>

        <td>意外人身事故</td>

        <td>700</td>

        <td>100</td>

    </tr>

</table>