



<table class="guarantee_detaile_form">

    <tr>

        <th>保障范围</th>

        <th>价格(元)</th>

        <th>保障金额(每人)</th>

    </tr>

    <tr>

        <td>意外人身事故意外人身事故意外人身事故意外人身事故意外人身事故意外人身事故意外人身事故意外人身事故</td>

        <td>700</td>

        <td>100</td>

    </tr>

    <tr>

        <td>意外人身事故</td>

        <td>700</td>

        <td>100</td>

    </tr>

    <tr>

        <td>意外人身事故</td>

        <td>700</td>

        <td>100</td>

    </tr>

</table>