<div class="sheet_list_top">

    <!--保障单里要改字体颜色，只需要在改颜色的字体的 span 里 添加 class 值；
    蓝色字体：span_blue_font ；橙色字体：span_orange_font ；灰色字体：span_gray_font ；红色字体：span_red_font-->
    <a class="sheet_list_white" href="order_insured.html">

        <div>

            <p><span>一般意外伤害</span><span>大病保障</span><span>猝死</span></p>

            <p>
                <span class="left_year_icon"><img src="../../images/insurance/orange_year_icon.png"></span>

                <span>35.00元/人</span>

                <span>共5人</span>
            </p>

        </div>

        <div class="sheet_list_right">
            <p class="span_blue_font">已投保</p>
        </div>

    </a>

    <a class="sheet_list_white" href="order_passed.html">

        <div>

            <p><span>一般意外伤害</span><span>大病保障</span><span>猝死</span></p>

            <p>
                <span class="left_year_icon"><img src="../../images/insurance/orange_year_icon.png"></span>

                <span>35.00元/人</span>

                <span>共5人</span>
            </p>

        </div>

        <div class="sheet_list_right">
            <p>已通过审核</p>
        </div>

    </a>

    <a class="sheet_list_white" href="order_payed.html">

        <div>

            <p><span>一般意外伤害</span><span>大病保障</span><span>猝死</span></p>

            <p>
                <span class="left_year_icon"><img src="../../images/insurance/orange_year_icon.png"></span>

                <span>35.00元/人</span>

                <span>共5人</span>
            </p>

        </div>

        <div class="sheet_list_right">
            <p>已支付</p>
        </div>

    </a>

    <a class="sheet_list_white" href="order_checking.html">

        <div>

            <p><span>一般意外伤害</span><span>大病保障</span><span>猝死</span></p>

            <p>
                <span class="left_year_icon"><img src="../../images/insurance/orange_year_icon.png"></span>

                <span>35.00元/人</span>

                <span>共5人</span>
            </p>

        </div>

        <div class="sheet_list_right">
            <p class="span_orange_font">审核中</p>
        </div>

    </a>

    <a class="sheet_list_white" href="order_normal.html">

        <div>

            <p><span>一般意外伤害</span><span>大病保障</span><span>猝死</span></p>

            <p>
                <span class="left_year_icon"><img src="../../images/insurance/orange_year_icon.png"></span>

                <span>35.00元/人</span>

                <span>共5人</span>
            </p>

        </div>

        <div class="sheet_list_right">
            <p>已生效</p>
        </div>

    </a>

    <a class="sheet_list_white" href="order_failed.html">

        <div>

            <p><span>一般意外伤害</span><span>大病保障</span><span>猝死</span></p>

            <p>
                <span class="left_year_icon"><img src="../../images/insurance/orange_year_icon.png"></span>

                <span>35.00元/人</span>

                <span>共5人</span>
            </p>

        </div>

        <div class="sheet_list_right">
            <p class="span_red_font">未通过审核</p>
        </div>

    </a>

    <div class="href_font_plate"><a href="invalid_safeguards.html" class="href_font">查看失效保障单》</a></div>

</div>

