<div class="security_details">

    <!--如需更换失效状态的颜色在下面的div中加入class值“details_top_lose”（橙色）即可-->

    <div class="details_top">

        <div class="top_left">

            <p>门急诊</p>

            <p>保障号码：<span>12345678901234567890</span></p>

        </div>

        <div class="top_right">保障中</div>

    </div>

    <div class="details_center">

        <div class="list_text">

            <p>保障期限</p>

            <p><span>2018-02-02</span>至<span>2019-02-02</span></p>

        </div>

        <div class="list_text">

            <p>保障额度</p>

            <p>5万</p>

        </div>

        <div class="list_text">

            <p>年免赔额</p>

            <p>0元</p>

        </div>

        <div class="list_text">

            <p>赔付比例</p>

            <p>90%</p>

        </div>


    </div>

    <div class="details_inf">

        <div class="list_text">

            <p>被保险人</p>

            <p>京晶婧</p>

        </div>

        <div class="list_text">

            <p>证件号码(<span>身份证</span>)</p>

            <p>6201119009090****</p>

        </div>

    </div>

    <!--==========不需报案==========-->

    <div class="details_bottom">

        <p>理赔流程</p>

        <p>1、发起理赔</p>

        <p>2、通过审核</p>

        <p>3、递交理赔凭证(注：理赔2000元以上)</p>

        <p>4、打款到账</p>

    </div>

    <!--==========需报案==========-->

<!--

    <div class="details_bottom">

        <p>理赔流程</p>

        <p>1、请在48小时内致电400-0000-xxxx</p>

        <p class="text_in">(注：投保渠道嘉福平台)</p>

        <p>2、上传理赔材料</p>

        <p>3、发起理赔</p>

        <p>4、通过审核</p>

        <p>5、递交理赔凭证</p>

        <p>6、打款到账</p>

    </div>

-->

</div>



<!--底部按钮-->

<div class="foooooooot_pich"></div>

<div class="security_button_all">

    <div class="bottom_button">

        <label class="checkbox_font">

            <input class="bottom_text_radio" type="checkbox" name="radio">我已阅读并同意

        </label>

        <a class="team_securuty_text">《申请声明与授权》</a>

    </div>

    <div class="product_bottom_line">

        <a href="tel:400-0000-0000" class="button_text_plate">

            <div class="bottom_left_icon">

            <img src="../../images/insurance/customer%20_service_icon.png">

            </div>

            <p>联系客服</p>

        </a>

        <button class="bottom_button_block bottom_button_blue">申请理赔</button>

    </div>

</div>

