<div class="bank_card">

    <div >

        <p>姓名</p>

        <p>王欣</p>

    </div>

    <div >

        <p>开户银行</p>



        <p>请选择银行<img class="choose_next" src="../../images/icon_pay_return_black.png"></p>


    </div>

    <div >

        <p>银行卡号</p>

        <p class="choose_in_gray">请输入您的银行卡号</p>

    </div>


</div>


<a class="btn_blue_choose">确定</a>
