<div class="bank_card">

    <div >

        <p>姓名</p>

        <p>王欣</p>

    </div>

    <label >

        <p>开户银行</p>


        <select class="money_select" onchange="selectChange()">
            <option value ="choose">请选择银行</option>
            <option value ="bank_a">工商银行</option>
            <option value="bank_b">交通银行</option>
        </select>

        <!--<p>请选择银行<img class="choose_next" src="../../images/icon_pay_return_black.png"></p>-->


    </label>

    <label >

        <p>银行卡号</p>

        <input type="number" class="choose_in_gray" placeholder="请输入您的银行卡号">

    </label>


</div>


<a class="btn_blue_choose">确定</a>
