<a href="alipay.html">

    <div class="payment_choose">

        <p>收款到支付宝</p>

        <img class="choose_next" src="../../images/icon_pay_return_black.png">

    </div>

</a>

<a href="bank_card.html">

    <div class="payment_choose">

        <p>收款到银行卡</p>

        <img class="choose_next" src="../../images/icon_pay_return_black.png">

    </div>

</a>
