




<div class="list_box">

    <div class="q_a">

        <div class="q_1">

            <div class="icon_q">Q <span class="title_q">扣款方式？</span></div>

        </div>

        <p class="content_q">滴滴出行采用代扣支付的支付方式，用车结束后系统将自动扣除实际消费金额；若自动扣款失败，可以在订单中主动去支付。</p>

    </div>

    <div class="q_a">

        <div class="q_1">

            <div class="icon_q">Q <span class="title_q">自动扣款顺序？</span></div>

        </div>

        <p class="content_q">优先扣除福利余额，福利余额不足时，扣除工资余额。</p>

    </div>


    <div class="q_a">

        <div class="q_1">

            <div class="icon_q">Q <span class="title_q">自动扣款顺序怎么办？</span></div>

        </div>

        <p class="content_q">自动扣款失败时，用户可在充值后在订单页主动去支付，若超过48小时仍未支付，则系统将继续发起自动扣款，直至扣款成功。</p>

    </div>

    <div class="q_a">

        <div class="q_1">

            <div class="icon_q">Q <span class="title_q">能否使用优惠劵？</span></div>

        </div>

        <p class="content_q">系统自动扣款时，将自动选择优惠券最优组合进行抵扣，优惠券组合最大金额≤订单总金额；用户主动付款时，可在收银台手动选择优惠券抵扣。</p>

    </div>

    <div class="q_a">

        <div class="q_1">

            <div class="icon_q">Q <span class="title_q">不支付订单会有什么影响？</span></div>

        </div>

        <p class="content_q">如有未支付订单，会影响您使用滴滴出行，若订单超过48小时未支付，平台有权终止提供滴滴出行服务，建议您及时支付订单。</p>

    </div>



</div>

<div class="none_box"></div>