<div class="didi_popup"></div>

<script>
    
    window.onload = function () {

        jfShowTips.dialogShow({
            "mainText": " ",
            "minText": ' 你有一笔订单未支付，需先完成支付，才能继续用车。',
            "noCheck": false,
            "noCancel": false,
            "checkBtnText":"立即支付",
            "thisUrl": '../pay/payStepone.html',
            "cancelUrl":'didi_order.html '
        });

        document.getElementsByClassName('text_small')[0].style.color='#4a4a4a';

        document.getElementsByClassName('dialog_cancel')[0].innerHTML='查看订单';
        
    }

</script>