
<!--提示-->

<a class="jd_notice">

    <div class="tab_bd"></div>

    <div class="recharge_balance">
        <img src="../../images/icon_warning.png">
        <span>
        <p>完整订单信息请至滴滴出行中查看</p>
        </span>
    </div>

</a>

<!--协议-->

<div class="didi_agreement">

    <p class="didi_tit">第一条 总则</p>

    <p>本服务协议（以下简称“本协议”）是上海淘略数据处理有限公司（以下简称“嘉福平台”）与嘉福用户（以下简称“用户”或“您”)就代扣服务的使用等相关事项所订立的有效合约。用户通过网络页面点击确认或以其他方式选择接受本协议，即表示用户与嘉福平台已达成协议并同意接受本协议的全部约定内容。</p>
    <span>在接受本协议之前，请您仔细阅读本协议的全部内容，尤其是加粗加下划线部分的内容。如果您不同意本协议的任意内容，或者无法准确理解嘉福平台对条款的解释，请不要进行后续操作。</span>
    <span>嘉福代扣服务的定义：是指嘉福平台根据您的授权，执行您委托嘉福平台发起的扣款指令，从而为您提供相关业务的服务（以下简称“本服务”）。</span>

    <br><p class="didi_tit">第二条 用户的权利义务</p>

    <p>(一)您确认在使用本服务的意思表示出自您的真实意愿; 同时您对使用本服务过程中发出的指令的真实性及有效性承担全部责任，该指令视为您的真实意思表示且不可变更或撤销。您承诺，嘉福平台依照您的指令进行操作的一切风险均由您承担。</p>
    <p>(二)您承诺在本服务时的所有行为均遵守国家法律、法规、嘉福平台规则以及各种社会公共利益或公共道德。您同意承诺不会利用本服务从事任何非法或不当交易、或开展任何违反本协议目的或者侵犯其他第三方权益的行为，否则嘉福平台有权立即单方面终止提供本服务，并不承担任何责任; 如果因您的行为给嘉福平台造成损失的，您应承担全部赔偿责任。</p>
    <span>(三)您授权嘉福平台在您使用本服务期间或嘉福平台终止提供本服务后，有权保留您在使用本服务期间所形成的相关信息数据，同时该授权不可撤销。</span>
    <span>(四)您理解并同意，嘉福平台在接到您在嘉福平台上发起的代扣指令后，即视为您授嘉福平台从您的嘉福账户余额进行扣款，并将收到相关的提醒。</span>
    <span>(五)您在使用本服务期间，嘉福平台可以自由选择扣款渠道，包括嘉福福利余额、嘉福工资余额、优惠劵等，且嘉福平台有权根据实际情况决定扣款渠道的顺序。</span>
    <p>(六)您理解并同意，基于风险的防范与控制，嘉福平台会对您选择的不同资金渠道的代扣托收额度作出不同的限制，若超过限额的，则会扣款失败，无法完成支付。代扣额度及代扣次数均以官方公告为准。</p>
    <span>(七)您需保证在扣款账户内须留有不低于划扣金额的余额，且不得随意取消订单，否则因余额不足或订单状态异常导致扣款失败的，您应当自行承担责任。</span>
    <span>(八)您理解并同意，您不得以与第三方发生纠纷为理由拒绝支付使用本服务的应付款项。</span>
    <p>(九)您保证在使用本服务过程中提供的资料真实、准确、完整、有效。<span>对于因您提供信息不真实或不完整所造成的损失由您自行承担。</span>您必须正确填写相关页面信息，并且妥善保管本人的账户、登录账户绑定的手机设备(含手机号码)、银行卡、密码及相关信息，不得以转让、出租、出借或其他方式交由他人使用；<span>对于因信息泄露、非授权使用等所导致的损失，应由用户自行承担，用户不得以其密码等信息丢失为由否认以其账户进行的操作。您对通过以上信息完成的一切款项代扣行为负责。</span></p>
    <p>(十)您选择使用本服务后，除非您选择终止本服务或本协议约定的其他终止本服务情形，否则您对嘉福平台的代扣委托为不可撤销。您在使用本项服务时，必须同时遵守嘉福平台不定期更新发布的《代扣服务协议》及相关附属规则，否则因此导致责任，均由您自行承担。</p>
    <p>(十一)您应遵守本服务的相关使用规则及要求，具体以嘉福平台在门户和客户端提示的使用规则及限制为准。</p>
    <p>(十二)您对嘉福代扣服务如有疑问、建议或意见时，可拨打嘉福客服电话或登录嘉福网站进行咨询和投诉。</p>

    <p class="didi_tit">第三条 嘉福平台的权利、义务</p>

    <p>(一)嘉福平台对您的注册信息负有保密义务，但在必要时嘉福平台有权将相关信息提供给嘉福平台的监管机关。</p>
    <p>(二)嘉福平台可以可以在法律法规许可和您授权的范围内使用您的资料和交易记录信息等。</p>
    <p>(三)嘉福平台有权根据自身业务的发展，增加、减少或撤销代扣服务项目，调整代扣服务内容，并且有权对本服务进行升级、改造。</p>
    <p>(四) 嘉福平台有义务在技术上确保代扣服务的安全、有效、正常运行，保证您的正常使用。但不承担因通讯、停电故障、黑客攻击、银行问题、相关机构单位出账问题、不可抗力等非嘉福平台原因所引起交易中断、交易错误引起的责任。</p>
    <span>(五)除本协议另有规定外，或在网站公告的情况下，可以单方面终止向您提供本服并不承担任何赔偿责任。嘉福平台在终止提供本服务务，若发现您之前存在违法或违反本协议目的的使用行为，给嘉福平台造成损失的，则嘉福平台仍可据此要求您承担相应赔偿责任并保留通过司法途径予以解决的权利。 </span>
    <p>(六) 嘉福平台负责向您提供代扣业务咨询服务，并在客户端公布功能介绍、使用规则等内容。</p>

    <p class="didi_tit">第四条 协议修改</p>

    <p>(一) 嘉福平台将有权随时修改本协议的有关条款，一旦相关内容发生变动，嘉福平台将会通过客户端通知或网站公告等方式向您提示修改内容。</p>
    <p>(二) 如果您不同意嘉福平台对本协议相关条款所做的修改时，您应立即停止使用嘉福平台提供的本项服务。如果您继续使用嘉福平台提供的服务，则视为您接受并认可本协议相关条款的修改，无需另行签订补充协议。</p>

    <p class="didi_tit">第五条 争议解决</p>

    <p>双方在履行本协议的过程中，如发生争议，应协商解决。协商不成的，任何一方均可向嘉福平台所在地人民法院提起诉讼。</p>

    <p class="didi_tit">第六条 协议的解释</p>

    <p>本协议的成立、生效、履行和解释，均适用中华人民共和国法律; 法律无明文规定的，应适用嘉福平台制定的业务规则和通行的商业惯例。</p>


    <div class="none_box"></div>
</div>

<!--底部选择、按钮-->

<div class="didi_age_bottom_line">

    <!--<div class="agreement">-->

        <label class="agreement">

            <input type="checkbox"  class="tate_y">我已经阅读并同意《现金分期服务协议》</label>

    <!--</div>-->

    <div class="didi_bottom_buttom">

    <div class="disclaimer_button">去用车</div>

    </div>

</div>