
<!--提示-->

<a class="jd_notice">

    <div class="tab_bd"></div>

    <div class="recharge_balance">

        <img src="../../images/icon_warning.png">
        <span>
        <p>完整订单信息请至滴滴出行中查看</p>
        </span>
    </div>

</a>



<!--状态-->

<div class="order_inf di_step">


    <!--如需切换，在下面的div中加入class值：now_didi_step ;-->

        <div class="didi_step ">

            <div class="didi_now_step"></div>

            <span>等待应答</span>

         </div>

        <div class="didi_step ">

            <div class="didi_now_step"></div>

            <span>等待接驾</span>

        </div>


        <div class="didi_step now_didi_step">

            <div class="didi_now_step"></div>

            <span>行程中</span>

        </div>

        <div class="didi_step ">

            <div class="didi_now_step"></div>

            <span>已支付</span>

        </div>

        <div class="didi_step ">

            <div class="didi_now_step"></div>

            <span>评价</span>

        </div>


    </div>

    </div>






<!--车型信息-->

<div class="order_inf">

    <div class="inf_tittle">

        <p><span>快车</span><span>（普通型）</span></p>

    </div>

    <!--<div class="didi_inf_inf">-->

        <!--&lt;!&ndash;如需改变起点终点标记颜色在didi_line_tit 中添加 didi_blue，蓝色，didi_orange,橙色&ndash;&gt;-->

    <div class="order_inf_text">

        <div class="up_inf">

            <div class="didi_inf_left">

              <div class="didi_line_tit didi_blue">起</div>

                <span>上海加华商务中心D5座</span>

            </div>


            <span></span>

        </div>

        <div class="up_inf">

            <div class="didi_inf_left">

                <div class="didi_line_tit didi_orange">终</div>

                <span>徐家汇</span>

            </div>


            <span></span>

        </div>

        <div class="up_inf">

            <div class="didi_inf_left">

                <img class="didi_line_tit didi_clock" src="../../images/didi_out/didi_clock.png">

                <span><span>2018</span>年<span>2</span>月<span>12</span>日 <span>10</span>：<span>10</span></span>

            </div>

            <span></span>

        </div>

    </div>


    <div class="order_inf_diver">


        <div class="up_inf">

            <div class="didi_inf_left">

                <img class="didi_line_tit didi_car" src="../../images/didi_out/didi_dirver.png">

                <span>王师傅</span>

            </div>

            <span>13900001111</span>

        </div>

        <div class="up_inf">

            <div class="didi_inf_left">

                <img class="didi_line_tit didi_car" src="../../images/didi_out/didi_car.png">

                <span>黑色 <span>荣耀e500</span></span>

            </div>

            <span>沪<span>H</span>·<span>88888</span> </span>

        </div>


    </div>


</div>


<!--订单信息-->


<div class="order_inf">

    <div class="inf_tittle">

        <span>订单信息</span>

        <a href="../didi_out/didi_rule.html"><span>扣款规则></span></a>

    </div>

    <!--如需更改颜色 在标签中加入如下class即可-->
    <!-- inf_orange,橙色；inf_blue,蓝色；inf_gray,灰色；inf_red,红色；-->

    <div class="up_inf"><span>订单号</span><span>20180212310199999999</span></div>

    <div class="up_inf"><span>订单状态</span><span class="inf_gray">已完成</span></div>

    <div class="up_inf"><span>支付方式</span><span>支付宝</span></div>

    <div class="up_inf"><span>应付金额</span><span>￥<span>50.00</span></span></div>

    <div class="up_inf"><span>优惠卷折扣</span><span class="inf_orange">-￥<span>10.00</span></span></div>

    <div class="up_inf"><span>实付金额</span><span>￥<span>50.00</span></span></div>


</div>

<!--按钮-->

    <div class="didi_bottom_buttom didi_inf_buttom">

        <a href="#"><div class="disclaimer_button">查看详情</div></a>

        <p class="didi_q">对此订单有疑问？</p>

        <div class="none_box"></div>

    </div>



