<div class="weui_msg">
    <div class="weui_icon_area" style="margin-bottom:0px;">
        <div class="swal2-icon swal2-info didi-info-icon" style="display: block;">!</div>
    </div>

    <div class="weui_text_area" style="padding:0px;">
        <div class="weui_text01_qiao">为保证您的用车质量，下单时需保证您的账户余额大于<span>****</span>元，您当前余额不足，请您充值后继续用车。</div>
    </div>

</div>