
<div class="records-of-consumption">
    <div class="three-function">
        <div class="records-name">
            消费记录
        </div>
        <div class="records-function">
            <p class="card-number">卡号</p>
            <p class="card-number-one">FDKSJ898980980980</p>
        </div>
        <div class="records-function">
            <p class="card-number">消费记录</p>
            <p class="card-number-one">暂无消费记录 </p>
        </div>
    </div>
    <div class="i-know">
       <a>我知道了</a>
    </div>
</div>
<div class="grey-background">

</div>
