
<div class="shop_pay_gather">

    <div class="shop_pay_success">

        <!--打勾-->
        <div class="payment_animation_right">
            <div class="swal2-icon swal2-success animate">
                <span class="line tip animate-success-tip"></span>
                <span class="line long animate-success-long"></span>
                <div class="placeholder"></div>
                <div class="fix"></div>
            </div>
        </div>

        <div class="payment_detail">

            <div class="operation_prompt">
                <p>购买成功</p>
            </div>

        </div>



        <div class="didi_bottom_buttom didi_inf_buttom">

            <a href="../market_code/walmart_buy.html"><div class="disclaimer_button">查看付款码</div></a>

            <p class="didi_q">倒计时自动跳转（3）</p>



        </div>


    </div>

</div>