
<div class="shop_pay_gather">

    <div class="shop_pay_success">


        <!--打叉-->
        <div class="payment_animation_wrong">
            <div class="swal2-icon swal2-error animate-error-icon">
                 <span class="x-mark animate-x-mark">
                 <span class="line left"></span>
                 <span class="line right"></span>
                 </span>
            </div>
        </div>


        <div class="payment_detail">

            <div class="operation_prompt">
                <p>购买失败</p>
            </div>

        </div>


        <div class="didi_bottom_buttom didi_inf_buttom">

            <a href="../market_code/walmart_buy.html"><div class="disclaimer_button_fail">重新购买</div></a>



        </div>


    </div>

</div>