<div class="code_list_all">


    <!--信息行-->

    <a href="../market_code/lawson_code.html" class="code_line">

        <div class="left">

            <div class="img_box">

                <img src="../../images/market_code/LS_LS.png">

            </div>

            <div class="right1">

                <!---修改颜色修改p标签class值："red_code_pay"-红色；"black_code_pay"-黑色；

     "gray_code_pay"-灰色；"blue_code_pay"-蓝色；"none_code_pay"-白色(无色)；--->

                <p class="top black_code_pay">罗森杨南南路门店</p>

                <p class="bottom gary_code_pay">今天19：21</p>

            </div>

        </div>

        <div class="right">

            <!---修改颜色修改p标签class值："red_code_pay"-红色；"black_code_pay"-黑色；

     "gray_code_pay"-灰色；"blue_code_pay"-蓝色；"none_code_pay"-白色(无色)；--->

            <p class="top black_code_pay">-19.00</p>

            <p class="bottom gary_code_pay">已退款</p>

        </div>

    </a>


    <!--信息行-->

    <a href="../market_code/lawson_code.html" class="code_line">

        <div class="left">

            <div class="img_box">

                <img src="../../images/market_code/LS_LS.png">

            </div>

            <div class="right1">

                <!---修改颜色修改p标签class值："red_code_pay"-红色；"black_code_pay"-黑色；

     "gray_code_pay"-灰色；"blue_code_pay"-蓝色；"none_code_pay"-白色(无色)；--->

                <p class="top black_code_pay">罗森杨南南路门店</p>

                <p class="bottom gary_code_pay">昨天19：21</p>

            </div>

        </div>

        <div class="right">

            <!---修改颜色修改p标签class值："red_code_pay"-红色；"black_code_pay"-黑色；

     "gray_code_pay"-灰色；"blue_code_pay"-蓝色；"none_code_pay"-白色(无色)；--->

            <p class="top black_code_pay">-19.00</p>

            <p class="bottom blue_code_pay">去支付</p>

        </div>

    </a>


    <!--信息行-->

    <a href="../market_code/lawson_code.html" class="code_line">

        <div class="left">

            <div class="img_box">

                <img src="../../images/market_code/YL_YL.png">

            </div>

            <div class="right1">

                <!---修改颜色修改p标签class值："red_code_pay"-红色；"black_code_pay"-黑色；

     "gray_code_pay"-灰色；"blue_code_pay"-蓝色；"none_code_pay"-白色(无色)；--->

                <p class="top black_code_pay">罗森杨南南路门店</p>

                <p class="bottom gary_code_pay">昨天19：21</p>

            </div>

        </div>

        <div class="right">

            <!---修改颜色修改p标签class值："red_code_pay"-红色；"black_code_pay"-黑色；

     "gray_code_pay"-灰色；"blue_code_pay"-蓝色；"none_code_pay"-白色(无色)；--->

            <p class="top black_code_pay">-19.00</p>

            <p class="bottom gary_code_pay">交易关闭</p>

        </div>

    </a>


    <!--信息行-->

    <a href="../market_code/YL_code.html" class="code_line">

        <div class="left">

            <div class="img_box">

                <img src="../../images/market_code/YL_YL.png">

            </div>

            <div class="right1">

                <!---修改颜色修改p标签class值："red_code_pay"-红色；"black_code_pay"-黑色；

     "gray_code_pay"-灰色；"blue_code_pay"-蓝色；"none_code_pay"-白色(无色)；--->

                <p class="top black_code_pay">中银通卡充值</p>

                <p class="bottom gary_code_pay">昨天19：21</p>

            </div>

        </div>

        <div class="right">

            <!---修改颜色修改p标签class值："red_code_pay"-红色；"black_code_pay"-黑色；

     "gray_code_pay"-灰色；"blue_code_pay"-蓝色；"none_code_pay"-白色(无色)；--->

            <p class="top red_code_pay">+1000.00</p>

            <p class="bottom none_code_pay">交易关闭</p>

        </div>

    </a>


    <!--信息行-->

    <a class="code_line">

        <div class="left">

            <div class="img_box">

                <img src="../../images/market_code/YL_YL.png">

            </div>

            <div class="right1">

                <!---修改颜色修改p标签class值："red_code_pay"-红色；"black_code_pay"-黑色；

     "gray_code_pay"-灰色；"blue_code_pay"-蓝色；"none_code_pay"-白色(无色)；--->

                <p class="top black_code_pay">好乐迪中山公园店</p>

                <p class="bottom gary_code_pay">昨天19：21</p>

            </div>

        </div>

        <div class="right">

            <!---修改颜色修改p标签class值："red_code_pay"-红色；"black_code_pay"-黑色；

     "gray_code_pay"-灰色；"blue_code_pay"-蓝色；"none_code_pay"-白色(无色)；--->

            <p class="top black_code_pay">-589.00</p>

            <p class="bottom none_code_pay">交易关闭</p>

        </div>

    </a>


    <!--信息行-->

    <a class="code_line">

        <div class="left">

            <div class="img_box">

                <img src="../../images/market_code/WRM_WRM.png">

            </div>

            <div class="right1">

                <!---修改颜色修改p标签class值："red_code_pay"-红色；"black_code_pay"-黑色；

     "gray_code_pay"-灰色；"blue_code_pay"-蓝色；"none_code_pay"-白色(无色)；--->

                <p class="top black_code_pay">好乐迪中山公园店</p>

                <p class="bottom gary_code_pay">昨天19：21</p>

            </div>

        </div>

        <div class="right">

            <!---修改颜色修改p标签class值："red_code_pay"-红色；"black_code_pay"-黑色；

     "gray_code_pay"-灰色；"blue_code_pay"-蓝色；"none_code_pay"-白色(无色)；--->

            <p class="top black_code_pay">-58.00</p>

            <p class="bottom none_code_pay">交易关闭</p>

        </div>

    </a>

</div>