<div class="wal_mart_tab">
    <div class="tab_box"></div>
    <div class="tab_contain jdshop_shadow" id="orderTab">
        <div class="tab choose_tab">购买付款码</div>
        <div class="tab">我的付款码</div>
    </div>
</div>

<div class="wal_mart_content">

    <!-- 购买付款码-->
    <div class="wal_mart_list show">

        <!--输入金额-->
        <div class="wal_mart_import">

            <span class="wal_mart_money">请输入金额</span>

            <div class="wal_mart_input">

                <div class="buy_icon">￥</div>

                <div class="buy_number">
                    <input type="text" pattern="[0-9]*" class="wal_mart_1input">
                </div>

                <div class="num_delete"><img src="../../images/market_code/close.png"></div>

            </div>

            <div class="wal_mart_whole">


                <div class="wal_mart_text">

                    <p>最低30元起，金额整十递进，封顶1000元</p>

                    <a class="wal_mart_help">
                        <img src="../../images/market_code/icon_credit_card_3.png" class="tips_ti_none">
                    </a>

                </div>


            </div>


        </div>

        <!--按钮-->
        <div class="btn_box">

            <button class="credit_card_button">立即购买</button>

        </div>

    </div>


    <!-- 我的付款码 -->

    <div class="wal_mart_list ">

        <!-- 二维码 -->

        <div class="payment_code">

            <a class="name">
                <div><img src="../../images/market_code/WRM_WRM.png"></div>
                <div>
                    <p>沃尔玛付款码</p>
                    <p>有限期至：2019-09-10</p>
                </div>
            </a>

            <div class="details">
                <div>余额<span>￥<span>2.23</span></span></div>
                <a href="../market_code/walmart_detail_list.html">查看交易明细<img src="../../images/icon_history_right.png"></a>
            </div>


        </div>

        <div class="payment_code">

            <a class="name">
                <div><img src="../../images/market_code/WRM_WRM.png"></div>

                <div>
                    <p>沃尔玛付款码</p>
                    <p>有限期至：2019-09-10</p>
                </div>
            </a>

            <div class="details">
                <div>余额<span>￥<span>2.23</span></span></div>
                <a href="../market_code/walmart_detail_list.html">查看交易明细<img src="../../images/icon_history_right.png"></a>
            </div>


        </div>

        <div class="payment_code">

            <a class="name">
                <div><img src="../../images/market_code/WRM_WRM.png"></div>

                <div>
                    <p>沃尔玛付款码</p>
                    <p>有限期至：2019-09-10</p>
                </div>
            </a>

            <div class="details">
                <div>余额<span>￥<span>2.23</span></span></div>
                <a href="../market_code/walmart_detail_list.html">查看交易明细<img src="../../images/icon_history_right.png"></a>
            </div>


        </div>

        <div class="payment_code">

            <a class="name">
                <div><img src="../../images/market_code/WRM_WRM.png"></div>

                <div>
                    <p>沃尔玛付款码</p>
                    <p>有限期至：2019-09-10</p>
                </div>
            </a>

            <div class="details">
                <div>余额<span>￥<span>2.23</span></span></div>
                <a href="../market_code/walmart_detail_list.html">查看交易明细<img src="../../images/icon_history_right.png"></a>
            </div>


        </div>

        <!-- 失效-->

        <div class="payment_code invalid_code">

            <a class="name">
                <div><img src="../../images/market_code/WRM_WRM.png"></div>

                <div>
                    <p>沃尔玛付款码</p>
                    <p>有限期至：2019-09-10</p>
                </div>
            </a>

            <div class="details">
                <div>余额<span>￥<span>2.23</span></span></div>
                <a href="../market_code/walmart_detail_list.html">查看交易明细<img src="../../images/icon_history_right.png"></a>
            </div>

        </div>

    </div>

</div>



<!--底部按钮-->


<div class="bottom_tab">

   <a class="market_code choose" href="../market_code/lawson_code.html">

        <div class="style">

            <img src="../../images/market_code/LS_1.png">

            <img src="../../images/market_code/LS_2.png">

        </div>

        <p>罗森便利店</p>

    </a>

    <a class="market_code style" href="../market_code/YL_code.html">

        <div class="style">

            <img src="../../images/market_code/YL_1.png">

            <img src="../../images/market_code/YL_2.png">

        </div>

        <p>银联付款码</p>

    </a>

    <a class="market_code style" href="#">

        <div class="style">

            <img src="../../images/market_code/WRM_1.png">

            <img src="../../images/market_code/WRM_2.png">

        </div>

        <p>沃尔玛付款码</p>

    </a>



</div>



<script>

    /*切换tab*/
    jfOrderTab.switchTab();

    //tab 切换

    jfProductDetails.clickTabChange(document.getElementById('orderTab'), 'choose_tab', 'tab');

    /*弹框*/
    document.getElementsByClassName('wal_mart_help')[0].addEventListener('click',function(){

        jfShowTips.dialogShow({
                "mainText": "弹框标题",
            "minText": "弹框文案",
            "noCheck": false,
            "noCancel": true,
            "checkBtnText":"知道了",
            "checkFn": function () {
                jfShowTips.dialogRemove()
            }
        });

    },false)


</script>