

<div class="code_all">

    <div class="tab_box"></div>


    <!--扫码支付-->

    <div class="lawson_code">

        <!-- 条形码-->
        <div class="lawson_shape_code">
            <canvas id="oneCode"></canvas>
        </div>
        <!-- 二维码-->
        <div class="codes_card" id="QR_code"></div>

        <!-- 二维码未出现时动画-->
        <div class="jf_QR_loading">
            <div class="k-spinner">
                <div class="k-bubble-1"></div>
                <div class="k-bubble-2"></div>
            </div>

        </div>


        <!-- 刷新 -->
        <div class="refresh">
            <img src="../../images/lawson_card/icon_refresh.png">
            <p>每分钟自动刷新</p>
        </div>
        <div class="remaining_sum" id="lawsonPay">
            <img src="../../images/mine/icon_mine_welfare.png">
            <a>中银通卡余额 <span style="color:rgb(52,167,248);">500.00元</span><img class="pay_arrow" src="../../images/icon_pay_return_black.png"></a>
        </div>

    </div>

    <a href="../market_code/YL_buy.html" class="bottom_YL">余额不够？ 立即充值<img src="../../images/market_code/icon_pay_return_white.png"></a>

</div>


<!--底部按钮-->


<div class="lawson_tab">

    <a class="market_code style" href="../market_code/lawson_code.html">

        <div>

            <img src="../../images/market_code/LS_3.png">

        </div>

        <p>罗森便利店</p>

    </a>

    <a class="market_code choose" href="../market_code/YL_code.html">

        <div>



            <img src="../../images/market_code/YL_3.png">

        </div>

        <p>银联付款码</p>

    </a>

    <a class="market_code style" href="#">

        <div>


            <img src="../../images/market_code/WRM_3.png">

        </div>

        <p>沃尔玛付款码</p>

    </a>


</div>


<!-- 付款方式-->
<div class="frame_drag_up frame_lawson_pay">
    <div class="frame-main" >
        <div class="public_popup">
            <!--弹出窗口-->
            <div class="weui_actionsheet_menu">
                <div class="title_top">
                    <div class="lawson_title">
                        <p>请选择支付方式</p>
                        <p>优先使用所选支付方式付款，如积分余额不足将尝试使用其他支付方式完成付款</p>
                    </div>

                </div>
                <!--列表-->
                <div class="list_bottom">
                    <!--列表-->
                    <div class="list_cell" onclick="lawsonPayDragUp.stop();">
                        <label class="weui_cell">
                            <div class="weui_cell_bd weui_cell_primary">
                                <img class="pay_icon" src="../../images/mine/icon_mine_welfare.png">
                                <div style="display: inline-block">

                                    <p>福利积分账户</p>
                                    <p>可用余额：100,000,000,000元</p>
                                </div>

                            </div>
                            <div class="weui_cell_hd lawson_selected"></div>
                        </label>

                    </div>
                    <!--列表-->
                    <div class="list_cell" onclick="lawsonPayDragUp.stop();">
                        <label class="weui_cell">
                            <div class="weui_cell_bd weui_cell_primary">
                                <img class="pay_icon" src="../../images/mine/icon_mine_moneybag.png">
                                <div style="display: inline-block">
                                    <p>工资积分余额</p>
                                    <p>可用余额：100,000,000,000元</p>
                                </div>

                            </div>
                            <div class="weui_cell_hd"></div>
                        </label>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="weui_mask_transition mask_drag"></div>
</div>



<script>

    /*单价说明*/
    /*document.getElementsByClassName('sale_price')[0].addEventListener('click',function(){

        jfShowTips.dialogShow({
            "mainText": "卖出单价",
            "minText": "卖出单价文案",
            "noCheck": false,
            "noCancel": true,
            "checkBtnText":"知道了",
            "checkFn": function () {
                jfShowTips.dialogRemove()
            }
        });

    },false)*/


    addEventListener('load',function () {

        jfShowTips.dialogShow({
            "mainText": "友情提示",
            "minText": "首次使用提醒，在金额框最后有一个浅灰色的0紧跟着",
            "noCheck": false,
            "noCancel": true,
            "checkBtnText":"清楚了",
            "checkFn": function () {
                jfShowTips.dialogRemove()
            }
        });

    },false)



    /*点击更多*/

    var lawsonPayDragUp=new jfFrameDrag.dragEleshow({

        "targetButton":"lawsonPay",//点击的目标元素。ID选择器

        "targetDragName":"frame_lawson_pay",//出现的目标元素，calss选择器

        "hideButton":"title_top"//关闭按钮，class选择器

    });

    //一维码

    JsBarcode('#oneCode','1234 5678 9012 3456 78',{
        font:"Microsoft Yahei",//设置文本的字体
        height:'120',
        fontSize:32,//设置文本的大小
        margin:15

    });//输入18位数字

    /*    JsBarcode("#imgcode", "123", {
     format: "CODE39",//选择要使用的条形码类型
     width:3,//设置条之间的宽度
     height:100,//高度
     displayValue:true,//是否在条形码下方显示文字
     text:"456",//覆盖显示的文本
     fontOptions:"bold italic",//使文字加粗体或变斜体
     font:"fantasy",//设置文本的字体
     textAlign:"left",//设置文本的水平对齐方式
     textPosition:"top",//设置文本的垂直位置
     textMargin:5,//设置条形码和文本之间的间距
     fontSize:15,//设置文本的大小
     background:"#eee",//设置条形码的背景
     lineColor:"#2196f3",//设置条和文本的颜色。
     margin:15//设置条形码周围的空白边距
     });*/



    //二维码
    var qrcode = new QRCode('QR_code',{

        text:'http://www.baidu.com',             //输入二维码解析网址
        correctLevel : QRCode.CorrectLevel.H     //容错率30%

    })
    //注意

    //使用API
    //qrcode.clear()                    //二维码清除方法
    //qrcode.makeCode('new_content')    //添加新的解析地址


</script>
