<!DOCTYPE html>
<html lang="en">
<head>

    <title>最大牌</title>
    <link rel="stylesheet" href="../../css/jf_homepage.css">

</head>
<body>

<!--导航-->
<%- include('../../component/basic/topNav.ejs',{
"thisrighthref":"jfSwitch.goBack()",
"navtitle":"周一最大牌",
"thislefthref":"#",
"thisimgsrc":" "
})%>

<%- include('../../component/homepage/time_list.ejs')%>

</body>
</html>