<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>WeUI-pay</title>
    <link rel="stylesheet" href="../../css/jf_cash_transfer.css">

</head>
<body>
<!-- 顶部导航 -->

<nav class="Top_navigation">
    <div class="weui_tab_bd"></div>
    <div class="container_tab"> <a onclick="jfSwitch.goBack()">
            <div class="nav_left"><img src="../../images/icon_pay_return.png"></div>
        </a>
        <div class="nav_center">
            <div>请选择一个账户</div>
        </div>
        <a href="#">
            <div class="nav_right"></div>
        </a> </div>
</nav>

<!-- 顶部导航 结束-->

<!--账户选择-->

<div class="cash_transfer_account_number_1">

    <!-- 列表-->

    <label class="account_list">

        <div>

            <input type="checkbox" class="confirm_choose" checked>

            <span>hua****e.com</span>

        </div>

        <div>黄淮虎</div>

    </label>

    <!-- 列表-->

    <label class="account_list">


        <div>

            <input type="checkbox" class="confirm_choose" >

            <span>hua****e.com</span>

        </div>


        <div>黄淮虎</div>


    </label>


    <!-- 列表-->

    <label class="account_list">

        <div>

            <input type="checkbox" class="confirm_choose">

            <span>hua****e.com</span>

        </div>

        <div>黄淮虎</div>
    </label>

    <!-- 列表-->

    <label class="account_list">


        <div>

            <input type="checkbox" class="confirm_choose" >

            <span>hua****e.com</span>

        </div>


        <div>黄淮虎</div>


    </label>

    <!-- 列表-->

    <label class="account_list">

        <div>

            <input type="checkbox" class="confirm_choose" >

            <span>hua****e.com</span>

        </div>

        <div>黄淮虎</div>
    </label>

    <!-- 列表-->

    <label class="account_list">


        <div>

            <input type="checkbox" class="confirm_choose">

            <span>hua****e.com</span>

        </div>


        <div>黄淮虎</div>


    </label>


</div>

<!-- 下一步-->

<div class="cash_transfer_account_number_2">

    <a class="account_number_2_1" href="cash_transfer_input_amount.html">下一步</a>

</div>



</body>
<script src="../../js/jf_cash_transfer.js"></script>
<script>

    confirmChoose.inputChoose();


</script>
</html>