<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>WeUI-pay</title>
    <link rel="stylesheet" href="../../css/jf_cash_transfer.css">

</head>
<body>
<!-- 顶部导航 -->

<nav class="Top_navigation">
    <div class="weui_tab_bd"></div>
    <div class="container_tab"> <a onclick="jfSwitch.goBack()">
            <div class="nav_left"><img src="../../images/icon_pay_return.png"></div>
        </a>
        <div class="nav_center">
            <div>转账给他人</div>
        </div>
        <a href="#">
            <div class="nav_right"></div>
        </a> </div>
</nav>

<!-- 顶部导航 结束-->

<!-- 列表-->


<div class="cash_transfer_account_history_1">


        <div class="history_list_name"><img src="../../images/icon_history.png">

            转账给最近收款人

        </div>


</div>

<!-- list-->

<a class="history_list_background" href="../cash_transfer/cash_transfer_input_amount.html">

    <div class="history_list_background_text">

          <div class="history_list_background_text_message">

              胡代子颖

          </div>

          <div class="history_list_background_text_message_1">

              <div>15122662356</div>
              <div>hudaiziying@tao-lue.com</div>

          </div>

    </div>

          <div class="history_list_background_text_message_2">

                  <img src="../../images/icon_history_right.png">

          </div>



  </a>

<!-- list-->

<a class="history_list_background" href="../cash_transfer/cash_transfer_input_amount.html">

    <div class="history_list_background_text">

        <div class="history_list_background_text_message">

            黄惟虓

        </div>

        <div class="history_list_background_text_message_1">

            <div>13600682388</div>
            <div>huangweixiao@tao-lue.com</div>

        </div>

    </div>

    <div class="history_list_background_text_message_2">

        <img src="../../images/icon_history_right.png">

    </div>



</a>

<!-- list-->

<a class="history_list_background" href="../cash_transfer/cash_transfer_input_amount.html">

    <div class="history_list_background_text">

        <div class="history_list_background_text_message">

            黄惟虓

        </div>

        <div class="history_list_background_text_message_1">

            <div>13600682388</div>
            <div>huangweixiao@tao-lue.com</div>

        </div>

    </div>

    <div class="history_list_background_text_message_2">

        <img src="../../images/icon_history_right.png">

    </div>



</a>

<!-- list-->

<a class="history_list_background" href="../cash_transfer/cash_transfer_input_amount.html">

    <div class="history_list_background_text">

        <div class="history_list_background_text_message">

            丁科

        </div>

        <div class="history_list_background_text_message_1">

            <div>18933652699</div>
            <div>dingke@tao-lue.com</div>

        </div>

    </div>

    <div class="history_list_background_text_message_2">

        <img src="../../images/icon_history_right.png">

    </div>



</a>

<!-- list-->

<a class="history_list_background" href="../cash_transfer/cash_transfer_input_amount.html">

    <div class="history_list_background_text">

        <div class="history_list_background_text_message">

            丁科

        </div>

        <div class="history_list_background_text_message_1">

            <div>18933652699</div>
            <div>dingke@tao-lue.com</div>

        </div>

    </div>

    <div class="history_list_background_text_message_2">

        <img src="../../images/icon_history_right.png">

    </div>



</a>




<!-- 下一步-->

<div class="cash_transfer_account_history_2">

    <a class="account_history_2_1" href="cash_transfer_account_number.html">输入手机号转账</a>

</div>


</body>

</html>