<div class="finacial_current_help">
    <!--<div class="Title_2_160519">福豆说明</div>-->


    <!--1-->
    <div class="Q_1 fudou_instruction1">
        <p class="Q_2">Q：什么是福豆？
        </p><div class="A_1">福豆是一种可以用于抵扣支付金额的虚拟账户。福豆中没有过的概念，您也可以选择把即将过期的优惠券兑换成福豆已确保您的权益不受损失。
        </div>
        <p></p></div>
    <!--2-->
    <div class="Q_1">
        <p class="Q_2">Q：什么是福豆？
        </p><div class="A_1">福豆是一种可以用于抵扣支付金额的虚拟账户。福豆中没有过的概念，您也可以选择把即将过期的优惠券兑换成福豆已确保您的权益不受损失。
        </div>
        <p></p></div>
    <!--3-->
    <div class="Q_1">
        <p class="Q_2">Q：什么是福豆？
        </p><div class="A_1">福豆是一种可以用于抵扣支付金额的虚拟账户。福豆中没有过的概念，您也可以选择把即将过期的优惠券兑换成福豆已确保您的权益不受损失。
        </div>
        <p></p></div>
</div>