<!-- 固定下 -->
<div class="tabbar">
    <div class="">
        <div class="weui_tab_bd"></div>
        <div class="weui_tabbar">
            <!--<span class="weui_tabbar_position">22</span>
            -->
            <a href="javascript:;" class="weui_tabbar_item ">
                <div class="weui_tabbar_icon">
                    <img src="icon/icon_homepage_home_black.png" alt="">
                    <img src="icon/icon_homepage_home_blue.png" alt=""></div>
                <p class="weui_tabbar_label">&#x8D2D;&#x7269;</p>
            </a>
            <a href="html/mine/jf_service.html" class="weui_tabbar_item">
                <div class="weui_tabbar_icon">
                    <img src="icon/icon_homepage_service_black.png" alt="">
                    <img src="icon/icon_homepage_service_blue.png" alt="">
                </div>
                <p class="weui_tabbar_label">&#x670D;&#x52A1;</p>
            </a>
            <a href="html/mine/jf_cards.html" class="weui_tabbar_item">
                <div class="weui_tabbar_icon" id="endFlyCar">
                    <img src="icon/icon_homepage_card_black.png" alt="">
                    <img src="icon/icon_homepage_card_blue.png" alt="">
                </div>
                <p class="weui_tabbar_label">&#x5361;&#x5238;</p>
            </a>
            <a href="html/mine/mine.html" class="weui_tabbar_item on">
                <div class="weui_tabbar_icon">
                    <img src="icon/icon_homepage_person_black.png" alt="">
                    <img src="icon/icon_homepage_person_blue.png" alt="">
                </div>
                <p class="weui_tabbar_label">&#x6211;&#x7684;</p>
            </a>
        </div>
    </div>
</div>