<!-- list 1 带图标-->
<a class="jf_list jf_list_access" href="<%=thishref%>">
    <div class="jf_list_pic"><img src="<%=thisSrc%>"></div>
    <div class="jf_list_bd">
        <p><%=title%></p>
    </div>
    <div class="jf_list_ft jf_list_arrow"><%=content%></div>
</a>