<nav class="Top_navigation">
    <div class="weui_tab_bd"></div>
    <div class="container_tab"> <a onclick="<%=thisrighthref%>">
            <div class="nav_left" id="nav_left"><img src="../../images/icon_pay_return.png"></div>
        </a>
        <div class="nav_center">
            <div><%=navtitle%></div>
        </div>
        <a href="<%=thislefthref%>">
            <div class="nav_right"><img src="<%=thisimgsrc%>"></div>
        </a>
    </div>
</nav>