
<div class="give_rule_title">便利店支付使用说明</div>
<div class="rule_section">
    <div class="rule_coupon_title">Q：如何使用付款？</div>
    <div class="rule_coupon_text">
        <p>开启“付款”后，向商家展示条码及二维码，商家使用扫描枪或摄像头，快速扫描用户的条形码（或二维码），即可完成交易。</p>
    </div>
</div>

<div class="rule_section">
    <div class="rule_coupon_title">Q：支持哪些便利店？</div>
    <div class="rule_coupon_text">
       <b>罗森便利：</b><p>上海，杭州，宁波，嘉兴，慈溪，绍兴，苏州，无锡，江阴，常州，南京，张家港，镇江，常熟，海宁区域</p>
    </div>
</div>

<div class="rule_section">
    <div class="rule_coupon_title">Q：付款安全及用户协议</div>
    <div class="rule_coupon_text">
        <p>1）为保证资金安全，付款码每分钟会自动更新</p>
        <p>2）条形码/二维码具有时效性且一次有效</p>
        <p>3）若付款失败，请尝试重新刷新二维码后支付</p>
        <p>4）付款码仅用于支付扫码时使用，请勿通过其他途径泄露付款码页面的任何信息</p>
    </div>
</div>

<div class="rule_section">
    <div class="rule_coupon_title">Q：付款方式</div>
    <div class="rule_coupon_text">
        <p>1）优先使用所选支付方式付款，如积分余额不足将尝试使用其他支付方式完成付款</p>
        <p>2）暂无付款限额</p>
    </div>
</div>
