<!DOCTYPE html>
<html lang="en">
<head>

    <title>高铁管家</title>
    <link rel="stylesheet" href="../../css/jf_train_steward.css">

</head>
<body>

<!--订单详情-->
<%- include('../../component/train_steward/train_list.ejs')%>

</body>
</html>