

<div class="historical_list_tittle">
    <div class="historical_list_tittle_icon"></div>
    <!--icon_img-->
    <!--<img class="title_top_icon" src="../../images/icon_history.png">-->
    <!--end-->
    <div class="historical_list_tittle_txt">
        历史收款人
    </div>
</div>



<div class="historical_none_background">
    <div class="historical_none_icon"><p class="historical_none_icon_roll">i</p></div>
    <p class="historical_none_icon_text">还没有历史收款人哦！</p>
</div>