<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>订单详情</title>
    <link rel="stylesheet" href="../../css/jf_lawson_card.css">

</head>
<body>

<!-- 罗森卡购订单详情 -->
<%- include('../../component/lawson_card/lawson_order_details/lawson_card_order_detail.ejs')%>

</body>
<script src="../../lib/js/JsBarcode.all.js"></script>
</html>