<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>使用说明</title>
    <link rel="stylesheet" href="../../css/jf_lawson_card.css">

</head>
<body>

<!-- 罗森卡购使用说明-->
<%- include('../../component/lawson_card/lawson_card_explain.ejs')%>

</body>
</html>