<!DOCTYPE html>
<html>
<head>
    <title>支付完成</title>
    <link rel="stylesheet"  href="../../css/jf_pay.css">
</head>

<body>

<div class="zhuangyi_pay_shoppingcart">

    <!--导航-->
    <%- include('../../component/basic/topNav.ejs',{
    "thisrighthref":"jfSwitch.goBack()",
    "navtitle":"订单完成",
    "thislefthref":"#",
    "thisimgsrc":"../../images/icon_pay_meau.png"
    })%>

    <!--支付失败-->
    <div class="weui_msg">
        <%- include('../../component/pay/payIcon/icon_fail.ejs')%>

        <div class="weui_text_area" style="padding:0px;">
            <h2 class="msg_title_0718">&#x652F;&#x4ED8;&#x5931;&#x8D25;&#xFF0C;&#x8BF7;&#x91CD;&#x65B0;&#x652F;&#x4ED8;&#xFF01;</h2>
            <div class="weui_grids_kj">
                <div class="weui_grid_0718">&#x8BA2;&#x5355;&#x7F16;&#x53F7;&#xFF1A;</div>
                <div class="weui_grid_zy">1000000874</div>
            </div>
            <div class="weui_grids_kj">
                <div class="weui_grid_0718">
                    <p>&#x8BA2;&#x5355;&#x91D1;&#x989D;&#xFF1A;</p>
                </div>
                <p class="weui_grid_zy price_red">&#xFFE5;289.20</p>
            </div>
            <div class="weui_grids_kj">
                <div class="weui_grid_0718">&#x4F01;&#x4E1A;&#x798F;&#x5229;&#x4F59;&#x989D;&#xFF1A;</div>
                <p class="weui_grid_zy">&#xFFE5;100,000,000,000,000</p>
            </div>
            <div class="weui_text_area">
                <p class="weui_msg_desc text_area_0718">&#x6211;&#x4EEC;&#x5C06;&#x5728;&#x6307;&#x5B9A;&#x5DE5;&#x4F5C;&#x65E5;&#x5185;&#x5C06;&#x60A8;&#x9009;&#x8D2D;&#x7684;&#x5546;&#x54C1;&#x53D1;&#x9001;&#x81F3;&#x6307;&#x5B9A;&#x6536;&#x8D27;&#x70B9;&#x3002; &#x8BF7;&#x59A5;&#x5584;&#x4FDD;&#x7BA1;&#x6B64;&#x8BA2;&#x5355;&#x53F7;&#x4F5C;&#x4E3A;&#x67E5;&#x8BE2;&#x4F9D;&#x636E;&#x3002;</p>
            </div>
            <!--底部按钮-->
            <div class="weui_opr_area">
                <p class="weui_btn_area"> <a href="#" class="weui_btn weui_btn_plain_primary btn_white_0728">&#x67E5;&#x770B;&#x8BA2;&#x5355;</a> <a href="../porduct/pruduct-main-card-0.0.5.html" class="weui_btn btn_red_0718">&#x91CD;&#x65B0;&#x652F;&#x4ED8;</a> </p>
                <p class="customer_help">
                    <a onclick="jfCustomerService.click()"><img src="../../images/icon_dialogue_red.png" class="customer_help_pic">&#x8054;&#x7CFB;&#x5BA2;&#x670D;</a>
                    <a href="../helpcenter/menu.html"><img src="../../images/icon_nav_helpcenter_red.png" class="customer_help_pic">&#x5E2E;&#x52A9;&#x4E2D;&#x5FC3;</a>
                </p>
            </div>
        </div>




    </div>







</div>








</body>
<script src="../../js/jf_pay.js"></script>
<script>
    jfCustomerService.init(
            {//用户信息
                name: '阿陈',// 名字
                address: '西伯利亚',// 地址
                email: '1313@qq.com',// 邮箱
                age: '16',// 年龄
                tel: '110',// 电话
                comment: '很帅',// 备注
                gender: '男',// 性别
                qq: '1234567',// QQ
                weibo: '',// 微博
                weixin: '',// 微信
                '公司名称': '上海淘略数据有限公司',
                '公司编号': '123ksuhdaf891274',
                '员工编号': '1234567890123456'
            },
            //指定客服
            'b040d96757bf55ea302f9fbfb0ecd062'
    )
</script>



</html>