<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>过期卡券</title>
    <link rel="stylesheet" href="../../css/jf_records-consumption.css">
</head>
<body>


<!--导航-->

<nav class="Top_navigation">
    <div class="weui_tab_bd"></div>
    <div class="container_tab"> <a onclick="jfSwitch.goBack()">
            <div class="nav_left" id="nav_left"><img src="../../images/icon_pay_return.png"></div>
        </a>
        <div class="nav_center">
            <div>我的嘉福E卡</div>
        </div>
        <a href="../mine/my_order_list.html">
            <div class="nav_right">帮助说明</div>
        </a>
    </div>
</nav>

<%-include('../../component/records-consumption/records-consumption-nothing/records-consumption-nothing.ejs') %>

</body>
</html>
