<div class="fudou_exchange_record">
    <div class="exchange_record_list">
        <div class="left">
            <p>优惠券兑换</p>
            <span>2018-03-26 18:16:00</span>
        </div>
        <div class="right">
            <p>+12300.00</p>
        </div>
    </div>
    <div class="exchange_record_list">
        <div class="left">
            <p>优惠券兑换</p>
            <span>2018-03-26 18:16:00</span>
        </div>
        <div class="right">
            <p>+12300.00</p>
        </div>
    </div>
    <div class="exchange_record_list">
        <div class="left">
            <p>优惠券兑换</p>
            <span>2018-03-26 18:16:00</span>
        </div>
        <div class="right">
            <p>+12300.00</p>
        </div>
    </div>
    <div class="exchange_record_list">
        <div class="left">
            <p>优惠券兑换</p>
            <span>2018-03-26 18:16:00</span>
        </div>
        <div class="right">
            <p>+12300.00</p>
        </div>
    </div>
</div>