<div class="fudou_management">


        <div class="fudou_management_list exchange_record_list">
            <div class="left">
                <img src="../../images/fudou/fudou_orange.png">
                <span>福豆数量100颗</span>
            </div>

            <div class="fudou_meaning" >
                可抵扣
                <span class="deduction_amount">1.00元</span>
            </div>
        </div>



        <a class="what_is_fudou" href="../fudou/fudou_instructions.html">
           <img src="../../images/fudou/proble_icon.png">
            <span>什么是福豆</span>
        </a>




        <a class="fudou_management_list fudou_coupons" href="../fudou/fudou_coupon_option.html">

            <div class="left">
                <img src="../../images/fudou/fudou_coupons.png">
                <span>优惠券</span>
            </div>
            <div class="coupons_right">
                 <img class="fudou_coupon_go" src="../../images/fudou/fudou_coupon_go.png">
            </div>
        </a>

</div>