<!--加油卡联系客服-->
<div class="card_customer_service" onclick="jfCustomerService.click()"><img src="../../images/icon_dialogue.png">联系客服</div>
<div class="card_warm_notes">
    <ul>
        温馨提示
        <li>充值成功后可至中石化网站：http://www.sinopecsales.com/查询充值情况</li>
        <li>中石化加油卡充值建议不超过10次/天；单日充值不超过1,0000元</li>
        <li>卡内余额无限制</li>
        <li>充值完成后须至加油站完成 <a href="gas_use_card.html">圈存>></a></li>
    </ul>
</div>


<script>
    jfCustomerService.init(
        {//用户信息
            name: '阿陈',// 名字
            address: '西伯利亚',// 地址
            email: '1313@qq.com',// 邮箱
            age: '16',// 年龄
            tel: '110',// 电话
            comment: '很帅',// 备注
            gender: '男',// 性别
            qq: '1234567',// QQ
            weibo: '',// 微博
            weixin: '',// 微信
            '公司名称': '上海淘略数据有限公司',
            '公司编号': '123ksuhdaf891274',
            '员工编号': '1234567890123456'
        },
        //指定客服
        'b040d96757bf55ea302f9fbfb0ecd062'
    );
</script>