<!--加油卡切换按钮-->

<div class="recharge_nav_button">
    <div class="navigation_tab">
        <div class="nav_title show" onclick="TravelTabChange(0)">中国石化</div>
        <div class="nav_title" onclick="TravelTabChange(1)">中国石油</div>
    </div>

    <div class="card_section_all">

        <div class="card_tab_all">
            <div class="tab_one">
                <!--加油卡输入框-->
                <div class="card_input_all">
                    <div class="card_input">
                        <div class="card_input_title">油卡卡号：</div>
                        <div class="card_input_number">
                            <input class="card_text" type="tel" pattern="" placeholder="请输入19位中石化卡号" maxlength="19">
                            <p class="show_error">格式有误</p>
                        </div>
                    </div>

                </div>

                <!--提示文字-->
                <div class="card_hint_text">注：请确认卡号填写正确,误充值后金额将无法追回</div>

                <!--加油卡充值内容-->
                <div class="card_content">
                    <div class="card_title_text">选择面额：</div>
                    <div class="card_recharge_value">
                        <div class="value_one">
                                <div class="card_number" id="card_number">
                                    <div>100元</div>
                                    <div class="number_value_text">售价：90.00元</div>
                                </div>
                                <div class="card_number" onclick="orderDragUp.run()">
                                    <div>200元</div>
                                    <div class="number_value_text">售价：200.00元</div>
                                </div>
                                <div class="card_number" onclick="orderDragUp.run()">
                                    <div>500元</div>
                                    <div class="number_value_text">售价：500.00元</div>
                                </div>
                                <div class="card_number" onclick="orderDragUp.run()">
                                    <div>1000元</div>
                                    <div class="number_value_text">售价：1000.00元</div>
                                </div>
                            </div>
                    </div>

                </div>

                <!--加油卡联系客服-->
                <div class="card_customer_service" onclick="jfCustomerService.click()"><img src="../../images/icon_dialogue.png">联系客服</div>
                <div class="card_warm_notes">
                    <ul>
                        温馨提示
                        <li>充值成功后可至中石化网站：http://www.sinopecsales.com/查询充值情况</li>
                        <li>中石化加油卡充值建议不超过10次/天；单日充值不超过1,0000元</li>
                        <li>卡内余额无限制</li>
                        <li>充值完成后须至加油站完成 <a href="../../html/helpcenter/menu.html">圈存>></a></li>
                    </ul>
                </div>
            </div>

            <div class="tab_two">
                <!--加油卡输入框-->
                <div class="card_input_all">
                    <div class="card_input">
                        <div class="card_input_title">油卡卡号：</div>
                        <div class="card_input_number">
                            <input class="card_text" type="tel" pattern="" placeholder="请输入16位中石油卡号" maxlength="16">
                            <p class="show_error">格式有误</p>
                        </div>
                    </div>
                </div>

                <!--提示文字-->
                <div class="card_hint_text">注：请确认卡号填写正确,误充值后金额将无法追回</div>

                <!--加油卡充值内容-->
                <div class="card_content">
                    <div class="card_title_text">选择面额：</div>
                    <div class="card_recharge_value">
                        <div class="value_one">
                                <div class="card_number"  onclick="orderDragUp.run()" id="card_number">
                                    <div>100元</div>
                                    <div class="number_value_text">售价：90.00元</div>
                                </div>
                                <div class="card_number" onclick="orderDragUp.run()">
                                    <div>200元</div>
                                    <div class="number_value_text">售价：200.00元</div>
                                </div>
                                <div class="card_number" onclick="orderDragUp.run()">
                                    <div>500元</div>
                                    <div class="number_value_text">售价：500.00元</div>
                                </div>
                                <div class="card_number" onclick="orderDragUp.run()">
                                    <div>1000元</div>
                                    <div class="number_value_text">售价：1000.00元</div>
                                </div>
                            </div>
                    </div>
                </div>

                <!--加油卡联系客服-->
                <div class="card_customer_service" onclick="jfCustomerService.click()"><img src="../../images/icon_dialogue.png">联系客服</div>
                <div class="card_warm_notes">
                    <ul>
                        温馨提示
                        <li>充值成功后可至中石油网站：http://www.card.petrochina.com.cn/查询充值情况</li>
                        <li>中石油加油卡充充值无次数、额度限制</li>
                        <li>卡内余额无限制</li>
                        <li>充值完成后须至加油站完成 <a href="../../html/helpcenter/menu.html">圈存>></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


</div>

<script>
    jfCustomerService.init(
        {//用户信息
            name: '阿陈',// 名字
            address: '西伯利亚',// 地址
            email: '1313@qq.com',// 邮箱
            age: '16',// 年龄
            tel: '110',// 电话
            comment: '很帅',// 备注
            gender: '男',// 性别
            qq: '1234567',// QQ
            weibo: '',// 微博
            weixin: '',// 微信
            '公司名称': '上海淘略数据有限公司',
            '公司编号': '123ksuhdaf891274',
            '员工编号': '1234567890123456'
        },
        //指定客服
        'b040d96757bf55ea302f9fbfb0ecd062'
    );

    document.getElementsByClassName('card_text')[0].addEventListener('blur',function(){
        showErrorText(this,'格式错误啦')//参数一元素本身，参数二报错文本

        var warmTips=document.getElementsByClassName('card_hint_text')[0];

        if(warmTips.className.indexOf('tip_show')>-1){

            warmTips.className=warmTips.className.replace('tip_show','')
        }
    },false)

    document.getElementsByClassName('card_text')[1].addEventListener('blur',function(){
        showErrorText(this,'格式错误啦')//参数一元素本身，参数二报错文本

        var warmTips=document.getElementsByClassName('card_hint_text')[1];

        if(warmTips.className.indexOf('tip_show')>-1){

            warmTips.className=warmTips.className.replace('tip_show','')
        }
    },false)



    showWarmTips();//出现温馨提示


</script>
