<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>兑换记录</title>
    <link rel="stylesheet" href="../../css/jf_fudou.css">

</head>
<body>

<!--导航-->
<%- include('../../component/basic/topNav.ejs',{
"thisrighthref":"jfSwitch.goBack()",
"navtitle":"兑换记录",
"thislefthref":"#",
"thisimgsrc":" "
})%>


<!-- 福豆详情 -->
<%- include('../../component/fudou/fudou_management/fudou_exchange_record.ejs')%>

</body>
<script src="../../lib/js/JsBarcode.all.js"></script>
</html>