<div class="add_re_list">

    <!--列表-->
    <div class="add_re_box">
        <div class="left">
            <p><span class="">方案名称</span> 中 <span class="span_gray_font">京晶婧</span> 被 <span class="span_gray_font">添加</span></p>
            <div class="down">
                <img src="../../images/insurance/time_icon.png">
                <p>2018-05-04 15:23:21</p>
            </div>
        </div>
        <div class="right">
            <!--更换class值：span_red_font=红色;span_orange_font=橙色;span_blue_font=蓝色;span_gray_font=灰色;-->
            <p class="span_orange_font">增加成员</p>
        </div>
    </div>

    <!--列表-->
    <div class="add_re_box">
        <div class="left">
            <p><span class="">方案名称</span> 中 <span class="span_gray_font">京晶婧</span> 被 <span class="span_gray_font">删除</span></p>
            <div class="down">
                <img src="../../images/insurance/time_icon.png">
                <p>2018-05-04 15:23:21</p>
            </div>
        </div>
        <div class="right">
            <!--更换class值：span_red_font=红色;span_orange_font=橙色;span_blue_font=蓝色;span_gray_font=灰色;-->
            <p class="span_blue_font">删减成员</p>
        </div>
    </div>

    <!--列表-->
    <div class="add_re_box">
        <div class="left">
            <p><span class="">方案名称</span> 中 <span class="span_gray_font">京晶婧</span> 被 <span class="span_gray_font">添加</span></p>
            <div class="down">
                <img src="../../images/insurance/time_icon.png">
                <p>2018-05-04 15:23:21</p>
            </div>
        </div>
        <div class="right">
            <!--更换class值：span_red_font=红色;span_orange_font=橙色;span_blue_font=蓝色;span_gray_font=灰色;-->
            <p class="span_orange_font">增加成员</p>
        </div>
    </div>

    <!--列表-->
    <div class="add_re_box">
        <div class="left">
            <p><span class="">方案名称</span> 中 <span class="span_gray_font">京晶婧</span> 被 <span class="span_gray_font">删除</span></p>
            <div class="down">
                <img src="../../images/insurance/time_icon.png">
                <p>2018-05-04 15:23:21</p>
            </div>
        </div>
        <div class="right">
            <!--更换class值：span_red_font=红色;span_orange_font=橙色;span_blue_font=蓝色;span_gray_font=灰色;-->
            <p class="span_red_font">被拒成员</p>
        </div>
    </div>
</div>