<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,minimum-scale=1, maximum-scale=1">
    <meta charset="utf-8">
    <title>&#x5609;&#x798F;&#x5E73;&#x53F0;</title>
    
    
    




















































































































































































<link rel="stylesheet" href="../../lib/css/swiper_3.3.1.min.css">
<link rel="stylesheet" href="../../lib/css/weui.min.css">
<link rel="stylesheet" href="../../css/main-Wechat.css">
<link rel="stylesheet" href="../../css/bk_zwb.css">
<link rel="stylesheet" href="../../css/carInsuranceZy.css">
<link rel="stylesheet" href="../../css/catalogPageZy.css">
<link rel="stylesheet" href="../../css/daily_specials.css">
<link rel="stylesheet" href="../../css/financialPageZy.css">
<link rel="stylesheet" href="../../css/help_center_1.css">
<link rel="stylesheet" href="../../css/huikabaoZy.css">
<link rel="stylesheet" href="../../css/iou.css">
<link rel="stylesheet" href="../../css/order_details_list.css">
<link rel="stylesheet" href="../../css/payProcessZy.css">
<link rel="stylesheet" href="../../css/pruduct_main.css">
<link rel="stylesheet" href="../../css/vipMain.css">
</head>

<body>
<nav class="Top_navigation">
    <div class="weui_tab_bd"></div>
    <div class="container_tab"><a onclick="jfSwitch.goBack()">
        <div class="nav_left"><img src="../../images/icon_pay_return.png"></div>
    </a>
        <div class="nav_center">
            <div>&#x5E2E;&#x52A9;&#x4E2D;&#x5FC3;</div>
        </div>
        <a href="#">
            <div class="nav_right">&#x9996;&#x9875;</div>
        </a>
    </div>
</nav>


<div>
    <div class="helpcenter ctrip_page">
        <div class="explain">
            <div class="pic"><img src="../../images/helpcenter/helper.png"></div>
            &#x5982;&#x4F55;&#x4F7F;&#x7528;&#x643A;&#x7A0B;&#x7535;&#x5B50;&#x5361; </div>
        <div class="ps">&#x8BF7;&#x5728;&#x643A;&#x7A0B;&#x65C5;&#x884C;App&#x4E0A;&#x8FDB;&#x884C;&#x64CD;&#x4F5C;</div>
        <div class="xx">
            <ul>
                <li>
                    <p>&#x7B2C;&#x4E00;&#x6B65;&#xFF1A;&#x7ED1;&#x5B9A;&#x643A;&#x7A0B;&#x7535;&#x5B50;&#x5361;</p>
                    <span style="display: block">&#x70B9;&#x51FB;&#x3010;&#x6211;&#x7684;&#x3011;-&gt;&#x3010;&#x6211;&#x7684;&#x94B1;&#x5305;&#x3011;-&gt;&#x3010;&#x793C;&#x54C1;&#x5361;&#x3011;-&gt;&#x3010;&#x9886;&#x7528;&#x793C;&#x54C1;&#x5361;&#x3011;&#xFF0C;&#x8F93;&#x5165;12&#x4F4D;&#x793C;&#x54C1;&#x5361;&#x5238;&#x53F7;&#x548C;6&#x4F4D;&#x793C;&#x54C1;&#x5361;&#x5BC6;&#x7801;&#xFF0C;&#x70B9;&#x51FB;&#x3010;&#x7ACB;&#x5373;&#x9886;&#x7528;&#x3011;&#x5373;&#x53EF;&#x7ED1;&#x5B9A;&#x643A;&#x7A0B;&#x7535;&#x5B50;&#x5361;&#x3002;</span>
                    <img src="../../images/helpcenter/ctrip1_01.png" style="margin-right: 5px">
                    <img src="../../images/helpcenter/ctrip1_02.png">
                    <img src="../../images/helpcenter/ctrip2_01.png" style="margin-right: 5px">
                    <img src="../../images/helpcenter/ctrip1_04.png">
                </li>

                <li>
                    <p>&#x7B2C;&#x4E8C;&#x6B65;&#xFF1A;&#x67E5;&#x8BE2;&#x643A;&#x7A0B;&#x7535;&#x5B50;&#x5361;</p>
                    <span style="display: block">&#x70B9;&#x51FB;&#x3010;&#x6211;&#x7684;&#x3011;-&gt;&#x3010;&#x6211;&#x7684;&#x94B1;&#x5305;&#x3011;-&gt;&#x3010;&#x793C;&#x54C1;&#x5361;&#x3011;-&gt;&#x3010;&#x67E5;&#x8BE2;&#x5361;&#x9762;&#x989D;&#x3011;&#xFF0C;&#x8F93;&#x5165;16&#x4F4D;&#x793C;&#x54C1;&#x5361;&#x5E8F;&#x5217;&#x53F7;&#x5373;&#x53EF;&#x67E5;&#x8BE2;&#x793C;&#x54C1;&#x5361;&#x9762;&#x989D;&#x3002;</span>
                    <img src="../../images/helpcenter/ctrip1_01.png" style="margin-right: 5px">
                    <img src="../../images/helpcenter/ctrip1_02.png">
                    <img src="../../images/helpcenter/ctrip1_03.png" style="margin-right: 5px">
                    <img src="../../images/helpcenter/ctrip2_02.png">
                </li>
            </ul>
        </div>
    </div>
</div>




















































































































































































<script src="../../lib/js/jquery-3.0.0.min.js"></script>
<script src="../../lib/js/swiper-3.3.1.jquery.min.js"></script>
<script src="../../js/main-Wechat.js"></script>
<script src="../../js/IOU.js"></script>
<script src="../../js/jquery.carInsuranceZy.js"></script>
<script src="../../js/jquery.catalogPageZy.js"></script>
<script src="../../js/jquery.feedBack.js"></script>
<script src="../../js/jquery.huikabaoZy.js"></script>
<script src="../../js/jquery.payProcessZy.js"></script>
<script src="../../js/jquery.shoppingBagZy.js"></script>
<script src="../../js/jquery.TransactionList.js"></script>
<script src="../../js/pruduct-main.js"></script>
<script src="../../js/qd-Wechat.js"></script>
<script src="../../js/vipMainJs.js"></script>
<script src="../../js/fastclick.js"></script>
</body>



</html>
