<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,minimum-scale=1, maximum-scale=1">
<meta charset="utf-8">
<title>&#x65E0;&#x6807;&#x9898;&#x6587;&#x6863;</title>


<style type="text/css"></style>




















































































































































































<link rel="stylesheet" href="../../lib/css/swiper_3.3.1.min.css">
<link rel="stylesheet" href="../../lib/css/weui.min.css">
<link rel="stylesheet" href="../../css/main-Wechat.css">
<link rel="stylesheet" href="../../css/bk_zwb.css">
<link rel="stylesheet" href="../../css/carInsuranceZy.css">
<link rel="stylesheet" href="../../css/catalogPageZy.css">
<link rel="stylesheet" href="../../css/daily_specials.css">
<link rel="stylesheet" href="../../css/financialPageZy.css">
<link rel="stylesheet" href="../../css/help_center_1.css">
<link rel="stylesheet" href="../../css/huikabaoZy.css">
<link rel="stylesheet" href="../../css/iou.css">
<link rel="stylesheet" href="../../css/order_details_list.css">
<link rel="stylesheet" href="../../css/payProcessZy.css">
<link rel="stylesheet" href="../../css/pruduct_main.css">
<link rel="stylesheet" href="../../css/vipMain.css">
</head>

<body>
<div class="helpcenter">
  <div class="navi">
  <div onclick="jfSwitch.goBack()"><img src="../../images/helpcenter/icon_pay_return.png">
    </div><div class="help">
      <div>&#x5E2E;&#x52A9;&#x4E2D;&#x5FC3;</div>
    </div>
    <div onclick="location=&apos;../../main.html&apos;">&#x9996;&#x9875;</div>
  </div>
  <div class="explain">
    <div class="pic"><img src="../../images/helpcenter/helper.png"></div>
    &#x5982;&#x4F55;&#x7ED1;&#x5B9A;&#x548C;&#x67E5;&#x8BE2;&#x4EAC;&#x4E1C;&#x5361; </div>
  <div class="xx">
    <ul>
      <li>&#x7B2C;&#x4E00;&#x6B65;&#xFF1A;&#x70B9;&#x51FB;&#x3010;&#x6211;&#x7684;&#x4EAC;&#x4E1C;&#x3011;&#x8FDB;&#x5165;&#x6211;&#x7684;&#x4EAC;&#x4E1C;&#x9875;&#x9762;</li>
      <img src="../../images/helpcenter/q1s1.png">
      <li>&#x7B2C;&#x4E8C;&#x6B65;&#xFF1A;&#x9009;&#x62E9;&#x3010;&#x4EAC;&#x4E1C;&#x5361;/E&#x5361;&#x3011;&#xFF0C;&#x53EF;&#x4EE5;&#x8FDB;&#x884C;&#x67E5;&#x8BE2;&#x6216;&#x7ED1;&#x5B9A;&#x64CD;&#x4F5C;</li>
      <img src="../../images/helpcenter/q1s3.png">
      </ul>
  </div>
</div>




















































































































































































<script src="../../lib/js/jquery-3.0.0.min.js"></script>
<script src="../../lib/js/swiper-3.3.1.jquery.min.js"></script>
<script src="../../js/main-Wechat.js"></script>
<script src="../../js/IOU.js"></script>
<script src="../../js/jquery.carInsuranceZy.js"></script>
<script src="../../js/jquery.catalogPageZy.js"></script>
<script src="../../js/jquery.feedBack.js"></script>
<script src="../../js/jquery.huikabaoZy.js"></script>
<script src="../../js/jquery.payProcessZy.js"></script>
<script src="../../js/jquery.shoppingBagZy.js"></script>
<script src="../../js/jquery.TransactionList.js"></script>
<script src="../../js/pruduct-main.js"></script>
<script src="../../js/qd-Wechat.js"></script>
<script src="../../js/vipMainJs.js"></script>
<script src="../../js/fastclick.js"></script>
</body>



</html>
