<!doctype html>
<html>
<head>
<meta content="telephone=no" name="format-detection">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,minimum-scale=1, maximum-scale=1">



<meta charset="utf-8">
<title>&#x5E2E;&#x52A9;&#x4E2D;&#x5FC3;</title>




















































































































































































<link rel="stylesheet" href="../../lib/css/swiper_3.3.1.min.css">
<link rel="stylesheet" href="../../lib/css/weui.min.css">
<link rel="stylesheet" href="../../css/main-Wechat.css">
<link rel="stylesheet" href="../../css/bk_zwb.css">
<link rel="stylesheet" href="../../css/carInsuranceZy.css">
<link rel="stylesheet" href="../../css/catalogPageZy.css">
<link rel="stylesheet" href="../../css/daily_specials.css">
<link rel="stylesheet" href="../../css/financialPageZy.css">
<link rel="stylesheet" href="../../css/help_center_1.css">
<link rel="stylesheet" href="../../css/huikabaoZy.css">
<link rel="stylesheet" href="../../css/iou.css">
<link rel="stylesheet" href="../../css/order_details_list.css">
<link rel="stylesheet" href="../../css/payProcessZy.css">
<link rel="stylesheet" href="../../css/pruduct_main.css">
<link rel="stylesheet" href="../../css/vipMain.css">
</head>
<body>
<div class="menu-z">
<div class="navi">
<div onclick="jfSwitch.goBack()" style="width:90px;">
<img src="../../images/helpcenter/icon_pay_return.png">
</div>
  <div class="help">
    <div>&#x5E2E;&#x52A9;&#x4E2D;&#x5FC3;</div>
  </div>
  <div></div>
</div>
<div class="top">
<div class="square"></div>
  <div>&#x5BA2;&#x670D;&#x7535;&#x8BDD;</div>
</div>
<div class="phone"><a href="tel:400-188-3223"><p>400-188-3223</p></a></div>
<div class="top top1">
<div class="square"></div>
  <div>&#x5E38;&#x89C1;&#x95EE;&#x9898;</div>
</div>
<!--生活助手-->
<div class="box">
  <div class="left"><img src="../../images/helpcenter/helper.png">
    <p>&#x751F;&#x6D3B;&#x52A9;&#x624B;</p>
    </div>
  <div class="right">
    <div class="right-list" onclick="location=&apos;../../html/helpcenter/ZSH_help.html&apos;">&#x5982;&#x4F55;&#x4F7F;&#x7528;&#x4E2D;&#x77F3;&#x5316;&#x52A0;&#x6CB9;&#x5361;<img src="../../images/helpcenter/right.png"></div>
    <div class="right-list" onclick="location=&apos;../../html/helpcenter/dianping-meituan.html&apos;"> &#x4F7F;&#x7528;&#x70B9;&#x8BC4;/&#x7F8E;&#x56E2;&#x6D88;&#x8D39;&amp;&#x67E5;&#x770B;&#x4F59;&#x989D; <img src="../../images/helpcenter/right.png"></div>
  </div>
</div>
<!--京东E卡-->
<div class="box2">
  <div class="left"><img src="../../images/helpcenter/JD.png">
    <p>&#x4EAC;&#x4E1C;E&#x5361;</p>
  </div>
  <div class="right">
    <div class="right-list" onclick="location=&apos;../../html/helpcenter/jd-E-card.html&apos;">&#x5982;&#x4F55;&#x7ED1;&#x5B9A;&#x548C;&#x67E5;&#x8BE2;&#x4EAC;&#x4E1C;&#x5361;<img src="../../images/helpcenter/right.png"></div>
    <div class="right-list" onclick="location=&apos;../../html/helpcenter/jd-E-card-FAQ.html&apos;"> &#x4EAC;&#x4E1C;E&#x5361;&#x5E38;&#x89C1;&#x95EE;&#x9898;<img src="../../images/helpcenter/right.png"></div>
  </div>
</div>
<!--携程-->
<div class="box">
  <div class="left"><img src="../../images/helpcenter/ctrip.png">
    <p>&#x643A;&#x7A0B;&#x7535;&#x5B50;&#x5361;</p></div>
  <div class="right">
    <div class="right-list" onclick="location=&apos;../../html/helpcenter/ctripcard.html&apos;">&#x5982;&#x4F55;&#x7ED1;&#x5B9A;&#x548C;&#x67E5;&#x8BE2;&#x643A;&#x7A0B;&#x7535;&#x5B50;&#x5361;<img src="../../images/helpcenter/right.png"></div>
    <div class="right-list" onclick="location=&apos;../../html/helpcenter/ctrip-card.html&apos;">&#x643A;&#x7A0B;&#x7535;&#x5B50;&#x5361;&#x89C4;&#x5219;&#x8BF4;&#x660E;<img src="../../images/helpcenter/right.png"></div>
  </div>
</div>


  <!--借条-->
  <div class="box3">
    <div class="left"><img src="../../images/helpcenter/iou_help.png">
      <p>&#x5609;&#x798F;&#x85AA;&#x8D44;&#x9884;&#x652F;</p></div>
    <div class="right">
      <div class="right-list" onclick="location=&apos;../../html/iou/IOU_notice.html&apos;">&#x85AA;&#x8D44;&#x9884;&#x652F;&#x987B;&#x77E5;<img src="../../images/helpcenter/right.png"></div>
      <div class="right-list" onclick="location=&apos;../../html/iou/IOU_help.html&apos;">&#x85AA;&#x8D44;&#x9884;&#x652F;&#x5E38;&#x89C1;&#x95EE;&#x9898;<img src="../../images/helpcenter/right.png"></div>
    </div>
  </div>
  <!--理财-->
  <div class="box_alone">
<div class="left alone">
  <img src="../../images/helpcenter/financing.png">
  <p>&#x7406;&#x8D22;</p>
</div>
    <div class="right">
      <div class="right-list list_alone" onclick="location=&apos;../../html/financial/financial_current_help.html&apos;">&#x6D3B;&#x671F;&#x5E38;&#x89C1;&#x95EE;&#x9898;<img src="../../images/helpcenter/right.png"></div>
    </div>
</div>
  <!--车险-->
  <div class="box_alone">
    <div class="left alone">
      <img src="../../images/helpcenter/car.png">
      <p>&#x8F66;&#x9669;</p>
    </div>
    <div class="right">
      <div class="right-list list_alone" onclick="location=&apos;../../html/carInsurance/insurance_car_help.html&apos;">&#x8F66;&#x9669;&#x5E38;&#x89C1;&#x95EE;&#x9898;<img src="../../images/helpcenter/right.png"></div>
    </div>
  </div>
  <!--信用卡-->
  <div class="box_alone">
    <div class="left alone">
      <img src="../../images/helpcenter/credit_card.png">
      <p>&#x4FE1;&#x7528;&#x5361;</p>
    </div>
    <div class="right">
      <div class="right-list list_alone" onclick="location=&apos;../../html/helpcenter/credit_card_help.html&apos;">&#x4FE1;&#x7528;&#x5361;&#x5E38;&#x89C1;&#x95EE;&#x9898;<img src="../../images/helpcenter/right.png"></div>
    </div>
  </div>


</div>
<div class="weui_0829" onclick="jfCustomerService.click()">
  <div class="weui_tabbar">
      <div class="weui_actionsheet_cell">&#x5728;&#x7EBF;&#x5BA2;&#x670D;</div>
    </div>
    </div>




















































































































































































<script src="../../lib/js/jquery-3.0.0.min.js"></script>
<script src="../../lib/js/swiper-3.3.1.jquery.min.js"></script>
<script src="../../js/main-Wechat.js"></script>
<script src="../../js/IOU.js"></script>
<script src="../../js/jquery.carInsuranceZy.js"></script>
<script src="../../js/jquery.catalogPageZy.js"></script>
<script src="../../js/jquery.feedBack.js"></script>
<script src="../../js/jquery.huikabaoZy.js"></script>
<script src="../../js/jquery.payProcessZy.js"></script>
<script src="../../js/jquery.shoppingBagZy.js"></script>
<script src="../../js/jquery.TransactionList.js"></script>
<script src="../../js/pruduct-main.js"></script>
<script src="../../js/qd-Wechat.js"></script>
<script src="../../js/vipMainJs.js"></script>
<script src="../../js/fastclick.js"></script>
</body>




<script type="text/javascript">

  jfCustomerService.init({//用户信息
    name: '阿陈',// 名字
    address: '西伯利亚',// 地址
    email: '1313@qq.com',// 邮箱
    age: '16',// 年龄
    tel: '110',// 电话
    comment: '很帅',// 备注
    gender: '男',// 性别
    qq: '1234567',// QQ
    weibo: '',// 微博
    weixin: '',// 微信
    '公司名称':'上海淘略数据有限公司',
    '公司编号':'123ksuhdaf891274',
    '员工编号':'1234567890123456'
  })

</script>
</html>
