<!DOCTYPE html>
<html>
<head>

    <title>&#x8682;&#x8681;&#x90E8;&#x843D;</title>
    <link rel="stylesheet" href="../../css/jf_helpcenter.css">

</head>
<body style="height:1000px;">
<div id="box">
    <div id="inner"></div>
</div>
<div style="margin-top:420px;">
    &#x8DDD;&#x79BB;&#x6587;&#x6863;&#x9876;&#x90E8;&#x8DDD;&#x79BB;:<span id="first"></span>
    &#x8DDD;&#x79BB;&#x7236;&#x5143;&#x7D20;&#x9876;&#x90E8;&#x7684;&#x8DDD;&#x79BB;:<span id="second"></span>
    &#x8DDD;&#x79BB;&#x7A97;&#x53E3;&#x9876;&#x90E8;&#x7684;&#x8DDD;&#x79BB;:<span id="third"></span>
</div>
<input type="button" id="bt" value="&#x70B9;&#x51FB;&#x663E;&#x793A;&#x7ED3;&#x679C;">

</body>
</html>