<!DOCTYPE html>
<html>
<head>
    <meta charset=" utf-8">
    <meta name="author" content="http://www.softwhy.com/">
    <title>&#x8682;&#x8681;&#x90E8;&#x843D;</title>
    <style type="text/css">
        *{
            margin:0px;
            padding:0px;
        }
        #box{
            width:200px;
            height:200px;
            background-color:blue;
            top:100px;
            left:100px;
            padding:50px;
            position:absolute;
        }
        #inner{
            width:100px;
            height:100px;
            background-color:red;
        }
        span{color:red;}
    </style>
    
    





















































































































































































<link rel="stylesheet" href="../../lib/css/swiper_3.3.1.min.css">
<link rel="stylesheet" href="../../lib/css/weui.min.css">
<link rel="stylesheet" href="../../css/main-Wechat.css">
<link rel="stylesheet" href="../../css/bk_zwb.css">
<link rel="stylesheet" href="../../css/carInsuranceZy.css">
<link rel="stylesheet" href="../../css/catalogPageZy.css">
<link rel="stylesheet" href="../../css/daily_specials.css">
<link rel="stylesheet" href="../../css/financialPageZy.css">
<link rel="stylesheet" href="../../css/help_center_1.css">
<link rel="stylesheet" href="../../css/huikabaoZy.css">
<link rel="stylesheet" href="../../css/iou.css">
<link rel="stylesheet" href="../../css/order_details_list.css">
<link rel="stylesheet" href="../../css/payProcessZy.css">
<link rel="stylesheet" href="../../css/pruduct_main.css">
<link rel="stylesheet" href="../../css/vipMain.css">
</head>
<body style="height:1000px;">
<div id="box">
    <div id="inner"></div>
</div>
<div style="margin-top:420px;">
    &#x8DDD;&#x79BB;&#x6587;&#x6863;&#x9876;&#x90E8;&#x8DDD;&#x79BB;:<span id="first"></span>
    &#x8DDD;&#x79BB;&#x7236;&#x5143;&#x7D20;&#x9876;&#x90E8;&#x7684;&#x8DDD;&#x79BB;:<span id="second"></span>
    &#x8DDD;&#x79BB;&#x7A97;&#x53E3;&#x9876;&#x90E8;&#x7684;&#x8DDD;&#x79BB;:<span id="third"></span>
</div>
<input type="button" id="bt" value="&#x70B9;&#x51FB;&#x663E;&#x793A;&#x7ED3;&#x679C;">
































<script type="text/javascript">
    $(document).ready(function(){
        $("#bt").click(function(){
            $("#first").text($("#inner").offset().top);
            $("#second").text($("#inner").position().top);
            $("#third").text($("#inner").offset().top-$("body").scrollTop());
        })
    })
</script>






















































































































































<script src="../../lib/js/jquery-3.0.0.min.js"></script>
<script src="../../lib/js/swiper-3.3.1.jquery.min.js"></script>
<script src="../../js/main-Wechat.js"></script>
<script src="../../js/IOU.js"></script>
<script src="../../js/jquery.carInsuranceZy.js"></script>
<script src="../../js/jquery.catalogPageZy.js"></script>
<script src="../../js/jquery.feedBack.js"></script>
<script src="../../js/jquery.huikabaoZy.js"></script>
<script src="../../js/jquery.payProcessZy.js"></script>
<script src="../../js/jquery.shoppingBagZy.js"></script>
<script src="../../js/jquery.TransactionList.js"></script>
<script src="../../js/pruduct-main.js"></script>
<script src="../../js/qd-Wechat.js"></script>
<script src="../../js/vipMainJs.js"></script>
<script src="../../js/fastclick.js"></script>
</body>
</html>