<!doctype html>
<html>
<head>

<title>&#x65E0;&#x6807;&#x9898;&#x6587;&#x6863;</title>
  <link rel="stylesheet" href="../../css/jf_helpcenter.css">


</head>

<body>
<div class="helpcenter">
  <div class="navi">
  <div onclick="jfSwitch.goBack()"><img src="../../images/helpcenter/icon_pay_return.png">
    </div><div class="help">
      <div>&#x5E2E;&#x52A9;&#x4E2D;&#x5FC3;</div>
    </div>
    <div onclick="location=&apos;../../main.html&apos;">&#x9996;&#x9875;</div>
  </div>
  <div class="explain">
    <div class="pic"><img src="../../images/helpcenter/helper.png"></div>
    &#x5982;&#x4F55;&#x4F7F;&#x7528;&#x4E2D;&#x77F3;&#x5316;&#x52A0;&#x6CB9;&#x5361;</div>
  <div class="xx">
    <ul>
      <li>&#x7B2C;&#x4E00;&#x6B65;&#xFF1A;&#x5145;&#x503C;&#x6210;&#x529F;&#x4F1A;&#x6536;&#x5230;&#x4E2D;&#x56FD;&#x77F3;&#x5316;&#x7684;&#x77ED;&#x4FE1;&#x901A;&#x77E5;</li>
      <img src="../../images/helpcenter/q1s1.png">
      <li>1&#x3001;&#x5728;&#x201C;&#x6211;&#x7684;&#x8BA2;&#x5355;&#x201D;&#x4E2D;&#x67E5;&#x770B;&#x6210;&#x529F;&#x4E0E;&#x5426;&#xFF08;&#x5BF9;&#x4E8E;&#x7531;&#x5F02;&#x5E38;&#x60C5;&#x51B5;&#x7B49;&#x539F;&#x56E0;&#x5F15;&#x8D77;&#x7684;&#x5931;&#x8D25;&#xFF0C;&#x6211;&#x4EEC;&#x4F1A;&#x81EA;&#x52A8;&#x4E3A;&#x60A8;&#x9000;&#x6B3E;&#xFF09;</li>
      <img src="../../images/helpcenter/q1s2.png">
      <li>2&#x3001;&#x786E;&#x8BA4;&#x5145;&#x503C;&#x6210;&#x529F;&#x540E;&#xFF0C;&#x4E2D;&#x77F3;&#x5316;&#x6CE8;&#x518C;&#x7528;&#x6237;&#x53EF;&#x4EE5;&#x767B;&#x5F55;&#x4E2D;&#x77F3;&#x5316;&#x7F51;&#x4E0A;&#x8425;&#x4E1A;&#x5385;&#xFF08;http&#xFF1A;//sinopecsales.com)&#x67E5;&#x8BE2;&#x5145;&#x503C;&#x660E;&#x7EC6;&#xFF0C;&#x767B;&#x5F55;&#x7F51;&#x7AD9;&#xFF0C;&#x8FDB;&#x5165;&#x201C;&#x6211;&#x7684;&#x52A0;&#x6CB9;&#x5361;/&#x7F51;&#x4E0A;&#x8425;&#x4E1A;&#x5385;&#x2014;&#x4E1A;&#x52A1;&#x67E5;&#x8BE2;&#x2014;&#x5145;&#x503C;&#x660E;&#x7EC6;&#x67E5;&#x8BE2;</li>
      <img src="../../images/helpcenter/q1s3.png">
      <li>3&#x3001;&#x70B9;&#x51FB;&#x201D;&#x5145;&#x503C;&#x660E;&#x7EC6;&#x67E5;&#x8BE2;&#x201C;&#xFF0C;&#x9009;&#x62E9;&#x8981;&#x67E5;&#x8BE2;&#x7684;&#x4E3B;&#x5361;</li>
      <img src="../../images/helpcenter/q1s4.png">
      <li>4&#x3001;&#x9009;&#x62E9;&#x8D77;&#x6B62;&#x65E5;&#x671F;&#xFF0C;&#x7CFB;&#x7EDF;&#x9650;&#x5236;3&#x4E2A;&#x6708;&#x5185;</li>
      <img src="../../images/helpcenter/q1s4.png">
      <li>5&#x3001;&#x67E5;&#x770B;&#x7ED3;&#x679C;&#xFF0C;&#x53EF;&#x70B9;&#x51FB;&#x201C;&#x5BFC;&#x51FA;&#x201D;&#xFF1B;&#x4E5F;&#x53EF;&#x70B9;&#x51FB;&#x201C;&#x6253;&#x5370;&#x201D;</li>
      <img src="../../images/helpcenter/q1s4.png">
      <li>&#x7B2C;&#x4E8C;&#x6B65;&#xFF1A;&#x53BB;&#x4E2D;&#x77F3;&#x5316;&#x52A0;&#x6CB9;&#x7AD9;&#x6216;&#x529E;&#x5361;&#x7F51;&#x5E97;&#x5708;&#x5B58;</li>
      <img src="../../images/helpcenter/q1s4.png">
    </ul>
  </div>
</div>

</body>




</html>