<!DOCTYPE html>
<html>
<head>

    <title>&#x5609;&#x798F;&#x5E73;&#x53F0;</title>
    <link rel="stylesheet" href="../../css/jf_helpcenter.css">

</head>

<body>
<nav class="Top_navigation">
    <div class="weui_tab_bd"></div>
    <div class="container_tab"><a onclick="jfSwitch.goBack()">
        <div class="nav_left"><img src="../../images/icon_pay_return.png"></div>
    </a>
        <div class="nav_center">
            <div>&#x5E2E;&#x52A9;&#x4E2D;&#x5FC3;</div>
        </div>
        <a href="#">
            <div class="nav_right">&#x9996;&#x9875;</div>
        </a>
    </div>
</nav>


<div class="helpcenter_mid" id="helpcenter_mid">
    <div class="helpcenter recharge_page">
        <div class="explain">
            <div class="pic"><img src="../../images/helpcenter/helper.png"></div>
            如何充值查询中石化加油卡</div>
        <div class="xx">
            <ul>
                <li>
                    <p>&#x7B2C;&#x4E00;&#x6B65;&#xFF1A;&#x8BA2;&#x5355;&#x786E;&#x8BA4;</p>
                    <span style="display: block">方法一：充值成功之后会收到嘉福的推送通知
                        <br>方法二：嘉福App“查看订单”选项中查看成功与否</br></span>
                    </span>

                    <img src="../../images/helpcenter/zsh1_02.png" style="width: 100%">
                </li>
                <li>
                    <p>&#x7B2C;&#x4E8C;&#x6B65;&#xFF1A;&#x529E;&#x7406;&#x5708;&#x5B58;</p>
                    <span style="display: block">前往中石化/中石油加油站或办卡网点，由其员工帮您将充值金额圈存到加油卡；或自己在自助圈存机完成圈存，即可在加油卡上看到充值金额。</span>
                    <img src="../../images/helpcenter/zsh2_01.png" style="width: 100%">
                    <img src="../../images/helpcenter/zsh2_03.png" style="width: 100%">
                </li>
            </ul>
        </div>

        <div class="explain">
            <div class="pic"><img src="../../images/helpcenter/helper.png"></div>
            &#x5982;&#x4F55;&#x67E5;&#x8BE2;&#x5145;&#x503C;&#x660E;&#x7EC6;
        </div>
        <div class="ps">中石化网上营业厅：http://www.sinopecsales.com</div>
        <div class="xx">
            <ul>
                <li> <p>&#x7B2C;&#x4E00;&#x6B65;&#xFF1A;&#x767B;&#x5F55;&#x4E2D;&#x77F3;&#x5316;</p>
                    <span style="display: block">&#x767B;&#x5F55;&#x4E2D;&#x56FD;&#x77F3;&#x5316;&#x7F51;&#x4E0A;&#x8425;&#x4E1A;&#x5385;&#x70B9;&#x51FB;&#x3010;&#x6211;&#x7684;&#x52A0;&#x6CB9;&#x5361;&#x3011;</span>
                    <img src="../../images/helpcenter/zsh3_01.png" style="width: 100%">
                </li>
                <li>
                    <p>&#x7B2C;&#x4E8C;&#x6B65;&#xFF1A;&#x4E1A;&#x52A1;&#x9009;&#x62E9;</p>
                    <span style="display: block">&#x3010;&#x4E1A;&#x52A1;&#x67E5;&#x8BE2;&#x3011;-&gt;&#x3010;&#x5145;&#x503C;&#x660E;&#x7EC6;&#x67E5;&#x8BE2;&#x3011;-&gt;&#x3010;&#x9009;&#x62E9;&#x67E5;&#x8BE2;&#x4E3B;&#x5361;&#x3011;</span>
                    <img src="../../images/helpcenter/zsh3_02.png" style="width: 100%">
                </li>
                <li>
                    <p>&#x7B2C;&#x4E09;&#x6B65;&#xFF1A;&#x70B9;&#x51FB;&#x67E5;&#x8BE2;</p>
                    <span style="display: block">&#x3010;&#x9009;&#x62E9;&#x8D77;&#x6B62;&#x65E5;&#x671F;&#x3011;-&gt;&#x3010;&#x67E5;&#x8BE2;&#x3011;&#xFF0C;&#x5373;&#x53EF;&#x67E5;&#x770B;&#x5145;&#x503C;&#x660E;&#x7EC6;&#x3002;</span>
                    <img src="../../images/helpcenter/zsh3_03.png" style="width: 100%">

                </li>

            </ul>
        </div>
    </div>

    <div class="helpcenter lookup_page">
        <div class="explain">
            <div class="pic"><img src="../../images/helpcenter/helper.png"></div>
            如何充值查询中石油加油卡</div>

        <div class="xx">
            <ul>
                <li> <p>第一步：登录中石油</p>
                    <span  style="display: block"> 中石油网上服务平台：http://www.card.petrochina.com.cn</span>
                    <img src="../../images/helpcenter/help-CNPC1.png" style="width: 100%">
                </li>
                <li>
                    <p>第二步：业务选择</p>
                    <span style="display: block">【昆仑加油卡】->【油卡查询】</span>
                    <img src="../../images/helpcenter/help-CNPC2.png" style="width: 100%">
                </li>
                <li>
                    <p>第二步：点击查询</p>
                    <img src="../../images/helpcenter/help-CNPC3.png" style="width: 100%">

                </li>

            </ul>
        </div>
    </div>
</div>

<div class="bottom_button">
    <div class="hideheight"></div>
    <div class="helpcenter_button">
        <div class="recharge_button">中国石化</div>
        <div class="lookup_button">中国石油</div>
    </div>
</div>
<script>


    $('div.recharge_button').click(function(){
        topDistance('.recharge_page')
    });

    $('div.lookup_button').click(function(){

        topDistance('.lookup_page')
    });

    //变换页面到顶部的距离，滚动条距离改变
    function topDistance(objpage){//参数为选择的当前按钮所对应的元素

        var thisScroll=$(objpage)[0].offsetTop;//元素到父元素顶部的距离

        var thisbigpage=$('div.helpcenter_mid');

        if(browser.os.android){//如果是安卓机器

            $('.helpcenter_mid').animate({scrollTop:thisScroll}, 300);
        }

        else {//解决ios端点击按钮时，滚动条不能停止滚动的问题

            thisbigpage[0].style.overflowY='hidden';

            thisbigpage.animate({scrollTop:thisScroll}, 300);

            thisbigpage[0].style.overflowY='';
        }
    }



</script>
</body>


</html>
