<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,minimum-scale=1, maximum-scale=1">
    <meta charset="utf-8">
    <title>&#x5609;&#x798F;&#x5E73;&#x53F0;</title>
    
    
    




















































































































































































<link rel="stylesheet" href="../../lib/css/swiper_3.3.1.min.css">
<link rel="stylesheet" href="../../lib/css/weui.min.css">
<link rel="stylesheet" href="../../css/main-Wechat.css">
<link rel="stylesheet" href="../../css/bk_zwb.css">
<link rel="stylesheet" href="../../css/carInsuranceZy.css">
<link rel="stylesheet" href="../../css/catalogPageZy.css">
<link rel="stylesheet" href="../../css/daily_specials.css">
<link rel="stylesheet" href="../../css/financialPageZy.css">
<link rel="stylesheet" href="../../css/help_center_1.css">
<link rel="stylesheet" href="../../css/huikabaoZy.css">
<link rel="stylesheet" href="../../css/iou.css">
<link rel="stylesheet" href="../../css/order_details_list.css">
<link rel="stylesheet" href="../../css/payProcessZy.css">
<link rel="stylesheet" href="../../css/pruduct_main.css">
<link rel="stylesheet" href="../../css/vipMain.css">
</head>

<body>
<nav class="Top_navigation">
    <div class="weui_tab_bd"></div>
    <div class="container_tab"><a onclick="jfSwitch.goBack()">
        <div class="nav_left"><img src="../../images/icon_pay_return.png"></div>
    </a>
        <div class="nav_center">
            <div>&#x5E2E;&#x52A9;&#x4E2D;&#x5FC3;</div>
        </div>
        <a href="#">
            <div class="nav_right">&#x9996;&#x9875;</div>
        </a>
    </div>
</nav>


<div class="helpcenter_mid" id="helpcenter_mid">
    <div class="helpcenter recharge_page">
        <div class="explain">
            <div class="pic"><img src="../../images/helpcenter/helper.png"></div>
            &#x5982;&#x4F55;&#x5145;&#x503C;&#x4E2D;&#x77F3;&#x5316;&#x52A0;&#x6CB9;&#x5361;</div>
        <div class="xx">
            <ul>
                <li>
                    <p>&#x7B2C;&#x4E00;&#x6B65;&#xFF1A;&#x8BA2;&#x5355;&#x786E;&#x8BA4;</p>
                    <span style="display: block">&#x65B9;&#x6CD5;&#x4E00;&#xFF1A;&#x5145;&#x503C;&#x6210;&#x529F;&#x4E4B;&#x540E;&#x4F1A;&#x6536;&#x5230;&#x4E2D;&#x56FD;&#x77F3;&#x5316;&#x7684;&#x77ED;&#x4FE1;&#x901A;&#x77E5;<br>
                        &#x65B9;&#x6CD5;&#x4E8C;&#xFF1A;&#x5609;&#x798F;App&#x201C;&#x67E5;&#x770B;&#x8BA2;&#x5355;&#x201D;&#x9009;&#x9879;&#x4E2D;&#x67E5;&#x770B;&#x6210;&#x529F;&#x4E0E;&#x5426;
                    </span>
                    <img src="../../images/helpcenter/zsh1_01.png" style="width: 100%">
                    <img src="../../images/helpcenter/zsh1_02.png" style="width: 100%">
                </li>
                <li>
                    <p>&#x7B2C;&#x4E8C;&#x6B65;&#xFF1A;&#x529E;&#x7406;&#x5708;&#x5B58;</p>
                    <span style="display: block">&#x524D;&#x5F80;&#x4E2D;&#x77F3;&#x5316;&#x52A0;&#x6CB9;&#x7AD9;&#x6216;&#x529E;&#x5361;&#x7F51;&#x70B9;&#xFF0C;&#x7531;&#x5176;&#x5458;&#x5DE5;&#x5E2E;&#x60A8;&#x5C06;&#x5145;&#x503C;&#x91D1;&#x989D;&#x5708;&#x5B58;&#x5230;&#x52A0;&#x6CB9;&#x5361;&#xFF1B;&#x6216;&#x81EA;&#x5DF1;&#x5728;&#x81EA;&#x52A9;&#x5708;&#x5B58;&#x673A;&#x5B8C;&#x6210;&#x5708;&#x5B58;&#xFF0C;&#x5373;&#x53EF;&#x5728;&#x52A0;&#x6CB9;&#x5361;&#x4E0A;&#x770B;&#x5230;&#x5145;&#x503C;&#x91D1;&#x989D;&#x3002;</span>
                    <img src="../../images/helpcenter/zsh2_01.png" style="width: 100%">
                    <img src="../../images/helpcenter/zsh2_03.png" style="width: 100%">
                </li>
            </ul>
        </div>
    </div>

    <div class="helpcenter lookup_page">
        <div class="explain">
            <div class="pic"><img src="../../images/helpcenter/helper.png"></div>
            &#x5982;&#x4F55;&#x67E5;&#x8BE2;&#x5145;&#x503C;&#x660E;&#x7EC6;
        </div>
        <div class="ps">&#x8BF7;&#x767B;&#x5F55;&#x4E2D;&#x77F3;&#x5316;&#x7F51;&#x4E0A;&#x8425;&#x4E1A;&#x5385;&#xFF08;http://www.sinopecsales.com&#xFF09;&#x64CD;&#x4F5C;</div>
        <div class="xx">
            <ul>
                <li> <p>&#x7B2C;&#x4E00;&#x6B65;&#xFF1A;&#x767B;&#x5F55;&#x4E2D;&#x77F3;&#x5316;</p>
                    <span style="display: block">&#x767B;&#x5F55;&#x4E2D;&#x56FD;&#x77F3;&#x5316;&#x7F51;&#x4E0A;&#x8425;&#x4E1A;&#x5385;&#x70B9;&#x51FB;&#x3010;&#x6211;&#x7684;&#x52A0;&#x6CB9;&#x5361;&#x3011;</span>
                    <img src="../../images/helpcenter/zsh3_01.png" style="width: 100%">
                </li>
                <li>
                    <p>&#x7B2C;&#x4E8C;&#x6B65;&#xFF1A;&#x4E1A;&#x52A1;&#x9009;&#x62E9;</p>
                    <span style="display: block">&#x3010;&#x4E1A;&#x52A1;&#x67E5;&#x8BE2;&#x3011;-&gt;&#x3010;&#x5145;&#x503C;&#x660E;&#x7EC6;&#x67E5;&#x8BE2;&#x3011;-&gt;&#x3010;&#x9009;&#x62E9;&#x67E5;&#x8BE2;&#x4E3B;&#x5361;&#x3011;</span>
                    <img src="../../images/helpcenter/zsh3_02.png" style="width: 100%">
                </li>
                    <li>
                        <p>&#x7B2C;&#x4E09;&#x6B65;&#xFF1A;&#x70B9;&#x51FB;&#x67E5;&#x8BE2;</p>
                        <span style="display: block">&#x3010;&#x9009;&#x62E9;&#x8D77;&#x6B62;&#x65E5;&#x671F;&#x3011;-&gt;&#x3010;&#x67E5;&#x8BE2;&#x3011;&#xFF0C;&#x5373;&#x53EF;&#x67E5;&#x770B;&#x5145;&#x503C;&#x660E;&#x7EC6;&#x3002;</span>
                        <img src="../../images/helpcenter/zsh3_03.png" style="width: 100%">

                    </li>

            </ul>
        </div>
    </div>
</div>

<div class="bottom_button">
    <div class="hideheight"></div>
    <div class="helpcenter_button">
        <div class="recharge_button">&#x5982;&#x4F55;&#x5145;&#x503C;</div>
        <div class="lookup_button">&#x5982;&#x4F55;&#x67E5;&#x8BE2;</div>
    </div>
</div>




















































































































































































<script src="../../lib/js/jquery-3.0.0.min.js"></script>
<script src="../../lib/js/swiper-3.3.1.jquery.min.js"></script>
<script src="../../js/main-Wechat.js"></script>
<script src="../../js/IOU.js"></script>
<script src="../../js/jquery.carInsuranceZy.js"></script>
<script src="../../js/jquery.catalogPageZy.js"></script>
<script src="../../js/jquery.feedBack.js"></script>
<script src="../../js/jquery.huikabaoZy.js"></script>
<script src="../../js/jquery.payProcessZy.js"></script>
<script src="../../js/jquery.shoppingBagZy.js"></script>
<script src="../../js/jquery.TransactionList.js"></script>
<script src="../../js/pruduct-main.js"></script>
<script src="../../js/qd-Wechat.js"></script>
<script src="../../js/vipMainJs.js"></script>
<script src="../../js/fastclick.js"></script>
</body>




<script>

    $('div.recharge_button').click(function(){
        topDistance('.recharge_page')
    });

    $('div.lookup_button').click(function(){

        topDistance('.lookup_page')
    });

    //变换页面到顶部的距离，滚动条距离改变
    function topDistance(objpage){//参数为选择的当前按钮所对应的元素

        var thisScroll=$(objpage)[0].offsetTop;//元素到父元素顶部的距离

        var thisbigpage=$('div.helpcenter_mid');

        if(browser.os.android){//如果是安卓机器

            $('.helpcenter_mid').animate({scrollTop:thisScroll}, 300);
        }

        else {//解决ios端点击按钮时，滚动条不能停止滚动的问题

            thisbigpage[0].style.overflowY='hidden';

            thisbigpage.animate({scrollTop:thisScroll}, 300);

            thisbigpage[0].style.overflowY='';
        }
    }

</script>
</html>
