<!DOCTYPE html>
<html lang="en">
<head>

    <title>沃尔玛</title>
    <link rel="stylesheet" href="../../css/jf_Wal-Mart.css">

</head>
<body>


<!--导航-->
<%- include('../../component/basic/topNav.ejs',{
"thisrighthref":"jfSwitch.goBack()",
"navtitle":"沃尔玛支付",
"thislefthref":"#",
"thisimgsrc":" "
})%>

<!--订单详情-->
<%- include('../../component/Wal-Mart/main/main.ejs')%>

</body>
</html>