<!--状态-->
<div class="stay_all">

    <p class="title">正在申请<span>【急门诊】</span>理赔</p>

</div>

<!--步骤状态-->

<!--

需报案状态class值“claims_order_cp”；

不需报案状态class值“claims_order”;

不显示步骤部分class值“claims_order_none”

-->

<div class="claims_order apply">

    <!--报案状态下致电部分-->

    <a class="cop_step" href="tel:400-0000-0000">

        <span class="step_icon blue_111"></span>

        <div class="step_text">

            <!--修改颜色，在下方P标签中添加class值“st_blue_text”蓝色；“st_red_text”红色-->

            <p class="st_text_up st_blue_text">向嘉福报案</p>

            <!--如需不显示日期，在下方P标签中添加class值“st_none”-->

            <p class="st_none">2018年01月01日</p>

        </div>

    </a>


    <div class="claims_step">

        <!--修改颜色，在下方span标签中修改class值“blue_1”蓝色；“red_1”红色-->

        <span class="step_icon blue_1"></span>

        <div class="step_text">

            <!--在下方span标签中修改class值“gray_2”灰色icon;“blue_2”蓝色icon；“red_2”红色icon-->

            <p class="st_text_up st_blue_text">发起理赔</p>

            <!--如需不显示日期，在下方P标签中添加class值“st_none”-->

            <p class="st_text_down">2018年01月01日</p>

        </div>

    </div>


    <div class="claims_step ">

        <!--在下方span标签中修改class值“gray_2”灰色icon;“blue_2”蓝色icon；“red_2”红色icon-->

        <span class="step_icon gray_2"></span>

        <div class="step_text">

            <!--修改颜色，在下方P标签中添加class值“st_blue_text”蓝色；“st_red_text”红色-->

            <p class="st_text_up ">通过审核</p>

            <!--如需不显示日期，在下方P标签中添加class值“st_none”-->

            <p class="st_text_down st_none">2018年01月01日</p>

        </div>

    </div>


    <div class="claims_step">

        <!--在下方span标签中添加class值“gray_3”灰色icon;“blue_3”蓝色icon；“-->

        <span class="step_icon gray_3"></span>

        <div class="step_text">

            <!--修改颜色，在下方P标签中添加class值“st_blue_text”蓝色；“st_red_text”红色-->

            <p class="st_text_up">打款到账</p>

            <!--如需不显示日期，在下方P标签中添加class值“st_none”-->

            <p class="st_text_down st_none">2018年01月01日</p>

        </div>

    </div>

</div>

<!--身份信息-->

<div class="details_inf_ap">

    <label class="inf_line">

        <div class="inf_left">

            <span>出险人姓名</span>

        </div>

        <input type="text" placeholder="请输入出险人姓名">

    </label>

    <label class="inf_line">

        <div class="inf_left">

            <span>证件类型</span>

        </div>

        <label class="inf_right">

            <select class="money_select" onchange="selectChange()">
                <option value ="choose">请选择证件类型</option>
                <option value ="bank_a">身份证</option>
                <option value="bank_b">身份证件？</option>
            </select>

            <!--<img src="../../images/icon_history_right.png">-->

        </label>


    </label>

    <label class="inf_line">

        <div class="inf_left">

            <span>证件号码</span>

        </div>

        <input type="number" placeholder="请输入证件号码">

    </label>

    <label class="inf_line">

        <div class="inf_left">

            <span>联系人电话</span>

        </div>

        <input type="number" placeholder="请输入联系人电话">

    </label>

    <div class="inf_line">

        <div class="inf_left">

            <span>收款账户</span>

        </div>

        <a href="payment_choose.html">

            <div class="inf_right">

                <span>点击选择收款账户</span>

                <img src="../../images/claims/icon_credit_card_2.png">

            </div>

        </a>

    </div>



</div>


<!--上传照片-->

<div class="refund_photo">
    <div class="type_title">
        <div class="title_a">
            <p>上传单据资料照片</p>
            <a href="claims_explain.html">
                <div class="title_b">
                    <img src="../../images/claims/q_icon.png">
                    <p>上传单据资料说明</p>
                </div>
            </a>
        </div>
        <p class="font_middle_gary"><span id="image_length">0</span>/10</p>
    </div>
    <div class="photo_content">

        <!--<div class="choose_file">
            <!-- 缩略图 -->
            <!--<img src="../../images/banner_1.jpg" class="thumbnail_img">-->
            <!-- 背景图-->

            <!-- 上传照片-->

            <!-- 删除按钮-->
            <!--<div class="delete_img"></div>-->
        <!--</div>-->


        <label class="choose_file">
            <img src="../../images/claims/in_up.png">
            <input type="file" multiple="multiple" accept="image/*" readonly="">
        </label>


    </div>
</div>

<!-- 弹出框-->

<div class="service_pop_up" id="servicePopUp">

    <!-- 背景-->

    <div class="service_shadow" id="serviceShadow"></div>

    <div class="delete_pic">X</div>

    <!-- 内容 -->

    <div class="service_show_content">
        <div class="img_content"></div>
    </div>



</div>


<div class="none_apply"></div>


<!--底部按钮-->



<div class="security_button_all">

    <div class="product_bottom_line">

        <a href="tel:400-0000-0000" class="button_text_plate">

            <div class="bottom_left_icon">

                <img src="../../images/claims/customer_service_icon.png">

            </div>

            <p>联系客服</p>

        </a>

        <button class="bottom_button_block bottom_button_blue">提交审核</button>

    </div>

</div>




<script>


    jfReturnService.addPhoto()

    jfReturnService.chooseImgShow()


    //弹出小提示
    var clickTips=document.getElementsByClassName('bottom_button_block');

    for (var i=0;i<clickTips.length;i++) {

        clickTips[i].addEventListener('click',function () {

            jfShowTips.toastShow({'text':'提交成功'})//totast提示

        },false)

    }


</script>