

<!--医疗保障-->

<div class="list_box">

        <p class="tittle">医疗保障</p>

        <div class="list_line">

            <div class="list_text">

            <p>门急诊</p>

            </div>

            <!------展开内容------->

            <div class="claims_things_detail">

                <div class="detail_all">

                    <a href="security_details.html">

                        <div class="detail_left">

                          <p class="detail_text_up">保障期：<span>2018-02-02</span>至<span>2019-02-02</span></p>

                            <div class="detail_text_down">

                                <!--如需切换颜色，更换class值为‘claims_state_gray’，可变为灰色-->

                                <div class="text_box ">保障中</div>

                                <p>保障详情></p>

                            </div>

                        </div>

                    </a>

                    <a href="claims_flow.html">

                        <div class="detail_right">理赔</div>

                    </a>

                </div>

                <div class="detail_all">

                    <a href="security_details.html">

                        <div class="detail_left">

                            <p class="detail_text_up">保障期：<span>2018-02-02</span>至<span>2019-02-02</span></p>

                            <div class="detail_text_down">

                                <!--如需切换颜色，更换class值为‘claims_state_gray’，可变为灰色-->

                                <div class="text_box claims_state_gray">已失效</div>

                                <p>保障详情></p>

                            </div>

                        </div>

                    </a>

                    <a href="claims_flow.html">

                        <div class="detail_right">理赔</div>

                    </a>

                </div>

                <div class="detail_all">

                    <a href="security_details.html">

                        <div class="detail_left">

                            <p class="detail_text_up">保障期：<span>2018-02-02</span>至<span>2019-02-02</span></p>

                            <div class="detail_text_down">

                                <!--如需切换颜色，更换class值为‘claims_state_gray’，可变为灰色-->

                                <div class="text_box ">保障中</div>

                                <p>保障详情></p>

                            </div>

                        </div>

                    </a>

                    <a href="claims_flow.html">

                        <div class="detail_right">理赔</div>

                    </a>

                </div>

            </div>

   </div>


    <div class="list_line">

        <div class="list_text">

            <p>住院</p>


        </div>

        <!------展开内容------->

        <div class="claims_things_detail">

            <div class="detail_all">

                <a href="security_details.html">

                    <div class="detail_left">

                        <p class="detail_text_up">保障期：<span>2018-02-02</span>至<span>2019-02-02</span></p>

                        <div class="detail_text_down">

                            <!--如需切换颜色，更换class值为‘claims_state_gray’，可变为灰色-->

                            <div class="text_box ">保障中</div>

                            <p>保障详情></p>

                        </div>

                    </div>

                </a>

                <a href="claims_flow.html">

                    <div class="detail_right">理赔</div>

                </a>

            </div>

            <div class="detail_all">

                <a href="security_details.html">

                    <div class="detail_left">

                        <p class="detail_text_up">保障期：<span>2018-02-02</span>至<span>2019-02-02</span></p>

                        <div class="detail_text_down">

                            <!--如需切换颜色，更换class值为‘claims_state_gray’，可变为灰色-->

                            <div class="text_box claims_state_gray">已失效</div>

                            <p>保障详情></p>

                        </div>

                    </div>

                </a>

                <a href="claims_flow.html">

                    <div class="detail_right">理赔</div>

                </a>

            </div>


        </div>

    </div>

    <div class="list_line">

        <div class="list_text">

            <p>意外住院</p>

        </div>

    </div>

    <div class="list_line">

        <div class="list_text">

            <p>子女门急诊</p>


        </div>

    </div>

    <div class="list_line">

        <div class="list_text">

            <p>子女住院</p>


        </div>

    </div>

    <div class="list_line">

        <div class="list_text">

            <p>女性生育</p>


        </div>

    </div>

    <div class="list_line">

        <div class="list_text">

            <p>意外伤害医疗</p>


        </div>

    </div>


</div>

<!--出行-->

<div class="list_box">

    <p class="tittle">出行</p>

    <div class="list_line">

        <div class="list_text">

            <p>自驾（乘）车</p>


        </div>

        <div class="list_line">

            <div class="list_text">

                <p>营运汽车</p>


            </div>

        </div>

        <div class="list_line">

            <div class="list_text">

                <p>轮船意外</p>


            </div>

        </div>

        <div class="list_line">

            <div class="list_text">

                <p>轨道意外</p>


            </div>

        </div>

        <div class="list_line">

            <div class="list_text">

                <p>飞机意外</p>


            </div>

        </div>

    </div>

</div>



<!--大病-->

<div class="list_box">

    <p class="tittle">大病</p>

    <div class="list_line">

        <div class="list_text">

            <p>重大疾病</p>


        </div>

    </div>

</div>


<!--人身-->

<div class="list_box">

    <p class="tittle">人身</p>

    <div class="list_line">

        <div class="list_text">

            <p>意外事故、残疾</p>


        </div>

    </div>

    <div class="list_line">

        <div class="list_text">

            <p>疾病人身事故</p>


        </div>

    </div>

    <div class="list_line">

        <div class="list_text">

            <p>意外人身事故</p>


        </div>

    </div>

    <div class="list_line">

        <div class="list_text">

            <p>猝死</p>


        </div>

    </div>

</div>

<div class="claims_none_box"></div>

<div class="claims_bottom_box">

    <span>查看所有理赔进度</span>

    <a href="plan_list.html">理赔进度</a>


</div>

<script>

    //点击保项展开，收起
    hideDetail.blockDetail()

</script>