<div class="jf_open_account">
    <div class="jf_account">
        <div class="jf_account_title">开户中</div>

        <hr />

        <div class="jf_account_animation">

            <div class="jf_account_icon"><img src="../../images/ctrip/jiafu_icon.png"/> <img class="xiecheng" src="../../images/ctrip/xiecheng.png"/> </div>

            <div class="jf_circle_animation">
                <div class="jf_circle_big"></div>
                <div class="jf_circle_middle"></div>
                <div class="jf_circle_small"></div>
                <div class="jf_circle_left"></div>
                <div class="jf_circle_right"></div>
            </div>

            <div class="jf_account_text">开户需要一段时间请稍后再来</div>

        </div>

    </div>

</div>