<div class="fudou_exchange_content">
    <a class="fudou_exchange_list" href="../fudou/fudou_coupon_option.html">

        <div class="left">
            <img src="../../images/fudou/fudou_exchange_coupon.png">
            <span>请选择您的优惠券</span></div>


        <div class="right">
            <span>123.04元</span>
            <img class="fudou_coupon_go" src="../../images/fudou/fudou_coupon_go.png">

        </div>
    </a>

    <div class="coupon_instruction">
        <p>123.04元优惠券可兑换福豆12304个</p>
    </div>



    <!--底部按钮-->
    <div class="fudou_exchange_btn">
        <p class="exchange_btn_area">
            <a href="../fudou/fudou_exchange_success.html">立即兑换</a>
        </p>

    </div>


</div>