<div class="weui_msg">
    <div class="weui_icon_area">
        <div class="swal2-icon swal2-success animate"> <span class="line tip animate-success-tip"></span> <span class="line long animate-success-long"></span>
            <div class="placeholder"></div>
            <div class="fix"></div>
        </div>
    </div>

    <div class="weui_text_area" style="padding:0px;">
        <h2 class="msg_title_0718">兑换成功</h2>

        <!--底部按钮-->
        <div class="weui_opr_area">
            <p class="weui_btn_area">
                <a href="../mine/mine.html" class="weui_btn btn_blue_0718">立即回到个人中心</a>
            </p>

        </div>
    </div>

</div>