


<div class="all_coupon">
    <div class="all_coupon_tabs">

        <!-- 未使用-->
        <div class="no_used">

            <!--<div id="preferentialTransfer">转赠优惠券</div>-->

            <div class="coupon_content">

                <label class="couponcheck coupon_show">

                    <div class="coupon_box">
                        <input class="aui-radio singlecheck" type="checkbox" name="radio">
                    </div>

                    <a class="coupon_plate blue donation" href="#">

                        <div class="plate_left">
                            <div class="right_plate">
                                <span>¥</span><span>200.00</span>

                                <p>立减券</p>
                            </div>
                        </div>

                        <div class="plate_right">
                            <span class="voucher_label">福利买卖生成</span>

                            <div class="all_shopping">
                                <p>限于平台【京东】商城所有品类购物抵现限于平台【京东】商城所有品类购物抵现限于平台【京东】商城所有品类购物抵现</p>

                                <button>立即使用</button>
                            </div>

                            <div class="time_plate">
                                <p>使用期限：<span>2017.01.12-2017.02.12</span></p>
                            </div>
                        </div>

                        <!--<div class="gift_tips">可赠送</div>-->
                    </a>

                </label>

            </div>

            <div class="coupon_content">

                <label class="couponcheck coupon_show">

                    <div class="coupon_box">
                        <input class="aui-radio singlecheck" type="checkbox" name="radio">
                    </div>

                    <a class="coupon_plate blue donation" href="#">

                        <div class="plate_left">
                            <div class="right_plate">
                                <span>¥</span><span>200.00</span>

                                <p>立减券</p>
                            </div>
                        </div>

                        <div class="plate_right">
                            <span class="voucher_label">购物抵用券</span>

                            <div class="all_shopping">
                                <p>限于平台【京东】商城所有品类购物抵现限于平台【京东】商城所有品类购物抵现限于平台【京东】商城所有品类购物抵现</p>

                                <button>立即使用</button>
                            </div>

                            <div class="time_plate">
                                <p>使用期限：<span>2017.01.12-2017.02.12</span></p>
                            </div>
                        </div>

                       <!-- <div class="gift_tips">可赠送</div>-->
                    </a>

                </label>

            </div>

            <div class="coupon_content">

                <label class="couponcheck coupon_show">

                    <div class="coupon_box">
                        <input class="aui-radio singlecheck" type="checkbox" name="radio">
                    </div>

                    <a class="coupon_plate blue donation" href="#">

                        <div class="plate_left">
                            <div class="right_plate">
                                <span>¥</span><span>200.00</span>

                                <p>立减券</p>
                            </div>
                        </div>

                        <div class="plate_right">
                            <span class="voucher_label">购物抵用券</span>

                            <div class="all_shopping">
                                <p>限于平台【京东】商城所有品类购物抵现限于平台【京东】商城所有品类购物抵现限于平台【京东】商城所有品类购物抵现</p>

                                <button>立即使用</button>
                            </div>

                            <div class="time_plate">
                                <p>使用期限：<span>2017.01.12-2017.02.12</span></p>
                            </div>
                        </div>

                        <!--<div class="gift_tips">可赠送</div>-->
                    </a>

                </label>

            </div>

            <div class="coupon_content">

                <label class="couponcheck coupon_show">

                    <div class="coupon_box">
                        <input class="aui-radio singlecheck" type="checkbox" name="radio">
                    </div>

                    <a class="coupon_plate blue donation" href="#">

                        <div class="plate_left">
                            <div class="right_plate">
                                <span>¥</span><span>200.00</span>

                                <p>立减券</p>
                            </div>
                        </div>

                        <div class="plate_right">
                            <span class="voucher_label">购物抵用券</span>

                            <div class="all_shopping">
                                <p>限于平台【京东】商城所有品类购物抵现限于平台【京东】商城所有品类购物抵现限于平台【京东】商城所有品类购物抵现</p>

                                <button>立即使用</button>
                            </div>

                            <div class="time_plate">
                                <p>使用期限：<span>2017.01.12-2017.02.12</span></p>
                            </div>
                        </div>

                        <!--<div class="gift_tips">可赠送</div>-->
                    </a>

                </label>

            </div>

            <div class="coupon_content">

                <label class="couponcheck coupon_show">

                    <div class="coupon_box">
                        <input class="aui-radio singlecheck" type="checkbox" name="radio">
                    </div>

                    <a class="coupon_plate blue donation" href="#">

                        <div class="plate_left">
                            <div class="right_plate">
                                <span>¥</span><span>200.00</span>

                                <p>立减券</p>
                            </div>
                        </div>

                        <div class="plate_right">
                            <span class="voucher_label">购物抵用券</span>

                            <div class="all_shopping">
                                <p>限于平台【京东】商城所有品类购物抵现限于平台【京东】商城所有品类购物抵现限于平台【京东】商城所有品类购物抵现</p>

                                <button>立即使用</button>
                            </div>

                            <div class="time_plate">
                                <p>使用期限：<span>2017.01.12-2017.02.12</span></p>
                            </div>
                        </div>

                        <!--<div class="gift_tips">可赠送</div>-->
                    </a>

                </label>

            </div>

            <div class="coupon_content">

                <label class="couponcheck coupon_show">

                    <div class="coupon_box">
                        <input class="aui-radio singlecheck" type="checkbox" name="radio">
                    </div>

                    <a class="coupon_plate blue donation" href="#">

                        <div class="plate_left">
                            <div class="right_plate">
                                <span>¥</span><span>200.00</span>

                                <p>立减券</p>
                            </div>
                        </div>

                        <div class="plate_right">
                            <span class="voucher_label">购物抵用券</span>

                            <div class="all_shopping">
                                <p>限于平台【京东】商城所有品类购物抵现限于平台【京东】商城所有品类购物抵现限于平台【京东】商城所有品类购物抵现</p>

                                <button>立即使用</button>
                            </div>

                            <div class="time_plate">
                                <p>使用期限：<span>2017.01.12-2017.02.12</span></p>
                            </div>
                        </div>

                        <!--<div class="gift_tips">可赠送</div>-->
                    </a>

                </label>

            </div>

            <div class="coupon_content">

                <label class="couponcheck coupon_show">

                    <div class="coupon_box">
                        <input class="aui-radio singlecheck" type="checkbox" name="radio">
                    </div>

                    <a class="coupon_plate blue donation" href="#">

                        <div class="plate_left">
                            <div class="right_plate">
                                <span>¥</span><span>200.00</span>

                                <p>立减券</p>
                            </div>
                        </div>

                        <div class="plate_right">
                            <span class="voucher_label">购物抵用券</span>

                            <div class="all_shopping">
                                <p>限于平台【京东】商城所有品类购物抵现限于平台【京东】商城所有品类购物抵现限于平台【京东】商城所有品类购物抵现</p>

                                <button>立即使用</button>
                            </div>

                            <div class="time_plate">
                                <p>使用期限：<span>2017.01.12-2017.02.12</span></p>
                            </div>
                        </div>

                        <!--<div class="gift_tips">可赠送</div>-->
                    </a>

                </label>

            </div>

            <div class="coupon_content">

                <label class="couponcheck coupon_show">

                    <div class="coupon_box">
                        <input class="aui-radio singlecheck" type="checkbox" name="radio">
                    </div>

                    <a class="coupon_plate blue donation" href="#">

                        <div class="plate_left">
                            <div class="right_plate">
                                <span>¥</span><span>200.00</span>

                                <p>立减券</p>
                            </div>
                        </div>

                        <div class="plate_right">
                            <span class="voucher_label">购物抵用券</span>

                            <div class="all_shopping">
                                <p>限于平台【京东】商城所有品类购物抵现限于平台【京东】商城所有品类购物抵现限于平台【京东】商城所有品类购物抵现</p>

                                <button>立即使用</button>
                            </div>

                            <div class="time_plate">
                                <p>使用期限：<span>2017.01.12-2017.02.12</span></p>
                            </div>
                        </div>

                        <!--<div class="gift_tips">可赠送</div>-->
                    </a>

                </label>

            </div>

            <div class="coupon_content">

                <label class="couponcheck coupon_show">

                    <div class="coupon_box">
                        <input class="aui-radio singlecheck" type="checkbox" name="radio">
                    </div>

                    <a class="coupon_plate blue donation" href="#">

                        <div class="plate_left">
                            <div class="right_plate">
                                <span>¥</span><span>200.00</span>

                                <p>立减券</p>
                            </div>
                        </div>

                        <div class="plate_right">
                            <span class="voucher_label">购物抵用券</span>

                            <div class="all_shopping">
                                <p>限于平台【京东】商城所有品类购物抵现限于平台【京东】商城所有品类购物抵现限于平台【京东】商城所有品类购物抵现</p>

                                <button>立即使用</button>
                            </div>

                            <div class="time_plate">
                                <p>使用期限：<span>2017.01.12-2017.02.12</span></p>
                            </div>
                        </div>

                        <!--<div class="gift_tips">可赠送</div>-->
                    </a>

                </label>

            </div>

            <div class="coupon_content">

                <label class="couponcheck coupon_show">

                    <div class="coupon_box">
                        <input class="aui-radio singlecheck" type="checkbox" name="radio">
                    </div>

                    <a class="coupon_plate blue donation" href="#">

                        <div class="plate_left">
                            <div class="right_plate">
                                <span>¥</span><span>200.00</span>

                                <p>立减券</p>
                            </div>
                        </div>

                        <div class="plate_right">
                            <span class="voucher_label">购物抵用券</span>

                            <div class="all_shopping">
                                <p>限于平台【京东】商城所有品类购物抵现限于平台【京东】商城所有品类购物抵现限于平台【京东】商城所有品类购物抵现</p>

                                <button>立即使用</button>
                            </div>

                            <div class="time_plate">
                                <p>使用期限：<span>2017.01.12-2017.02.12</span></p>
                            </div>
                        </div>

                        <!--<div class="gift_tips">可赠送</div>-->
                    </a>

                </label>

            </div>

            <div class="coupon_content">

                <label class="couponcheck coupon_show">

                    <div class="coupon_box">
                        <input class="aui-radio singlecheck" type="checkbox" name="radio">
                    </div>

                    <a class="coupon_plate blue donation" href="#">

                        <div class="plate_left">
                            <div class="right_plate">
                                <span>¥</span><span>200.00</span>

                                <p>立减券</p>
                            </div>
                        </div>

                        <div class="plate_right">
                            <span class="voucher_label">购物抵用券</span>

                            <div class="all_shopping">
                                <p>限于平台【京东】商城所有品类购物抵现限于平台【京东】商城所有品类购物抵现限于平台【京东】商城所有品类购物抵现</p>

                                <button>立即使用</button>
                            </div>

                            <div class="time_plate">
                                <p>使用期限：<span>2017.01.12-2017.02.12</span></p>
                            </div>
                        </div>

                        <!--<div class="gift_tips">可赠送</div>-->
                    </a>

                </label>

            </div>

            <div class="coupon_content">

                <label class="couponcheck coupon_show">

                    <div class="coupon_box">
                        <input class="aui-radio singlecheck" type="checkbox" name="radio">
                    </div>

                    <a class="coupon_plate blue donation" href="#">

                        <div class="plate_left">
                            <div class="right_plate">
                                <span>¥</span><span>200.00</span>

                                <p>立减券</p>
                            </div>
                        </div>

                        <div class="plate_right">
                            <span class="voucher_label">购物抵用券</span>

                            <div class="all_shopping">
                                <p>限于平台【京东】商城所有品类购物抵现限于平台【京东】商城所有品类购物抵现限于平台【京东】商城所有品类购物抵现</p>

                                <button>立即使用</button>
                            </div>

                            <div class="time_plate">
                                <p>使用期限：<span>2017.01.12-2017.02.12</span></p>
                            </div>
                        </div>

                        <!--<div class="gift_tips">可赠送</div>-->
                    </a>

                </label>

            </div>

            <div class="coupon_content">

                <label class="couponcheck coupon_show">

                    <div class="coupon_box">
                        <input class="aui-radio singlecheck" type="checkbox" name="radio">
                    </div>

                    <a class="coupon_plate blue donation" href="#">

                        <div class="plate_left">
                            <div class="right_plate">
                                <span>¥</span><span>200.00</span>

                                <p>立减券</p>
                            </div>
                        </div>

                        <div class="plate_right">
                            <span class="voucher_label">购物抵用券</span>

                            <div class="all_shopping">
                                <p>限于平台【京东】商城所有品类购物抵现限于平台【京东】商城所有品类购物抵现限于平台【京东】商城所有品类购物抵现</p>

                                <button>立即使用</button>
                            </div>

                            <div class="time_plate">
                                <p>使用期限：<span>2017.01.12-2017.02.12</span></p>
                            </div>
                        </div>

                       <!-- <div class="gift_tips">可赠送</div>-->
                    </a>

                </label>

            </div>

            <div class="coupon_content">

                <label class="couponcheck coupon_show">

                    <div class="coupon_box">
                        <input class="aui-radio singlecheck" type="checkbox" name="radio">
                    </div>

                    <a class="coupon_plate blue donation" href="#">

                        <div class="plate_left">
                            <div class="right_plate">
                                <span>¥</span><span>200.00</span>

                                <p>立减券</p>
                            </div>
                        </div>

                        <div class="plate_right">
                            <span class="voucher_label">购物抵用券</span>

                            <div class="all_shopping">
                                <p>限于平台【京东】商城所有品类购物抵现限于平台【京东】商城所有品类购物抵现限于平台【京东】商城所有品类购物抵现</p>

                                <button>立即使用</button>
                            </div>

                            <div class="time_plate">
                                <p>使用期限：<span>2017.01.12-2017.02.12</span></p>
                            </div>
                        </div>

                        <!--<div class="gift_tips">可赠送</div>-->
                    </a>

                </label>

            </div>

            <div class="coupon_content">

                <label class="couponcheck coupon_show">

                    <div class="coupon_box">
                        <input class="aui-radio singlecheck" type="checkbox" name="radio">
                    </div>

                    <a class="coupon_plate blue donation" href="#">

                        <div class="plate_left">
                            <div class="right_plate">
                                <span>¥</span><span>200.00</span>

                                <p>立减券</p>
                            </div>
                        </div>

                        <div class="plate_right">
                            <span class="voucher_label">购物抵用券</span>

                            <div class="all_shopping">
                                <p>限于平台【京东】商城所有品类购物抵现限于平台【京东】商城所有品类购物抵现限于平台【京东】商城所有品类购物抵现</p>

                                <button>立即使用</button>
                            </div>

                            <div class="time_plate">
                                <p>使用期限：<span>2017.01.12-2017.02.12</span></p>
                            </div>
                        </div>

                        <!--<div class="gift_tips">可赠送</div>-->
                    </a>

                </label>

            </div>

            <div class="coupon_content">

                <label class="couponcheck coupon_show">

                    <div class="coupon_box">
                        <input class="aui-radio singlecheck" type="checkbox" name="radio">
                    </div>

                    <a class="coupon_plate blue donation" href="#">

                        <div class="plate_left">
                            <div class="right_plate">
                                <span>¥</span><span>200.00</span>

                                <p>立减券</p>
                            </div>
                        </div>

                        <div class="plate_right">
                            <span class="voucher_label">购物抵用券</span>

                            <div class="all_shopping">
                                <p>限于平台【京东】商城所有品类购物抵现限于平台【京东】商城所有品类购物抵现限于平台【京东】商城所有品类购物抵现</p>

                                <button>立即使用</button>
                            </div>

                            <div class="time_plate">
                                <p>使用期限：<span>2017.01.12-2017.02.12</span></p>
                            </div>
                        </div>

                        <!--<div class="gift_tips">可赠送</div>-->
                    </a>

                </label>

            </div>




        </div>


    </div>

    <!-- 全选-->
    <div class="coupon_bottom_tab">
        <!--<div class="tab_bar"></div>-->
        <div class="tab_content">
            <label>
                <input class="aui-radio checkallbox" type="checkbox" name="radio">
                <span class="choose">全选</span>
                <!--<span class="rule_block"><img class="rule_img" src="../images/icon_rules.png">赠送规则</span>-->
                <div class="ticket_total">
                    <p>已选中<span>111113</span>张</p>
                    <p>共计<span>1866800.00</span>元</p>

                </div>

            </label>

            <div class="delete_btn" onclick="window.location.href='give_friend.html'">确认</div>

        </div>
    </div>

</div>


<script>





    //全选
    document.getElementsByClassName('checkallbox')[0].addEventListener('click',couponTabChange.checkALL,false);




</script>




