<div class="weui_msg">
    <div class="weui_icon_area" style="margin-bottom:0;">
        <div class="swal2-icon swal2-error animate-error-icon">
<span class="x-mark animate-x-mark">
<span class="line left"></span>
<span class="line right"></span>
</span>
        </div>
    </div>

    <div class="weui_text_area" style="padding:0;">
        <h2 class="msg_title_0718">兑换失败</h2>

        <div class="weui_text_area">
            <p class="weui_msg_desc text_area_0718 fudou_exchange_fail">您勾选的优惠券已过期</p>
        </div>
        <!--底部按钮-->
        <div class="weui_opr_area">
            <p class="weui_btn_area">
                <a href="../fudou/fudou_exchange.html" class="weui_btn btn_red_0718">重新兑换</a>
            </p>

        </div>
    </div>




</div>