<div class="mine_face_value">

    <!--样式过期，在下面的class中添加“past_due”-->

    <div class="face_value past_due">

        <div class="face_details">
            <div class="details_img">
                <div>
                    <img src="../../images/mine_exist_card.png">
                    <div>
                        <span>嘉福E卡</span>
                        <span>面值100元</span>
                    </div>
                </div>
            </div>
            <div class="details_number">
                <span>余额<span>80</span>元</span>
            </div>
            <div class="details_record">
                <span>消费记录 > </span>
            </div>
        </div>

        <div class="face_time">
            <span>到期时间：2021.07.03</span>
            <span>限XX使用</span>
        </div>

    </div>

    <div class="face_value past_due">

        <div class="face_details">
            <div class="details_img">
                <div>
                    <img src="../../images/mine_exist_card.png">
                    <div>
                        <span>嘉福E卡</span>
                        <span>面值100元</span>
                    </div>
                </div>
            </div>
            <div class="details_number">
                <span>余额<span>80</span>元</span>
            </div>
            <div class="details_record">
                <span>消费记录 > </span>
            </div>
        </div>

        <div class="face_time">
            <span>到期时间：2021.07.03</span>
            <span>限XX使用</span>
        </div>

    </div>

    <div class="face_value past_due">

        <div class="face_details">
            <div class="details_img">
                <div>
                    <img src="../../images/mine_exist_card.png">
                    <div>
                        <span>嘉福E卡</span>
                        <span>面值100元</span>
                    </div>
                </div>
            </div>
            <div class="details_number">
                <span>余额<span>80</span>元</span>
            </div>
            <div class="details_record">
                <span>消费记录 > </span>
            </div>
        </div>

        <div class="face_time">
            <span>到期时间：2021.07.03</span>
            <span>限XX使用</span>
        </div>

    </div>


</div>