
<!--理赔中-->

<div class="shop_order_list show">

    <a href="claims_apply.html">

        <div class="claims_plan_list">

            <div class="left_plan">

                <p>急门诊</p>

                <div>

                    <img src="../../images/claims/plan_list_time.png" >

                    <p>提交时间：<span>2018-01-01</span> <span>16:32</span></p>

                </div>

            </div>

            <div class="right_plan">

<!--如需修改颜色修改class值为：“orange_colour”=橙色；“blue_colour”=蓝色；“gray_colour”=灰色;“red_colour”=红色-->

                <p class="orange_colour">待审核</p>

                <img src="../../images/claims/icon_credit_card_2.png" >

            </div>


        </div>

    </a>


    <a href="">

        <div class="claims_plan_list">

            <div class="left_plan">

                <p>急门诊</p>

                <div>

                    <img src="../../images/claims/plan_list_time.png" >

                    <p>提交时间：<span>2018-01-01</span> <span>16:32</span></p>

                </div>

            </div>

            <div class="right_plan ">

<!--如需修改颜色修改class值为：“orange_colour”=橙色；“blue_colour”=蓝色；“gray_colour”=灰色;“red_colour”=红色-->

                <p class="blue_colour">已通过</p>

                <img src="../../images/claims/icon_credit_card_2.png" >

            </div>


        </div>

    </a>

    <a href="#">

        <div class="claims_plan_list">

            <div class="left_plan">

                <p>急门诊</p>

                <div>

                    <img src="../../images/claims/plan_list_time.png" >

                    <p>提交时间：<span>2018-01-01</span> <span>16:32</span></p>

                </div>

            </div>

            <div class="right_plan ">

<!--如需修改颜色修改class值为：“orange_colour”=橙色；“blue_colour”=蓝色；“gray_colour”=灰色;“red_colour”=红色-->

                <p class="red_colour">未通过</p>

                <img src="../../images/claims/icon_credit_card_2.png" >

            </div>


        </div>

    </a>


</div>




<!-- 已完成-->

<div class="shop_order_list">


    <a href="claims_apply.html">

        <div class="claims_plan_list">

            <div class="left_plan">

                <p>急门诊</p>

                <div>

                    <img src="../../images/claims/plan_list_time.png" >

                    <p>提交时间：<span>2018-01-01</span> <span>16:32</span></p>

                </div>

            </div>

            <div class="right_plan ">

<!--如需修改颜色修改class值为：“orange_colour”=橙色；“blue_colour”=蓝色；“gray_colour”=灰色;“red_colour”=红色-->


                <p class="gray_colour">到账结案</p>

                <img src="../../images/claims/icon_credit_card_2.png" >

            </div>


        </div>

    </a>



    <a href="#">

        <div class="claims_plan_list">

            <div class="left_plan">

                <p>急门诊</p>

                <div>

                    <img src="../../images/claims/plan_list_time.png" >

                    <p>提交时间：<span>2018-01-01</span> <span>16:32</span></p>

                </div>

            </div>

            <div class="right_plan ">

<!--如需修改颜色修改class值为：“orange_colour”=橙色；“blue_colour”=蓝色；“gray_colour”=灰色;“red_colour”=红色-->


                <p class="gray_colour">撤销申请</p>

                <img src="../../images/claims/icon_credit_card_2.png" >

            </div>


        </div>

    </a>



    <a href="#">

        <div class="claims_plan_list">

            <div class="left_plan">

                <p>急门诊</p>

                <div>

                    <img src="../../images/claims/plan_list_time.png" >

                    <p>提交时间：<span>2018-01-01</span> <span>16:32</span></p>

                </div>

            </div>

            <div class="right_plan ">

<!--如需修改颜色修改class值为：“orange_colour”=橙色；“blue_colour”=蓝色；“gray_colour”=灰色;“red_colour”=红色-->

                <p class="gray_colour">申请关闭</p>

                <img src="../../images/claims/icon_credit_card_2.png" >

            </div>


        </div>

    </a>

</div>


<!--无内容-->

<!--<div class="shop_order_list">-->

    <!--<div class="claims_plan_none">-->

        <!--<img src="../../images/claims/plan_list_none.png">-->

        <!--<span>暂无更多内容</span>-->

    <!--</div>-->

<!--</div>-->

<script>

    /*切换tab*/
    jfOrderTab.switchTab();


</script>