<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>美团</title>
    <link rel="stylesheet" href="../../css/jf_meituan.css">

</head>
<body>


<!--美团服务-->

<%- include('../../component/meituan/meituan_center/meituan_information.ejs')%>

</body>
</html>