<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>美团订单</title>
    <link rel="stylesheet" href="../../css/jf_meituan.css">

</head>
<body>

<!--订单信息-->

<%- include('../../component/meituan/meituan_order/order_message.ejs')%>

</body>
</html>