



<div class="add_insured">

    <div class="en_inf">

        <p class="en_left_inf">姓名</p>

        <input class="en_right_inf" type="text" placeholder="新增被保人姓名">

    </div>

    <div class="en_inf">

        <p class="en_left_inf">证件类型</p>

        <span>

            <select class="money_select">
                <option value ="volvo">身份证</option>
            <option value ="saab">其他证件</option>
            </select>

            </span>

    </div>

    <div class="en_inf">

    <p class="en_left_inf">证件号</p>

    <input class="en_right_inf" type="text" placeholder="请输入证件号码">


    </div>

    <div class="en_inf">

    <p class="en_left_inf">联系电话</p>

    <input class="en_right_inf" type="text" placeholder="请输入手机号码">


    </div>



    <div class="en_inf">

    <p class="en_left_inf">医保</p>

    <div class="en_right">

    <span>

            <select class="money_select">
                <option value ="volvo">医保类型</option>
            <option value ="saab">1</option>
            </select>

            </span>

        <span>

            <select class="money_select">
                <option value ="volvo">医保地址</option>
            <option value ="saab">1</option>
            </select>

            </span>

    </div>


    </div>

    <div class="en_inf">

    <p class="en_left_inf">E-Mail</p>

    <input class="en_right_inf" type="text" placeholder="嘉福平台用户邮箱">


    </div>


</div>

<div class="en_in_bottom">

    <a href="#" class="plan_bottom_hold">保存</a>

</div>


<div>

    <div class="footer_pich"></div>

    <div class="insurance_footer">

        <a class="insurance_footer_part">

            <div class="footer_icon_img"><img src="../../images/insurance/insurance_blue_icon.png"></div>

            <p class="footer_blue_font">团体保险</p>

        </a>

        <a class="insurance_footer_part">

            <div class="footer_icon_img"><img src="../../images/insurance/order_gray_icon.png"></div>

            <p class="">保障订单</p>

        </a>

    </div>

</div>
