

<div class="edit_info">

    <label class="input_list">
        <div class="title">姓名</div>
        <div class="input_form">
            <input type="text" placeholder="请填写新增被保人姓名">
        </div>
    </label>

    <label class="input_list">
        <div class="title">证件类型</div>
        <div class="input_form select_ele">
            <select>
                <option  selected disabled>请选择</option>
                <option>身份证</option>
                <option>护照</option>
            </select>
        </div>
    </label>

    <label class="input_list">
        <div class="title">证件号码</div>
        <div class="input_form">
            <input type="text"  placeholder="请输入证件号码">
        </div>
    </label>

    <label class="input_list">
        <div class="title">联系电话</div>
        <div class="input_form">
            <input type="tel" pattern="[0-9*]" placeholder="请输入联系电话">
        </div>
    </label>

    <label class="input_list">
        <div class="title">医保类型</div>
        <div class="input_form select_ele">
            <select>
                <option  selected disabled>请选择</option>
                <option>大病险</option>
                <option>癌症险</option>
            </select>
        </div>
    </label>

    <label class="input_list">
        <div class="title">医保地址</div>
        <div class="input_form select_ele">
            <select>
                <option  selected disabled>请选择</option>
                <option>上海市</option>
                <option>北京市</option>
                <option>南京市</option>
            </select>
        </div>
    </label>

    <label class="input_list">
        <div class="title">E-Mail</div>
        <div class="input_form">
            <input type="text" placeholder="嘉福平台用户邮箱">
        </div>
    </label>

    <label class="input_list no_line">
        <div class="title">出生年月</div>

        <input type="date" value="2018-03-03">
    </label>


</div>


<!--置底渐变按钮-->
<div class="change_button_plate">

    <div class="footer_pich"></div>

    <!--人气款-->
    <div class="plan_bottom_plate">

        <a class="plan_bottom_hold">保存</a>

    </div>


</div>



