<div class="shadow_plate ">

    <div class="plan_plate_line">

        <div class="fire_icon_font">

            <div class="fire_icon_plate">
                <img src="../../images/insurance/fire.png">
            </div>

            <p class="icon_red_font">人气款</p>

        </div>

        <p><span class="icon_red_font">3.37元</span><span class="icon_red_font">/人/年</span></p>

    </div>

</div>

<div class="shadow_plate ">

    <div class="plan_center_bar">

        <span style="width: 40%;">保障范围</span>

        <span>价格(元)</span>

        <span>保障金额</span>

    </div>

    <div class="plan_plate_line">

        <div class="fire_icon_font">

            <div class="person_icon_plate"><img src="../../images/insurance/person_icon.png"></div>

            <p class="icon_black_font">人身保障</p>

        </div>

        <p class="plan_things_tips">*点击保项可查看说明</p>

    </div>

    <div class="all_plan_plate">

        <div class="all_plan_things">

            <span style="width: 40%;">意外人身事故、残疾</span>

            <span>35</span>

            <span>

            <select class="money_select">
                <option value ="volvo">10万元</option>
            <option value ="saab">20万元</option>
            <option value="opel">不投保</option>
            </select>

            </span>

        </div>

        <div class="plan_things_detail">

            <p class="things_detail_font">意外伤害人身事故、残疾</p>

            <p class="things_detail_font">保险责任内容保险责任内容保险责任内容保险责任内容保险责任内容保险责任内容保险责任内容保险责任内容保险责任内容保险责任内容保险责任内容</p>

        </div>

        <div class="all_plan_things">

            <span style="width: 40%;">意外伤害医疗</span>

            <span>35</span>

            <span>

            <select class="money_select">
                <option value ="volvo">10万元</option>
            <option value ="saab">20万元</option>
            <option value="opel">不投保</option>
            </select>

            </span>

        </div>

        <div class="all_plan_things">

            <span style="width: 40%;">意外住院津贴</span>

            <span>

            <select class="money_select">
                <option value ="volvo">10万元</option>
            <option value ="saab">20万元</option>
            <option value="opel">不投保</option>
            </select>

            </span>

        </div>

        <div class="all_plan_things">

            <span style="width: 40%;">飞机意外人身事故、残疾</span>

            <span>

            <select class="money_select">
                <option value ="volvo">10万元</option>
            <option value ="saab">20万元</option>
            <option value="opel">不投保</option>
            </select>

            </span>

        </div>

        <div class="all_plan_things">

            <span style="width: 40%;">轨道意外人身事故、残疾</span>

            <span>

            <select class="money_select">
                <option value ="volvo">10万元</option>
            <option value ="saab">20万元</option>
            <option value="opel">不投保</option>
            </select>

            </span>

        </div>

        <div class="all_plan_things">

            <span style="width: 40%;">轮船意外人身事故、残疾</span>

            <span>

            <select class="money_select">
                <option value ="volvo">10万元</option>
            <option value ="saab">20万元</option>
            <option value="opel">不投保</option>
            </select>

            </span>

        </div>

        <div class="all_plan_things">

            <span style="width: 40%;">营运汽车意外人身事故、残疾</span>

            <span>

            <select class="money_select">
                <option value ="volvo">10万元</option>
            <option value ="saab">20万元</option>
            <option value="opel">不投保</option>
            </select>

            </span>

        </div>

        <div class="all_plan_things">

            <span style="width: 40%;">自驾车意外人身事故、残疾</span>

            <span>

            <select class="money_select">
                <option value ="volvo">10万元</option>
            <option value ="saab">20万元</option>
            <option value="opel">不投保</option>
            </select>

            </span>

        </div>

        <div class="all_plan_things">

            <span style="width: 40%;">猝死</span>

            <span>

            <select class="money_select">
                <option value ="volvo">10万元</option>
            <option value ="saab">20万元</option>
            <option value="opel">不投保</option>
            </select>

            </span>

        </div>

        <div class="all_plan_things">

            <span style="width: 40%;">疾病人身事故或全残</span>

            <span>

            <select class="money_select">
                <option value ="volvo">10万元</option>
            <option value ="saab">20万元</option>
            <option value="opel">不投保</option>
            </select>

            </span>

        </div>

    </div>

    <div class="plan_plate_line">

        <div class="fire_icon_font">

            <div class="medical_icon_plate"><img src="../../images/insurance/medical_box_icon.png"></div>

            <p class="icon_black_font">人身保障</p>

        </div>

    </div>

    <div class="all_plan_plate">

        <div class="all_plan_things">

            <span style="width: 40%;">门急诊、住院</span>

            <span>

            <select class="money_select">
                <option value ="volvo">10万元</option>
            <option value ="saab">20万元</option>
            <option value="opel">不投保</option>
            </select>

            </span>

        </div>

    </div>

</div>


<!--置底渐变按钮-->
<div>

    <div class="footer_pich"></div>

    <div class="plan_bottom_plate">

        <a class="plan_bottom_hold">保存</a>

    </div>

</div>










