<div>

    <div class="top_title">

        <p class="text_details_font">上海淘略数据处理有限公司专注于企业弹性福利、消费金融、费用管理解决方案，为用户创造价值。</p>

        <p class="text_details_font">嘉福是针对客户需求创建的一个结合各类品牌储值卡券等福利产品整体解决方案。通过平台，企业可以便捷，高效，合理的管理及分配员工的福利，对帮助公司提升自身的企业文化，员工的满意度起到了良好的促进作用。</p>

        <p class="text_details_font">嘉福平台有着服务世界500强的丰富经验，有专业的财务、税务筹划经验，服务千余家国内外知名企业客户。拥有毕业于清华、交大等知名院校以及服务过华腾、Accor、汇付天下等著名企业的精英团队。 专业的一站式财务咨询服务，帮助企业做好公共费用支出管理。</p>

    </div>

</div>