<div class="enterprise_information">

    <div class="en_inf">

        <p class="en_left_inf">企业名称</p>

        <input class="en_right_inf" type="text" placeholder="请输入企业名称">


    </div>

    <div class="en_inf">

        <p class="en_left_inf">姓名</p>

        <input class="en_right_inf" type="text" placeholder="请输入您的姓名">


    </div>

    <div class="en_inf">

        <p class="en_left_inf">联系电话</p>

        <input class="en_right_inf" type="text" placeholder="请输入手机号码">


    </div>

    <div class="en_inf">

        <p class="en_left_inf">E-Mail</p>

        <input class="en_right_inf" type="text" placeholder="请输入邮箱地址">


    </div>

    <div class="en_inf">

        <p class="en_left_inf">职位</p>

        <input class="en_right_inf" type="text" placeholder="请输入您的职位">


    </div>

    <div class="en_inf">

        <p class="en_left_inf">被保人数<span>(3人起)</span></p>

        <input class="en_right_inf" type="text" placeholder="请输入您的职位">


    </div>

    <div class="en_inf">

        <p class="en_left_inf">被保人平均年龄<span>(预估)</span></p>

        <span class="se_find">

            <select class="money_select">
                <option value ="volvo">20周岁</option>
            <option value ="saab">30周岁</option>
            </select>

            </span>

    </div>

</div>


<div class="en_bottom">

    <p>保费合计:<span>456.00</span>元</p>


    <a href="#">

        <div class="in_bottom">立即投保</div>

    </a>

</div>
