
<a class="jd_notice">
    <div class="recharge_balance"><img src="../../images/zfb/icon_warning.png"><span>部分保障责任平均年龄在30-35周岁，费率上浮10%，平均年龄在35-40周岁，费率上浮30%</span></div>
</a>

<div class="edit_info">

        <label class="input_list">
            <div class="title">企业名称</div>
            <div class="input_form">
                <input type="text" placeholder="请输入真实企业/组织名称">
            </div>
        </label>

        <label class="input_list">
            <div class="title">姓名</div>
            <div class="input_form">
                <input type="text" placeholder="请输入姓名">
            </div>
        </label>

        <label class="input_list">
            <div class="title">联系电话</div>
            <div class="input_form">
                <input type="tel" pattern="[0-9*]" placeholder="请输入手机号码">
            </div>
        </label>

        <label class="input_list">
            <div class="title">E-Mail</div>
            <div class="input_form">
                <input type="tel" pattern="[0-9*]" placeholder="请输入邮箱地址">
            </div>
        </label>

        <label class="input_list">
            <div class="title">职位</div>
            <div class="input_form">
                <input type="tel" pattern="[0-9*]" placeholder="请输入您的职位">
            </div>
        </label>

        <label class="input_list">
            <div class="title">被保人数(3人起)</div>
            <div class="input_form">
                <input type="tel" pattern="[0-9*]" placeholder="18-50周岁">
            </div>
        </label>

        <label class="input_list no_line">
            <div class="title">被保人平均年龄（预估）</div>
            <div class="input_form select_ele">
                <select>
                    <option  selected>20周岁</option>
                    <option>30周岁</option>
                    <option>40周岁</option>
                    <option>50周岁</option>
                </select>
            </div>
        </label>

</div>


<div>

    <div class="footer_pich"></div>

    <div class="details_bottom_plate right_short_btn">

        <div class="guarantee_plan_plate">

            <div class="product_bottom_line">

                <div class="text_info">保费合计：<span>499.99</span>元</div>

                <a class="bottom_button_block bottom_button_blue">立即投保</a>

            </div>

        </div>

    </div>

</div>



