<div>

    <div class="top_title">
        <p class="title_font title_blue_font">充电宝爆炸谁来赔偿？</p>
    </div>

    <div class="top_title">

        <p class="text_details_font">和大多数学生党一样小赵也是重度手机使用人群中的一员，除了正常的上课之外小赵几乎把所有的时间都耗费在了玩手机上面。手机使用的时间长了自然电量也就不够使用，为了充电方便小赵特意购买了某知名品牌的大容量充电宝。</p>

        <p class="text_details_font">一次小赵在用手机上网的时候看到了一条充电宝爆炸引发悲剧的新闻，再看看自己几乎天天手机和充电宝都不离身，为了防止同样的悲剧发生到自己的身上小赵在网上认真学习了充电宝和手机的正确使用方法以及它们爆炸之前的常见反应。</p>

    </div>

    <div class="top_title">

        <p class="text_details_font">在一个周末小赵的朋友请小赵出去游玩，小赵和平时一样拿上手机和充电宝就出发了。在路上小赵一边给玩手机一边用充电宝给自己的手机充电。因为玩的太过于投入小赵并未发现自己的充电宝因为长时间使用已经有些发烫。</p>

        <p class="text_details_font">大约过了十几分钟之后突然产生了一声巨响，车上的乘客都吓了一跳，小赵自己一时也没反应过来发生了什么事情，过了足足一分钟之后小赵才意识到是自己的充电宝发生爆炸了，再看自己的双手早已经被炸的血肉模糊。同行的朋友见状赶紧带小赵到了医院进行紧急治疗。</p>

    </div>

</div>