

<div class="edit_info">

    <label class="input_list">
        <div class="title">姓名</div>
        <p>京晶婧</p>
    </label>

    <label class="input_list">
        <div class="title">证件类型</div>
        <p>身份证</p>
    </label>

    <label class="input_list">
        <div class="title">证件号码</div>
        <p>12345667890123456</p>
    </label>

    <label class="input_list">
        <div class="title">联系电话</div>
        <p>13099991111</p>
    </label>

    <label class="input_list">
        <div class="title">保障期</div>
        <p><span>2018</span>-<span>03</span>-<span>03</span> 至 <span>2019</span>-<span>03</span>-<span>02</span></p>
    </label>

    <label class="input_list">
        <div class="title">E-Mail</div>
        <p>12345@qq.com</p>
    </label>

    <label class="input_list no_line">
        <div class="title">医保</div>

        <p>----</p>
    </label>

    <label class="input_list no_line">
        <div class="title">医保地址</div>

        <p>----</p>
    </label>

    <label class="input_list no_line">
        <div class="title">出生年月</div>

        <p>----</p>
    </label>




</div>


<!--置底渐变按钮-->
<div class="change_button_plate">

    <div class="footer_pich"></div>

    <!--人气款-->
    <div class="plan_bottom_plate">

        <a class="plan_bottom_hold">返回</a>

    </div>


</div>



