<!--<-&#45;&#45;导航-&ndash;&gt;-->
<div class="bank_choose" id="bank_select" onclick="bankDragUp.run()">
    <div class="select_thisbank" onclick="jfkeybroad.stop()">
        <div class="bank">&#x94F6;&#x884C;&#x5361;</div>
        <div class="main">
            <div class="choose_bank_logo"><img src="../../images/icon-bank-1.png"></div>
            <div class="choose_bank_name">&#x5EFA;&#x8BBE;&#x94F6;&#x884C;</div>
            <div class="choose_bank_num">[*5231]</div>
            <div class="choose_icon1"><img src="../../images/key.png"></div>
        </div>
    </div>

</div>