<div class="value">
    <span class="rmb_unit">&#xA5;</span>
    <div class="number keybroad">
        <div class="keyNumshow" id="savekeyNum"></div>
        <input readonly class="key_input" id="key_input" value="">
    </div>
    <div class="delete"><img src="../../images/key1.png"></div>
</div>