<!--每日上新-->
<div class="everyday_new_all">
    <!--去掉标题，添加class值“title_none”-->
    <div class="title_all">
        <span class="left"></span>
        <span class="title">都整理好啦，便宜到尖叫</span>
        <!--排行榜页面中：！去掉标题，不显示标题部分！-->
        <!--每日上新页面中：文案为“新品首降尝鲜”-->
        <!--发现好货页面中：文案为“为您挑选精品好物”-->
        <!--省钱精选页面中：文案为“都整理好啦，便宜到尖叫”-->
        <span class="right"></span>
    </div>
    <!--商品列表-->
    <div class="new_show_list">

        <a href="#" class="list_box">
            <div class="left_box">
                <img src="../../../images/homepage/homepage_jd_show/choose_img_11.png" class="left_img">
            </div>
            <div class="right_text">
                <span class="shop_name">
                    <!--在下面的class中添加"yx_name",颜色可修改为网易严选颜色-->
                    <span class="list_name">京东自营</span>
                    MateBook E BL-W19 i5轻薄二合一笔记本仅有12英寸 新型号上市 部分送好礼6期免息。
                </span>
                <span class="money">
                    <span class="now_money">￥8.90<span class="old_money">￥121</span></span>
                    <span class="cool">好评：99%</span>
                </span>
            </div>
        </a>

        <a href="#" class="list_box">
            <div class="left_box">
                <img src="../../../images/homepage/homepage_jd_show/choose_img_11.png" class="left_img">
            </div>
            <div class="right_text">
                <span class="shop_name">
                    <!--在下面的class中添加"yx_name",颜色可修改为网易严选颜色-->
                    <span class="list_name yx_name">网易严选</span>
                    MateBook E BL-W19 i5轻薄二合一笔记本仅有12英寸 新型号上市 部分送好礼6期免息。
                </span>
                <span class="money">
                    <span class="now_money">￥8.90<span class="old_money">￥121</span></span>
                    <span class="cool">好评：99%</span>
                </span>
            </div>
        </a>

        <a href="#" class="list_box">
            <div class="left_box">
                <img src="../../../images/homepage/homepage_jd_show/choose_img_11.png" class="left_img">
            </div>
            <div class="right_text">
                <span class="shop_name">
                    <!--在下面的class中添加"yx_name",颜色可修改为网易严选颜色-->
                    <span class="list_name">京东自营</span>
                    MateBook E BL-W19 i5轻薄二合一笔记本仅有12英寸 新型号上市 部分送好礼6期免息。
                </span>
                <span class="money">
                    <span class="now_money">￥8.90<span class="old_money">￥121</span></span>
                    <span class="cool">好评：99%</span>
                </span>
            </div>
        </a>

        <a href="#" class="list_box">
            <div class="left_box">
                <img src="../../../images/homepage/homepage_jd_show/choose_img_11.png" class="left_img">
            </div>
            <div class="right_text">
                <span class="shop_name">
                    <!--在下面的class中添加"yx_name",颜色可修改为网易严选颜色-->
                    <span class="list_name yx_name">网易严选</span>
                    MateBook E BL-W19 i5轻薄二合一笔记本仅有12英寸 新型号上市 部分送好礼6期免息。
                </span>
                <span class="money">
                    <span class="now_money">￥8.90<span class="old_money">￥121</span></span>
                    <span class="cool">好评：99%</span>
                </span>
            </div>
        </a>

        <a href="#" class="list_box">
            <div class="left_box">
                <img src="../../../images/homepage/homepage_jd_show/choose_img_11.png" class="left_img">
            </div>
            <div class="right_text">
                <span class="shop_name">
                    <!--在下面的class中添加"yx_name",颜色可修改为网易严选颜色-->
                    <span class="list_name yx_name">网易严选</span>
                    MateBook E BL-W19 i5轻薄二合一笔记本仅有12英寸 新型号上市 部分送好礼6期免息。
                </span>
                <span class="money">
                    <span class="now_money">￥8.90<span class="old_money">￥121</span></span>
                    <span class="cool">好评：99%</span>
                </span>
            </div>
        </a>


        <a href="#" class="list_box">
            <div class="left_box">
                <img src="../../../images/homepage/homepage_jd_show/choose_img_11.png" class="left_img">
            </div>
            <div class="right_text">
                <span class="shop_name">
                    <!--在下面的class中添加"yx_name",颜色可修改为网易严选颜色-->
                    <span class="list_name yx_name">网易严选</span>
                    MateBook E BL-W19 i5轻薄二合一笔记本仅有12英寸 新型号上市 部分送好礼6期免息。
                </span>
                <span class="money">
                    <span class="now_money">￥8.90<span class="old_money">￥121</span></span>
                    <span class="cool">好评：99%</span>
                </span>
            </div>
        </a>

        <a href="#" class="list_box">
            <div class="left_box">
                <img src="../../../images/homepage/homepage_jd_show/choose_img_11.png" class="left_img">
            </div>
            <div class="right_text">
                <span class="shop_name">
                    <!--在下面的class中添加"yx_name",颜色可修改为网易严选颜色-->
                    <span class="list_name yx_name">网易严选</span>
                    MateBook E BL-W19 i5轻薄二合一笔记本仅有12英寸 新型号上市 部分送好礼6期免息。
                </span>
                <span class="money">
                    <span class="now_money">￥8.90<span class="old_money">￥121</span></span>
                    <span class="cool">好评：99%</span>
                </span>
            </div>
        </a>


        <a href="#" class="list_box">
            <div class="left_box">
                <img src="../../../images/homepage/homepage_jd_show/choose_img_11.png" class="left_img">
            </div>
            <div class="right_text">
                <span class="shop_name">
                    <!--在下面的class中添加"yx_name",颜色可修改为网易严选颜色-->
                    <span class="list_name yx_name">网易严选</span>
                    MateBook E BL-W19 i5轻薄二合一笔记本仅有12英寸 新型号上市 部分送好礼6期免息。
                </span>
                <span class="money">
                    <span class="now_money">￥8.90<span class="old_money">￥121</span></span>
                    <span class="cool">好评：99%</span>
                </span>
            </div>
        </a>

        <a href="#" class="list_box">
            <div class="left_box">
                <img src="../../../images/homepage/homepage_jd_show/choose_img_11.png" class="left_img">
            </div>
            <div class="right_text">
                <span class="shop_name">
                    <!--在下面的class中添加"yx_name",颜色可修改为网易严选颜色-->
                    <span class="list_name yx_name">网易严选</span>
                    MateBook E BL-W19 i5轻薄二合一笔记本仅有12英寸 新型号上市 部分送好礼6期免息。
                </span>
                <span class="money">
                    <span class="now_money">￥8.90<span class="old_money">￥121</span></span>
                    <span class="cool">好评：99%</span>
                </span>
            </div>
        </a>

    </div>
    <!--底部tips-->
    <div class="tips_bottom">
        没有更多啦~
    </div>
</div>