

<div class="description_box_cover"  onscroll="giftDetails.scrollChangeDetails(document.getElementsByClassName('description_box_cover')[0])" >
<!--展架分割线-->
<div class="out_line_show">
    <div class="show_line">
        <img src="../../../images/homepage/homepage_jd_show/title_line_left.png" class="left">
        <span class="center">
            <img src="../../../images/homepage/homepage_jd_show/title_line_center.png" class="center_icon">
            <span class="center_text">好物推荐</span>
        </span>
        <img src="../../../images/homepage/homepage_jd_show/title_line_right.png" class="right">
    </div>
</div>

<!--商城展架-->
<div class="show_line_all">

    <!--食品生鲜---------->
    <div class="show_line_box">
        <a href="#" class="show_line">
            <!--可编辑banner-->
            <img class="line_box_bg" src="../../../images/homepage/homepage_jd_show/line_bg_2.png">
            <div class="line_box_text">
                <span>食品生鲜</span>
                <span>让您吃好一点</span>
                <span>点击查看</span>
            </div>
        </a>
        <!--展示商品列表-->
        <div class="shop_show_box">

            <!--京东自营---------->
            <a href="#" class="shop_box">
                <div class="img_box">
                    <img class="show_img" src="../../../images/homepage/homepage_jd_show/choose_img_1.png">
                    <!--京东自营class名"jd_tips_box";网易严选添加calss名"yx_tips_box";-->
                    <div class="jd_tip_box">京东自营</div>
                </div>
                <p class="show_name">Orion 好丽友 双莓派12枚 276g/盒</p>
                <span class="show_money">
                    <span>￥123</span>
                    <span>￥76</span>
                </span>
            </a>

            <!--网易严选---------->
            <a href="#" class="shop_box">
                <div class="img_box">
                    <img class="show_img" src="../../../images/homepage/homepage_jd_show/choose_img_2.png">
                    <!--京东自营class名"jd_tips_box";网易严选添加calss名"yx_tips_box";-->
                    <div class="jd_tip_box yx_tips_box">网易严选</div>
                </div>
                <p class="show_name">Orion 好丽友 双莓派12枚 276g/盒</p>
                <span class="show_money">
                    <span>￥123</span>
                    <span>￥76</span>
                </span>
            </a>

            <!--京东自营---------->
            <a href="#" class="shop_box">
                <div class="img_box">
                    <img class="show_img" src="../../../images/homepage/homepage_jd_show/choose_img_3.png">
                    <!--京东自营class名"jd_tips_box";网易严选添加calss名"yx_tips_box";-->
                    <div class="jd_tip_box">京东自营</div>
                </div>
                <p class="show_name">Orion 好丽友 双莓派12枚 276g/盒</p>
                <span class="show_money">
                    <span>￥123</span>
                    <span>￥76</span>
                </span>
            </a>

            <!--网易严选---------->
            <a href="#" class="shop_box">
                <div class="img_box">
                    <img class="show_img" src="../../../images/homepage/homepage_jd_show/choose_img_4.png">
                    <!--京东自营class名"jd_tips_box";网易严选添加calss名"yx_tips_box";-->
                    <div class="jd_tip_box yx_tips_box">网易严选</div>
                </div>
                <p class="show_name">Orion 好丽友 双莓派12枚 276g/盒</p>
                <span class="show_money">
                    <span>￥123</span>
                    <span>￥76</span>
                </span>
            </a>

            <!--京东自营---------->
            <a href="#" class="shop_box">
                <div class="img_box">
                    <img class="show_img" src="../../../images/homepage/homepage_jd_show/choose_img_5.png">
                    <!--京东自营class名"jd_tips_box";网易严选添加calss名"yx_tips_box";-->
                    <div class="jd_tip_box">京东自营</div>
                </div>
                <p class="show_name">Orion 好丽友 双莓派12枚 276g/盒</p>
                <span class="show_money">
                    <span>￥123</span>
                    <span>￥76</span>
                </span>
            </a>

            <!--网易严选---------->
            <a href="#" class="shop_box">
                <div class="img_box">
                    <img class="show_img" src="../../../images/homepage/homepage_jd_show/choose_img_6.png">
                    <!--京东自营class名"jd_tips_box";网易严选添加calss名"yx_tips_box";-->
                    <div class="jd_tip_box yx_tips_box">网易严选</div>
                </div>
                <p class="show_name">Orion 好丽友 双莓派12枚 276g/盒</p>
                <span class="show_money">
                    <span>￥123</span>
                    <span>￥76</span>
                </span>
            </a>

            <!-----查看更多----->
            <a href="#" class="more_box">
                <p>查看更多</p>
            </a>
        </div>
    </div>

    <!--酒水饮料---------->
    <div class="show_line_box">
        <a href="#" class="show_line">
            <!--可编辑banner-->
            <img class="line_box_bg" src="../../../images/homepage/homepage_jd_show/line_bg_4.png">
            <div class="line_box_text">
                <span>酒水饮料</span>
                <span>动动手指  轻松购物</span>
                <span>点击查看</span>
            </div>
        </a>
        <!--展示商品列表-->
        <div class="shop_show_box">

            <!--京东自营---------->
            <a href="#" class="shop_box">
                <div class="img_box">
                    <img class="show_img" src="../../../images/homepage/homepage_jd_show/choose_img_1.png">
                    <!--京东自营class名"jd_tips_box";网易严选添加calss名"yx_tips_box";-->
                    <div class="jd_tip_box">京东自营</div>
                </div>
                <p class="show_name">Orion 好丽友 双莓派12枚 276g/盒</p>
                <span class="show_money">
                    <span>￥123</span>
                    <span>￥76</span>
                </span>
            </a>

            <!--网易严选---------->
            <a href="#" class="shop_box">
                <div class="img_box">
                    <img class="show_img" src="../../../images/homepage/homepage_jd_show/choose_img_2.png">
                    <!--京东自营class名"jd_tips_box";网易严选添加calss名"yx_tips_box";-->
                    <div class="jd_tip_box yx_tips_box">网易严选</div>
                </div>
                <p class="show_name">Orion 好丽友 双莓派12枚 276g/盒</p>
                <span class="show_money">
                    <span>￥123</span>
                    <span>￥76</span>
                </span>
            </a>

            <!--京东自营---------->
            <a href="#" class="shop_box">
                <div class="img_box">
                    <img class="show_img" src="../../../images/homepage/homepage_jd_show/choose_img_3.png">
                    <!--京东自营class名"jd_tips_box";网易严选添加calss名"yx_tips_box";-->
                    <div class="jd_tip_box">京东自营</div>
                </div>
                <p class="show_name">Orion 好丽友 双莓派12枚 276g/盒</p>
                <span class="show_money">
                    <span>￥123</span>
                    <span>￥76</span>
                </span>
            </a>

            <!--网易严选---------->
            <a href="#" class="shop_box">
                <div class="img_box">
                    <img class="show_img" src="../../../images/homepage/homepage_jd_show/choose_img_4.png">
                    <!--京东自营class名"jd_tips_box";网易严选添加calss名"yx_tips_box";-->
                    <div class="jd_tip_box yx_tips_box">网易严选</div>
                </div>
                <p class="show_name">Orion 好丽友 双莓派12枚 276g/盒</p>
                <span class="show_money">
                    <span>￥123</span>
                    <span>￥76</span>
                </span>
            </a>

            <!--京东自营---------->
            <a href="#" class="shop_box">
                <div class="img_box">
                    <img class="show_img" src="../../../images/homepage/homepage_jd_show/choose_img_5.png">
                    <!--京东自营class名"jd_tips_box";网易严选添加calss名"yx_tips_box";-->
                    <div class="jd_tip_box">京东自营</div>
                </div>
                <p class="show_name">Orion 好丽友 双莓派12枚 276g/盒</p>
                <span class="show_money">
                    <span>￥123</span>
                    <span>￥76</span>
                </span>
            </a>

            <!--网易严选---------->
            <a href="#" class="shop_box">
                <div class="img_box">
                    <img class="show_img" src="../../../images/homepage/homepage_jd_show/choose_img_6.png">
                    <!--京东自营class名"jd_tips_box";网易严选添加calss名"yx_tips_box";-->
                    <div class="jd_tip_box yx_tips_box">网易严选</div>
                </div>
                <p class="show_name">Orion 好丽友 双莓派12枚 276g/盒</p>
                <span class="show_money">
                    <span>￥123</span>
                    <span>￥76</span>
                </span>
            </a>

            <!-----查看更多----->
            <a href="#" class="more_box">
                <p>查看更多</p>
            </a>
        </div>
    </div>

    <!--手机数码---------->
    <div class="show_line_box">
        <a href="#" class="show_line">
            <!--可编辑banner-->
            <img class="line_box_bg" src="../../../images/homepage/homepage_jd_show/line_bg_3.png">
            <div class="line_box_text">
                <span>手机数码</span>
                <span>发现科技前沿</span>
                <span>点击查看</span>
            </div>
        </a>
        <!--展示商品列表-->
        <div class="shop_show_box">

            <!--京东自营---------->
            <a href="#" class="shop_box">
                <div class="img_box">
                    <img class="show_img" src="../../../images/homepage/homepage_jd_show/choose_img_1.png">
                    <!--京东自营class名"jd_tips_box";网易严选添加calss名"yx_tips_box";-->
                    <div class="jd_tip_box">京东自营</div>
                </div>
                <p class="show_name">Orion 好丽友 双莓派12枚 276g/盒</p>
                <span class="show_money">
                    <span>￥123</span>
                    <span>￥76</span>
                </span>
            </a>

            <!--网易严选---------->
            <a href="#" class="shop_box">
                <div class="img_box">
                    <img class="show_img" src="../../../images/homepage/homepage_jd_show/choose_img_2.png">
                    <!--京东自营class名"jd_tips_box";网易严选添加calss名"yx_tips_box";-->
                    <div class="jd_tip_box yx_tips_box">网易严选</div>
                </div>
                <p class="show_name">Orion 好丽友 双莓派12枚 276g/盒</p>
                <span class="show_money">
                    <span>￥123</span>
                    <span>￥76</span>
                </span>
            </a>

            <!--京东自营---------->
            <a href="#" class="shop_box">
                <div class="img_box">
                    <img class="show_img" src="../../../images/homepage/homepage_jd_show/choose_img_3.png">
                    <!--京东自营class名"jd_tips_box";网易严选添加calss名"yx_tips_box";-->
                    <div class="jd_tip_box">京东自营</div>
                </div>
                <p class="show_name">Orion 好丽友 双莓派12枚 276g/盒</p>
                <span class="show_money">
                    <span>￥123</span>
                    <span>￥76</span>
                </span>
            </a>

            <!--网易严选---------->
            <a href="#" class="shop_box">
                <div class="img_box">
                    <img class="show_img" src="../../../images/homepage/homepage_jd_show/choose_img_4.png">
                    <!--京东自营class名"jd_tips_box";网易严选添加calss名"yx_tips_box";-->
                    <div class="jd_tip_box yx_tips_box">网易严选</div>
                </div>
                <p class="show_name">Orion 好丽友 双莓派12枚 276g/盒</p>
                <span class="show_money">
                    <span>￥123</span>
                    <span>￥76</span>
                </span>
            </a>

            <!--京东自营---------->
            <a href="#" class="shop_box">
                <div class="img_box">
                    <img class="show_img" src="../../../images/homepage/homepage_jd_show/choose_img_5.png">
                    <!--京东自营class名"jd_tips_box";网易严选添加calss名"yx_tips_box";-->
                    <div class="jd_tip_box">京东自营</div>
                </div>
                <p class="show_name">Orion 好丽友 双莓派12枚 276g/盒</p>
                <span class="show_money">
                    <span>￥123</span>
                    <span>￥76</span>
                </span>
            </a>

            <!--网易严选---------->
            <a href="#" class="shop_box">
                <div class="img_box">
                    <img class="show_img" src="../../../images/homepage/homepage_jd_show/choose_img_6.png">
                    <!--京东自营class名"jd_tips_box";网易严选添加calss名"yx_tips_box";-->
                    <div class="jd_tip_box yx_tips_box">网易严选</div>
                </div>
                <p class="show_name">Orion 好丽友 双莓派12枚 276g/盒</p>
                <span class="show_money">
                    <span>￥123</span>
                    <span>￥76</span>
                </span>
            </a>

            <!-----查看更多----->
            <a href="#" class="more_box">
                <p>查看更多</p>
            </a>
        </div>
    </div>

    <!--美妆护肤---------->
    <div class="show_line_box">
        <a href="#" class="show_line">
            <!--可编辑banner-->
            <img class="line_box_bg" src="../../../images/homepage_jd_show/line_bg_5.png">
            <div class="line_box_text">
                <span>美妆护肤</span>
                <span>女神  男神养成记</span>
                <span>点击查看</span>
            </div>
        </a>
        <!--展示商品列表-->
        <div class="shop_show_box">

            <!--京东自营---------->
            <a href="#" class="shop_box">
                <div class="img_box">
                    <img class="show_img" src="../../../images/homepage_jd_show/choose_img_1.png">
                    <!--京东自营class名"jd_tips_box";网易严选添加calss名"yx_tips_box";-->
                    <div class="jd_tip_box">京东自营</div>
                </div>
                <p class="show_name">Orion 好丽友 双莓派12枚 276g/盒</p>
                <span class="show_money">
                    <span>￥123</span>
                    <span>￥76</span>
                </span>
            </a>

            <!--网易严选---------->
            <a href="#" class="shop_box">
                <div class="img_box">
                    <img class="show_img" src="../../../images/homepage_jd_show/choose_img_2.png">
                    <!--京东自营class名"jd_tips_box";网易严选添加calss名"yx_tips_box";-->
                    <div class="jd_tip_box yx_tips_box">网易严选</div>
                </div>
                <p class="show_name">Orion 好丽友 双莓派12枚 276g/盒</p>
                <span class="show_money">
                    <span>￥123</span>
                    <span>￥76</span>
                </span>
            </a>

            <!--京东自营---------->
            <a href="#" class="shop_box">
                <div class="img_box">
                    <img class="show_img" src="../../../images/homepage_jd_show/choose_img_3.png">
                    <!--京东自营class名"jd_tips_box";网易严选添加calss名"yx_tips_box";-->
                    <div class="jd_tip_box">京东自营</div>
                </div>
                <p class="show_name">Orion 好丽友 双莓派12枚 276g/盒</p>
                <span class="show_money">
                    <span>￥123</span>
                    <span>￥76</span>
                </span>
            </a>

            <!--网易严选---------->
            <a href="#" class="shop_box">
                <div class="img_box">
                    <img class="show_img" src="../../../images/homepage_jd_show/choose_img_4.png">
                    <!--京东自营class名"jd_tips_box";网易严选添加calss名"yx_tips_box";-->
                    <div class="jd_tip_box yx_tips_box">网易严选</div>
                </div>
                <p class="show_name">Orion 好丽友 双莓派12枚 276g/盒</p>
                <span class="show_money">
                    <span>￥123</span>
                    <span>￥76</span>
                </span>
            </a>

            <!--京东自营---------->
            <a href="#" class="shop_box">
                <div class="img_box">
                    <img class="show_img" src="../../../images/homepage_jd_show/choose_img_5.png">
                    <!--京东自营class名"jd_tips_box";网易严选添加calss名"yx_tips_box";-->
                    <div class="jd_tip_box">京东自营</div>
                </div>
                <p class="show_name">Orion 好丽友 双莓派12枚 276g/盒</p>
                <span class="show_money">
                    <span>￥123</span>
                    <span>￥76</span>
                </span>
            </a>

            <!--网易严选---------->
            <a href="#" class="shop_box">
                <div class="img_box">
                    <img class="show_img" src="../../../images/homepage_jd_show/choose_img_6.png">
                    <!--京东自营class名"jd_tips_box";网易严选添加calss名"yx_tips_box";-->
                    <div class="jd_tip_box yx_tips_box">网易严选</div>
                </div>
                <p class="show_name">Orion 好丽友 双莓派12枚 276g/盒</p>
                <span class="show_money">
                    <span>￥123</span>
                    <span>￥76</span>
                </span>
            </a>

            <!-----查看更多----->
            <a href="#" class="more_box">
                <p>查看更多</p>
            </a>
        </div>
    </div>

    <!-- 个护清洁---------->
    <div class="show_line_box">
        <a href="#" class="show_line">
            <!--可编辑banner-->
            <img class="line_box_bg" src="../../../images/homepage_jd_show/line_bg_5.1.png">
            <div class="line_box_text">
                <span>个护清洁</span>
                <span>精致生活 洁净换新</span>
                <span>点击查看</span>
            </div>
        </a>
        <!--展示商品列表-->
        <div class="shop_show_box">

            <!--京东自营---------->
            <a href="#" class="shop_box">
                <div class="img_box">
                    <img class="show_img" src="../../../images/homepage_jd_show/choose_img_1.png">
                    <!--京东自营class名"jd_tips_box";网易严选添加calss名"yx_tips_box";-->
                    <div class="jd_tip_box">京东自营</div>
                </div>
                <p class="show_name">Orion 好丽友 双莓派12枚 276g/盒</p>
                <span class="show_money">
                    <span>￥123</span>
                    <span>￥76</span>
                </span>
            </a>

            <!--网易严选---------->
            <a href="#" class="shop_box">
                <div class="img_box">
                    <img class="show_img" src="../../../images/homepage_jd_show/choose_img_2.png">
                    <!--京东自营class名"jd_tips_box";网易严选添加calss名"yx_tips_box";-->
                    <div class="jd_tip_box yx_tips_box">网易严选</div>
                </div>
                <p class="show_name">Orion 好丽友 双莓派12枚 276g/盒</p>
                <span class="show_money">
                    <span>￥123</span>
                    <span>￥76</span>
                </span>
            </a>

            <!--京东自营---------->
            <a href="#" class="shop_box">
                <div class="img_box">
                    <img class="show_img" src="../../../images/homepage_jd_show/choose_img_3.png">
                    <!--京东自营class名"jd_tips_box";网易严选添加calss名"yx_tips_box";-->
                    <div class="jd_tip_box">京东自营</div>
                </div>
                <p class="show_name">Orion 好丽友 双莓派12枚 276g/盒</p>
                <span class="show_money">
                    <span>￥123</span>
                    <span>￥76</span>
                </span>
            </a>

            <!--网易严选---------->
            <a href="#" class="shop_box">
                <div class="img_box">
                    <img class="show_img" src="../../../images/homepage_jd_show/choose_img_4.png">
                    <!--京东自营class名"jd_tips_box";网易严选添加calss名"yx_tips_box";-->
                    <div class="jd_tip_box yx_tips_box">网易严选</div>
                </div>
                <p class="show_name">Orion 好丽友 双莓派12枚 276g/盒</p>
                <span class="show_money">
                    <span>￥123</span>
                    <span>￥76</span>
                </span>
            </a>

            <!--京东自营---------->
            <a href="#" class="shop_box">
                <div class="img_box">
                    <img class="show_img" src="../../../images/homepage_jd_show/choose_img_5.png">
                    <!--京东自营class名"jd_tips_box";网易严选添加calss名"yx_tips_box";-->
                    <div class="jd_tip_box">京东自营</div>
                </div>
                <p class="show_name">Orion 好丽友 双莓派12枚 276g/盒</p>
                <span class="show_money">
                    <span>￥123</span>
                    <span>￥76</span>
                </span>
            </a>

            <!--网易严选---------->
            <a href="#" class="shop_box">
                <div class="img_box">
                    <img class="show_img" src="../../../images/homepage_jd_show/choose_img_6.png">
                    <!--京东自营class名"jd_tips_box";网易严选添加calss名"yx_tips_box";-->
                    <div class="jd_tip_box yx_tips_box">网易严选</div>
                </div>
                <p class="show_name">Orion 好丽友 双莓派12枚 276g/盒</p>
                <span class="show_money">
                    <span>￥123</span>
                    <span>￥76</span>
                </span>
            </a>

            <!-----查看更多----->
            <a href="#" class="more_box">
                <p>查看更多</p>
            </a>
        </div>
    </div>

    <!--家用电器---------->
    <div class="show_line_box">
        <a href="#" class="show_line">
            <!--可编辑banner-->
            <img class="line_box_bg" src="../../../images/homepage_jd_show/line_bg_10.png">
            <div class="line_box_text">
                <span>家用电器</span>
                <span>省钱  省时  省心</span>
                <span>点击查看</span>
            </div>
        </a>
        <!--展示商品列表-->
        <div class="shop_show_box">

            <!--京东自营---------->
            <a href="#" class="shop_box">
                <div class="img_box">
                    <img class="show_img" src="../../../images/homepage_jd_show/choose_img_1.png">
                    <!--京东自营class名"jd_tips_box";网易严选添加calss名"yx_tips_box";-->
                    <div class="jd_tip_box">京东自营</div>
                </div>
                <p class="show_name">Orion 好丽友 双莓派12枚 276g/盒</p>
                <span class="show_money">
                    <span>￥123</span>
                    <span>￥76</span>
                </span>
            </a>

            <!--网易严选---------->
            <a href="#" class="shop_box">
                <div class="img_box">
                    <img class="show_img" src="../../../images/homepage_jd_show/choose_img_2.png">
                    <!--京东自营class名"jd_tips_box";网易严选添加calss名"yx_tips_box";-->
                    <div class="jd_tip_box yx_tips_box">网易严选</div>
                </div>
                <p class="show_name">Orion 好丽友 双莓派12枚 276g/盒</p>
                <span class="show_money">
                    <span>￥123</span>
                    <span>￥76</span>
                </span>
            </a>

            <!--京东自营---------->
            <a href="#" class="shop_box">
                <div class="img_box">
                    <img class="show_img" src="../../../images/homepage_jd_show/choose_img_3.png">
                    <!--京东自营class名"jd_tips_box";网易严选添加calss名"yx_tips_box";-->
                    <div class="jd_tip_box">京东自营</div>
                </div>
                <p class="show_name">Orion 好丽友 双莓派12枚 276g/盒</p>
                <span class="show_money">
                    <span>￥123</span>
                    <span>￥76</span>
                </span>
            </a>

            <!--网易严选---------->
            <a href="#" class="shop_box">
                <div class="img_box">
                    <img class="show_img" src="../../../images/homepage_jd_show/choose_img_4.png">
                    <!--京东自营class名"jd_tips_box";网易严选添加calss名"yx_tips_box";-->
                    <div class="jd_tip_box yx_tips_box">网易严选</div>
                </div>
                <p class="show_name">Orion 好丽友 双莓派12枚 276g/盒</p>
                <span class="show_money">
                    <span>￥123</span>
                    <span>￥76</span>
                </span>
            </a>

            <!--京东自营---------->
            <a href="#" class="shop_box">
                <div class="img_box">
                    <img class="show_img" src="../../../images/homepage_jd_show/choose_img_5.png">
                    <!--京东自营class名"jd_tips_box";网易严选添加calss名"yx_tips_box";-->
                    <div class="jd_tip_box">京东自营</div>
                </div>
                <p class="show_name">Orion 好丽友 双莓派12枚 276g/盒</p>
                <span class="show_money">
                    <span>￥123</span>
                    <span>￥76</span>
                </span>
            </a>

            <!--网易严选---------->
            <a href="#" class="shop_box">
                <div class="img_box">
                    <img class="show_img" src="../../../images/homepage_jd_show/choose_img_6.png">
                    <!--京东自营class名"jd_tips_box";网易严选添加calss名"yx_tips_box";-->
                    <div class="jd_tip_box yx_tips_box">网易严选</div>
                </div>
                <p class="show_name">Orion 好丽友 双莓派12枚 276g/盒</p>
                <span class="show_money">
                    <span>￥123</span>
                    <span>￥76</span>
                </span>
            </a>

            <!-----查看更多----->
            <a href="#" class="more_box">
                <p>查看更多</p>
            </a>
        </div>
    </div>

    <!--电脑办公---------->
    <div class="show_line_box">
        <a href="#" class="show_line">
            <!--可编辑banner-->
            <img class="line_box_bg" src="../../../images/homepage_jd_show/line_bg_6.png">
            <div class="line_box_text">
                <span>电脑办公</span>
                <span>尖货推荐</span>
                <span>点击查看</span>
            </div>
        </a>
        <!--展示商品列表-->
        <div class="shop_show_box">

            <!--京东自营---------->
            <a href="#" class="shop_box">
                <div class="img_box">
                    <img class="show_img" src="../../../images/homepage_jd_show/choose_img_1.png">
                    <!--京东自营class名"jd_tips_box";网易严选添加calss名"yx_tips_box";-->
                    <div class="jd_tip_box">京东自营</div>
                </div>
                <p class="show_name">Orion 好丽友 双莓派12枚 276g/盒</p>
                <span class="show_money">
                    <span>￥123</span>
                    <span>￥76</span>
                </span>
            </a>

            <!--网易严选---------->
            <a href="#" class="shop_box">
                <div class="img_box">
                    <img class="show_img" src="../../../images/homepage_jd_show/choose_img_2.png">
                    <!--京东自营class名"jd_tips_box";网易严选添加calss名"yx_tips_box";-->
                    <div class="jd_tip_box yx_tips_box">网易严选</div>
                </div>
                <p class="show_name">Orion 好丽友 双莓派12枚 276g/盒</p>
                <span class="show_money">
                    <span>￥123</span>
                    <span>￥76</span>
                </span>
            </a>

            <!--京东自营---------->
            <a href="#" class="shop_box">
                <div class="img_box">
                    <img class="show_img" src="../../../images/homepage_jd_show/choose_img_3.png">
                    <!--京东自营class名"jd_tips_box";网易严选添加calss名"yx_tips_box";-->
                    <div class="jd_tip_box">京东自营</div>
                </div>
                <p class="show_name">Orion 好丽友 双莓派12枚 276g/盒</p>
                <span class="show_money">
                    <span>￥123</span>
                    <span>￥76</span>
                </span>
            </a>

            <!--网易严选---------->
            <a href="#" class="shop_box">
                <div class="img_box">
                    <img class="show_img" src="../../../images/homepage_jd_show/choose_img_4.png">
                    <!--京东自营class名"jd_tips_box";网易严选添加calss名"yx_tips_box";-->
                    <div class="jd_tip_box yx_tips_box">网易严选</div>
                </div>
                <p class="show_name">Orion 好丽友 双莓派12枚 276g/盒</p>
                <span class="show_money">
                    <span>￥123</span>
                    <span>￥76</span>
                </span>
            </a>

            <!--京东自营---------->
            <a href="#" class="shop_box">
                <div class="img_box">
                    <img class="show_img" src="../../../images/homepage_jd_show/choose_img_5.png">
                    <!--京东自营class名"jd_tips_box";网易严选添加calss名"yx_tips_box";-->
                    <div class="jd_tip_box">京东自营</div>
                </div>
                <p class="show_name">Orion 好丽友 双莓派12枚 276g/盒</p>
                <span class="show_money">
                    <span>￥123</span>
                    <span>￥76</span>
                </span>
            </a>

            <!--网易严选---------->
            <a href="#" class="shop_box">
                <div class="img_box">
                    <img class="show_img" src="../../../images/homepage_jd_show/choose_img_6.png">
                    <!--京东自营class名"jd_tips_box";网易严选添加calss名"yx_tips_box";-->
                    <div class="jd_tip_box yx_tips_box">网易严选</div>
                </div>
                <p class="show_name">Orion 好丽友 双莓派12枚 276g/盒</p>
                <span class="show_money">
                    <span>￥123</span>
                    <span>￥76</span>
                </span>
            </a>

            <!-----查看更多----->
            <a href="#" class="more_box">
                <p>查看更多</p>
            </a>
        </div>
    </div>

    <!--服饰内衣---------->
    <div class="show_line_box">
        <a href="#" class="show_line">
            <!--可编辑banner-->
            <img class="line_box_bg" src="../../../images/homepage_jd_show/line_bg_7.png">
            <div class="line_box_text">
                <span>服饰内衣</span>
                <span>有品有范有风尚</span>
                <span>点击查看</span>
            </div>
        </a>
        <!--展示商品列表-->
        <div class="shop_show_box">

            <!--京东自营---------->
            <a href="#" class="shop_box">
                <div class="img_box">
                    <img class="show_img" src="../../../images/homepage_jd_show/choose_img_1.png">
                    <!--京东自营class名"jd_tips_box";网易严选添加calss名"yx_tips_box";-->
                    <div class="jd_tip_box">京东自营</div>
                </div>
                <p class="show_name">Orion 好丽友 双莓派12枚 276g/盒</p>
                <span class="show_money">
                    <span>￥123</span>
                    <span>￥76</span>
                </span>
            </a>

            <!--网易严选---------->
            <a href="#" class="shop_box">
                <div class="img_box">
                    <img class="show_img" src="../../../images/homepage_jd_show/choose_img_2.png">
                    <!--京东自营class名"jd_tips_box";网易严选添加calss名"yx_tips_box";-->
                    <div class="jd_tip_box yx_tips_box">网易严选</div>
                </div>
                <p class="show_name">Orion 好丽友 双莓派12枚 276g/盒</p>
                <span class="show_money">
                    <span>￥123</span>
                    <span>￥76</span>
                </span>
            </a>

            <!--京东自营---------->
            <a href="#" class="shop_box">
                <div class="img_box">
                    <img class="show_img" src="../../../images/homepage_jd_show/choose_img_3.png">
                    <!--京东自营class名"jd_tips_box";网易严选添加calss名"yx_tips_box";-->
                    <div class="jd_tip_box">京东自营</div>
                </div>
                <p class="show_name">Orion 好丽友 双莓派12枚 276g/盒</p>
                <span class="show_money">
                    <span>￥123</span>
                    <span>￥76</span>
                </span>
            </a>

            <!--网易严选---------->
            <a href="#" class="shop_box">
                <div class="img_box">
                    <img class="show_img" src="../../../images/homepage_jd_show/choose_img_4.png">
                    <!--京东自营class名"jd_tips_box";网易严选添加calss名"yx_tips_box";-->
                    <div class="jd_tip_box yx_tips_box">网易严选</div>
                </div>
                <p class="show_name">Orion 好丽友 双莓派12枚 276g/盒</p>
                <span class="show_money">
                    <span>￥123</span>
                    <span>￥76</span>
                </span>
            </a>

            <!--京东自营---------->
            <a href="#" class="shop_box">
                <div class="img_box">
                    <img class="show_img" src="../../../images/homepage_jd_show/choose_img_5.png">
                    <!--京东自营class名"jd_tips_box";网易严选添加calss名"yx_tips_box";-->
                    <div class="jd_tip_box">京东自营</div>
                </div>
                <p class="show_name">Orion 好丽友 双莓派12枚 276g/盒</p>
                <span class="show_money">
                    <span>￥123</span>
                    <span>￥76</span>
                </span>
            </a>

            <!--网易严选---------->
            <a href="#" class="shop_box">
                <div class="img_box">
                    <img class="show_img" src="../../../images/homepage_jd_show/choose_img_6.png">
                    <!--京东自营class名"jd_tips_box";网易严选添加calss名"yx_tips_box";-->
                    <div class="jd_tip_box yx_tips_box">网易严选</div>
                </div>
                <p class="show_name">Orion 好丽友 双莓派12枚 276g/盒</p>
                <span class="show_money">
                    <span>￥123</span>
                    <span>￥76</span>
                </span>
            </a>

            <!-----查看更多----->
            <a href="#" class="more_box">
                <p>查看更多</p>
            </a>
        </div>
    </div>

    <!--奢侈品---------->
    <div class="show_line_box">
        <a href="#" class="show_line">
            <!--可编辑banner-->
            <img class="line_box_bg" src="../../../images/homepage_jd_show/line_bg_8.png">
            <div class="line_box_text">
                <span>奢侈品</span>
                <span>奢品精选</span>
                <span>点击查看</span>
            </div>
        </a>
        <!--展示商品列表-->
        <div class="shop_show_box">

            <!--京东自营---------->
            <a href="#" class="shop_box">
                <div class="img_box">
                    <img class="show_img" src="../../../images/homepage_jd_show/choose_img_1.png">
                    <!--京东自营class名"jd_tips_box";网易严选添加calss名"yx_tips_box";-->
                    <div class="jd_tip_box">京东自营</div>
                </div>
                <p class="show_name">Orion 好丽友 双莓派12枚 276g/盒</p>
                <span class="show_money">
                    <span>￥123</span>
                    <span>￥76</span>
                </span>
            </a>

            <!--网易严选---------->
            <a href="#" class="shop_box">
                <div class="img_box">
                    <img class="show_img" src="../../../images/homepage_jd_show/choose_img_2.png">
                    <!--京东自营class名"jd_tips_box";网易严选添加calss名"yx_tips_box";-->
                    <div class="jd_tip_box yx_tips_box">网易严选</div>
                </div>
                <p class="show_name">Orion 好丽友 双莓派12枚 276g/盒</p>
                <span class="show_money">
                    <span>￥123</span>
                    <span>￥76</span>
                </span>
            </a>

            <!--京东自营---------->
            <a href="#" class="shop_box">
                <div class="img_box">
                    <img class="show_img" src="../../../images/homepage_jd_show/choose_img_3.png">
                    <!--京东自营class名"jd_tips_box";网易严选添加calss名"yx_tips_box";-->
                    <div class="jd_tip_box">京东自营</div>
                </div>
                <p class="show_name">Orion 好丽友 双莓派12枚 276g/盒</p>
                <span class="show_money">
                    <span>￥123</span>
                    <span>￥76</span>
                </span>
            </a>

            <!--网易严选---------->
            <a href="#" class="shop_box">
                <div class="img_box">
                    <img class="show_img" src="../../../images/homepage_jd_show/choose_img_4.png">
                    <!--京东自营class名"jd_tips_box";网易严选添加calss名"yx_tips_box";-->
                    <div class="jd_tip_box yx_tips_box">网易严选</div>
                </div>
                <p class="show_name">Orion 好丽友 双莓派12枚 276g/盒</p>
                <span class="show_money">
                    <span>￥123</span>
                    <span>￥76</span>
                </span>
            </a>

            <!--京东自营---------->
            <a href="#" class="shop_box">
                <div class="img_box">
                    <img class="show_img" src="../../../images/homepage_jd_show/choose_img_5.png">
                    <!--京东自营class名"jd_tips_box";网易严选添加calss名"yx_tips_box";-->
                    <div class="jd_tip_box">京东自营</div>
                </div>
                <p class="show_name">Orion 好丽友 双莓派12枚 276g/盒</p>
                <span class="show_money">
                    <span>￥123</span>
                    <span>￥76</span>
                </span>
            </a>

            <!--网易严选---------->
            <a href="#" class="shop_box">
                <div class="img_box">
                    <img class="show_img" src="../../../images/homepage_jd_show/choose_img_6.png">
                    <!--京东自营class名"jd_tips_box";网易严选添加calss名"yx_tips_box";-->
                    <div class="jd_tip_box yx_tips_box">网易严选</div>
                </div>
                <p class="show_name">Orion 好丽友 双莓派12枚 276g/盒</p>
                <span class="show_money">
                    <span>￥123</span>
                    <span>￥76</span>
                </span>
            </a>

            <!-----查看更多----->
            <a href="#" class="more_box">
                <p>查看更多</p>
            </a>
        </div>
    </div>

    <!--运动户外---------->
    <div class="show_line_box">
        <a href="#" class="show_line">
            <!--可编辑banner-->
            <img class="line_box_bg" src="../../../images/homepage_jd_show/line_bg_9.png">
            <div class="line_box_text">
                <span>运动户外</span>
                <span>新品质  新潮流</span>
                <span>点击查看</span>
            </div>
        </a>
        <!--展示商品列表-->
        <div class="shop_show_box">

            <!--京东自营---------->
            <a href="#" class="shop_box">
                <div class="img_box">
                    <img class="show_img" src="../../../images/homepage_jd_show/choose_img_1.png">
                    <!--京东自营class名"jd_tips_box";网易严选添加calss名"yx_tips_box";-->
                    <div class="jd_tip_box">京东自营</div>
                </div>
                <p class="show_name">Orion 好丽友 双莓派12枚 276g/盒</p>
                <span class="show_money">
                    <span>￥123</span>
                    <span>￥76</span>
                </span>
            </a>

            <!--网易严选---------->
            <a href="#" class="shop_box">
                <div class="img_box">
                    <img class="show_img" src="../../../images/homepage_jd_show/choose_img_2.png">
                    <!--京东自营class名"jd_tips_box";网易严选添加calss名"yx_tips_box";-->
                    <div class="jd_tip_box yx_tips_box">网易严选</div>
                </div>
                <p class="show_name">Orion 好丽友 双莓派12枚 276g/盒</p>
                <span class="show_money">
                    <span>￥123</span>
                    <span>￥76</span>
                </span>
            </a>

            <!--京东自营---------->
            <a href="#" class="shop_box">
                <div class="img_box">
                    <img class="show_img" src="../../../images/homepage_jd_show/choose_img_3.png">
                    <!--京东自营class名"jd_tips_box";网易严选添加calss名"yx_tips_box";-->
                    <div class="jd_tip_box">京东自营</div>
                </div>
                <p class="show_name">Orion 好丽友 双莓派12枚 276g/盒</p>
                <span class="show_money">
                    <span>￥123</span>
                    <span>￥76</span>
                </span>
            </a>

            <!--网易严选---------->
            <a href="#" class="shop_box">
                <div class="img_box">
                    <img class="show_img" src="../../../images/homepage_jd_show/choose_img_4.png">
                    <!--京东自营class名"jd_tips_box";网易严选添加calss名"yx_tips_box";-->
                    <div class="jd_tip_box yx_tips_box">网易严选</div>
                </div>
                <p class="show_name">Orion 好丽友 双莓派12枚 276g/盒</p>
                <span class="show_money">
                    <span>￥123</span>
                    <span>￥76</span>
                </span>
            </a>

            <!--京东自营---------->
            <a href="#" class="shop_box">
                <div class="img_box">
                    <img class="show_img" src="../../../images/homepage_jd_show/choose_img_5.png">
                    <!--京东自营class名"jd_tips_box";网易严选添加calss名"yx_tips_box";-->
                    <div class="jd_tip_box">京东自营</div>
                </div>
                <p class="show_name">Orion 好丽友 双莓派12枚 276g/盒</p>
                <span class="show_money">
                    <span>￥123</span>
                    <span>￥76</span>
                </span>
            </a>

            <!--网易严选---------->
            <a href="#" class="shop_box">
                <div class="img_box">
                    <img class="show_img" src="../../../images/homepage_jd_show/choose_img_6.png">
                    <!--京东自营class名"jd_tips_box";网易严选添加calss名"yx_tips_box";-->
                    <div class="jd_tip_box yx_tips_box">网易严选</div>
                </div>
                <p class="show_name">Orion 好丽友 双莓派12枚 276g/盒</p>
                <span class="show_money">
                    <span>￥123</span>
                    <span>￥76</span>
                </span>
            </a>

            <!-----查看更多----->
            <a href="#" class="more_box">
                <p>查看更多</p>
            </a>
        </div>
    </div>


</div>


<!--返回顶部-->
<div class="top_box">
    <img src="../../../images/homepage_jd_show/arrow.png">
    <p>顶部</p>
</div>

</div>

<script>

    $(window).scroll(function(){    
        if($(window).scrollTop() >= 1000){
        document.getElementsByClassName('top_box')[0]
            .style.transform = 'translate3d(-5px,0,0)'}

            else{document.getElementsByClassName('top_box')[0]
            .style.transform = 'translate3d(120px,0,0)'}})
    var div_top_box = document.getElementsByClassName('top_box')[0];
    div_top_box.addEventListener('click',function () {
        var top_to = setInterval(function(){
            scrollTo(0,(scrollY - 20));
            if(!scrollY){
                clearInterval(top_to);
            }
        },1);
    })
</script>
