<div class="body_over">
    <div class="time_board shop_find_more_cue">

        <div class="shop_name">

            <img src="../../../images/huawei_icon.png">

            <span>这里是品牌名称</span>

        </div>

        <p class="time_line">距结束

            <span class="time_hr"> </span>时

            <span class="time_min"> </span>分

            <span class="time_sec"> </span>秒</p>

    </div>

    <div class="tab_button">

        <div class="classify_button">
            <span>分类</span>
            <span class="arrow_button"></span>
        </div>

    </div>

    <div class="void"></div>

    <div class="shop_list">
        <div class="shop_content">
            <div class="shop_img">
                <img src="../../../images/product2.jpg">
            </div>
            <div class="shop_detail">
                <div class="shop_sku">
                    MateBook E BL-W19 i5轻薄二合一笔记本 仅有12英寸 新型号上市 部分送好礼 6期免息
                </div>
                <div class="pay_and_button">
                    <div class="shop_pay">
                        <div class="now_pay">
                            <div class="money">￥8.90</div>
                            <div class="class">限时价</div>
                        </div>
                        <div class="tomorrow_pay">
                            <div class="money">￥121</div>
                            <div class="class">明日价</div>
                        </div>
                        <div class="yesterday_pay">
                            <div class="money">￥121</div>
                            <div class="class">原价</div>
                        </div>
                    </div>
                    <div class="buy_button">
                        <a href="#">立即抢购</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="shop_content">
            <div class="shop_img">
                <img src="../../../images/product2.jpg">
            </div>
            <div class="shop_detail">
                <div class="shop_sku">
                    MateBook E BL-W19 i5轻薄二合一笔记本 仅有12英寸 新型号上市 部分送好礼 6期免息
                </div>
                <div class="pay_and_button">
                    <div class="shop_pay">
                        <div class="now_pay">
                            <div class="money">￥8.90</div>
                            <div class="class">限时价</div>
                        </div>
                        <div class="tomorrow_pay">
                            <div class="money">￥121</div>
                            <div class="class">明日价</div>
                        </div>
                        <div class="yesterday_pay">
                            <div class="money">￥121</div>
                            <div class="class">原价</div>
                        </div>
                    </div>
                    <div class="buy_button">
                        <a href="#">立即抢购</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="shop_content">
            <div class="shop_img">
                <img src="../../../images/product2.jpg">
            </div>
            <div class="shop_detail">
                <div class="shop_sku">
                    MateBook E BL-W19 i5轻薄二合一笔记本 仅有12英寸 新型号上市 部分送好礼 6期免息
                </div>
                <div class="pay_and_button">
                    <div class="shop_pay">
                        <div class="now_pay">
                            <div class="money">￥8.90</div>
                            <div class="class">限时价</div>
                        </div>
                        <div class="tomorrow_pay">
                            <div class="money">￥121</div>
                            <div class="class">明日价</div>
                        </div>
                        <div class="yesterday_pay">
                            <div class="money">￥121</div>
                            <div class="class">原价</div>
                        </div>
                    </div>
                    <div class="buy_button">
                        <a href="#">立即抢购</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="shop_content">
            <div class="shop_img">
                <img src="../../../images/product2.jpg">
            </div>
            <div class="shop_detail">
                <div class="shop_sku">
                    MateBook E BL-W19 i5轻薄二合一笔记本 仅有12英寸 新型号上市 部分送好礼 6期免息
                </div>
                <div class="pay_and_button">
                    <div class="shop_pay">
                        <div class="now_pay">
                            <div class="money">￥8.90</div>
                            <div class="class">限时价</div>
                        </div>
                        <div class="tomorrow_pay">
                            <div class="money">￥121</div>
                            <div class="class">明日价</div>
                        </div>
                        <div class="yesterday_pay">
                            <div class="money">￥121</div>
                            <div class="class">原价</div>
                        </div>
                    </div>
                    <div class="buy_button">
                        <a href="#">立即抢购</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="shop_content">
            <div class="shop_img">
                <img src="../../../images/product2.jpg">
            </div>
            <div class="shop_detail">
                <div class="shop_sku">
                    MateBook E BL-W19 i5轻薄二合一笔记本 仅有12英寸 新型号上市 部分送好礼 6期免息
                </div>
                <div class="pay_and_button">
                    <div class="shop_pay">
                        <div class="now_pay">
                            <div class="money">￥8.90</div>
                            <div class="class">限时价</div>
                        </div>
                        <div class="tomorrow_pay">
                            <div class="money">￥121</div>
                            <div class="class">明日价</div>
                        </div>
                        <div class="yesterday_pay">
                            <div class="money">￥121</div>
                            <div class="class">原价</div>
                        </div>
                    </div>
                    <div class="buy_button">
                        <a href="#">立即抢购</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="shop_content">
            <div class="shop_img">
                <img src="../../../images/product2.jpg">
            </div>
            <div class="shop_detail">
                <div class="shop_sku">
                    MateBook E BL-W19 i5轻薄二合一笔记本 仅有12英寸 新型号上市 部分送好礼 6期免息
                </div>
                <div class="pay_and_button">
                    <div class="shop_pay">
                        <div class="now_pay">
                            <div class="money">￥8.90</div>
                            <div class="class">限时价</div>
                        </div>
                        <div class="tomorrow_pay">
                            <div class="money">￥121</div>
                            <div class="class">明日价</div>
                        </div>
                        <div class="yesterday_pay">
                            <div class="money">￥121</div>
                            <div class="class">原价</div>
                        </div>
                    </div>
                    <div class="buy_button">
                        <a href="#">立即抢购</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="shop_content">
            <div class="shop_img">
                <img src="../../../images/product2.jpg">
            </div>
            <div class="shop_detail">
                <div class="shop_sku">
                    MateBook E BL-W19 i5轻薄二合一笔记本 仅有12英寸 新型号上市 部分送好礼 6期免息
                </div>
                <div class="pay_and_button">
                    <div class="shop_pay">
                        <div class="now_pay">
                            <div class="money">￥8.90</div>
                            <div class="class">限时价</div>
                        </div>
                        <div class="tomorrow_pay">
                            <div class="money">￥121</div>
                            <div class="class">明日价</div>
                        </div>
                        <div class="yesterday_pay">
                            <div class="money">￥121</div>
                            <div class="class">原价</div>
                        </div>
                    </div>
                    <div class="buy_button">
                        <a href="#">立即抢购</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="shop_content">
            <div class="shop_img">
                <img src="../../../images/product2.jpg">
            </div>
            <div class="shop_detail">
                <div class="shop_sku">
                    MateBook E BL-W19 i5轻薄二合一笔记本 仅有12英寸 新型号上市 部分送好礼 6期免息
                </div>
                <div class="pay_and_button">
                    <div class="shop_pay">
                        <div class="now_pay">
                            <div class="money">￥8.90</div>
                            <div class="class">限时价</div>
                        </div>
                        <div class="tomorrow_pay">
                            <div class="money">￥121</div>
                            <div class="class">明日价</div>
                        </div>
                        <div class="yesterday_pay">
                            <div class="money">￥121</div>
                            <div class="class">原价</div>
                        </div>
                    </div>
                    <div class="buy_button">
                        <a href="#">立即抢购</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="pop_up">
        <div class="pop_up_bg"></div>
        <div class="pop_up_content">
            <div class="pop_up_list">
                <div class="button">
                    华为荣耀系列
                </div>
                <div class="button">
                    华为荣耀系列
                </div>
                <div class="button">
                    华为荣耀系列
                </div>
                <div class="button">
                    华为荣耀系列
                </div>
                <div class="button">
                    华为荣耀系列
                </div>
                <div class="button">
                    华为荣耀系列
                </div>
                <div class="button">
                    华为荣耀系列
                </div>
                <div class="button">
                    华为荣耀系列
                </div>
                <div class="button">
                    华为荣耀系列
                </div>
                <div class="button">
                    华为荣耀系列
                </div>
            </div>
            <div class="pop_up_button">
                <div class="reset_button">
                    <a href="#">重置</a>
                </div>
                <div class="enter_button">
                    <a href="#">确定</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    window.onload  = function () {
        var datetime = new Date();
        var datetime_hours = datetime.getHours();
        var datetime_minutes = datetime.getMinutes();
        var datetime_seconds = datetime.getSeconds();
        var show_hours;
        var show_minutes;
        var show_seconds;
        show_hours = 23 - datetime_hours;
        show_minutes = 59 - datetime_minutes;
        show_seconds = 60 - datetime_seconds;
        if(!datetime_minutes && !datetime_seconds){
            show_hours++;
            show_seconds--;
        }
        else if(!datetime_seconds){
            show_minutes++;
            show_seconds--;
        }
        if(show_hours<10){
            show_hours = '0' + show_hours;
        }
        if(show_minutes<10){
            show_minutes = '0' + show_minutes;
        }
        if(show_seconds<10){
            show_seconds = '0' + show_seconds;
        }
        document.getElementsByClassName('time_hr')[0].innerText = show_hours;
        document.getElementsByClassName('time_min')[0].innerText = show_minutes;
        document.getElementsByClassName('time_sec')[0].innerText = show_seconds;

        var div_classify_button = document.getElementsByClassName('classify_button')[0];
        var div_pop_up = document.getElementsByClassName('pop_up')[0];
        var div_pop_up_bg = document.getElementsByClassName('pop_up_bg')[0];
        var div_pop_up_content = document.getElementsByClassName('pop_up_content')[0];
        var div_body_over = document.getElementsByClassName('body_over')[0];
        div_classify_button.onclick = function() {
            div_body_over.style.height = 'calc(100vh - 45px)'
            div_body_over.style.overflow = 'hidden';
            if(!div_classify_button.classList.contains('button_onclick')){
                div_classify_button.classList.add('button_onclick');
                div_pop_up.style.display = 'block';
                setTimeout(function(){
                    div_pop_up_bg.style.opacity = '0.4';
                    div_pop_up_content.style.transform = 'translateY(0)';
                },100);
            }
            else{
                div_body_over.style.height = '';
                div_body_over.style.overflow = '';
                div_classify_button.classList.remove('button_onclick');
                div_pop_up_bg.style.opacity = '0';
                div_pop_up_content.style.transform = 'translateY(-200%)';
                setTimeout(function(){
                    div_pop_up.style.display = 'none';
                },500);
            }
        }
        div_pop_up_bg.onclick = function () {
            div_body_over.style.height = '';
            div_body_over.style.overflow = '';
            div_classify_button.classList.remove('button_onclick');
            div_pop_up_bg.style.opacity = '0';
            div_pop_up_content.style.transform = 'translateY(-200%)';
            setTimeout(function(){
                div_pop_up.style.display = 'none';
            },500);
        }
        div_pop_up_bg.addEventListener('touchmove',function (e){
            e.preventDefault();
        })
        div_pop_up_content.addEventListener('touchmove',function (e) {
            e.stopPropagation();
        })

    }
    setInterval(function(){
        var datetime = new Date();
        var datetime_hours = datetime.getHours();
        var datetime_minutes = datetime.getMinutes();
        var datetime_seconds = datetime.getSeconds();
        var show_hours;
        var show_minutes;
        var show_seconds;
        show_hours = 23 - datetime_hours;
        show_minutes = 59 - datetime_minutes;
        show_seconds = 60 - datetime_seconds;
        if(!datetime_minutes && !datetime_seconds){
            show_hours++;
            show_seconds = 0;
        }
        else if(!datetime_seconds){
            show_minutes++;
            show_seconds = 0;
        }
        if(show_hours<10){
            show_hours = '0' + show_hours;
        }
        if(show_minutes<10){
            show_minutes = '0' + show_minutes;
        }
        if(show_seconds<10){
            show_seconds = '0' + show_seconds;
        }
        document.getElementsByClassName('time_hr')[0].innerText = show_hours;
        document.getElementsByClassName('time_min')[0].innerText = show_minutes;
        document.getElementsByClassName('time_sec')[0].innerText = show_seconds;
    },1000);


</script>