<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>点评美食订单</title>
    <link rel="stylesheet" href="../../css/jf_dianping.css">

</head>
<body>

<!--订单信息-->

<%- include('../../component/dianping/dianping_list.ejs')%>

</body>
</html>