
/*银行卡*/
.credit_card_refund{

  background-color: #fff;
  width: 90%;
  padding: 15px 5%;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .credit_refund{

    display: flex;
    justify-content: flex-start;
    align-items: center;

    img{

      width: 35px;
      height: 35px;
      margin-right: 10px;

    }

    .credit_refund_text{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: left;
      padding-left: 5px;
    }

    span:first-child{

      font-size: 16px;
      color: #4a4a4a;
    }

    span:nth-child(2){

      font-size: 12px;
      color: #808080;

    }

  }

  .right_card_but{

    width: 20px;
    height: 20px;
    opacity: .6;
    display: flex;
    justify-content: flex-start;
    align-items: center;

  }

}


/*输入*/

.credit_import{

  background-color: #fff;
  width: 90%;
  padding: 10px 5%;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: left;

  .credit_card_money{
    font-size: 14px;
    color: #ababab;
  }

  .credit_input{
    text-align: left;
    border-bottom: 1px solid #dddddd;
    padding-top: 15px;

    span{
      font-size: 24px;
      color: #10a6e2;
    }

    input{
      width: 85%;
      border: none;
      outline: none;
      font-size: 32px;
      color: #10a6e2;
    }

    input::-webkit-input-placeholder{
      color: #10a6e2;
      font-size: 28px;
      padding-left: 10px;
    }

  }

  .credit_card_whole{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;


    .card_whole_text{
      display: flex;
      align-items: center;

      p{
        font-size: 14px;
        color: #4a4a4a;
      }

      .tips_ti_none{
        width: 20px;
        height: 20px;
        padding-left: 5px;
        vertical-align: middle;
      }

    }

    .whole_text{
      color: #10a6e2;
    }

  }

}


/*按钮*/
button{
  background:#10a6e2;
  height:40px;
  line-height: 40px;
  width:92%;
  border-radius:5px;
  border:none;
  display: block;
  text-align: center;
  margin:50px auto;
  padding: 0 15px;
  color: #FFFFFF;
  font-size: 16px;

  &:active{
    opacity: .6;
  }

}

