
<div class="credit_list_all">


    <div class="credit_choose_list">
        <div class="credit_refund">
            <div class="credit_left_t">
                <div class="credit_left_shape">
                    <img src="../../images/credit_card/icon_credit_card_12.png">
                </div>
                <div class="credit_refund_text">
                    <p><span>中国建设银行<span>（李洪刚）</span></span></p>
                    <p><span>储蓄卡</span>  <span>**** **** **** 2299</span></p>
                </div>
            </div>
        </div>
    </div>


    <div class="credit_choose_list">
        <div class="credit_refund">
            <div class="credit_left_t">
                <div class="credit_left_shape">
                    <img src="../../images/credit_card/icon_credit_card_12.png">
                </div>
                <div class="credit_refund_text">
                    <p><span>中国建设银行<span>（李洪刚）</span></span></p>
                    <p><span>储蓄卡</span>  <span>**** **** **** 2299</span></p>
                </div>
            </div>
            <img src="../../images/credit_card/icon_credit_card_4.png" class="choose_bank_img">
        </div>
    </div>


    <div class="credit_choose_list">
        <div class="credit_refund">
            <div class="credit_left_t ">
                <div class="credit_left_shape">
                    <img src="../../images/credit_card/icon_credit_card_10.png">
                </div>
                <div class="credit_refund_text">
                    <p><span>交通银行<span>（李洪刚）</span></span></p>
                    <p><span>储蓄卡</span>  <span>**** **** **** 2299</span></p>
                </div>
            </div>
        </div>


    </div>


    <div class="credit_choose_list">
        <div class="credit_refund">
            <div class="credit_left_t garyyy">
                <div class="credit_left_shape">
                    <img src="../../images/credit_card/icon_credit_card_13.png">
                </div>
                <div class="credit_refund_text">
                    <p><span>中国建设银行<span>（李洪刚）</span></span></p>
                    <p><span>信用卡</span>  <span>**** **** **** 2299</span></p>
                </div>
            </div>
            <div class="credit_img_text">仅限储蓄卡</div>
        </div>
    </div>


</div>


<!--按钮-->

<button class="credit_card_button">
    添加银行卡
</button>


