
<div class="credit_list_bank">

<!--银行列表-->
    <div class="credit_choose_bank">


        <div class="choose_bank_list">


            <div class="choose_bank_list_a">


                <div class="choose_bank_shape">

                    <img src="../../images/credit_card/icon_credit_card_9.png">

                </div>


                <div class="choose_bank_text">

                    <span>中国邮政储蓄银行</span>

                </div>


            </div>



        </div>


    </div>


    <div class="credit_choose_bank">


        <div class="choose_bank_list">


            <div class="choose_bank_list_a">


                <div class="choose_bank_shape">

                    <img src="../../images/credit_card/icon_credit_card_12.png">

                </div>


                <div class="choose_bank_text">

                    <span>中国建设银行</span>

                </div>


            </div>

            <img src="../../images/credit_card/icon_credit_card_4.png" class="choose_bank_img">


        </div>


    </div>


    <div class="credit_choose_bank">


        <div class="choose_bank_list">


            <div class="choose_bank_list_a">


                <div class="choose_bank_shape">

                    <img src="../../images/credit_card/icon_credit_card_10.png">

                </div>


                <div class="choose_bank_text">

                    <span>交通银行</span>

                </div>


            </div>



        </div>


    </div>


    <div class="credit_choose_bank">


        <div class="choose_bank_list">


            <div class="choose_bank_list_a">


                <div class="choose_bank_shape">

                    <img src="../../images/credit_card/icon_credit_card_11.png">

                </div>


                <div class="choose_bank_text">

                    <span>光大银行</span>

                </div>


            </div>



        </div>


    </div>


</div>






