

/*模块01*/
.credit_bank_add {

  margin: 10px 0;

  .credit_add {
    background-color: #FFFFFF;
    padding: 10px 15px;

    .bank_add_m {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      flex-direction: row;

      .bank_add_text {

        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;

        span {
          font-size: 14px;
          color: #4a4a4a;
          width: 25%;
        }

        input {
          width: 75%;
          border: none;
          outline: none;
          font-size: 14px;
          color: #4a4a4a;

        }

        div{
          color: #dddddd;
          font-size: 14px;
        }

        input::-webkit-input-placeholder {
          color: #dddddd;
          font-size: 14px;
        }

      }

      .bank_add_text:after {
        content: " ";
        position: absolute;
        left: 0;
        bottom: -10px;
        width: 100%;
        height: 1px;
        border-top: 1px solid #D9D9D9;
        color: #D9D9D9;
        transform-origin: 0 0;
        transform: scaleY(0.5);
      }

      .bank_add_image {

        width: 25px;
        height: 25px;

      }

      .bank_add_image_card {
        width: 12px;
        height: 12px;
      }

    }

    &:last-child{
    .bank_add_m{
    .bank_add_text:after {
      border-top: none;
    }
    }
  }
    &.input_add{
      padding: 15px;
    }

  }

}


/*模块02*/

  p.add_drop_text {
    font-size: 14px;
    color: #4a4a4a;
    margin-left: 10px;
    padding: 10px 2.5%;

  }

  .add_drop {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .bank_add {
      padding: 16px 5%;
      position: relative;
      background-color: #FFFFFF;
      align-items: center;
      display: flex;
      justify-content: space-between;
      flex-direction: row;

      .drop_add_text {

        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;

        .drop_text {
          font-size: 14px;
          color: #4a4a4a;
          width: 25%;
        }

        .credit_drop_city {
          width: 75%;
          border: 0;
          outline: 0;
          font-size: 14px;
          color: #4a4a4a;
          background-color: #FFFFFF;
          -moz-appearance: none;
          -webkit-appearance: none;

        }

        input {
          width: 75%;
          border: none;
          outline: none;
          font-size: 14px;
          color: #4a4a4a;

        }

        input::-webkit-input-placeholder {
          color: #dddddd;
          font-size: 14px;
        }

      }

      &:after {
        content: " ";
        position: absolute;
        left: 15px;
        bottom: -1px;
        width: 92%;
        height: 1px;
        border-bottom: 1px solid #D9D9D9;
        color: #D9D9D9;
        transform-origin: 0 0;
        transform: scaleY(0.5);

      }

      &:last-child:after {
        content: '';
        border-bottom: none;
      }

      .drop_add_image {
        width: 12px;
        height: 12px;
      }


    }


  }

  .cards_box{
    padding: 8px 15px;
    margin-bottom: 15px;
    margin-top: 30px;
    .credit_card_button{
      width: 100%;
      padding: 10px 0;
      font-size: 16px;
      border-radius: 5px;
      border: none;
      color: white;
      background: -webkit-linear-gradient(left, #0ea6e9, #0773be);
      background: linear-gradient(left, #0ea6e9, #0773be);
      -webkit-transition: all 0.3s linear;
      transition: all 0.3s linear;
      outline: none;
      &:active{
        opacity: .6;
      }

    }
  }
















