
<div class="dianping_takeout">
<!--注释-->

<a class="jd_notice">

    <div class="tab_bd"></div>

    <div class="recharge_balance">
        <img src="../../images/icon_warning.png">
        <span>
        <p>详细订单信息请点击查看点评美食订单至大众点评查看</p >
      </span>
    </div>

</a>


<!--列表-->

<div class="list_details">

    <div class="name">订单信息</div>

    <div class="list_text">
        <span>订单号</span><span>12345678</span>
    </div>

    <div class="list_text">
        <!-- 待支付状态class为orange --><!--交易成功、退款中clsaa为blue-->
        <!--已取消、订单关闭、已退款class为gray-->
        <span>订单状态</span><span class="orange">待支付</span>
    </div>

    <div class="list_text">
        <span>订单金额</span><span>¥50.00</span>
    </div>

</div>

<div class="list_details">

    <div class="name">支付信息</div>

    <div class="list_text">
        <span>应付金额</span><span>¥50.00</span>
    </div>
    <div class="list_text">
        <span>优惠券抵扣</span><span>¥5.00</span>
    </div>
    <div class="list_text">
        <span>实付金额</span><span>¥55.00</span>
    </div>
    <div class="list_text">
        <span>支付方式</span><span>福利余额</span>
    </div>


</div>



<!--按钮-->
<a href="#">

    <div class="disclaimer_button">

        <button>查看点评美食详情</button>

    </div>

</a>


<div class="medicine_doubt">

    <p>对此订单有疑问？</p>

</div>


</div>