<div class="insurance_main">

    <a class="top_banner">
        <img src="../../images/insurance/product_details_banner.png">
    </a>

    <div class="insurance_list">


        <a class="list" href="product_details.html">
            <div class="product_img"><img src="../../images/insurance/insurance_one.png"></div>

            <div class="product_text">
                <p class="title">A • 保障方案保障方案保障方案保障方案保障方案</p>
                <p class="more_info">一般意外伤害 大病保险 猝死 更多补充说明</p>
                <p class="price"><span>720.00</span>元/人/年</p>
            </div>
        </a>

        <a class="list">
            <div class="product_img"><img src="../../images/insurance/insurance_two.png"></div>

            <div class="product_text">
                <p class="title">B • 保障方案</p>
                <p class="more_info">一般意外伤害 大病保险 猝死 更多补充说明一般意外伤害 大病保险 猝死 更多补充说明一般意外伤害 大病保险 猝死 更多补充说明</p>
                <p class="price"><span>8000.00</span>元/人/年</p>
            </div>
        </a>

        <a class="list">
            <div class="product_img"><img src="../../images/insurance/insurance_three.png"></div>

            <div class="product_text">
                <p class="title">C • 保障方案</p>
                <p class="more_info">一般意外伤害 大病保险 猝死 更多补充说明</p>
                <p class="price"><span>500.00</span>元/人/年</p>
            </div>
        </a>


    </div>

    <div class="product_knowlodge">
        <p>保险科普知识</p>

        <div>
            <a>
                <img src="../../images/insurance/product_one.png">
                <p>如何定制全家人的健康</p>
            </a>

            <a>
                <img src="../../images/insurance/product_two.png">
                <p>如何定制全家人的健康</p>
            </a>

            <a>
                <img src="../../images/insurance/product_three.png">
                <p>如何定制全家人的健康</p>
            </a>

            <a>
                <img src="../../images/insurance/product_one.png">
                <p>如何定制全家人的健康</p>
            </a>
        </div>







    </div>

    <div class="contact_info">

        <p>保险科普知识</p>

       <a class="list" href="insurance_introduce.html">

           <div>
               <p>为健康多添一份保障为健康多添一份保障为健康多添一份保障为健康多添一份保障</p>

               <div>居民医疗保险赔偿额度更低，赔偿范围比较窄，一些特效药、进口医疗器材都不在居民医疗保险</div>
           </div>

           <div>
               <img src="../../images/icon_history_right.png">
           </div>
       </a>

        <a class="list" href="insurance_science_knowledge.html">

            <div>
                <p>为健康多添一份保障</p>

                <div>居民医疗保险赔偿额度更低，赔偿范围比较窄，一些特效药、进口医疗器材都不在居民医疗保居民医疗保险赔偿额度更低，赔偿范围比较窄，一些特效药、进口医疗器材都不在居民医疗保险险</div>
            </div>

            <div>
                <img src="../../images/icon_history_right.png">
            </div>
        </a>

        <a class="list">

            <div>
                <p>为健康多添一份保障</p>

                <div>居民医疗保险赔偿额度更低，赔偿范围比较窄，一些特效药、进口医疗器材都不在居民医疗保险</div>
            </div>

            <div>
                <img src="../../images/icon_history_right.png">
            </div>
        </a>

    </div>


</div>