<div>

    <div class="top_fixed_plate">

        <div class="personal_banner"></div>

        <div class="plan_center_bar">

            <span class="left_width">保障范围</span>

            <span>价格(元)</span>

            <span>保障金额</span>

        </div>

    </div>

    <div class="top_banner_pich"></div>

</div>

<!--保障计划的中间部分-->
<div class="shadow_plate ">

    <div class="plan_plate_line">

        <div class="fire_icon_font">

            <div class="person_icon_plate"><img src="../../../images/insurance/person_icon.png"></div>

            <p class="icon_black_font">人身保障</p>

        </div>

    </div>

    <div class="all_plan_plate">

        <div class="none_things_detail">

            <div class="all_plan_things">

                <div class="left_width">

                    <span>意外人身事故、残疾</span>

                    <div class="question_icon">?</div>

                </div>

                <span>35</span>

                <span>

            <select class="money_select">
                <option value ="10万元">10万元</option>
            <option value ="20万元">20万元</option>
            <option value="不投保">不投保</option>
            </select>

            </span>

            </div>

            <div class="plan_things_detail">

                <p class="things_detail_font">意外伤害人身事故、残疾</p>

                <p class="things_detail_font">保险责任内容保险责任内容保险责任内容保险责任内容保险责任内容保险责任内容保险责任内容保险责任内容保险责任内容保险责任内容保险责任内容</p>

            </div>

        </div>

        <div class="none_things_detail">

            <div class="all_plan_things">

                <div class="left_width">

                    <span>意外伤害医疗</span>

                    <div class="question_icon">?</div>

                </div>

                <span>35</span>

                <span>

            <select class="money_select">
                <option value ="10万元">10万元</option>
            <option value ="20万元">20万元</option>
            <option value="不投保">不投保</option>
            </select>

            </span>

            </div>

            <div class="plan_things_detail">

                <p class="things_detail_font">意外伤害医疗</p>

                <p class="things_detail_font">保险责任内容保险责任内容保险责任内容保险责任内容保险责任内容保险责任内容保险责任内容保险责任内容保险责任内容保险责任内容保险责任内容</p>

            </div>

        </div>

        <div class="none_things_detail">

            <div class="all_plan_things">

                <div class="left_width">

                    <span>意外住院津贴</span>

                    <div class="question_icon">?</div>

                </div>

                <span>

            <select class="money_select">
                <option value ="10万元">10万元</option>
            <option value ="20万元">20万元</option>
            <option value="不投保">不投保</option>
            </select>

            </span>

            </div>

        </div>

        <div class="none_things_detail">

            <div class="all_plan_things">

                <div class="left_width">

                    <span>飞机意外人身事故、残疾</span>

                    <div class="question_icon">?</div>

                </div>

                <span>

            <select class="money_select">
                <option value ="10万元">10万元</option>
            <option value ="20万元">20万元</option>
            <option value="不投保">不投保</option>
            </select>

            </span>

            </div>

        </div>

        <div class="none_things_detail">

            <div class="all_plan_things">

                <div class="left_width">

                    <span>轨道意外人身事故、残疾</span>

                    <div class="question_icon">?</div>

                </div>

                <span>

            <select class="money_select">
                <option value ="10万元">10万元</option>
            <option value ="20万元">20万元</option>
            <option value="不投保">不投保</option>
            </select>

            </span>

            </div>

        </div>

        <div class="none_things_detail">

            <div class="all_plan_things">

                <div class="left_width">

                    <span>轮船意外人身事故、残疾</span>

                    <div class="question_icon">?</div>

                </div>

                <span>

            <select class="money_select">
                <option value ="10万元">10万元</option>
            <option value ="20万元">20万元</option>
            <option value="不投保">不投保</option>
            </select>

            </span>

            </div>

        </div>

        <div class="none_things_detail">

            <div class="all_plan_things">

                <div class="left_width">

                    <span>营运汽车意外人身事故、残疾</span>

                    <div class="question_icon">?</div>

                </div>

                <span>

            <select class="money_select">
                <option value ="10万元">10万元</option>
            <option value ="20万元">20万元</option>
            <option value="不投保">不投保</option>
            </select>

            </span>

            </div>

        </div>

        <div class="none_things_detail">

            <div class="all_plan_things">

                <div class="left_width">

                    <span>自驾车意外人身事故、残疾</span>

                    <div class="question_icon">?</div>

                </div>

                <span>

            <select class="money_select">
                <option value ="10万元">10万元</option>
            <option value ="20万元">20万元</option>
            <option value="不投保">不投保</option>
            </select>

            </span>

            </div>

        </div>

        <div class="none_things_detail">

            <div class="all_plan_things">

                <div class="left_width">

                    <span>猝死</span>

                    <div class="question_icon">?</div>

                </div>

                <span>

            <select class="money_select">
                <option value ="10万元">10万元</option>
            <option value ="20万元">20万元</option>
            <option value="不投保">不投保</option>
            </select>

            </span>

            </div>

        </div>

        <div class="none_things_detail">

            <div class="all_plan_things">

                <div class="left_width">

                    <span>疾病人身事故或全残</span>

                    <div class="question_icon">?</div>

                </div>

                <span>

            <select class="money_select">
                <option value ="10万元">10万元</option>
            <option value ="20万元">20万元</option>
            <option value="不投保">不投保</option>
            </select>

            </span>

            </div>

        </div>

    </div>

    <div class="plan_plate_line">

        <div class="fire_icon_font">

            <div class="medical_icon_plate"><img src="../../../images/insurance/medical_box_icon.png"></div>

            <p class="icon_black_font">医疗保障</p>

        </div>

    </div>

    <div class="all_plan_plate">

        <div class="all_plan_things">

            <div class="left_width">

                <span>急门诊、住院</span>

                <div class="question_icon">?</div>

            </div>

            <span>

            <select class="money_select">
                <option value="急门诊1万、住院5万">急门诊1万、住院5万</option>
                <option value ="急门诊2000、住院3000">急门诊2000、住院3000</option>
            <option value ="20万元">年面赔额0</option>
            </select>

            </span>

        </div>

        <div class="all_plan_things">

            <p class="cu_font">急门诊</p>

        </div>

    </div>

</div>


<!--置底渐变按钮-->
<div class="change_button_plate">

    <div class="footer_pich"></div>

    <!--人气款-->
    <div class="plan_bottom_plate">

        <butotn class="plan_bottom_hold">保存</butotn>

    </div>

    <!--我的报价-->
    <div class="my_bottom_button">

        <div class="my_bottom_plate">

            <button class="bottom_left_btn left_btn_color">一键恢复人气款报价</button>

            <button class="bottom_left_btn right_btn_color">保存</button>

        </div>

    </div>

</div>





<script>

    //点击保项展开，收起
    hideDetail.blockDetail()

    //document.getElementsByClassName('change_button_plate')[0].className = 'change_button_plate personal_my_plate';  //切换我的报价置底按钮

    //document.getElementsByClassName('change_button_plate')[0].className = 'change_button_plate';  //切回人气款的置底按钮

    //点击保存，弹出弹窗
    var personalHold=document.getElementsByClassName('plan_bottom_hold')[0];

    personalHold.addEventListener('click',function () {

        jfShowTips.dialogShow({
            "mainText": "是否保存我的报价内容",
            "minText": " ",
            "hasCheck": true,
            "hasCancel": true,
            "checkFn": function () {

                jfShowTips.dialogRemove();//弹出框消失

            }
        })

        document.getElementsByClassName('dialog_check')[0].innerHTML = '保存';

        document.getElementsByClassName('dialog_cancel')[0].innerHTML = '不保存';

    },false)

</script>










