<div>

    <div class="top_fixed_plate">

        <div class="personal_banner">

            <div class="banner_font_plate">

                <p class="banner_font">人气款</p>

                <p class="banner_price_font">3.37元/人/年</p>

            </div>

        </div>

        <div class="plan_center_bar">

            <span class="bar_left_width">保障范围</span>

            <span>价格(元)</span>

            <span>保障金额</span>

        </div>

    </div>

    <div class="top_banner_pich"></div>

</div>

<!--保障计划的中间部分-->
<div class="shadow_plate ">

    <div class="plan_plate_line">

        <div class="fire_icon_font">

            <div class="person_icon_plate"><img src="../../../images/insurance/person_icon.png"></div>

            <p class="icon_black_font">人身保障</p>

        </div>

    </div>

    <div class="all_plan_plate">

        <div class="none_things_detail">

            <div class="all_plan_things">

                <div class="left_width">

                    <span class="left_font_line">意外人身事故、残疾</span>

                    <div class="question_icon">?</div>

                </div>

                <span>35</span>

                <span>

            <select class="money_select" onchange="selectChange()">
                <option value ="10万元">10万元</option>
            <option value ="20万元">20万元</option>
            <option value="不投保">不投保</option>
            </select>

            </span>

            </div>

            <div class="plan_things_detail">

                <p class="things_detail_font">意外伤害人身事故、残疾</p>

                <p class="things_detail_font">保险责任内容保险责任内容保险责任内容保险责任内容保险责任内容保险责任内容保险责任内容保险责任内容保险责任内容保险责任内容保险责任内容保险责任内容保险责任内容保险责任内容保险责任内容保险责任内容保险责任内容保险责任内容保险责任内容保险责任内容保险责任内容保险责任内容保险责任内容保险责任内容保险责任内容保险责任内容</p>

            </div>

        </div>

        <div class="none_things_detail">

            <div class="all_plan_things">

                <div class="left_width">

                    <span>意外伤害医疗</span>

                    <div class="question_icon">?</div>

                </div>

                <span>35</span>

                <span>

            <select class="money_select" onchange="selectChange()">
                <option value ="10万元">10万元</option>
            <option value ="20万元">20万元</option>
            <option value="不投保">不投保</option>
            </select>

            </span>

            </div>

            <div class="plan_things_detail">

                <p class="things_detail_font">意外伤害医疗</p>

                <p class="things_detail_font">保险责任内容保险责任内容保险责任内容保险责任内容保险责任内容保险责任内容保险责任内容保险责任内容保险责任内容保险责任内容保险责任内容保险责任内容保险责任内容保险责任内容保险责任内容保险责任内容保险责任内容保险责任内容保险责任内容保险责任内容</p>

            </div>

        </div>

        <div class="none_things_detail">

            <div class="all_plan_things">

                <div class="left_width">

                    <span>意外住院津贴</span>

                    <div class="question_icon">?</div>

                </div>

                <span>

            <select class="money_select" onchange="selectChange()">
                <option value ="10万元">10万元</option>
            <option value ="20万元">20万元</option>
            <option value="不投保">不投保</option>
            </select>

            </span>

            </div>

        </div>

        <div class="none_things_detail">

            <div class="all_plan_things">

                <div class="left_width">

                    <span>飞机意外人身事故、残疾</span>

                    <div class="question_icon">?</div>

                </div>

                <span>

            <select class="money_select" onchange="selectChange()">
                <option value ="10万元">10万元</option>
            <option value ="20万元">20万元</option>
            <option value="不投保">不投保</option>
            </select>

            </span>

            </div>

        </div>

        <div class="none_things_detail">

            <div class="all_plan_things">

                <div class="left_width">

                    <span>轨道意外人身事故、残疾</span>

                    <div class="question_icon">?</div>

                </div>

                <span>

            <select class="money_select" onchange="selectChange()">
                <option value ="10万元">10万元</option>
            <option value ="20万元">20万元</option>
            <option value="不投保">不投保</option>
            </select>

            </span>

            </div>

        </div>

        <div class="none_things_detail">

            <div class="all_plan_things">

                <div class="left_width">

                    <span>轮船意外人身事故、残疾</span>

                    <div class="question_icon">?</div>

                </div>

                <span>

            <select class="money_select" onchange="selectChange()">
                <option value ="10万元">10万元</option>
            <option value ="20万元">20万元</option>
            <option value="不投保">不投保</option>
            </select>

            </span>

            </div>

        </div>

        <div class="none_things_detail">

            <div class="all_plan_things">

                <div class="left_width">

                    <span>营运汽车意外人身事故、残疾</span>

                    <div class="question_icon">?</div>

                </div>

                <span>

            <select class="money_select" onchange="selectChange()">
                <option value ="10万元">10万元</option>
            <option value ="20万元">20万元</option>
            <option value="不投保">不投保</option>
            </select>

            </span>

            </div>

        </div>

        <div class="none_things_detail">

            <div class="all_plan_things">

                <div class="left_width">

                    <span>自驾车意外人身事故、残疾</span>

                    <div class="question_icon">?</div>

                </div>

                <span>

            <select class="money_select" onchange="selectChange()">
                <option value ="10万元">10万元</option>
            <option value ="20万元">20万元</option>
            <option value="不投保">不投保</option>
            </select>

            </span>

            </div>

        </div>

        <div class="none_things_detail">

            <div class="all_plan_things">

                <div class="left_width">

                    <span>猝死</span>

                    <div class="question_icon">?</div>

                </div>

                <span>

            <select class="money_select" onchange="selectChange()">
                <option value ="10万元">10万元</option>
            <option value ="20万元">20万元</option>
            <option value="不投保">不投保</option>
            </select>

            </span>

            </div>

        </div>

        <div class="none_things_detail">

            <div class="all_plan_things">

                <div class="left_width">

                    <span>疾病人身事故或全残</span>

                    <div class="question_icon">?</div>

                </div>

                <span>

            <select class="money_select" onchange="selectChange()">
                <option value ="10万元">10万元</option>
            <option value ="20万元">20万元</option>
            <option value="不投保">不投保</option>
            </select>

            </span>

            </div>

        </div>

    </div>

    <div class="plan_plate_line">

        <div class="fire_icon_font">

            <div class="medical_icon_plate"><img src="../../../images/insurance/medical_box_icon.png"></div>

            <p class="icon_black_font">医疗保障</p>

        </div>

    </div>

    <div class="all_plan_plate">

        <div class="none_things_detail">

            <div class="all_plan_things">

                <div class="left_width">

                    <span>急门诊、住院</span>

                    <div class="question_icon">?</div>

                </div>

                <span>

            <select class="money_select" onchange="selectChange()">
                <option value="急门诊1万、住院5万">急门诊1万、住院5万</option>
                <option value ="急门诊2000、住院3000">急门诊2000、住院3000</option>
            </select>

            </span>

            </div>

        </div>

        <div class="all_plan_things">

            <p class="cu_font">急门诊</p>

        </div>

        <div class="none_things_detail">

            <div class="all_plan_things">

                <div class="left_width">

                    <span>年免赔额</span>

                    <div class="question_icon">?</div>

                </div>

                <span>

            <select class="money_select" onchange="selectChange()">
                <option value="200元">200元</option>
                <option value ="500">500</option>
            <option value ="0">0</option>
            </select>

            </span>

            </div>

        </div>

        <div class="none_things_detail">

            <div class="all_plan_things">

                <div class="left_width">

                    <span>赔付比例</span>

                    <div class="question_icon">?</div>

                </div>

                <span>

            <select class="money_select" onchange="selectChange()">
                <option value="70%">70%</option>
                <option value ="80%">80%</option>
            <option value ="90%">90%</option>
                <option value="100%">100%</option>
            </select>

            </span>

            </div>

        </div>

        <div class="all_plan_things">

            <p class="cu_font">住院</p>

        </div>

        <div class="none_things_detail">

            <div class="all_plan_things">

                <div class="left_width">

                    <span>年免赔额</span>

                    <div class="question_icon">?</div>

                </div>

                <span>

            <select class="money_select" onchange="selectChange()">
                <option value="200元">200元</option>
                <option value ="500">500</option>
            <option value ="0">0</option>
            </select>

            </span>

            </div>

        </div>

        <div class="none_things_detail">

            <div class="all_plan_things">

                <div class="left_width">

                    <span>赔付比例</span>

                    <div class="question_icon">?</div>

                </div>

                <span>

            <select class="money_select" onchange="selectChange()">
                <option value="70%">70%</option>
                <option value ="80%">80%</option>
            <option value ="90%">90%</option>
                <option value="100%">100%</option>
            </select>

            </span>

            </div>

        </div>

    </div>

</div>



<script>

    //点击保项展开，收起
    hideDetail.blockDetail()

    //下拉框改变时，标题变化
    function selectChange() {

        document.getElementsByClassName('banner_font')[0].innerHTML = '我的方案';

    }

    //点击保存，弹出弹窗
    var personalHold=document.getElementsByClassName('plan_bottom_hold')[0];

    personalHold.addEventListener('click',function () {

        jfShowTips.dialogShow({
            "mainText": "是否保存我的报价内容",
            "minText": " ",
            "hasCheck": true,
            "hasCancel": true,
            "checkFn": function () {

                jfShowTips.dialogRemove();//弹出框消失

            }
        })

        document.getElementsByClassName('dialog_check')[0].innerHTML = '保存';

        document.getElementsByClassName('dialog_cancel')[0].innerHTML = '不保存';

    },false)

</script>










