<div class="E-card" >
    <div class="card-password">
        <img src=../../images/jiafu-lock.png >
        <span>请输入嘉福E卡密码</span>
    </div>
    <label>
        <input class="Cipher-content" type="text"  placeholder="卡密码不区分大小写">
    </label>
    <div class="electronic-card">
        <img src="../../images/needing-attention.png">
        <span class="details-view">电子卡卡密可至订单详情查看</span>
     </div>

    <div class="bindings-blue">
      <a href="">绑定</a>
    </div>
</div>
