
<!--标题简介-->

<div class="brief_introduction_title">简介</div>

<!--文本详情-->

<div class="introduction_text_place">
    <p class="introduction_text_font">
            “上海都市旅游卡”是一张具有“支付业务许可证”的多功能预付卡，覆盖交通卡所有功能，并可在衣食住行多领域实现小额支付。都市旅游卡发展有限公司是由上海久事公司、上海市旅游局旅游公共服务中心三方投资控股的国有企业。
    </p>
</div>

