<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../css/jf_city_travel_card.css">

</head>
<body>

    <div class="public_signal_place">

        <div class="public_signal_bgd">

            <div class="public_simg_place">

                    <img class="public_signal_img" src="../../images/travel/icon_travel_qr_code.png">

                    <img class="public_signal_logo" src="../../images/travel/icon_travel_logo.png">

            </div>

            <p class="public_signal_font">更多服务请关注都市旅游卡官方微信公众号</p>

        </div>

    </div>

</body>
</html>