
<!--标题购买须知-->

<div class="range_use_title">购买须知</div>

<!--文本详情-->

<div class="range_use_text_place">

    <p class="range_use_text_font">1、上海都市旅游卡是上海公共交通卡旗下高端产品，是兼具公共交通支付和小额消费支付的多用途卡，可用于上海公共交通出行、便利店、超市、商场、旅游景点等应用领域。</p>
    <p class="range_use_text_font">2、本卡可反复充值使用，不记名、不挂失、不提现。底卡押金和卡内余额资金不计付利息。本公司按照法律法规及相关政策规定管理卡内余额资金。</p>
    <p class="range_use_text_font">3、普通卡底卡押金20元/张，底卡可退。非普通卡按本公司定价销售，不可退。</p>
    <p class="range_use_text_font">4、本卡充值以10元为单位，卡内最高储值额不超过1000元。</p>
    <p class="range_use_text_font">5、对于一次性购卡10000元（含）以上的，购卡人应当使用实名并提供有效身份证件。单位一次性购卡金额达5000元（含）以上、个人一次性购卡金额达50000元（含）以上的，需通过银行转账等非现金方式购买，不得使用现金。</p>
    <p class="range_use_text_font">6、本卡有效使用期限是指自前一次充值日起五年内，该卡可以正常使用。每次充值延长有效期五年（自充值之日起）。超过五年期限无充值的，须在本公司充值服务网点办理续用手续。</p>
    <p class="range_use_text_font">7、普通卡可在本公司指定服务网点办理退卡，并退还底卡押金。卡内金额不足10元的，可全额退还；卡内金额高于10元（含）的，应凭购卡凭证在扣除5%的手续费后予以退还。单张卡内金额100元以下的，可采用现金方式退还。一次退卡金额累计大于2000元（含）的须前往指定服务网点办理，凭购卡凭证及本人身份证在扣除卡内金额5%的手续费后予以退还，提前预约的可当场退还，未预约的将在三个工作日内退还。底卡不能使用或卡面、卡体损坏的，不予退卡。卡面、卡体损坏是指出现刻划、弯曲、折叠、断裂、折痕、破损、涂写、粘贴异物、严重污损、印制图案、缺边、缺角、分层、打孔、湿水软化等导致卡受损的情况。</p>
    <p class="range_use_text_font">8、普通卡底卡押金可在指定商户进行抵用消费，具体信息以公司官网（www.sctcd.com）公布为准。</p>
    <p class="range_use_text_font">9、本卡发生故障，持卡人可到本公司指定服务网点进行检测。受理的故障卡必须保证卡面完整，卡号清晰可辨。经检测确属底卡质量问题的，凭受理凭证在7个工作日内免费予以调换。经检测属人为损坏的，普通卡需支付重置费15元/张，原底卡由本公司收回；非普通卡按照《上海都市旅游卡维修业务细则》执行。原卡内金额等值转入新卡。如因持卡人擅自改动本卡导致卡内金额及底卡押金损失的，由持卡人自负。</p>
    <p class="range_use_text_font">10、若持卡人刷卡消费后非因产品质量问题要求退货，须提供商户退货凭证，相应退货款项转入原卡内，不退现金，持卡人需支付每单10元的服务费。</p>
    <p class="range_use_text_font">11、持卡人可在本公司服务网点、自助终端设备上查询最近10笔卡交易记录及卡内金额，显示金额不包括底卡押金。如需查询最近10笔之外的交易记录或打印清单，须在交易发生后30天内携本人有效身份证件前往指定服务网点办理。</p>
    <p class="range_use_text_font">12、本卡在本市公共交通领域的使用应视同公共交通卡，遵守公共交通卡相关使用规定。本卡付费时将卡贴近POS机收费感应区即可。但在乘坐分段、分时计费领域（如轨道交通、部分停车库）时，必须在进、出站（库）时各刷一次，否则该卡将被系统锁住。</p>
    <p class="range_use_text_font">13、本卡业务咨询可致电服务热线962020、12319。本公司服务网点及商户信息以公司官网（www.sctcd.com）公布为准。</p>
    <p class="range_use_text_font">14、本须知自公布之日起施行，如与原须知有冲突之处，以本须知为准。</p>
    <p class="range_use_text_font">上海都市旅游卡发展有限公司</p>
    <p class="range_use_text_font">2017年8月</p>

</div>

