<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>购卡地址</title>
</head>
<body>

    <div class="purchase_address_bgd">

        <img class="purchase_address_img" src="../../images/travel/icon_travel_purchase.jpg">

    </div>

</body>
</html>