
<!--标题购买须知-->

<div class="range_use_title">购买须知</div>

<!--文本详情-->

<div class="range_use_text_place">

    <p class="range_use_text_font">1、“上海都市旅游卡”是具有小额支付功能的IC储值卡，可应用于在本市上海都市旅游卡特约商户和公交、地铁、出租、轮渡、停车场等公共交通领域。上海都市旅游卡特约商户以都市旅游卡公司官网（www.sctcd.com）公布为准。</p>
    <p class="range_use_text_font">2、上海都市旅游卡不记名、不挂失、不计息、不提供取现、转账等其他支付结算服务。</p>
    <p class="range_use_text_font">3、上海都市旅游卡分普通卡和非普通卡两种类别。购买普通卡需支付底卡押金，其中可充值卡20元/张，不可充值卡10元/张，底卡可退。非普通卡按本公司规定收费，底卡不退。</p>
    <p class="range_use_text_font">4、因上海都市旅游卡普通卡可循环使用，故在使用过程中卡背面印刷面值与卡内实际余额可能不一致。</p>
    <p class="range_use_text_font">5、上海都市旅游卡卡内最高储值额不超过1000元，可充值卡可反复充值，充值金额以10元为最低单位。</p>
    <p class="range_use_text_font">6、对于一次性购卡1万元（含）以上的，购卡人应当使用实名并提供有效身份证件。有效身份证件包括但不限于个人身份证、营业执照、事业单位法人证书、税务登记证、组织机构代码证，以及法定代表人和授权经办人员的有效身份证件等。都市旅游卡公司依法进行登记并留存信息。</p>
    <p class="range_use_text_font">7、单位一次性购卡金额达5000元（含）以上或个人一次性购卡金额达5万元（含）以上的，需通过银行转账方式购买，不得使用现金。不接受使用信用卡购买“上海都市旅游卡”。</p>
    <p class="range_use_text_font">8、上海都市旅游卡有效期自购买之日起不小于三年。对于超过使用期限的卡片，持卡人可至指定网点申请续期服务。可充值卡免费续期，不可充值卡续期需缴纳延期服务费人民币10元，每次续期延长有效期五年。</p>
    <p class="range_use_text_font">9、上海都市旅游卡底卡押金可至都市旅游卡公司退卡服务网点办理退卡或在指定特约商户进行底卡抵用消费，具体退卡服务网点及商户以公司官网公布为准。退卡仅限普通卡。底卡性能完好且卡面完好、卡体无损的，给予退卡，底卡由本公司收回；底卡不能使用或卡面、卡体损坏的，不予退卡。卡面、卡体损坏是指出现刻划、弯曲、折叠、断裂、折痕、破损、涂写、粘贴异物、严重污损、印制图案、缺边、缺角、分层、打孔、湿水软化导致卡受损等现象。</p>
    <p class="range_use_text_font">10、若卡片故障，持卡人可到都市旅游卡公司指定服务网点进行检测。受理的故障卡必须保证卡面完整，卡号清晰可辨。经检测确属底卡质量问题且在质保期内的，凭办理时的业务凭证在7个工作日内免费予以调换；经检测属人为损坏的，持卡人需依照卡片成本支付维修费用，该费用从卡内扣除，不可充值卡制作成本费为10元/张，可充值卡制作成本费20元/张。若卡内余额不足新卡制作成本费，则不予受理。如因持卡人擅自改动本卡导致卡内余额及底卡金损失的，由持卡人自负。</p>
    <p class="range_use_text_font">11、使用“上海都市旅游卡”消费后，若依照持卡人要求进行退货交易，则所有相应退货的款项应直接转入卡账户内，不得以退货方式套取现金。持卡人需为退货交易支付每单10元的服务费。</p>
    <p class="range_use_text_font">12、使用上海都市旅游卡时，余额会显示于POS机具或打印于收据上。持卡人也可在公共交通卡充值机、各特约商户的POS机具、各服务网点的验卡机、网上充设备、自助—体机免费查询余额。查询余额时，POS机或读卡器上显示的余额不包括底卡押金。</p>
    <p class="range_use_text_font">13、持卡人可在轨道交通站点服务中心或自助终端对本卡最近10笔交易记录进行查询。如需查询最近10笔之外的交易记录或打印清单的，须在交易发生后30天内前往指定地点查询。</p>
    <p class="range_use_text_font">14、本卡在公共交通领域的使用需遵守《上海公共交通卡购买使用须知》及相关行业规定。</p>
    <p class="range_use_text_font">15、以上业务咨询及办理可致电服务热线962020或访问旅游卡官网查询。</p>
    <p class="range_use_text_font">16、本须知未尽事宜按照《上海都市旅游卡章程》执行。</p>
    <p class="range_use_text_font">上海都市旅游卡发展有限公司</p>
    <p class="range_use_text_font">二O一六年六月</p>

</div>

