<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <!--标题购买须知-->

    <div class="range_use_title">购买须知</div>

    <!--文本详情-->

    <div class="range_use_text_place">

        <p class="range_use_text_font">1、“上海都市旅游卡”是具有小额支付功能的IC储值卡，可应用于在本市上海都市旅游卡特约商户和公交、地铁、出租、轮渡、停车场等公共交通领域。上海都市旅游卡特约商户以都市旅游卡公司官网（www.sctcd.com）公布为准。</p>
        <p class="range_use_text_font">2、上海都市旅游卡不记名、不挂失、不计息、不提供取现、转账等其他支付结算服务。</p>
        <p class="range_use_text_font">3、上海都市旅游卡分普通卡和非普通卡两种类别。购买普通卡需支付底卡押金，其中可充值卡20元/张，不可充值卡10元/张，底卡可退。非普通卡按本公司规定收费，底卡不退。</p>
        <p class="range_use_text_font">4、因上海都市旅游卡普通卡可循环使用，故在使用过程中卡背面印刷面值与卡内实际余额可能不一致。</p>
        <p class="range_use_text_font">5、上海都市旅游卡卡内最高储值额不超过1000元，可充值卡可反复充值，充值金额以10元为最低单位。</p>
        <p class="range_use_text_font">6、对于一次性购卡1万元（含）以上的，购卡人应当使用实名并提供有效身份证件。有效身份证件包括但不限于个人身份证、营业执照、事业单位法人证书、税务登记证、组织机构代码证，以及法定代表人和授权经办人员的有效身份证件等。都市旅游卡公司依法进行登记并留存信息。</p>
        <p class="range_use_text_font">7、单位一次性购卡金额达5000元（含）以上或个人一次性购卡金额达5万元（含）以上的，需通过银行转账方式购买，不得使用现金。不接受使用信用卡购买“上海都市旅游卡”。</p>
        <p class="range_use_text_font">8、上海都市旅游卡有效期自购买之日起不小于三年。对于超过使用期限的卡片，持卡人可至指定网点申请续期服务。可充值卡免费续期，不可充值卡续期需缴纳延期服务费人民币10元，每次续期延长有效期五年。</p>
        <p class="range_use_text_font">9、上海都市旅游卡底卡押金可至都市旅游卡公司退卡服务网点办理退卡或在指定特约商户进行底卡抵用消费，具体退卡服务网点及商户以公司官网公布为准。退卡仅限普通卡。底卡性能完好且卡面完好、卡体无损的，给予退卡，底卡由本公司收回；底卡不能使用或卡面、卡体损坏的，不予退卡。卡面、卡体损坏是指出现刻划、弯曲、折叠、断裂、折痕、破损、涂写、粘贴异物、严重污损、印制图案、缺边、缺角、分层、打孔、湿水软化导致卡受损等现象。</p>
    </div>

</body>
</html>