<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <!--标题使用范围-->

    <div class="range_use_title">使用范围</div>

    <!--文本详情-->

    <div class="range_use_text_place">
        <p class="range_use_text_font">可在太仓(公交)、金华(公交)、宜兴(公交)、宁波(公交)、绍兴(公交)、湖州(公交)、台州(公交)、常熟(公交)、昆山(公交)、江阴(公交)、淮安(公交)、启东、无锡(公交、地铁)、南通(公交)、泰州(公交)、长兴(公交)、舟山(公交)、嘉兴(公交)、义乌(公交)、温州(公交、轮渡)使用</p>
    </div>

</body>
</html>