<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../css/jf_city_travel_card.css">

</head>
<body>

    <!--圈存流程-->

        <div class="transfer_process_bgd">

            <a href="travel_card_transfer_machine.html">
                <p class="transfer_process_font">圈存机地址>></p>
            </a>

            <img class="transfer_process_img" src="../../images/travel/icon_travel_flow.jpg">

        </div>

</body>
</html>