<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <!--圈存机地址-->

    <div class="transfer_process_bgd">

    <img class="transfer_process_img" src="../../images/travel/icon_travel_address.jpg">

    </div>

</body>
</html>