<!DOCTYPE html>
<html lang="en">
<head>
    <title>WeUI-pay</title>
    <link rel="stylesheet" href="../../css/jf_iou.css">


</head>

<body class="ovfHiden qiao1104">
<nav class="Top_navigation">
    <div class="weui_tab_bd"></div>
    <div class="container_tab"> <a onclick="jfSwitch.goBack()">
        <div class="nav_left"><img src="../../images/icon_pay_return.png"></div>
    </a>
        <div class="nav_center">
            <div>&#x5F85;&#x8FD8;&#x6B3E;</div>
        </div>
        <a href="#">
            <div class="nav_right"></div>
        </a> </div>
</nav>

     <!--中间内容部分-->
     <div class="jf_IOU_returnMidbody">
         <a onclick="location=&apos;borrowinfo.html&apos;">
             <div class="return_items return_itemsfirst">
            <span style="display: inline-block">
                <p id="current_returnmoney">&#xFFE5;<span>8000.00</span></p>
                <span class="return_time">&#x8FD8;&#x6B3E;&#x65E5;&#xFF1A;<span>2016&#x5E74;9&#x6708;26&#x65E5;</span></span>
            </span>
            <span>
                <label>&#x5DF2;&#x903E;&#x671F;</label>
                <img src="../../images/huikabao/icon_arrow.png" width="15px" height="15px">
            </span>
             </div>
         </a>
         <a onclick="location=&apos;borrowinfo.html&apos;">
             <div class="return_items">
            <span style="display: inline-block">
                <p>&#xFFE5;<span>8000.00</span></p>
                <span class="return_time">&#x8FD8;&#x6B3E;&#x65E5;&#xFF1A;<span>2016&#x5E74;9&#x6708;26&#x65E5;</span></span>
            </span>
            <span>
               <img src="../../images/mine/icon_mine_arrow.png" width="15px" height="15px">
            </span>
             </div>
         </a>
         <p>*&#x9010;&#x7B14;&#x6309;&#x8FD8;&#x6B3E;&#x65E5;&#x5148;&#x540E;&#x987A;&#x5E8F;&#x8FD8;&#x6B3E;</p>
     </div>

<script type="text/javascript" src="../../js/jf_iou.js"></script>
</body>



</html>
