

<!--提示-->


<!--如需其他样式在下方a标签class值中添加-->

<!--超时、关闭状态class值为“lood_style”；审核未通过状态class值为“fail_style”-->

<a class="jd_notice ">

    <div class="tab_bd"></div>

    <div class="recharge_balance">

        <img src="../../images/claims/icon_warning.png">
        <span>
        <p>保障期开始后生效</p>
        </span>
    </div>

</a>


<!--步骤状态-->

<!--

需报案状态class值“claims_order_cp”；

不需报案状态class值“claims_order”;

不显示步骤部分class值“claims_order_none”

-->

<div class="claims_order_cp">

    <!--报案状态下致电部分-->

       <a class="cop_step" href="tel:400-0000-0000">

           <span class="step_icon blue_111"></span>

           <div class="step_text">

               <!--修改颜色，在下方P标签中添加class值“st_blue_text”蓝色；“st_red_text”红色-->

               <p class="st_text_up st_blue_text">向嘉福报案</p>

       <!--如需不显示日期，在下方P标签中添加class值“st_none”-->

               <p class="st_none">2018年01月01日</p>

           </div>

       </a>


    <div class="claims_step">

        <!--修改颜色，在下方span标签中修改class值“blue_1”蓝色；“red_1”红色-->

        <span class="step_icon blue_1"></span>

        <div class="step_text">

            <!--在下方span标签中修改class值“gray_2”灰色icon;“blue_2”蓝色icon；“red_2”红色icon-->

            <p class="st_text_up st_blue_text">发起理赔</p>

            <!--如需不显示日期，在下方P标签中添加class值“st_none”-->

            <p class="st_text_down">2018年01月01日</p>

        </div>

    </div>


    <div class="claims_step ">

        <!--在下方span标签中修改class值“gray_2”灰色icon;“blue_2”蓝色icon；“red_2”红色icon-->

        <span class="step_icon gray_2"></span>

        <div class="step_text">

            <!--修改颜色，在下方P标签中添加class值“st_blue_text”蓝色；“st_red_text”红色-->

            <p class="st_text_up ">通过审核</p>

            <!--如需不显示日期，在下方P标签中添加class值“st_none”-->

            <p class="st_text_down ">2018年01月01日</p>

        </div>

    </div>


    <div class="claims_step">

        <!--在下方span标签中添加class值“gray_3”灰色icon;“blue_3”蓝色icon；“-->

        <span class="step_icon gray_3"></span>

        <div class="step_text">

            <!--修改颜色，在下方P标签中添加class值“st_blue_text”蓝色；“st_red_text”红色-->

            <p class="st_text_up">打款到账</p>

            <!--如需不显示日期，在下方P标签中添加class值“st_none”-->

            <p class="st_text_down st_none">2018年01月01日</p>

        </div>

    </div>

</div>

<!--身份信息-->

<div class="details_inf">

    <div class="inf_line">

        <div class="inf_left">

            <img src="../../images/claims/pr_icon.png">

            <span>申请保障</span>

        </div>

        <span>急门诊</span>

    </div>

    <div class="inf_line">

        <div class="inf_left">

            <img src="../../images/claims/list_icon.png">

            <span>理赔单号</span>

        </div>

        <span>12345678901234567890</span>

    </div>

    <div class="inf_line">

        <div class="inf_left">

            <img src="../../images/claims/number_of.png">

            <span>被保险人</span>

        </div>

        <span>京晶婧</span>

    </div>

    <div class="inf_line">

        <div class="inf_left">

            <img src="../../images/claims/id_icon.png">

            <p>证件号码(<span>身份证</span>)</p>

        </div>

        <span>12345678901234567***</span>

    </div>

    <div class="inf_line">

        <div class="inf_left">

            <img src="../../images/claims/phone_icon.png">

            <p>手机号码</p>

        </div>

        <span>18799990000</span>

    </div>

    <div class="inf_line">

        <div class="inf_left">

            <img src="../../images/claims/id_card_icon.png">

            <p>收款账户</p>

        </div>

        <span>建设银行[*8090]</span>

    </div>

</div>

<!--上传照片-->

<div class="refund_photo">
    <div class="type_title">
        <div class="title_a">
        <p>上传单据资料照片</p>
            <a href="claims_explain.html">
                <div class="title_b">
                    <img src="../../images/claims/q_icon.png">
                    <p>上传单据资料说明</p>
                </div>
            </a>
        </div>
        <p class="font_middle_gary"><span id="image_length">0</span>/10</p>
    </div>
    <div class="photo_content">
        <!-- 选择框-->
        <!--<div class="choose_file">
            &lt;!&ndash; 缩略图 &ndash;&gt;
            <img src="../../images/banner_1.jpg" class="thumbnail_img">
            &lt;!&ndash; 背景图&ndash;&gt;

            &lt;!&ndash; 上传照片&ndash;&gt;

            &lt;!&ndash; 删除按钮&ndash;&gt;
            <div class="delete_img"></div>
        </div>-->

        <!-- 选择框-->
        <div class="choose_file">
            <img src="../../images/claims/in_up.png">
            <input type="file" multiple="multiple" accept="image/*" readonly="">
        </div>


    </div>
</div>

<!-- 弹出框-->

<div class="service_pop_up" id="servicePopUp">

    <!-- 背景-->

    <div class="service_shadow" id="serviceShadow"></div>

    <div class="delete_pic">X</div>

    <!-- 内容 -->

    <div class="service_show_content">
        <div class="img_content"></div>
    </div>



</div>


<!--联系客服-->

<!--<div class="kefu">-->

    <!--<div class="icon"><img src="../../images/claims/phone_icon.png"></div>-->

    <!--<span>联系客服</span>-->



<!--</div>-->

<div class="none"></div>

<!----底部按钮---->

<!--底部按钮，未通过状态class值“claims_btn_fl”；正常详情class值“claims_btn_ov”-->

<div class="claims_btn_fl">

    <a href="#" class="fl_left">撤销申请</a>

    <a href="#" class="fl_right">重新提交</a>

    <a href="#" class="fl_all">撤销申请</a>

</div>



<script>


   jfReturnService.addPhoto()

   jfReturnService.chooseImgShow()


</script>