<!DOCTYPE html>
<html>
<head>
    <title>嘉福服务</title>
    <link rel="stylesheet"  href="../../css/jf_service.css">
</head>

<body>

<!--导航-->
<nav class="Top_navigation">
    <div class="weui_tab_bd"></div>
    <div class="container_tab"> <a>
            <div class="nav_left" id="nav_left"></div>
        </a>
        <div class="nav_center">
            <div>嘉福服务</div>
        </div>
        <a>
            <div class="nav_right"></div>
        </a>
    </div>
</nav>

<!--中间服务内容-->
<div class="service_qiao">

    <div class="jf_service">
        <!--生活服务-->
        <div class="jf_service_life">
            <!--名称-->
            <div class="jf_service_title">生活服务</div>
            <!--服务类别-->
            <div class="jf_service_details">

                <!--福利集市-->
                <a href="../welfare_market/homepage.html">
                    <img src="../../icon/icon_jfservice_market.png">
                    <p>福利集市</p>
                </a>

                <!--信用卡还款-->
                <a href="../vip/credit_card_payments.html">
                    <img src="../../icon/icon_jfservice_crediet.png">
                    <p>&#x4FE1;&#x7528;&#x5361;&#x8FD8;&#x6B3E;</p>
                </a>
                <!--支付宝-->
                <a href="#">
                    <img src="../../icon/icon_jfservice_zfb.png">
                    <p>&#x652F;&#x4ED8;&#x5B9D;</p>
                </a>

                <!--附近优惠-->
                <a href="#">
                    <img src="../../icon/icon_jfservice_discount.png">
                    <p>&#x9644;&#x8FD1;&#x4F18;&#x60E0;</p>
                </a>

                <!--话费充值-->
                <a href="#">
                    <img src="../../icon/icon_jfservice_phonepay.png">
                    <p>&#x8BDD;&#x8D39;&#x5145;&#x503C;</p>
                </a>


                <!--大众点评-->
                <a href="#">
                    <img src="../../icon/icon_jfservice_dianping.png">
                    <p>&#x5927;&#x4F17;&#x70B9;&#x8BC4;</p>
                </a>

                <!--流量充值-->
                <a href="#">
                    <img src="../../icon/icon_jfservice_phoneflow.png">
                    <p>&#x6D41;&#x91CF;&#x5145;&#x503C;</p>
                </a>
                <!--携程-->
                <a href="../ctrip/open_account.html">
                    <img src="../../icon/icon_jfservice_ctrip.png">
                    <p>携程</p>
                </a>
                <!--中石化-->
                <a href="#">
                    <img src="../../icon/icon_jfservice_zsh.png">
                    <p>&#x4E2D;&#x77F3;&#x5316;&#x52A0;&#x6CB9;</p>
                </a>

                <!--都市旅游卡-->
                <a href="../city_travel_card/travel_card_guide_page.html">
                    <img src="../../icon/icon_jfservice_travel.png">
                    <p>都市旅游卡</p>
                </a>

                <!--车险-->
                <a href="#">
                    <img src="../../icon/icon_jfservice_car.png">
                    <p>&#x8F66;&#x9669;</p>
                </a>

                <!--微医-->
                <a href="../micro_medicine/disclaimer.html">
                    <img src="../../icon/icon_jfservice_Micro.png">
                    <p>微医</p>
                </a>

                <!--微医-->
                <a href="../gas_filling_card/recharge_card.html">
                    <img src="../../icon/icon_Gas_station.png">
                    <p>加油卡充值</p>
                </a>


            </div>
        </div>

        <!--金融服务-->
        <div class="jf_service_life">
            <!--名称-->
            <div class="jf_service_title">金融服务</div>
            <!--服务类别-->
            <div class="jf_service_details">

                <!--借条-->
                <a href="#">
                    <img src="../../icon/icon_jfservice_iou.png">
                    <p>&#x85AA;&#x8D44;&#x9884;&#x652F;</p>
                </a>
                <!--理财-->
                <a href="../financial/financial_main_revise.html">
                    <img src="../../icon/icon_jfservice_finanical.png">
                    <p>福利增值</p>
                </a>
            </div>
        </div>
    </div>
</div>

<!--引导页面1-->
<div class="service_inform page_one" style="display: none">
<img src="../../images/service_page1.jpg">
    <button class="page_one_btn">去看看</button>
</div>

<!--引导页面2-->
<div class="service_inform page_two" style="display: none">
    <img src="../../images/service_page2.jpg">
    <button class="page_two_btn">我知道了</button>
</div>



<!-- 固定下 -->
<div class="tabbar">
    <div class="">
        <div class="weui_tab_bd"></div>
        <div class="weui_tabbar">
            <a href="../homepage/homepage.html" class="weui_tabbar_item ">
                <div class="weui_tabbar_icon">
                    <img src="../../icon/icon_homepage_home_black.png" alt="">
                    <img src="../../icon/icon_homepage_home_blue.png" alt=""></div>
                <p class="weui_tabbar_label">首页</p>
            </a>
            <a href="" class="weui_tabbar_item on">
                <div class="weui_tabbar_icon">
                    <img src="../../icon/icon_homepage_sort_black.png" alt="">
                    <img src="../../icon/icon_homepage_sort_blue.png" alt="">
                </div>
                <p class="weui_tabbar_label">服务</p>
            </a>

            <a href="" class="weui_tabbar_item jd_red">
                <div class="weui_tabbar_icon" id="endFlyCar">
                    <img src="../../icon/icon_homepage_dog_black.png" alt="">
                    <img src="../../icon/icon_homepage_dog_blue.png" alt="">
                </div>
                <p class="weui_tabbar_label">京东</p>
            </a>
            <a href="../cards/market_channel_page.html" class="weui_tabbar_item">
                <div class="weui_tabbar_icon" id="endFlyCar">
                    <img src="../../icon/icon_homepage_card_black.png" alt="">
                    <img src="../../icon/icon_homepage_card_blue.png" alt="">
                </div>
                <p class="weui_tabbar_label">卡券</p>
            </a>
            <a href="../mine/mine.html" class="weui_tabbar_item ">
                <div class="weui_tabbar_icon">
                    <img src="../../icon/icon_homepage_people_black.png" alt="">
                    <img src="../../icon/icon_homepage_people_blue.png" alt="">
                    <span class="message_show"></span>
                </div>
                <p class="weui_tabbar_label">我的</p>
            </a>
        </div>
    </div>
</div>
<script>

    //引导页面1
    document.getElementsByClassName('page_one_btn')[0].addEventListener('click',function(){

        document.getElementsByClassName('page_one')[0].style.display="none"

    },false)

    //引导页面2
    document.getElementsByClassName('page_two_btn')[0].addEventListener('click',function(){

        document.getElementsByClassName('page_two')[0].style.display="none"

    },false)

</script>
</body>



</html>