

<div class="insurance_tabbar">

        <div class="weui_tab_bd"></div>
        <div class="weui_tabbar">

            <a href="#" class="tabbar_item on">
                <div class="tabbar_icon">
                    <img src="../../images/insurance/insurance_blue_home.png" alt="">
                    <img src="../../images/insurance/insurance_black_home.png" alt="">
                </div>
                <p class="tabbar_text">团体保险</p>
            </a>


            <a href="#" class="tabbar_item ">
                <div class="tabbar_icon">
                    <img src="../../images/insurance/insurance_blue_order.png" alt="">
                    <img src="../../images/insurance/insurance_black_order.png" alt="">
                </div>
                <p class="tabbar_text">保障订单</p>
            </a>


        </div>

</div>