/***底部按钮***/
.plan_bottom_plate {
  width: 100%;
  background: linear-gradient(to bottom, rgba(242, 242, 242, .5), rgba(242, 242, 242, 1));
  position: fixed;
  padding: 5px 0;
  bottom: -1px;
  transition: all .5s linear;

  /***人气款***/
  .plan_bottom_hold {
    width: 90%;
    margin: 0 auto;
    background: linear-gradient(to right, rgba(35, 179, 236, 1), rgba(17, 128, 199, 1));
    display: block;
    color: #FFFFFF;
    font-size: 16px;
    text-align: center;
    padding: 10px 0;
    border-radius: 50px;
  }

}