<div class="change_button_plate">

    <div class="footer_pich"></div>



    <!--右边两个短按钮以及中间两个按钮-->
    <div class="details_bottom_plate right_two_btn">


        <div class="bottom_text blue_text">总价：<span>1255元</span></div>

        <div class="right_two_botton">

            <a class="bottom_right left_btn_color">重新提交</a>

            <a class="bottom_right right_btn_color">撤销</a>
        </div>
    </div>

</div>