<div class="change_button_plate">

    <div class="footer_pich"></div>

    <!--右边两个短按钮-->
    <div class="details_bottom_plate right_short_btn">

        <div class="guarantee_plan_plate">

            <div class="product_bottom_line">

                <div></div>

                <div class="right_two_botton">
                    <button class="bottom_right left_btn_color">重新提交</button>

                    <button class="bottom_right right_btn_color">撤销</button>
                </div>

            </div>

        </div>

    </div>

</div>