<!--
<div class="change_button_plate">

    <div class="footer_pich"></div>

    &lt;!&ndash;右边一个短按钮&ndash;&gt;
    <div class="details_bottom_plate right_short_btn">

        <div class="guarantee_plan_plate">

            <div class="product_bottom_line">

                <div></div>

                <a class="bottom_button_block bottom_button_blue">撤销投保</a>

            </div>

        </div>

    </div>

</div>-->


<div class="change_button_plate">

    <div class="footer_pich"></div>


    <!--右边一个按钮-->
    <div class="details_bottom_plate right_one_btn">

        <!--  <div></div>-->
        <a>撤销投保</a>

    </div>



</div>
