<div class="change_button_plate">

    <div class="footer_pich"></div>

    <!--我的报价-->
    <div class="plan_bottom_plate">

        <div class="my_bottom_plate">

            <a class="bottom_left_btn left_btn_color">一键恢复人气款报价</a>

            <a class="bottom_left_btn right_btn_color">保存</a>

        </div>

    </div>

</div>