<div class="wal_mart_tab">
    <div class="tab_box"></div>
    <div class="tab_contain jdshop_shadow">
        <div class="tab choose_tab">购买付款码</div>
        <div class="tab">我的付款码</div>
    </div>
</div>

<div class="wal_mart_content">

    <!-- 购买付款码-->
    <div class="wal_mart_list ">

        <!--输入金额-->
        <div class="wal_mart_import">

            <span class="wal_mart_money">请输入金额</span>

            <div class="wal_mart_input">

                <div class="buy_icon">￥</div>

                <div class="buy_number" >
                    <div class="keyNumshow"></div>
                    <input readonly value="" class="wal_mart_input" placeholder="">
                </div>

                <div class="num_delete"><img src="../../images/credit_card/close.png"></div>

            </div>

            <div class="wal_mart_whole">


                <div class="wal_mart_text">

                    <p>最低30元起，金额整十递进，封顶1000元</p>

                    <a class="wal_mart_help" href="#">
                        <img src="../../images/credit_card/icon_credit_card_3.png" class="tips_ti_none">
                    </a>

                </div>


            </div>


        </div>

        <!--按钮-->
        <div class="btn_box">

            <button class="credit_card_button" disabled >立即购买</button>

        </div>

    </div>

    <!-- 我的付款码 -->

    <div class="wal_mart_list show">

        <!-- 二维码 -->

        <div class="payment_code">

            <div class="name">
                <div><img src="../../images/wal_mart/code.png"></div>
                <div>
                    <p>沃尔玛付款码</p>
                    <p>有限期至：2019-09-10</p>
                </div>
            </div>

            <div class="details">
                <div>余额<span>￥<span>2.23</span></span></div>
                <div>查看交易明细<img src="../../images/icon_history_right.png"></div>
            </div>


        </div>

        <div class="payment_code">

            <div class="name">
                <div><img src="../../images/wal_mart/code.png"></div>
                <div>
                    <p>沃尔玛付款码</p>
                    <p>有限期至：2019-09-10</p>
                </div>
            </div>

            <div class="details">
                <div>余额<span>￥<span>2.23</span></span></div>
                <div>查看交易明细<img src="../../images/icon_history_right.png"></div>
            </div>


        </div>

        <div class="payment_code">

            <div class="name">
                <div><img src="../../images/wal_mart/code.png"></div>
                <div>
                    <p>沃尔玛付款码</p>
                    <p>有限期至：2019-09-10</p>
                </div>
            </div>

            <div class="details">
                <div>余额<span>￥<span>2.23</span></span></div>
                <div>查看交易明细<img src="../../images/icon_history_right.png"></div>
            </div>


        </div>

        <div class="payment_code">

            <div class="name">
                <div><img src="../../images/wal_mart/code.png"></div>
                <div>
                    <p>沃尔玛付款码</p>
                    <p>有限期至：2019-09-10</p>
                </div>
            </div>

            <div class="details">
                <div>余额<span>￥<span>2.23</span></span></div>
                <div>查看交易明细<img src="../../images/icon_history_right.png"></div>
            </div>


        </div>

        <!-- 失效-->

        <div class="payment_code invalid_code">

            <div class="name">
                <div><img src="../../images/wal_mart/code.png"></div>
                <div>
                    <p>沃尔玛付款码</p>
                    <p>有限期至：2019-09-10</p>
                </div>
            </div>

            <div class="details">
                <div>余额<span>￥<span>2.23</span></span></div>
                <div>查看交易明细<img src="../../images/icon_history_right.png"></div>
            </div>


        </div>

        <div class="payment_code">

            <div class="name">
                <div><img src="../../images/wal_mart/code.png"></div>
                <div>
                    <p>沃尔玛付款码</p>
                    <p>有限期至：2019-09-10</p>
                </div>
            </div>

            <div class="details">
                <div>余额<span>￥<span>2.23</span></span></div>
                <div>查看交易明细<img src="../../images/icon_history_right.png"></div>
            </div>


        </div>

        <div class="payment_code">

            <div class="name">
                <div><img src="../../images/wal_mart/code.png"></div>
                <div>
                    <p>沃尔玛付款码</p>
                    <p>有限期至：2019-09-10</p>
                </div>
            </div>

            <div class="details">
                <div>余额<span>￥<span>2.23</span></span></div>
                <div>查看交易明细<img src="../../images/icon_history_right.png"></div>
            </div>


        </div>





    </div>


</div>