<!DOCTYPE html>
<html lang="en">
<head>

    <title>滴滴出行</title>
    <link rel="stylesheet" href="../../css/jf_didi_out.css">

</head>
<body>

<!--订单详情-->
<%- include('../../component/didi_out/didi_rule.ejs')%>

</body>
</html>