<div class="jiafu_mine">
    <!--背景-我的-->
    <div class="mine_bg">
        <a class="mine_imf" href="personal_information.html">
            <div>
                <div class="name_cricle"><span>&#x4E2D;&#x7172;</span></div>
                <div class="name_imf">
                    <p>&#x5E84;&#x4E2D;&#x7172;</p>
                    <p>&#x4E0A;&#x6D77;&#x5E84;&#x4E2D;&#x7172;&#x9910;&#x996E;&#x6709;&#x9650;&#x516C;&#x53F8;</p>
                </div>
            </div>
            <div class="mine_arrow"><img src="../../images/icon_pay_return.png"></div>
        </a>

        <a class="mine_asset" href="welfare.html">
            <div>
                <div class="mine_money">19675.67</div>
                <div class="mine_title">&#x67E5;&#x770B;&#x8D44;&#x4EA7;&#x660E;&#x7EC6;</div>
            </div>
            <div class="mine_arrow" href="#"><img src="../../images/icon_pay_return.png"></div>
        </a>

    </div>
    <!--背景我的 结束-->
    <!--我的订单-->
    <div class="mine_order mine_shadow">
        <div><a href="../Weui-list/Order-details-list-penging.html">
                <p class="mine_icon"><img src="../../images/mine/icon_mine_1.png"></p>
                <p>&#x5F85;&#x4ED8;&#x6B3E;</p>
                <!--如有待办项 加class即可-->
                <span class="mine_boom">6</span> </a></div>
        <div><a href="../Weui-list/Order-details-list-handing.html">
                <p class="mine_icon"><img src="../../images/mine/icon_mine_2.png"></p>
                <p>&#x5904;&#x7406;&#x4E2D;</p>
                <span class="mine_boom">19</span>
            </a></div>
        <div><a href="../Weui-list/Order-details-list-refund.html">
                <p class="mine_icon"><img src="../../images/mine/icon_mine_3.png"></p>
                <p>&#x5DF2;&#x9000;&#x6B3E;</p>
                <span></span>
            </a></div>
        <div><a href="../Weui-list/Order-details-list-success.html">
                <p class="mine_icon"><img src="../../images/mine/icon_mine_4.png"></p>
                <p>&#x4EA4;&#x6613;&#x6210;&#x529F;</p>
                <span></span>
            </a></div>
        <div class="view_order"><a href="my_order_list.html">
                <p class="mine_icon"><img src="../../images/mine/icon_mine_5.png"></p>
                <p>&#x67E5;&#x770B;&#x8BA2;&#x5355;<span><img src="../../images/mine/icon_mine_arrow.png"></span></p>
            </a></div>
    </div>
    <!--我的订单结束-->
    <!--查看我的钱包-->


    <div class="mine_wallet mine_shadow">
        <div class="jf_lists">

            <a class="jf_list jf_list_access" href="../welfare_transfer/welfare.html">
                <div class="jf_list_pic balance_title_icon"><img src="../../images/mine/icon_mine_welfare.png"></div>
                <div class="jf_list_bd">
                    <p>福利余额</p>
                </div>
                <div class="jf_list_ft jf_list_arrow litter_text">5000.00</div>
            </a>

            <a class="jf_list jf_list_access" href="../cash_account/cash_balance_management.html">

                <div class="jf_list_pic balance_title_icon"><img src="../../images/mine/icon_mine_moneybag.png"></div>


                <div class="jf_list_bd">
                    <p>现金余额</p>
                </div>
                <div class="jf_list_ft jf_list_arrow litter_text">5000.00</div>
            </a>

            <a class="jf_list jf_list_access" href="../fudou/fudou_management.html">

                <div class="jf_list_pic balance_title_icon"><img src="../../images/fudou/icon_mine_fudou.png"></div>


                <div class="jf_list_bd">
                    <p>福豆</p>
                </div>
                <div class="jf_list_ft jf_list_arrow litter_text">1234</div>
            </a>

            <a class="jf_list jf_list_access" href="../market_code/code_list.html">

                <div class="jf_list_pic balance_title_icon"><img src="../../images/market_code/mine_R_code.png"></div>


                <div class="jf_list_bd">
                    <p>付款码账单</p>
                </div>
                <div class="jf_list_ft jf_list_arrow litter_text"></div>
            </a>

            <a class="jf_list jf_list_access" href="../financial/financial_main_revise.html">

                <div class="jf_list_pic balance_title_icon"><img src="../../images/mine/icon_mine_finanical.png"></div>


                <div class="jf_list_bd">
                    <p>福利增值</p>
                </div>
                <div class="jf_list_ft jf_list_arrow litter_text">5000.00</div>
            </a>

            <a class="jf_list jf_list_access">

                <div class="jf_list_pic balance_title_icon"><img src="../../images/mine/icon_mine_iou.png"></div>


                <div class="jf_list_bd">
                    <p>薪资预支</p>
                </div>
                <div class="jf_list_ft jf_list_arrow litter_text">5000.00</div>
            </a>

            <a class="jf_list jf_list_access">

                <div class="jf_list_pic balance_title_icon"><img src="../../images/mine/icon_mine_discount.png"></div>


                <div class="jf_list_bd">
                    <p>优惠券</p>
                </div>
                <div class="jf_list_ft jf_list_arrow litter_text">10张</div>
            </a>


        </div>
    </div>

    <!--钱包结束-->
    <!--增值服务-->
    <div class="mine_service mine_shadow">
        <div class="mine_list">&#x589E;&#x503C;&#x670D;&#x52A1;</div>
        <div class="mine_contain">
            <!--1-->
            <a class="wallet_box" href="../../html/carInsurance/insurance_car_step_9.html">
                <p><img src="../../images/mine/icon_mine_car.png"></p>
                <p>&#x8F66;&#x9669;</p>
            </a>
            <!--2-->

            <!--3-->
            <a class="wallet_box" href="../../html/huikabao/card_bag_modify.html">
                <p><img src="../../images/mine/icon_mine_card.png"></p>
                <p>&#x5361;&#x5305;</p>
            </a>
            <!--4-->
            <div class="wallet_box" onclick="jfCustomerService.click()">
                <p><img src="../../images/mine/icon_mine_feedback.png"></p>
                <p>&#x610F;&#x89C1;&#x53CD;&#x9988;</p>
            </div>
            <!--5-->
            <a class="wallet_box" href="../helpcenter/menu.html">
                <p><img src="../../images/mine/icon_mine_faq.png"></p>
                <p>&#x5E2E;&#x52A9;&#x4E2D;&#x5FC3;</p>
            </a>
        </div>
    </div>

    <!--增值服务 结束-->

</div>