


<div class="jf_meituan_information">



    <div class="meituan_information_content">

    <a class="service_type_information" href="#">

        <div class="service_icon mass"><img src="../../icon/jf_enterprise.png"></div>
        <div class="service_title">企业餐饮</div>

    </a>


    <a class="service_type_information" href="#">

        <div class="service_icon second" ><img src="../../icon/jf_meituan.png"></div>
        <div class="service_title hungry">美团外卖</div>

    </a>

    <a class="service_type_information" href="#">

        <div class="service_icon people"><img src="../../icon/jf_personal.png"></div>
        <div class="service_title personal">个人中心</div>

    </a>

    </div>

</div>