<!--账户充值-内容-->
<div class="recharge_section">
    <div class="section_tab">
        <a class="recharge_title">充值</a>
        <a class="recharge_title">账户查询</a>
    </div>
    <div class="section_value">
        <div class="value_number">
            <div>50.00元</div>
            <div class="value_text">售价：49.75元</div>
        </div>
        <div class="value_number">
            <div>50.00元</div>
            <div class="value_text">售价：49.75元</div>
        </div>
        <div class="value_number">
            <div>50.00元</div>
            <div class="value_text">售价：49.75元</div>
        </div>
        <div class="value_number">
            <div>50.00元</div>
            <div class="value_text">售价：49.75元</div>
        </div>
        <div class="value_number">
            <div>50.00元</div>
            <div class="value_text">售价：49.75元</div>
        </div>
        <div class="value_number">
            <div>50.00元</div>
            <div class="value_text">售价：49.75元</div>
        </div>



    </div>



</div>