<!--账户充值-输入框-->
<div class="account_import">
    <div class="import_text">卡号<img src="../../../images/travel/icon_news_step1.png"/> </div>
    <div class="import_number">
        <input class="number_text" type="number" pattern="" placeholder="请输入卡号">
        <p>格式有误</p>
    </div>
    <div class="import_select import_arrow">
        <select class="number_choose">
            <option></option>
            <option>6222 8065 623</option>
            <option>6222 8065 623</option>
            <option>6222 8065 623</option>
        </select>
    </div>
</div>