<!--充值-订单详情-->

<div class="market_body_main">

    <!--订单信息-->
    <div class="travel_details_section">
        <div class="market_order_details_bg">

            <div class="order_details">
                <div class="travel_order_title">
                    <div class="order_details_text">订单信息</div>
                </div>

            </div>
            <div class="order_details">
                <div class="order_details_text">订单编号</div>
                <div class="order_details_value gray">56892315646</div>
            </div>
            <div class="order_details">
                <div class="order_details_text">订单状态</div>
                <div class="order_details_value gray">处理中</div>
            </div>
            <div class="order_details">
                <div class="order_details_text">支付金额</div>
                <div class="order_details_value gray"></div>
            </div>
            <div class="order_details">
                <div class="order_details_text">支付时间</div>
                <div class="order_details_value gray"></div>
            </div>
            <div class="order_details">
                <div class="order_details_text">支付方式</div>
                <div class="order_details_value gray"></div>
            </div>
            <div class="order_details">
                <div class="order_details_text">折扣</div>
                <div class="order_details_value gray"></div>
            </div>


        </div>
    </div>

    <!--充值信息-->
    <div class="travel_details_section">
        <div class="market_order_details_bg">
            <div class="order_details">
                <div class="travel_order_title">
                    <div class="order_details_text">充值信息</div>
                </div>
            </div>
            <div class="order_details">
                <div class="order_details_text">卡号</div>
                <div class="order_details_value gray">6222 8042 623</div>
            </div>
            <div class="order_details">
                <div class="order_details_text">充值金额</div>
                <div class="order_details_value gray"></div>
            </div>
            <div class="order_details">
                <div class="order_details_text">充值时间</div>
                <div class="order_details_value gray"></div>
            </div>
        </div>
    </div>

    <!--提示-->
    <div class="travel_details_text">对此单有疑问？</div>

</div>