<!DOCTYPE html>
<html lang="en">
<head>

    <title>团体保险</title>
    <link rel="stylesheet" href="../../css/jf_insurance.css">

</head>
<body>

<!--导航-->
<%- include('../../component/basic/topNav.ejs',{
"thisrighthref":"jfSwitch.goBack()",
"navtitle":"保障计划",
"thislefthref":"#",
"thisimgsrc":" "
})%>

<%- include('../../component/insurance/guarantee_plan/guarantee_plan.ejs')%>

<script type="text/javascript" src="../../js/jf_insurance.js"></script>


</body>
</html>