<!DOCTYPE html>
<html lang="en">
<head>

    <title>团体保险</title>
    <link rel="stylesheet" href="../../css/jf_insurance.css">

</head>
<body>

<!--导航-->
<%- include('../../component/basic/topNav.ejs',{
"thisrighthref":"jfSwitch.goBack()",
"navtitle":"保障详情",
"thislefthref":"#",
"thisimgsrc":" "
})%>

<%- include('../../component/insurance/order_details/order_checking.ejs')%>

<script type="text/javascript" src="../../js/jf_insurance.js"></script>

</body>
</html>