<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>WeUI-pay</title>
    <link rel="stylesheet" href="../../css/jf_cash_account.css">

</head>
<body>
<!-- 顶部导航 -->
<nav class="Top_navigation">
    <div class="weui_tab_bd"></div>
    <div class="container_tab"> <a onclick="jfSwitch.goBack()">
        <div class="nav_left"><img src="../../images/icon_pay_return.png"></div>
    </a>
        <div class="nav_center">
            <div>现金余额管理</div>
        </div>
        <a href="#">
            <div class="nav_right"></div>
        </a> </div>
</nav>
<!-- 顶部导航 结束-->
<div class="jf_lists">

    <a class="jf_list jf_list_access" href="">
            <div class="jf_list_pic balance_title_icon"><img src="../../images/cash/icon_withdraw_bank.png"></div>
        <div class="jf_list_bd">
            <p>提现到银行卡</p>
        </div>
        <div class="jf_list_ft jf_list_arrow"></div>
    </a>

    <a class="jf_list jf_list_access" href="">

            <div class="jf_list_pic balance_title_icon"><img src="../../images/cash/icon_withdraw_alipay.png"></div>


        <div class="jf_list_bd">
            <p>提现到支付宝</p>
        </div>
        <div class="jf_list_ft jf_list_arrow"></div>
    </a>

    <a class="jf_list jf_list_access" href="">

            <div class="jf_list_pic balance_title_icon"><img src="../../images/cash/icon_recharge.png"></div>


        <div class="jf_list_bd">
            <p>在线充值</p>
        </div>
        <div class="jf_list_ft jf_list_arrow"></div>
    </a>

    <a class="jf_list jf_list_access" href="cash_bank_transfer_recharge.html">

            <div class="jf_list_pic balance_title_icon"><img src="../../images/cash/icon_withdraw_cash.png"></div>


        <div class="jf_list_bd">
            <p>银行转账充值</p>
        </div>
        <div class="jf_list_ft jf_list_arrow litter_text">充值免手续费哦～</div>
    </a>


</div>



</body>




</html>
