<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <title>WeUI-pay</title>
    <link rel="stylesheet" href="../../css/jf_cash_account.css">
</head>
<body>
<!-- 顶部导航 -->
<nav class="Top_navigation">
    <div class="weui_tab_bd"></div>
    <div class="container_tab"> <a onclick="jfSwitch.goBack()">
        <div class="nav_left"><img src="../../images/icon_pay_return.png"></div>
    </a>
        <div class="nav_center">
            <div>帮助中心</div>
        </div>
        <a href="#">
            <div class="nav_right"></div>
        </a> </div>
</nav>
<!-- 顶部导航 结束-->
<div class="finacial_current_help">
    <div class="Title_2_160519">银行转账充值说明</div>
    <!--1-->
    <div class="Q_1">
        <p class="Q_2">Q：如何进行银行转账充值？
        <div class="A_1">首次充值前必须选择并确认您的付款银行卡，之后只需记住收款银行账号，即可通过网银转账的方式，随时为您的现金账户充值。</div>
        </p>
    </div>
    <!--2-->
    <div class="Q_1">
        <p class="Q_2">Q：充值金额怎么设置？
        <div class="A_1">无需在平台填写充值金额，转账的金额即为您的充值到账金额。
        </div>
        </p>
    </div>
    <!--3-->
    <div class="Q_1">
        <p class="Q_2">Q：转账成功后，多久可以到账？
        <div class="A_1">转账成功后，一般2小时内到账，请确保用已选择的银行卡转账，转帐前请仔细核对收款户名和卡号。
        </div>
        </p>
    </div>
    <!--4-->
    <div class="Q_1">
        <p class="Q_2">Q：充值记录如何查看？
        <div class="A_1">可在交易明细或我的订单中，查询充值到账记录。
        </div>
        </p>
    </div>
</div>

</body>




</html>
